::ng-deep .p-menu-item {
    margin: 0 7px
}

::ng-deep .p-menu-item-link.active-link:hover,
::ng-deep .p-menu-item-link.active-link {
    background: var(--p-primary-500);
    color: white;
    border-radius: 5px;
}

::ng-deep .p-menu-item-link.active-link:hover .p-menu-item-icon,
::ng-deep .p-menu-item-link.active-link .p-menu-item-icon {
    color: var(--p-primary-800);
}