<div class="formgrid grid">
    <div class="lg:col-8 md:col-8 col-12">
        <div class="formgrid grid">
            <!-- Descrição -->
            <div class="field lg:col-6 sm:col-5 col-12">
                <label for="turma">Turma:</label>
                <p-iconfield>
                    <p-inputicon styleClass="fa-solid fa-users-between-lines text-primary" />
                    <input type="text"
                           pInputText
                           [value]="evento.descricao"
                           class="w-full cursor-default bg-surface-100"
                           id="turma"
                           readonly />
                </p-iconfield>
            </div>
            <!-- Data -->
            <div class="field lg:col-2 sm:col-3 col-5">
                <label for="dataInicio">Data:</label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-calendar text-primary" />
                    <input
                           type="text"
                           pInputText
                           [value]="evento.data | date : 'dd/MM/yyyy'"
                           class="w-full cursor-default bg-surface-100"
                           id="dataInicio"
                           readonly />
                </p-iconfield>
            </div>
            <!-- Horário -->
            <div class="field lg:col-2 sm:col-2 col-5">
                <label for="horario">Horário:</label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-clock text-primary" />
                    <input
                           type="text"
                           pInputText
                           [value]="evento.data | date : 'HH:mm'"
                           class="w-full cursor-default bg-surface-100"
                           id="horario"
                           readonly />
                </p-iconfield>
            </div>
            <!-- Duração -->
            <div class="field lg:col-2 sm:col-2 col-2">
                <label for="duracaoEvento">Duração:</label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-hourglass text-primary" />
                    <input
                           type="text"
                           pInputText
                           [value]="duracaoEvento"
                           class="w-full cursor-default bg-surface-100"
                           id="duracaoEvento"
                           readonly />
                </p-iconfield>
            </div>
            <!-- Limite de Alunos -->
            <div class="field sm:col-2 col-2">
                <label for="capacidadeMaximaEvento">Limite de Alunos: <span class="text-red-500">*</span></label>
                <p-inputnumber #capacidadeMaximaEvento="ngModel"
                               [(ngModel)]="evento.capacidadeMaximaEvento"
                               id="capacidadeMaximaEvento"
                               name="capacidadeMaximaEvento"
                               [required]="true"
                               fluid />
                <div *ngIf="capacidadeMaximaEvento.touched && capacidadeMaximaEvento.invalid && capacidadeMaximaEvento.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="capacidadeMaximaEvento.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Educador -->
            <div class="field sm:col-3 col-5">
                <label for="professor_Id">Educador: <span
                          *ngIf="evento.finalizado"
                          class="text-red-500">*</span></label>
                <p-select
                          [options]="professores"
                          [(ngModel)]="evento.professor_Id"
                          [loading]="loadingProfessores"
                          (onChange)="professorChanged($event, professor_Id)"
                          placeholder="Selecione"
                          #professor_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="professor_Id"
                          inputId="professor_Id"
                          optionLabel="nome"
                          optionValue="id"
                          [required]="true"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          optionDisabled="deactivated"
                          [readonly]="evento.finalizado || !evento.active"
                          [dropdownIcon]="evento.finalizado ? ' ' : 'pi pi-angle-down'">
                    <ng-template
                                 let-item
                                 #item>
                        <div class="flex align-items-center justify-content-between w-full gap-2">
                            <div>
                                <p class="font-bold mb-1 flex align-items-center gap-2">
                                    <app-legend-color [corLegenda]="item.corLegenda"
                                                      [professor_Id]="item.id"
                                                      [professor]="item.nome"></app-legend-color>

                                    <span class="mr-2">{{ item.nome }}</span>
                                    <p-badge *ngIf="item.disponivel == false"
                                             value="Indisponível"
                                             severity="danger"
                                             [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                    <ng-template #indisponivelTemplate>
                                        <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                    </ng-template>
                                </p>
                                <ng-container *ngIf="item.expedienteInicio && item.expedienteFim">
                                    <p class="text-sm"> Expediente {{ item.expedienteInicio | date : 'HH:mm' }} às {{ item.expedienteFim | date : 'HH:mm' }}
                                    </p>
                                </ng-container>
                            </div>
                            <p-tag
                                   styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                                   [icon]="(item.active ? 'pi pi-lock-open' : 'pi pi-lock') + ' mr-2 text-sm'"
                                   [value]="item.active ? 'Ativo' : 'Inativo'"
                                   [severity]="item.active ? 'success' : 'danger'"
                                   [pTooltip]="
                  !item.active ? 'Inativo desde ' + (item.deactivated | date : 'dd/MM/yyyy HH:mm') : undefined
                " />
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="professor_Id.touched && professor_Id.invalid && professor_Id.errors">
                    <p
                       class="text-red-500 mt-2 mb-0"
                       *ngIf="professor_Id.errors['required']"> Esse campo é obrigatório. </p>
                    <p
                       class="text-red-500 mt-2 mb-0"
                       *ngIf="professor_Id.errors['indisponivel']"> Educador indisponível. </p>
                </div>
            </div>
            <!-- Sala -->
            <div class="field sm:col-3 col-5">
                <label for="sala_Id">Sala: <span
                          *ngIf="evento.finalizado"
                          class="text-red-500">*</span></label>
                <p-select
                          [options]="salaAulas"
                          [(ngModel)]="evento.sala_Id"
                          [loading]="loadingSalaAulas"
                          (onChange)="salaAulaChanged($event, sala_Id)"
                          #sala_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="sala_Id"
                          inputId="sala_Id"
                          optionValue="id"
                          [required]="true"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          optionDisabled="deactivated"
                          [readonly]="evento.finalizado || !evento.active"
                          [dropdownIcon]="evento.finalizado ? ' ' : 'pi pi-angle-down'">
                    <ng-template
                                 #selectedItem
                                 let-selectedOption>
                        <app-sala-aula
                                       [numeroSala]="selectedOption.numeroSala"
                                       [andar]="selectedOption.andar"
                                       [sala_Id]="selectedOption.id"></app-sala-aula>
                    </ng-template>
                    <ng-template
                                 let-item
                                 #item>
                        <span class="mr-2">
                            <app-sala-aula
                                           [numeroSala]="item.numeroSala"
                                           [andar]="item.andar"
                                           [sala_Id]="item.id"></app-sala-aula>
                        </span>
                        <p-badge
                                 *ngIf="item.disponivel == false"
                                 value="Indisponível"
                                 severity="danger"
                                 [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                 
                                 <ng-template #indisponivelTemplate>
                                     <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                 </ng-template>
                    </ng-template>
                </p-select>
                <div *ngIf="sala_Id.touched && sala_Id.invalid && sala_Id.errors">
                    <p
                       class="text-red-500 mt-2 mb-0"
                       *ngIf="sala_Id.errors['required']"> Esse campo é obrigatório. </p>
                    <p
                       class="text-red-500 mt-2 mb-0"
                       *ngIf="sala_Id.errors['indisponivel']"> Sala indisponível. </p>
                </div>
            </div>
            <!-- Perfil Cognitivo -->
            <div class="field sm:col-4 col-12">
                <label for="perfilCognitivo_Id">Perfil Cognitivo: <span
                          *ngIf="evento.finalizado"
                          class="text-red-500">*</span></label>
                <div class="flex flex-wrap gap-2">
                    <p-chip
                            *ngFor="let perfil of evento.perfilCognitivo"
                            [label]="perfil.nome"
                            class="mt-1 px-2 py-1 rounded-full text-primary bg-primary" />
                    <p *ngIf="evento.perfilCognitivo.length === 0">Evento livre, não possui perfis cognitivos associados </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Observações -->
    <div class="lg:col-4 md:col-4 col-12">
        <div class="formgrid grid">
            <div class="field col-12">
                <label for="observacao">Observações:</label>
                <textarea pTextarea
                          name="observacao"
                          id="observacao"
                          [(ngModel)]="evento.observacao"
                          [readonly]="evento.finalizado || !evento.active"
                          rows="6"
                          fluid></textarea>
            </div>
        </div>
    </div>
</div>
<div class="formgrid grid">
    <!-- Alunos -->
    <ng-container *ngIf="![EventoTipo.Reuniao].includes(evento.evento_Tipo_Id)">
        <div class="field col-12">
            <div class="flex align-items-center justify-content-between">
                <p class="text-orange-500 font-bold">Alunos</p>
            </div>
            <hr class="mb-2 border-orange-500 border-1" />
            <!-- CARDS -->
            <ng-container *ngIf="[ScreenWidth.sm].includes(screen)">
                <div class="flex align-items-stretch flex-wrap py-2">
                    <ng-container *ngFor="let item of evento.alunos; let i = index">
                        <app-aluno-popover #popoverAluno
                                           [aluno_Id]="item.aluno_Id"
                                           [evento]="evento"
                                           [showChecklist]="true"></app-aluno-popover>
                        <!-- Card -->
                        <div class="h-full bg-white border-round-lg shadow-2 overflow-hidden p-0 ">
                            <header class="flex align-items-start justify-content-between mb-2 p-3 surface-50">
                                <div>
                                    <div class="flex align-items-center flex-nowrap gap-2">
                                        <p-button type="button"
                                                  (onClick)="enviarMensagem(item)"
                                                  (auxclick)="enviarMensagem(item)"
                                                  (contextmenu)="enviarMensagem(item)"
                                                  [disabled]="!item.celular"
                                                  icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                                                  severity="success"
                                                  size="small"
                                                  styleClass="p-1 w-auto h-auto"
                                                  [text]="true" />
                                        <p class="p-button-link cursor-pointer hover:underline white-space-nowrap" 
                                            (click)="popoverAluno.show($event)" 
                                            [pTooltip]="item.aluno">
                                            <span class="text-lg font-bold capitalize">
                                                {{ item.aluno | nameAbv }}
                                            </span>
                                        </p>
                                        <app-aluno-participacao-status #status 
                                            [evento]="evento" 
                                            [participacao]="item"></app-aluno-participacao-status>
                                    </div>
                                    <div class="flex align-items-center gap-2 pl-1">
                                        <app-legend-color [turma_Id]="item.turma_Id"></app-legend-color>
                                        <p class="text-500 text-sm white-space-nowrap pl-1" [pTooltip]="item.turma">
                                            {{ item.turma }}
                                        </p>
                                    </div>
                                </div>

                                <div class="flex gap-2">
                                    
                                <p-button type="button" *ngIf="item.presente === false"
                                          (onClick)="enviarMensagemFalta(item, $event)"
                                          (auxclick)="enviarMensagemFalta(item, $event)"
                                          (contextmenu)="enviarMensagemFalta(item, $event)"
                                          [disabled]="!item.celular"
                                          icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                                          severity="success"
                                          pTooltip="Enviar mensagem de falta"
                                          [text]="true" />

                                <p-button [disabled]=" evento.finalizado || !evento.active"
                                          [severity]="item.presente == true ? 'success' : item.presente == false ? 'danger' : 'secondary'"
                                          [label]="item.presente === true ? 'Presente' : item.presente === false ? 'Faltou' : 'Marcar presença'"
                                          [icon]="item.presente === true ? 'pi pi-thumbs-up-fill' : item.presente === false ? 'pi pi-thumbs-down-fill' : 'pi pi-check'"
                                          [outlined]="item.presente == undefined || item.presente === null"
                                          iconPos="right"
                                          size="small"
                                          styleClass="opacity-100"
                                          (onClick)="presente(item, status)" />
                                </div>
                            </header>
                            <div class="formgrid grid px-3 bg-white">
                                <!-- Ábaco -->
                                <div class="field col-6">
                                    <label for="apostila_Abaco">Ábaco: <span class="text-red-500">*</span></label>
                                    <p-iconfield>
                                        <p-inputicon styleClass="fa-solid fa-book-open" />
                                        <p-select [options]="item.apostilasAbacoList"
                                                    (onChange)="apostilaAbacoChange(item, $event)"
                                                    (onFocus)="apostilaAbacoClick(item)"
                                                    [(ngModel)]="item.apostilaAbacoObject"
                                                    #apostila_Abaco="ngModel"
                                                    name="apostila_Abaco[{{i}}]"
                                                    inputId="apostila_Abaco[{{i}}]"
                                                    optionLabel="nome"
                                                    [filter]="true"
                                                    filterBy="nome"
                                                    placeholder="Selecione"
                                                    styleClass="{{ item.presente === false || evento.finalizado ? 'pointer-events-none p-select-no-dropdown' : '' }}"
                                                    [required]="!!item.presente"
                                                    [readonly]="item.presente === false || evento.finalizado"
                                                    [dropdownIcon]="item.presente === false || evento.finalizado ? 'pi hidden' : 'pi pi-angle-down'"
                                                    appendTo="body"
                                                    fluid />
                                    </p-iconfield>
                                </div>
                                <!-- Página Abaco -->
                                <div class="field col-6">
                                    <label for="numeroPaginaAbaco">Página: <span class="text-red-500">*</span></label>
                                    <p-inputnumber [(ngModel)]="item.numeroPaginaAbaco"
                                                   (onInput)="numeroPaginaAbacoChange(item, $event)"
                                                   (onFocus)="inputFocus($event, item)"
                                                   name="numeroPaginaAbaco[{{i}}]"
                                                   inputId="numeroPaginaAbaco[{{i}}]"
                                                   [min]="0"
                                                   [max]="item.apostilaAbacoObject?.numeroTotalPaginas"
                                                   #numeroPaginaAbaco="ngModel"
                                                   [required]="true"
                                                   [readonly]="item.presente === false || evento.finalizado"
                                                   fluid />
                                </div>
                                <!-- AH -->
                                <div class="field col-6">
                                    <label for="apostila_AH">AH: <span class="text-red-500">*</span></label>
                                    <p-iconfield>
                                        <p-inputicon styleClass="fa-solid fa-book-open" />
                                        <p-select [options]="item.apostilasAHList"
                                                    (ngModelChange)="apostilaAHChange(item, $event)"
                                                    (onFocus)="apostilaAHClick(item)"
                                                    [(ngModel)]="item.apostilaAHObject"
                                                    [disabled]="!evento.active"
                                                    #apostila_AH="ngModel"
                                                    name="apostila_AH[{{i}}]"
                                                    inputId="apostila_AH[{{i}}]"
                                                    optionLabel="nome"
                                                    [filter]="true"
                                                    filterBy="nome"
                                                    placeholder="Selecione"
                                                    styleClass="{{ item.presente === false || evento.finalizado ? 'pointer-events-none p-select-no-dropdown' : '' }}"
                                                    [required]="!!item.presente"
                                                    [readonly]="item.presente === false || evento.finalizado"
                                                    [dropdownIcon]="item.presente === false || evento.finalizado ? 'pi hidden' : 'pi pi-angle-down'"
                                                    appendTo="body"
                                                    fluid />
                                    </p-iconfield>
                                </div>
                                <!-- Página AH -->
                                <div class="field col-6">
                                    <label for="numeroPaginaAH">Página: <span class="text-red-500">*</span></label>
                                    <p-inputnumber [(ngModel)]="item.numeroPaginaAH"
                                                   (onFocus)="inputFocus($event, item)"
                                                   (onInput)="numeroPaginaAHChange(item, $event)"
                                                   name="numeroPaginaAH[{{i}}]"
                                                   inputId="numeroPaginaAH[{{i}}]"
                                                   [disabled]="!evento.active"
                                                   [min]="0"
                                                   [max]="item.apostilaAbacoObject?.numeroTotalPaginas"
                                                   #numeroPaginaAH="ngModel"
                                                   [required]="true"
                                                   [readonly]="item.presente === false || evento.finalizado"
                                                   fluid />
                                </div>
                                <!-- Observações -->
                                <div class="field col-12">
                                    <textarea pTextarea
                                              id="observacao[{{i}}]"
                                              name="observacao[{{i}}]"
                                              [(ngModel)]="item.observacao"
                                              (onFocus)="inputFocus($event, item)"
                                              [readonly]="evento.finalizado" 
                                              [placeholder]="evento.finalizado ? 'Nenhuma observação' : 'Observações...'"
                                              rows="2"
                                              fluid></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- EndCard -->
                    </ng-container>
                </div>
            </ng-container>
            <!-- TABLE -->
            <ng-container *ngIf="[ScreenWidth.xl, ScreenWidth.lg, ScreenWidth.md].includes(screen)">
                <p-table #table
                         [value]="evento.alunos"
                         dataKey="id"
                         stripedRows
                         styleClass="-mt-2">
                    <ng-template pTemplate="emptymessage">
                        <p class="text-400 p-1">Nenhum aluno inscrito</p>
                    </ng-template>
                     <ng-template #body let-item let-editing="editing" let-rowIndex="rowIndex">
                        <tr class="static z-0">
                            <!-- Nome -->
                            <td pFrozenColumn class="pb-1 z-2 " >
                                <app-aluno-popover #popoverAluno
                                                   [aluno_Id]="item.aluno_Id"
                                                   [evento]="evento"
                                                   [showChecklist]="true"></app-aluno-popover>
                                <div class="flex align-items-center gap-2">
                                    <div>
                                        <div class="flex align-items-center gap-1 ">
                                            <p-button type="button"
                                                      (onClick)="enviarMensagem(item)"
                                                      (auxclick)="enviarMensagem(item)"
                                                      (contextmenu)="enviarMensagem(item)"
                                                      [disabled]="!item.celular"
                                                      icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                                                      severity="success"
                                                      [text]="true"
                                                      class="-mt-1" />
                                            <p class="p-button-link cursor-pointer hover:underline" (click)="popoverAluno.show($event)" pTooltip="Ver detalhes">
                                                <span class="overflow-hidden max-w-full text-overflow-ellipsis white-space-nowrap max-w-14rem pr-2 capitalize">
                                                    {{ item.aluno | nameAbv }}
                                                </span>
                                            </p>
                                        </div>
                                        <p class="text-sm w-min ml-2 flex align-items-center gap-2 line-height-1">
                                            <b>Jornada: </b>
                                            <app-aluno-checklist
                                                [showChecklist]="true"
                                                [aluno_Id]="item.aluno_Id"></app-aluno-checklist>
                                        </p>
                                    </div>
                                    
                                    <app-aluno-participacao-status 
                                            #status
                                            [evento]="evento" 
                                            [participacao]="item"></app-aluno-participacao-status>
                                </div>
                            </td>
                            <td class="pt-2 pb-1">
                                <div class="flex justify-content-end gap-2">
                                    <!-- Presença -->
                                    <div class="flex align-items-end" style="height: 50px">
                                        <div class="flex align-items-stretch gap-2" style="height: 32px">
                                            <p-button *ngIf="item.presente === false"
                                                      [disabled]="!item.celular"
                                                      icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                                                      iconPos="right"
                                                      pTooltip="Enviar mensagem de falta"
                                                      severity="success"
                                                      (onClick)="enviarMensagemFalta(item, $event)"
                                                      (contextmenu)="enviarMensagemFalta(item, $event)"
                                                      (auxclick)="enviarMensagemFalta(item, $event)"
                                                      styleClass="h-full"
                                                    class="h-full" />
                                            <p-button [disabled]=" evento.finalizado || !evento.active"
                                                      [severity]="item.presente == true ? 'success' : item.presente == false ? 'danger' : 'secondary'"
                                                      [label]="item.presente === true ? 'Presente' : item.presente === false ? 'Faltou' : 'Marcar presença'"
                                                      [icon]="item.presente === true ? 'pi pi-thumbs-up-fill' : item.presente === false ? 'pi pi-thumbs-down-fill' : 'pi pi-check'"
                                                      [outlined]="item.presente == undefined || item.presente === null"
                                                      iconPos="right"
                                                      (onClick)="presente(item, status)"
                                                      styleClass="h-full w-7rem"
                                                    class="h-full w-7rem" />
        
                                        </div>
                                    </div>
                                    <!-- Abaco -->
                                    <div class="flex flex-column w-10rem">
                                        <label class="ml-1 text-sm"
                                               for="apostila_Abaco[{{ rowIndex }}]">Abaco:</label>
                                        <p-iconfield>
                                            <p-inputicon styleClass="fa-solid fa-book-open" />
                                            <p-select [options]="item.apostilasAbacoList"
                                                      (onChange)="apostilaAbacoChange(item, $event)"
                                                      (onFocus)="apostilaAbacoClick(item)"
                                                      [(ngModel)]="item.apostilaAbacoObject"
                                                      #apostila_Abaco="ngModel"
                                                      name="apostila_Abaco[{{ rowIndex }}]"
                                                      inputId="apostila_Abaco[{{ rowIndex }}]"
                                                      optionLabel="nome"
                                                      [required]="true"
                                                      filterBy="nome"
                                                      appendTo="body"
                                                      placeholder="Selecione"
                                                      styleClass="{{ item.presente === false || evento.finalizado ? 'pointer-events-none p-select-no-dropdown' : '' }}"
                                                      [required]="!!item.presente"
                                                      [readonly]="item.presente === false || evento.finalizado"
                                                      [dropdownIcon]="item.presente === false || evento.finalizado ? 'pi hidden' : 'pi pi-angle-down'"
                                                      fluid>
                                            </p-select>
                                        </p-iconfield>
                                    </div>
                                    <!-- Página -->
                                    <div class="flex flex-column ">
                                        <label class="ml-1 text-sm"
                                               for="numeroPaginaAbaco[{{ rowIndex }}]">Página:</label>
                                        <p-inputnumber [(ngModel)]="item.numeroPaginaAbaco"
                                                       id="numeroPaginaAbaco[{{ rowIndex }}]"
                                                       name="numeroPaginaAbaco[{{ rowIndex }}]"
                                                       (onFocus)="inputFocus($event, item)"
                                                       (onInput)="numeroPaginaAbacoChange(item, $event)"
                                                       #numeroPaginaAbaco="ngModel"
                                                       [min]="0"
                                                       [max]="item.apostilaAbacoObject?.numeroTotalPaginas"
                                                       [step]="1"
                                                       inputStyleClass="w-4rem h-full text-center"
                                                       class="h-full"
                                                       [required]="true"
                                                       [readonly]="item.presente === false || evento.finalizado" />
                                    </div>
                                    <!-- AH -->
                                    <div class="flex flex-column w-10rem">
                                        <label class="ml-1 text-sm"
                                               for="apostila_AH[{{ rowIndex }}]">AH:</label>
                                        <p-iconfield>
                                            <p-inputicon styleClass="fa-solid fa-book-open" />
                                            <p-select [options]="item.apostilasAHList"
                                                      (onChange)="apostilaAHChange(item, $event)"
                                                      (onFocus)="apostilaAHClick(item)"
                                                      [(ngModel)]="item.apostilaAHObject"
                                                      #apostila_AH="ngModel"
                                                      name="apostila_AH[{{ rowIndex }}]"
                                                      inputId="apostila_AH[{{ rowIndex }}]"
                                                      optionLabel="nome"
                                                      [required]="true"
                                                      filterBy="nome"
                                                      appendTo="body"
                                                      placeholder="Selecione"
                                                      styleClass="{{ item.presente === false || evento.finalizado ? 'pointer-events-none p-select-no-dropdown' : '' }}"
                                                      [required]="!!item.presente"
                                                      [readonly]="item.presente === false || evento.finalizado"
                                                      [dropdownIcon]="item.presente === false || evento.finalizado ? 'pi hidden' : 'pi pi-angle-down'"
                                                      fluid>
                                            </p-select>
                                        </p-iconfield>
                                    </div>
                                    <!-- Página -->
                                    <div class="flex flex-column ">
                                        <label class="ml-1 text-sm"
                                               for="numeroPaginaAH[{{ rowIndex }}]">Página:</label>
                                        <p-inputnumber [(ngModel)]="item.numeroPaginaAH"
                                                       id="numeroPaginaAH[{{ rowIndex }}]"
                                                       name="numeroPaginaAH[{{ rowIndex }}]"
                                                       (onFocus)="inputFocus($event, item)"
                                                       (onInput)="numeroPaginaAHChange(item, $event)"
                                                       #numeroPaginaAH="ngModel"
                                                       [min]="0"
                                                       [max]="item.apostilaAHObject?.numeroTotalPaginas"
                                                       [step]="1"
                                                       inputStyleClass="w-4rem h-full text-center"
                                                       class="h-full"
                                                       [required]="true"
                                                       [readonly]="item.presente === false || evento.finalizado" />
                                    </div>
                                    <!-- Observações -->
                                    <div class="flex flex-column" >
                                        <label for="observacao" 
                                            class="ml-1 text-sm">Observações:</label>
                                        <textarea pTextarea
                                                placeholder="Insira as observações..."
                                                [(ngModel)]="item.observacao"
                                                (onFocus)="inputFocus($event, item)"
                                                id="observacao[{{rowIndex}}]"
                                                name="observacao[{{rowIndex}}]"
                                                class="10rem {{ item.presente === false || evento.finalizado ? 'pointer-events-none' : '' }}"
                                                style="height: 32px"
                                                [readonly]="evento.finalizado"
                                                placeholder="Selecione"
                                                ></textarea>
                                    </div>
                                </div>
                            </td>
                            <!-- Presente -->
                            <td class="pb-1 pt-2">
                            </td>
                            <!-- Observações  -->
                            <!-- <td class="pb-1 pt-2">
                                <div class="flex flex-column" >
                                    <label for="observacao" 
                                        class="ml-1 text-sm">Observações:</label>
                                    <textarea pTextarea
                                            placeholder="Insira as observações..."
                                            [(ngModel)]="item.observacao"
                                            (onFocus)="inputFocus($event, item)"
                                            id="observacao[{{rowIndex}}]"
                                            name="observacao[{{rowIndex}}]"
                                            class="10rem {{ item.presente === false || evento.finalizado ? 'pointer-events-none' : '' }}"
                                            style="height: 32px"
                                            [readonly]="evento.finalizado"
                                            placeholder="Selecione"
                                            ></textarea>
                                </div>
                            </td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>
        </div>
    </ng-container>
</div>