<app-aula #componentForm
          [evento]="evento"
          [professores]="professores"
          [loadingProfessores]="loadingProfessores"
          [salaAulas]="salaAulas"
          [loadingSalaAulas]="loadingSalaAulas"
          [roteiros]="roteiros"
          [loadingRoteiros]="loadingRoteiros"
          [duracaoEvento]="duracaoEvento"
          (onProfessorChanged)="onProfessorChanged.emit($event)"
          (onSalaChanged)="onSalaChanged.emit($event)"
          (onWidthChanged)="onWidthChanged.emit($event)"></app-aula>