
<drag-scroll #dragScroll
             [style]="{
       width: '100%',
       height: 'unset',
       overflowY: 'visible',
       cursor: 'pointer'
     }"
             (dragStart)="scrollDragStart(dragScroll)"
             (dragEnd)="scrollDragEnd(dragScroll)"
             class="w-full "
             cdkDropListGroup>
    <div class="flex pb-4 pt-0 gap-2 align-items-start">
        <div *ngFor="let checklist of checklists"
             cdkDropListGroup
             id="dragContainer"
             class="p-2 bg-transparent w-20rem flex-none">
            <p-tag [value]="checklist.nome"
                   severity="contrast"
                   styleClass="white-space-normal text-center surface-700"
                   class="mb-2 sticky top-0" />
            <div class="flex flex-column gap-2 surface-100 border-round-lg shadow-1 p-2">
                <div *ngFor="let item of checklist.items"
                    class="bg-white cursor-pointer flex align-items-center gap-2 p-2 border-round-md">
                    <p-checkbox  inputId="size_large"
                                name="size"
                                value="Large"
                                size="large" />
                    <label for="size_large" class="white-space-normal">{{item.nome}}</label>
                </div>
            </div>
        </div>
    </div>
</drag-scroll>