
<div (click)="item.value = true" 
    class="bg-white hover:surface-50 cursor-pointer flex align-items-center gap-2 p-3 mb-3">
    <p-checkbox #item 
        inputId="size_large" 
        name="size" 
        value="Large" 
        size="large" />
    <label for="size_large" class="text-lg font-normal">Check1list</label>

    <span class="flex ml-auto link text-primary p-button-link">Anexar arquivo</span>
</div>
<div (click)="item.value = true" 
    class="bg-white hover:surface-50 cursor-pointer flex align-items-center gap-2 p-3 mb-3">
    <p-checkbox #item 
        inputId="size_large" 
        name="size" 
        value="Large" 
        size="large" />
    <label for="size_large" class="text-lg font-normal">Check1list</label>

    <span class="flex ml-auto link text-primary p-button-link">Baixar arquivo</span>
</div>
<div (click)="item.value = true" 
    class="bg-white hover:surface-50 cursor-pointer flex align-items-center gap-2 p-3 mb-3">
    <p-checkbox #item 
        inputId="size_large" 
        name="size" 
        value="Large" 
        size="large" />
    <label for="size_large" class="text-lg font-normal">Check1list</label>

    <span class="flex ml-auto link text-primary p-button-link">Agendar entrevista</span>
</div>
<div (click)="item.value = true" 
    class="bg-white hover:surface-50 cursor-pointer flex align-items-center gap-2 p-3 mb-3">
    <p-checkbox #item 
        inputId="size_large" 
        name="size" 
        value="Large" 
        size="large" />
    <label for="size_large" class="text-lg font-normal">Check1list</label>

    <span class="flex ml-auto link text-primary p-button-link">Anexar arquivo</span>
</div>
<div (click)="item.value = true" 
    class="bg-white hover:surface-50 cursor-pointer flex align-items-center gap-2 p-3 mb-3">
    <p-checkbox #item 
        inputId="size_large" 
        name="size" 
        value="Large" 
        size="large" />
    <label for="size_large" class="text-lg font-normal">Check1list</label>

    <span class="flex ml-auto link text-primary p-button-link">Anexar arquivo</span>
</div>