<div class="bg-primary-500 dark:bg-primary-800  h-screen flex flex-column align-items-center justify-content-center gap-4 py-5 overflow-hidden">
    <div style="background-image: url(assets/images/account-bg-1.png);" class="account-bg absolute bg-contain bg-no-repeat top-0 left-0 z-0"></div>
    <div style="background-image: url(assets/images/account-bg-2.png);" class="account-bg absolute bg-contain bg-no-repeat bottom-0 right-0 z-0 opacity-10	-mb-5"></div>
    <div style="background-image: url(assets/images/account-bg-3.jpg); opacity: 0.05;" class="absolute top-0 left-0 bg-cover bg-no-repeat  z-0 w-full h-full"></div>
    <div class=" flex align-items-center justify-content-center z-1 bg-primary-500">
        <img src="assets/images/logo-metodo-supera-white.png" alt="" class="w-12rem">
    </div>
    <div class="xl:col-3 lg:col-4 md:col-5 sm:col-6 col-10 static z-1 max-w-30rem">
        <div class="bg-white my-app-dark:surface-800 border-round-md px-5 py-5">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-confirm-dialog></app-confirm-dialog>
</div>