<!-- 
    <p>feriado: {{feriado}}</p>
    <p>aulaCancelada: {{aulaCancelada}}</p>
    <p>primeiraAula: {{primeiraAula}}</p>
    <p>presenteAula: {{presenteAula}}</p>
    <p>presenteReposicao: {{presenteReposicao}}</p>
    <p>faltaAula: {{faltaAula}}</p>
    <p>faltaReposicao: {{faltaReposicao}}</p>
    <p>faltaAgendada: {{faltaAgendada}}</p>
    <p>reposicaoAgendada: {{reposicaoAgendada}}</p>
    <p>alunoContactado: {{alunoContactado}}</p>
    <p>alunoContactadoData: {{alunoContactadoData}}</p>
    <p>contatoObservacao: {{contatoObservacao}}</p>
    <p>observacao: {{observacao}}</p> -->
<div class="flex align-items-center gap-1 white-space-nowrap">
    <!-- Cancelada -->
    <ng-container *ngIf="aulaCancelada && !feriado">
        
                                    <!-- <ng-template #alunoContactadoTemplate>
                                        <ng-container *ngIf="item.participacao.presente != true">
                                            <ng-container *ngIf="item.participacao.alunoContactado">
                                                <i class="pi pi-check text-xs" title="Aluno contatado"> </i>
                                            </ng-container>
                                            <ng-container *ngIf="!item.participacao.alunoContactado">
                                                <i class="pi pi-times text-xs" title="Aluno não contatado"></i>
                                            </ng-container>
                                        </ng-container>
                                    </ng-template> -->

        <p-tag value="Aula Cancelada"
                [icon]="alunoContactado ? 'pi pi-check' : 'pi pi-times'"
               styleClass="surface-800 border-800 text-white line-height-3 font-light" />
        <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
    </ng-container>
    <!-- Feriado  -->
    <ng-container *ngIf="aulaCancelada && feriado">
        <p-tag value="Aula Cancelada"
                [icon]="alunoContactado ? 'pi pi-check' : 'pi pi-times'"
               styleClass="surface-800 border-800 text-white line-height-3 font-light" />
        <p-tag [value]="feriado.name"
               styleClass="bg-red-600 border-red-6000 text-white line-height-3 font-light" />
        <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
    </ng-container>
    <!-- Primeira Aula -->
    <ng-container *ngIf="primeiraAula">
        <p-tag value="Aula 1"
        [icon]="alunoContactado ? 'pi pi-check' : 'pi pi-times'"
               styleClass="bg-pink-500 border-pink-500 text-white line-height-3 font-light" />
    </ng-container>
    <!-- Reposicao agendada -->
    <ng-container *ngIf="reposicaoAgendada">
        <p-tag value="Reposição agendada"
        [icon]="alunoContactado ? 'pi pi-check' : 'pi pi-times'"
               styleClass="bg-purple-600 border-purple-600 text-white line-height-3 font-light"
               (mouseenter)="reposicaoTooltip.show($event)"
               (mouseleave)="reposicaoTooltip.hide()" />
    </ng-container>
    <!-- Falta Agendada -->
    <ng-container *ngIf="faltaAgendada">
        <p-tag value="Falta Agendada"
        [icon]="alunoContactado ? 'pi pi-check' : 'pi pi-times'"
               styleClass="bg-red-500 border-red-500 text-white line-height-3 font-light" />
        <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
    </ng-container>
    <!-- Falta Na Reposição -->
    <ng-container *ngIf="faltaReposicao">
        <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
        <p-tag value="Faltou na reposição"
        [icon]="alunoContactado ? 'pi pi-check' : 'pi pi-times'"
               styleClass="bg-blue-500 border-blue-500 text-white line-height-3 font-light"
               (mouseenter)="reposicaoTooltip.show($event)"
               (mouseleave)="reposicaoTooltip.hide()" />
        <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
    </ng-container>
    <!-- Falta Na Aula -->
    <ng-container *ngIf="faltaAula">
        <p-tag value="Faltou"
        [icon]="alunoContactado ? 'pi pi-check' : 'pi pi-times'"
               styleClass="bg-red-500 border-red-500 text-white line-height-3 font-light" />
        <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
    </ng-container>
    <!-- Presente na Reposição -->
    <ng-container *ngIf="presenteReposicao">
        <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
        <p-tag value="Presente na reposição"
               styleClass="bg-green-300 border-green-300 text-green-700 line-height-3 font-light"
               (mouseenter)="reposicaoTooltip.show($event)"
               (mouseleave)="reposicaoTooltip.hide()" />
    </ng-container>
    <!-- Presente na Aula -->
    <ng-container *ngIf="presenteAula">
        <p-tag value="Presente"
               styleClass="bg-green-500 border-green-500 text-white line-height-3 font-light" />
    </ng-container>
</div>
<ng-template #alunoContactadoTemplate>
    <ng-container *ngIf="alunoContactado">
        <p-button
                  icon="pi pi-check-circle"
                  label="Aluno contatado"
                  severity="success"
                  pTooltip="Aluno contatado - Clique para ver mais"
                  (onClick)="alunoContatadoTooltip.toggle($event)"
                  [text]="true" />
    </ng-container>
    <ng-container *ngIf="!alunoContactado">
        <p-button
                  icon="bi bi-telephone-x"
                  label="Contatar"
                  title="Aluno não contatado - Clique para ver mais"
                  (onClick)="goToContatoFalta()"
                  size="small"
                  rounded />
    </ng-container>
</ng-template>
<app-aluno-reposicao-tooltip #reposicaoTooltip
                             [evento]="evento ?? eventoDashItem?.aula"
                             [reposicaoDe]="reposicaoDe"
                             [reposicaoPara]="reposicaoPara"></app-aluno-reposicao-tooltip>
<p-popover #alunoContatadoTooltip appendTo="body">
    <div class="w-30rem">
        <p class="flex gap-2 align-items-center mb-3">
            <i class="pi pi-phone text-base line-height-1 text-white p-2 bg-primary-500 border-circle"></i>
            <b class="text-lg">Informações de Contato</b>
        </p>
        <div>
            <p class="flex gap-1 align-items-center">
                <b>Data do contato:</b>
                <span>{{ alunoContactadoData | date : 'dd/MM \'às\' HH:mm' }}</span>
            </p>
            <p class="flex gap-1 align-items-center">
                <b>Status do contato:</b>
                <span>{{ statusContato?.label ?? 'Aluno não contactado' }}</span>
            </p>
            <p class="flex gap-1 align-items-center">
                <b>Retorno do contato:</b>
                <span>{{ contatoObservacao }}</span>
            </p>
            <p class="flex gap-1 align-items-center">
                <b>Motivo falta:</b>
                <span *ngIf="observacao">{{ observacao }}</span>
                <span *ngIf="!observacao">Não informada</span>
            </p>
            <div class="mt-2">
                <p-button label="Editar"
                          icon="pi pi-pen-to-square"
                          rounded
                          (onClick)="goToContatoFalta()" />
            </div>
        </div>
    </div>
</p-popover>