<div class="flex flex-column">
    <header class="flex align-items-baseline justify-content-between gap-2 pt-3 pl-3">
        <div>
            <h3 class="text-2xl capitalize hover:text-primary-500 cursor-pointer hover:underline" (click)="showAluno()">
                {{aluno.nome | nameAbv }}
            </h3>
            <p class="flex align-items-center gap-2 text-base font-normal">
                <span>{{aula.turma}}</span>
                <app-legend-color class="line-height-1"
                                  [corLegenda]="aula.corLegenda"
                                  [professor]="aula.professor"></app-legend-color>
            </p>
            <div class="flex align-items-center gap-2 mt-2">
                <p-badge *ngIf="aluno.primeiraAula_Id == item.id"
                         severity="danger"
                         class="bg-pink-500 border-pink-500"
                         value="1ª Aula" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.PresenteNaAula"
                         severity="success"
                         value="Presente" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.PresenteReposicao"
                         severity="success"
                         class="bg-green-200 border-green-200 text-green-700"
                         value="Presente" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.ReposicaoDesmarcada"
                         severity="success"
                         class="bg-purple-800 border-purple-800"
                         value="Reposição cancelada" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.ReposicaoAgendada"
                         severity="success"
                         class="bg-purple-500 border-purple-500"
                         value="Reposição Agendada" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.FaltaReposicao"
                         severity="info"
                         class="bg-blue-500 border-blue-500"
                         value="Faltou na Reposição" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.FaltaAlunoContatado"
                         severity="warn"
                         class="bg-yellow-500 border-yellow-500"
                         value="Faltou - Aluno Contatato" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.FaltaAula"
                         severity="danger"
                         class="bg-red-500 border-red-500"
                         value="Faltou - Aluno Não Contatato" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.FaltaAgendada"
                         severity="danger"
                         class="bg-red-100 border-red-100 text-red-600"
                         value="Falta Agendada" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.Cancelada"
                         severity="contrast"
                         class="surface-900 border-900"
                         value="Aula Cancelada" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.Feriado"
                         severity="contrast"
                         class="surface-900 border-900"
                         [value]="'Aula Cancelada - ' + aula.feriado?.descricao" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.Recesso"
                         severity="danger"
                         class="bg-red-200 border-red-200"
                         value="Recesso" />
                <p-badge *ngIf="item.status == Monitoramento_Item_Status.Aula"
                         severity="danger"
                         class="surface-200 border-200 text-900"
                         value="À realizar" />
            </div>
        </div>
        <p-button icon="pi pi-times"
                  (onClick)="close()"
                  severity="secondary"
                  size="large"
                  [text]="true"
                  styleClass="px-1" />
    </header>
    <p-divider />
    <section class="px-3 flex-1 h-full">
        <!-- <pre>{{ item.reposicaoPara| json  }}</pre> -->
        <table class="mx-auto">
            <!-- Data -->
            <tr>
                <td class="text-right">
                    <label>Data:</label>
                </td>
                <td class="w-min" colspan="4">
                    <p-iconfield>
                        <p-inputicon class="pi pi-calendar text-primary-500" />
                        <div class="p-inputtext white-space-nowrap flex align-items-center gap-2">
                            <span *ngIf="item.reposicaoPara">
                                {{item.reposicaoPara.aula.data | date : 'dd/MM/yyyy HH:mm' }}
                            </span>
                            <span [ngClass]="{
                                'text-500 ml-auto pl-3': item.reposicaoPara
                            }">
                                {{aula.data | date : 'dd/MM/yyyy HH:mm' }}
                            </span>
                        </div>
                    </p-iconfield>
                </td>
            </tr>
            <!-- Turma -->
            <tr>
                <td class="text-right">
                    <label>Turma:</label>
                </td>
                <td class="w-min" colspan="4">
                    <p-iconfield>
                        <p-inputicon class="fa fa-users-between-lines text-primary-500" />
                        <div class="p-inputtext white-space-nowrap flex align-items-center gap-2">
                            <span *ngIf="item.reposicaoPara">
                                {{item.reposicaoPara.aula.turma }}
                            </span>
                            <span [ngClass]="{
                                'text-500 ml-auto pl-3': item.reposicaoPara
                            }">
                                {{aula.turma }}
                            </span>
                        </div>
                    </p-iconfield>
                </td>
            </tr>
            <!-- Educador -->
            <tr>
                <td class="text-right">
                    <label>Educador:</label>
                </td>
                <td class="w-min" colspan="4">
                    <p-iconfield>
                        <p-inputicon class="fa fa-user-graduate text-primary-500" />
                        <div class="p-inputtext white-space-nowrap flex align-items-center gap-2">
                            <ng-container *ngIf="item.reposicaoPara">
                                <span>{{item.reposicaoPara.aula.professor }}</span>
                                <app-legend-color class="line-height-1"
                                                  [corLegenda]="item.reposicaoPara.aula.corLegenda"
                                                  [professor]="item.reposicaoPara.aula.professor"></app-legend-color>
                            </ng-container>
                            <span [ngClass]="{
                                'text-500 ml-auto pl-3': item.reposicaoPara
                            }">
                                {{aula.professor }}
                            </span>
                            <app-legend-color class="line-height-1"
                                              [corLegenda]="aula.corLegenda"
                                              [professor]="aula.professor"></app-legend-color>
                        </div>
                    </p-iconfield>
                </td>
            </tr>
            <!-- Sala -->
            <tr>
                <td class="text-right">
                    <label>Sala:</label>
                </td>
                <td class="w-min" colspan="4">
                    <p-iconfield>
                        <p-inputicon class="bi bi-door-open text-primary-500" />
                        <div class="p-inputtext white-space-nowrap flex align-items-center gap-2">
                            <span *ngIf="item.reposicaoPara">
                                {{item.reposicaoPara.aula.sala }}
                            </span>
                            <span [ngClass]="{
                                'text-500 ml-auto pl-3': item.reposicaoPara
                            }">
                                {{aula.sala }}
                            </span>
                        </div>
                    </p-iconfield>
                </td>
            </tr>
            <!-- Ábaco -->
            <tr>
                <td class="text-right">
                    <label>Ábaco:</label>
                </td>
                <td class="w-min">
                    <p-iconfield class="w-min">
                        <p-inputicon class="bi bi-book text-primary-500" />
                        <input type="text"
                               pInputText
                               [value]="(item.reposicaoPara ? item.reposicaoPara.participacao.apostila_Abaco : item.aula.participacao.apostila_Abaco) ?? ''"
                               readonly>
                        <!-- style="field-sizing: content" -->
                    </p-iconfield>
                </td>
                <td class="text-right">
                    <label>Página:</label>
                </td>
                <td>
                    <input type="text"
                           pInputText
                           [value]="(item.reposicaoPara ? item.reposicaoPara.participacao.numeroPaginaAbaco : item.aula.participacao.numeroPaginaAbaco) ?? ''"
                           readonly
                           class="w-full"
                           style="max-width: 8rem;">
                </td>
            </tr>
            <!-- AH -->
            <tr>
                <td class="text-right">
                    <label>AH:</label>
                </td>
                <td class="w-min">
                    <p-iconfield class="w-min">
                        <p-inputicon class="bi bi-book text-primary-500" />
                        <input type="text"
                               pInputText
                               [value]="(item.reposicaoPara ? item.reposicaoPara.participacao.apostila_AH : item.aula.participacao.apostila_AH) ?? ''"
                               readonly>
                        <!-- style="field-sizing: content" -->
                    </p-iconfield>
                </td>
                <td class="text-right">
                    <label>Página:</label>
                </td>
                <td>
                    <input type="text"
                           pInputText
                           [value]="(item.reposicaoPara ? item.reposicaoPara.participacao.numeroPaginaAH : item.aula.participacao.numeroPaginaAH) ?? ''"
                           readonly
                           class="w-full"
                           style="max-width: 8rem;">
                </td>
            </tr>
            <tr>
                <td class="text-right vertical-align-top">
                    <label>Observações: </label>
                </td>
                <td colspan="3">
                    <textarea pTextarea
                              readonly
                              [value]="(item.reposicaoPara ? item.reposicaoPara.participacao.observacao : item.aula.participacao.observacao) ?? ''"
                              fluid></textarea>
                </td>
            </tr>
        </table>
    </section>
    <div class="mt-auto sticky bottom-0">
        <p-divider layout="horizontal" />
        <div class="px-3 flex align-items-center gap-2">
            <!-- <ng-container *ngIf="aula.finalizado && !participacao.presente">
                <p-button icon="pi pi-whatsapp"
                        severity="success"
                        label="Contatar"
                        [rounded]="true">
                </p-button>
            </ng-container>
            <ng-container *ngIf="!aula.finalizado">
                <p-button icon="pi pi-thumbs-down"
                      severity="danger"
                      label="Agendar falta"
                      [rounded]="true"
                      (onClick)="goToAgendarFalta()">
                </p-button>
            </ng-container> -->
            <div>
                <p-button icon="pi pi-cog"
                          iconPos="right"
                          severity="secondary"
                          label="Opções"
                          [rounded]="true"
                          (onClick)="popoverMenu.toggle($event)" />
                <p-popover appendTo="body" #popoverMenu styleClass="-mt-1">
                    <div class="flex flex-column">
                        <ng-container *ngIf="[EventoTipo.Reuniao].includes(aula.evento_Tipo_Id) == false">
                            <!-- Reposição -->
                            <p-button (onClick)="goToAgendarReposicao()"
                                      label="Agendar Reposição"
                                      icon="pi pi-calendar text-primary-500"
                                      [text]="true"
                                      severity="secondary"
                                      styleClass="justify-content-start surface-50"
                                      [disabled]="participacao.presente === true 
                                            || item.reposicaoPara 
                                            || participacao.reposicaoDe_Evento_Id 
                                            || participacao.reposicaoPara_Evento_Id
                                        "
                                      fluid />
                            <!-- Primeira aula -->
                            <p-button (onClick)="goToPrimeiraAula()"
                                      label="Marcar 1ª aula"
                                      icon="bi bi-1-circle-fill text-pink-500"
                                      [text]="true"
                                      severity="secondary"
                                      styleClass="justify-content-start surface-50"
                                      fluid
                                      [disabled]="!aula.active
                                            || item.reposicaoPara 
                                            || aluno.primeiraAula_Id
                                            || participacao.reposicaoPara_Evento_Id
                                            || participacao.presente === false" />
                            <!-- Agendar Falta -->
                            <p-button (onClick)="goToAgendarFalta()"
                                      label="Agendar Falta"
                                      icon="fa fa-user-xmark text-red-500"
                                      [text]="true"
                                      severity="secondary"
                                      styleClass="justify-content-start surface-50"
                                      [disabled]="aula.finalizado
                                            || !aula.active
                                            || !participacao.active
                                            || participacao.presente === false
                                      "
                                      fluid />
                        </ng-container>
                    </div>
                </p-popover>
            </div>
            <!--  *ngIf="[Monitoramento_Item_Status.ReposicaoAgendada,
                Monitoramento_Item_Status.ReposicaoDesmarcada,
                Monitoramento_Item_Status.FaltaAlunoContatado,
                Monitoramento_Item_Status.FaltaAgendada,
                Monitoramento_Item_Status.FaltaReposicao,
                Monitoramento_Item_Status.FaltaAula].includes(item.status )" -->
            <p-button
                      label="Ver contato"
                      icon="pi pi-phone"
                      [rounded]="true"
                      (onClick)="showContatoFalta()" />
            <div class="ml-auto">
                <p-button label="Ver Aula"
                          icon="pi pi-arrow-right"
                          iconPos="right"
                          [rounded]="true"
                          (onClick)="goToAula()">
                </p-button>
            </div>
        </div>
    </div>
</div>