<app-confirm-dialog></app-confirm-dialog>
<header class="p-dialog-header px-0">
    <div class="p-dialog-title w-full flex align-items-center gap-2">
        <i class="pi pi-phone mr-2 text-base w-2rem h-2rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
        <p>Informações de Contato</p>
    </div>
    <div class="p-dialog-header-actions">
        <p-button
                  [icon]="maximized ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"
                  (onClick)="maximize()"
                  styleClass="p-dialog-maximize-button"
                  severity="secondary"
                  rounded
                  pRipple
                  text />
        <p-button icon="pi pi-times"
                  (onClick)="close()"
                  styleClass="p-dialog-close-button"
                  severity="secondary"
                  rounded
                  pRipple
                  text />
    </div>
</header>
<form #form="ngForm"
      class="px-2"
      (submit)="sendConfirmation(form, $event)">
    <div class="formgrid grid">
        <!-- Aluno -->
        <div class="field col-6">
            <label for="aluno">Aluno:</label>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-user" />
                <input type="text"
                       pInputText
                       [value]="participacao.aluno"
                       id="aluno"
                       name="aluno"
                       fluid
                       readonly>
            </p-iconfield>
        </div>
        <!-- Turma -->
        <div class="field col-6">
            <label for="descricao">Turma:</label>
            <p-iconfield>
                <p-inputicon styleClass="fa-solid fa-users-between-lines" />
                <input type="text"
                       pInputText
                       [value]="evento.descricao"
                       id="descricao"
                       name="descricao"
                       fluid
                       readonly>
            </p-iconfield>
        </div>
        <!-- Data -->
        <div class="field col-6">
            <label for="data">Data:</label>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-calendar" />
                <input type="text"
                       pInputText
                       [value]="evento.data | date : 'dd/MM/yyyy HH:mm'"
                       id="data"
                       name="data"
                       fluid
                       readonly>
            </p-iconfield>
        </div>
        <!-- Horário -->
        <!-- <div class="field col-3">
            <label for="horario">Horário:</label>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-clock" />
                <input type="text"
                       pInputText
                       [value]="evento.data | date : 'HH:mm'"
                       id="horario"
                       name="horario"
                       fluid
                       readonly>
            </p-iconfield>
        </div> -->
        <!-- Roteiro -->
        <div class="field col-6">
            <label for="semana">Semana:</label>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-star-fill" [style]="{ color: evento.roteiroCorLegenda }" />
                <input type="text"
                       pInputText
                       [value]="'Semana ' + evento.semana + ' - ' + evento.tema "
                       id="semana"
                       name="semana"
                       fluid
                       readonly>
            </p-iconfield>
        </div>
        <!-- OBS -->
        <div class="field col-12">
            <label for="observacao" class="font-bold">Motivo da falta:</label>
            <textarea pTextarea
                      id="observacao"
                      name="observacao"
                      [(ngModel)]="participacao.observacao"
                      #observacao="ngModel"
                      placeholder="Insira aqui o motivo..."
                      rows="2"
                      fluid
                      [pAutoFocus]="true">
            </textarea>
        </div>
        <!-- O aluno foi contatado? -->
        <div class="col-12 flex align-items-center gap-2 mb-2">
            <span class="font-bold">O aluno foi contatado?</span>
            <!-- <p-button
                      [icon]="alunoContactado ? 'pi pi-check' : 'pi pi-times'"
                      [label]="alunoContactado ? 'Sim' : 'Não'"
                      [severity]="alunoContactado ? 'success' : 'danger'"
                      (onClick)="alunoContactadoChanged()"
                      size="small" /> -->

            <p-button icon="pi pi-check"
                severity="success"
                label="Sim"
                (onClick)="alunoContactadoChanged(true)"
                size="small"
                    [styleClass]="alunoContactado ? 'pointer-events-none' : 'opacity-30'" />

            <p-button icon="pi pi-times"
                severity="danger"
                label="Não"
                (onClick)="alunoContactadoChanged(false)"
                size="small" 
                    [styleClass]="alunoContactado ? 'opacity-30' : 'pointer-events-none'" />
        
            <p-button type="button"
                      (onClick)="enviarMensagemFalta($event)"
                      (auxclick)="enviarMensagemFalta($event)"
                      (contextmenu)="enviarMensagemFalta($event)"
                      [disabled]="!participacao.celular"
                      icon="pi pi-whatsapp {{!participacao.celular ? 'text-300' : ''}}"
                      [severity]="participacao.celular ? 'success' : 'secondary'"
                      label="Enviar mensagem"
                      size="small" />
        </div>
        <ng-container *ngIf="alunoContactado">
            
        <!-- Quando -->
        <div class="field col">
            <label for="alunoContactado" class="font-bold">
                <span>Quando?</span>
            </label>
            <p-datepicker
                            #_alunoContactado="ngModel"
                            [(ngModel)]="participacao.alunoContactado"
                            [disabled]="!participacao.alunoContactado"
                            placeholder="dd/mm/yy hh:mm"
                            [showIcon]="true"
                            [iconDisplay]="'input'"
                            inputId="alunoContactado"
                            name="alunoContactado"
                            [showTime]="true"
                            dateFormat="dd/mm/yy"
                            hourFormat="24"
                            [selectOtherMonths]="true"
                            [keepInvalid]="true"
                            [disabledDays]="[0]"
                            appendTo="body"
                            fluid />
        </div>
        <!-- Status do contato -->
        <div class="field col">
            <label for="statusContato_Id" class="font-bold">
                <span>Status do contato: </span>
            </label>
            <p-select [options]="status"
                      inputId="statusContato_Id"
                      name="statusContato_Id"
                      [(ngModel)]="participacao.statusContato_Id"
                      #statusContato_Id="ngModel"
                      optionLabel="label"
                      optionValue="value"
                      [filter]="true"
                      filterBy="label"
                      appendTo="body"
                      [disabled]="!alunoContactado"
                      fluid />
        </div>
        <!-- Retorno do contato -->
        <div class="field col-12">
            <label for="contatoObservacao" class="font-bold"> Retorno do contato: </label>
            <textarea pTextarea
                      id="contatoObservacao"
                      name="contatoObservacao"
                      [(ngModel)]="participacao.contatoObservacao"
                      #contatoObservacao="ngModel"
                      [disabled]="!alunoContactado"
                      fluid> </textarea>
        </div>
        </ng-container>
    </div>
    <div class="col-12 px-1 flex align-items-center justify-content-end">
        <p-button type="submit"
                  fluid
                  label="Salvar"
                  icon="pi pi-check"
                  [loading]="loading"
                  [rounded]="true"
                  [disabled]="form.invalid || loading || !evento || !participacao" />
    </div>
</form>