<p-dialog #selectedAlunoDialog
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="hideAluno()"
          [style]="{ width: '50rem', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center -mb-3">
            <span class="p-dialog-title">
                <i class="fa-solid fa-user-graduate mr-2 text-1xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <span class="ml-2">Dados do Aluno</span>
            </span>
        </div>
    </ng-template>
    <div *ngIf="selectedAluno" class="p-2 flex flex-column row-gap-1 ">
        <div class="flex  my-1 mx-2">
            <div class="w-11rem h-11rem flex-none surface-50 border-circle border-2 border-color-500 overflow-hidden my-auto flex align-items-center justify-content-center ">
                <img *ngIf="selectedAluno.aluno_Foto" [src]="selectedAluno.aluno_Foto">
                <i *ngIf="!selectedAluno.aluno_Foto" class="pi pi-user text-primary text-4xl"></i>
            </div>
            <p-divider layout="vertical" styleClass="mx-4 py-5" />
            <div class="pb-2 flex flex-column gap-2 ml-2 col w-min">
                <table class="">
                    <tr>
                        <td colspan="2">
                            <span class="text-xl font-bold text-overflow-ellipsis white-space-nowrap max-w-10rem pr-2"
                                  [pTooltip]="selectedAluno.aluno">{{ selectedAluno.aluno }}</span>
                            <p-badge *ngIf="selectedAluno.reposicaoDe_Aula_Id"
                                     [pTooltip]="selectedAluno.reposicaoDe_Aula!.data.toString()"
                                     styleClass="ml-2 "
                                     value="Reposição"
                                     size="small" />
                        </td>
                    </tr>
                    <tr>
                        <td><b>Turma:</b> {{selectedAluno.turma }}</td>
                    </tr>
                    <tr>
                        <td>Apostila Ábaco: Ábaco 123</td>
                        <td><b>Página:</b> 10</td>
                    </tr>
                    <tr>
                        <td>Apostila AH: AH 123</td>
                        <td><b>Página:</b> 08</td>
                    </tr>
                    <tr>
                        <td>Perfil Cognitivo:</td>
                        <td>{{selectedAluno.perfilCognitivo}}</td>
                    </tr>
                    <tr>
                        <td>Etapa da jornada:</td>
                        <td>
                            <div (click)="popoverChecklist.toggle($event)" class="flex align-items-center gap-2 white-space-nowrap">
                                <span>{{selectedAluno.checklist}}</span>
                                <ng-container *ngTemplateOutlet="checklist; context: { checklist: getChecklist(selectedAluno!.checklist_Id!, selectedAluno) }"></ng-container>
                                <ng-template #checklist let-checklist="checklist">
                                    <div *ngIf="loadingChecklist" pTooltip="Carregando">
                                        <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
                                    </div>
                                    <div *ngIf="checklist" class="font-bold">
                                        <!-- Finalizado -->
                                        <span *ngIf="checklist.finalizados.length == checklist.items.length"
                                              pTooltip="Finalizado">
                                            <i class="pi pi-check-circle text-green-500"></i>
                                        </span>
                                        <!-- Atrasado -->
                                        <span *ngIf="checklist.atrasados.length > 0 && checklist.finalizados.length < checklist.items.length"
                                              pTooltip="Atrasado"> {{checklist.finalizados.length}}/{{checklist.items.length}} <i class="pi pi-times-circle text-red-500 fadeout animation-duration-300 animation-iteration-infinite"></i>
                                        </span>
                                        <!-- Pendentes da Semana -->
                                        <span *ngIf="checklist.pendentesDaSemana.length > 0 && checklist.finalizados.length < checklist.items.length"
                                              pTooltip="Em andamento"> {{checklist.finalizados.length}}/{{checklist.items.length}} <i class="pi pi-exclamation-triangle text-orange-500"></i>
                                        </span>
                                    </div>
                                </ng-template>
                            </div>
                            <p-popover #popoverChecklist appendTo="body">
                                <p-tabs [value]="selectedAluno.checklist_Id ?? 1" scrollable>
                                    <p-tablist style="max-width: 50rem;">
                                        <p-tab *ngFor="let checklist of selectedAluno.checklists" [value]="checklist.id">
                                            <div class="flex align-items-center ">
                                                <span>{{checklist.nome}} </span>
                                                <div class="ml-2 font-bold">
                                                    <!-- Finalizado -->
                                                    <span *ngIf="checklist.finalizados.length == checklist.items.length"
                                                          pTooltip="Finalizado">
                                                        <i class="pi pi-check-circle text-green-500"></i>
                                                    </span>
                                                    <!-- Atrasado -->
                                                    <span *ngIf="checklist.atrasados.length > 0 && checklist.finalizados.length < checklist.items.length"
                                                          pTooltip="Atrasado"> {{checklist.finalizados.length}}/{{checklist.items.length}} <i class="pi pi-times-circle text-red-500 ml-2 fadeout animation-duration-300 animation-iteration-infinite"></i>
                                                    </span>
                                                    <!-- Pendentes da Semana -->
                                                    <span *ngIf="checklist.pendentesDaSemana.length > 0 && checklist.finalizados.length < checklist.items.length"
                                                          pTooltip="Em andamento"> {{checklist.finalizados.length}}/{{checklist.items.length}} <i class="pi pi-hourglass text-orange-500 ml-2"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </p-tab>
                                    </p-tablist>
                                    <p-tabpanels>
                                        <p-tabpanel *ngFor="let checklist of selectedAluno.checklists" [value]="checklist.id">
                                            <div class="w-full">
                                                <p class="mb-2">Prazo máximo: <b>{{checklist.prazo | date : 'dd/MM/yyyy'}}</b></p>
                                                <ul class="p-0 ml-0">
                                                    <li *ngFor="let checklistItem of checklist.items"
                                                        (mouseenter)="checklistItem.finalizado ? checklistData.show($event) : undefined"
                                                        (mouseleave)="checklistItem.finalizado ? checklistData.hide() : undefined"
                                                        class="flex align-items-center gap-2 py-1">
                                                        <p-checkbox #checkbox
                                                                    [inputId]="'checklistitem-' + checklistItem.id"
                                                                    [name]="'checklistitem-' + checklistItem.id"
                                                                    #finalizado="ngModel"
                                                                    [(ngModel)]="checklistItem.finalizado"
                                                                    [styleClass]="checklistItem.finalizado ? 'cursor-auto' : ''"
                                                                    [binary]="true"
                                                                    [readonly]="checklistItem.finalizado || checklist.id > selectedAluno!.checklist_Id!"
                                                                    (ngModelChange)="checkboxChange(checklistItem, checklist, finalizado, $event)" />
                                                            <label class="font-medium" [for]="'checklistitem-' + checklistItem.id">{{ checklistItem.nome }}</label>
                                                        <p-popover #checklistData>
                                                            <p *ngIf="checklistItem.dataFinalizacao">Finalizado em {{checklistItem.dataFinalizacao | date : 'dd/MM/yyyy' }}</p>
                                                            <p *ngIf="checklistItem.account_Finalizacao">Finalizado por {{checklistItem.account_Finalizacao }}</p>
                                                        </p-popover>
                                                    </li>
                                                </ul>
                                            </div>
                                        </p-tabpanel>
                                    </p-tabpanels>
                                </p-tabs>
                                <!-- <div class="flex justify-content-between align-items-center w-full">
                                    <p-button [disabled]="!prevChecklist"
                                              [severity]="prevChecklist ? 'primary' : 'secondary'"
                                              size="large"
                                              icon="pi pi-angle-left"
                                              [rounded]="true"
                                              [text]="true"
                                              (onClick)="prev()"
                                              [pTooltip]="prevChecklist ? prevChecklist.nome : ''" />
                                    <span class="font-bold text-base text-400 px-4 mx-auto">{{currentChecklist.nome}}</span>
                                    <p-button [disabled]="!nextChecklist"
                                              [severity]="nextChecklist ? 'primary' : 'secondary'"
                                              size="large"
                                              icon="pi pi-angle-right"
                                              [rounded]="true"
                                              [text]="true"
                                              (onClick)="next()"
                                              [pTooltip]="nextChecklist ? nextChecklist.nome : ''" />
                                </div>
                                <div class="w-30rem">
                                    <ul class="p-0 ml-3"> @for(item of currentChecklist.items; track item) { <li class="flex align-items-center gap-2 py-1">
                                            <p-checkbox [binary]="true" />
                                            <div>
                                                <span class="font-medium">{{ item.nome }}</span>
                                            </div>
                                        </li> } </ul>
                                </div> -->
                            </p-popover>
                        </td>
                    </tr>
                </table>
                <div class="flex align-items-center gap-2 mt-3  ">
                    <p-button label="Ver aluno"
                              [rounded]="true"
                              icon="pi pi-user-edit"
                              size="small"
                              (onClick)="goToAluno(selectedAluno)" />
                    <p-button *ngIf="!selectedAula!.finalizada || (selectedAula!.finalizada && selectedAluno.presente == false)"
                              label="Agendar Reposição"
                              icon="pi pi-calendar"
                              [rounded]="true"
                              severity="secondary"
                              size="small"
                              (onClick)="goToReposicao(selectedAluno)" />
                    <p-button label="Enviar mensagem"
                              severity="success"
                              icon="pi pi-whatsapp "
                              [rounded]="true"
                              size="small"
                              (onClick)="enviarMensagem()" />
                </div>
            </div>
        </div>
    </div>
</p-dialog>