<p-popover #popover
           [dismissable]="false"
           styleClass="-mt-1"
           appendTo="body">
    <ng-container *ngIf="aluno && item">
        <div style="width: 20rem;">
            <p class="mb-2 flex align-items-center gap-2">
                <app-aluno-participacao-status
                    [eventoDashItem]="item"
                    [eventoDashAluno]="aluno" 
                    [evento]="evento" 
                    [participacao]="participacao"></app-aluno-participacao-status>
            </p>
        
            <p class="flex align-items-center gap-2">
                <i class="pi pi-calendar flex w-1rem justify-content-center"></i>
                <span class="">Data:</span>
                <span>{{item.aula.data | date:'dd/MM/yy '}}</span>
            </p>
            <p class="flex align-items-center gap-2">
                <i class="pi pi-clock flex w-1rem justify-content-center"></i>
                <span class="">Horário:</span>
                <span>{{item.aula.data | date:'HH:mm'}}</span>
            </p>
            <ng-container *ngIf="item.aula.turma">
                <p class="flex align-items-center gap-2">
                    <i class="fa fa-users-between-lines flex w-1rem justify-content-center"></i>
                    <span class="">Turma: </span>
                    <span>{{item.aula.turma}}</span>
                </p>
            </ng-container>
            <ng-container *ngIf="item.aula.professor">
                <p class="flex align-items-center gap-2">
                    <i class="fa fa-person-chalkboard flex w-1rem justify-content-center"></i>
                    <span class="">Educador: </span>
                    <span>{{item.aula.professor}}</span>
                    <app-legend-color [corLegenda]="item.aula.corLegenda"
                        [professor_Id]="item.aula.professor_Id"
                        [professor]="item.aula.professor"></app-legend-color>
                </p>
            </ng-container>
            <p *ngIf="item.aula.observacao">
                <b>Observações da aula:</b>
                <span [innerHTML]="item.aula.observacao"></span>
            </p>
            <p *ngIf="!item.participacao.active && !item.participacao.presente">
                <b>Motivo da falta:</b>
                <span [innerHTML]="item.participacao.observacao"></span>
            </p>
            <div class="flex align-items-center gap-2">
                <p-button label="Fechar"
                          severity="secondary"
                          class="w-full"
                          [outlined]="true"
                          styleClass="w-full"
                          (onClick)="hide()" />
                <ng-container *ngTemplateOutlet="selectMenu"></ng-container>
            </div>
        </div>
    </ng-container>
</p-popover>

<ng-template #selectMenu>
    
                <p-select [options]="menuItems"
                          [styleClass]="'p-select-menu p-select-small'"
                          appendTo="body"
                          dropdownIcon="bi bi-chevron-down text-white mt-1 mr-2"
                          optionLabel="label"
                          placeholder="Opções"
                          (onChange)="menuItemChanged($event, options)"
                          #options="ngModel"
                          [(ngModel)]="menuOptionsValue"
                          [overlayOptions]="{ styleClass: 'p-select-aluno-menu-overlay' }">
                    <ng-template let-selectedOption #selectedItem>
                        <div class="text-white -mr-2 text-center text-base">Opções</div>
                    </ng-template>
                    <ng-template let-item #item>
                       
                            <div class="{{item.styleClass}} -mx-2 -my-2 border-round-lg px-3 py-2 w-13rem">
                                <i [class]="item.icon"></i>
                                <a [routerLink]="item.routerLink" class="ml-2">{{ item.label }}</a>
                            </div>
                    </ng-template>
                </p-select>
</ng-template>