<p-popover #popover
           (onHide)="onHide()"
           [dismissable]="true"
           styleClass="-mt-1"
           appendTo="body">
    <div class="flex gap-2 flex-column" *ngIf="aluno && item">
        <div>
<!-- Cancelada -->
            <ng-container *ngIf="!item.aula.active && !item.aula.reagendamentoPara_Evento_Id">
                <p class="surface-800 text-base text-white py-1 px-2">
                    <i class="pi pi-times mr-2"></i>
                    <span>Aula Cancelada</span>
                </p>
            </ng-container>
<!-- Reagendada -->
            <ng-container *ngIf="item.aula.reagendamentoDe_Evento_Id && item.aula.reagendamentoDe_Evento">
                <p class="bg-yellow-500 text-base text-900 py-1 px-2">
                    <i class="pi pi-exclamation-triangle mr-2"></i>
                    <span>Reagendamento da aula do dia
                        {{item.aula.reagendamentoDe_Evento.data | date : 'dd/MM \'às\' HH\'h\'mm'}}</span>
                </p>
            </ng-container>
<!-- Reposição -->
            <ng-container *ngIf="item.participacao.reposicaoDe_Evento_Id && item.participacao.reposicaoDe_Evento">
                <p class="bg-purple-600 text-base text-white py-1 px-2">
                    <i class="pi pi-exclamation-triangle mr-2"></i>
                    <span>Reposição da aula do dia
                        {{item.participacao.reposicaoDe_Evento.data | date : 'dd/MM \'às\' HH\'h\'mm'}}</span>
                </p>
            </ng-container>
        </div>

        <div class="line-height-3">
            <p-badge *ngIf="aluno.primeiraAula_Id == item.aula.id"
                     styleClass=" bg-pink-500 border-pink-500"
                     value="Aula 1"
                     size="small"
                     severity="danger" />
            <p class="flex gap-2">
                <span class="font-bold">Data:</span>
                <span>{{item.aula.data | date:'dd/MM/yy '}}</span>
                <span class="font-bold">Horário:</span>
                <span>{{item.aula.data | date:'HH:mm'}}</span>
            </p>
            <p *ngIf="item.aula.turma"><span class="font-bold">Turma</span> {{item.aula.turma}}</p>
            <p *ngIf="item.aula.professor">
                <span class="font-bold">Professor: </span>
                <span>{{item.aula.professor}}</span>
                <span class="border-circle w-1rem h-1rem ml-1 inline-flex"
                      [style]="{ backgroundColor: item.aula.corLegenda }"> </span>
            </p>
            <p class="font-bold mt-2">Observações: </p>
            <div class="max-w-20rem max-h-20rem white-space-normal overflow-hidden text-overflow-ellipsis">
                <p *ngIf="item.aula.observacao" [innerHTML]="item.aula.observacao"></p>
                <p *ngIf="item.participacao.observacao" [innerHTML]="item.participacao.observacao"></p>
                <p *ngIf="!item.aula.observacao && !item.participacao.observacao" class="text-500">Nenhuma observação
                </p>
            </div>
        </div>

        <ng-container *ngIf="(item.aula.active == false 
             || item.participacao.presente != true)
             && !item.participacao.reposicaoDe_Evento_Id
             && !item.participacao.reposicaoPara_Evento_Id">
            <p-button icon="pi pi-calendar"
                      label="Agendar reposição"
                      severity="secondary"
                      rounded
                      (onClick)="goToReposicao(aluno.id, item.aula.id)" />
        </ng-container>
    </div>
</p-popover>