<main class="surface-50">
    <div class="relative z-1">
        <div class="relative z-2">
            <app-header></app-header>
        </div>
        <div class="flex align-items-strech justify-content-between relative z-1 pr-3"
        style="min-height: calc(100vh)">
            <div *ngIf="[ScreenWidth.xl, ScreenWidth.lg, ScreenWidth.md].includes(screen) "
                [ngStyle]="{ width: navigationOpen ? '22rem' : '4rem' }"
                [ngClass]="{
                    'pr-3 pl-3 mr-2': navigationOpen,
                    'mr-4 ml-3': !navigationOpen,
                    'transition-linear transition-duration-100 transition-all pt-3': true,
                }">
                <app-nav-menu></app-nav-menu>
            </div>
            <div class="border-round-md flex-grow-1 flex-shrink-1 flex-1 mt-3"
                [ngStyle]="{ width: navigationOpen && [ScreenWidth.lg, ScreenWidth.xl, ScreenWidth.md].includes(screen) ? '55%' : '80%' }">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</main>