<p-popover #popover appendTo="body">
    <app-aluno-checklist-dialog #alunoChecklistDialog
                                [loading]="loadingAluno"></app-aluno-checklist-dialog>
    <app-aluno-checklist-on-confirm-dialog #alunoChecklistOnConfirmDialog
                                           [alunoChecklistItem]="alunoChecklistItem"
                                           [aluno]="aluno"></app-aluno-checklist-on-confirm-dialog>
    <ng-container *ngIf="visible">
        <p-card *ngIf="loadingAluno && !aluno && !participacao"
                [style]="{maxWidth: '960vw', width: '20rem', overflow: 'hidden' }"
                styleClass="shadow-none">
            <section>
                <div class="flex mb-4">
                    <p-skeleton width="18rem" height="12rem" />
                </div>
                <div class="flex mb-2">
                    <p-skeleton width="18rem" height="1.5rem" />
                </div>
                <div class="flex justify-content-between gap-2 mb-4">
                    <p-skeleton width="13" height="1rem" />
                    <p-skeleton size="1.5rem" shape="circle" />
                </div>
                <div class="flex justify-content-between gap-2 mb-2">
                    <p-skeleton width="13rem" height="1rem" />
                    <p-skeleton width="4.5rem" height="1rem" />
                </div>
                <div class="flex justify-content-between gap-2 mb-2">
                    <p-skeleton width="13rem" height="1rem" />
                    <p-skeleton width="4.5rem" height="1rem" />
                </div>
                <div class="flex justify-content-between mb-2">
                    <p-skeleton width="18rem" height="1rem" />
                </div>
            </section>
            <ng-template #footer>
                <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
            </ng-template>
        </p-card>
        <p-card *ngIf="aluno || participacao" 
                [style]="{maxWidth: '960vw', width: '22rem', overflow: 'hidden' }"
                styleClass="shadow-none aluno-card-popover">
            <ng-template #header>
                <ng-container *ngIf="loadingFoto">
                    <p-skeleton width="22rem" height="12rem" />
                </ng-container>
                <ng-container *ngIf="!loadingFoto">
                    <div class="w-full h-12rem surface-100 overflow-hidden flex align-items-center justify-content-center">
                        <p-image *ngIf="foto"
                                 [src]="foto"
                                 [preview]="true"
                                 alt="Image"
                                 appendTo="body"
                                 styleClass="w-full h-auto">
                            <ng-template #indicator>
                                <i class="pi pi-search"></i>
                            </ng-template>
                            <ng-template #image>
                                <img [src]="foto" alt="image" class="w-full h-auto" />
                            </ng-template>
                            <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                                <img [src]="foto" alt="image" class="w-full h-auto" [style]="style"
                                     (click)="previewCallback()" />
                            </ng-template>
                        </p-image>
                        <i *ngIf="!foto && !loadingFoto" class="pi pi-user text-2xl text-400"></i>
                        <i *ngIf="!foto && loadingFoto" class="pi pi-spin pi-spinner text-2xl text-400"></i>
                    </div>
                </ng-container>
            </ng-template>
            <ng-template #title>
                <div class="flex align-items-center justify-content-between gap-2">
                    <!--  max-w-30rem overflow-hidden text-overflow-ellipsis -->
                    <p class="text-primary-500 font-bold capitalize white-space-nowrap" 
                        [pTooltip]="participacao?.aluno ?? aluno.nome">
                        {{ (participacao?.aluno ?? aluno.nome) | nameAbv }}
                    </p>
                    <!-- <ng-container *ngIf="participacao && evento">
                        <app-aluno-participacao-status
                            [evento]="evento"
                            [participacao]="participacao"
                        ></app-aluno-participacao-status>
                    </ng-container> -->
                </div>
            </ng-template>
            <ng-template #subtitle>
                <div>
                    <p class="flex align-items-baseline gap-2 text-lg ">
                        <app-legend-color  *ngIf="aluno" [corLegenda]="aluno.corLegenda"
                                          [professor_Id]="aluno.professor_Id"
                                          [professor]="aluno.professor"
                                          [turma_Id]="participacao?.turma_Id ?? aluno.turma_Id"></app-legend-color>
                        <span class="w-full overflow-hidden white-space-nowrap text-overflow-ellipsis text-700">
                            <b>Turma: </b>
                            <span>{{participacao?.turma ??  aluno.turma }} </span>
                        </span>
                    </p>
                </div>
            </ng-template>
            <section class="flex flex-column gap-1">
                <!-- Perfil -->
                <p class="flex align-items-center gap-2" *ngIf="aluno">
                    <i class="fa fa-brain"></i>
                    <b>Perfil Cognitivo: </b>
                    <span>{{ participacao?.perfilCognitivo ?? aluno.perfilCognitivo }}</span>
                </p>
                <!-- Idade -->
                <p class="flex align-items-center gap-2" *ngIf="aluno">
                    <i class="bi bi-cake-fill"></i>
                    <b>Idade: </b>
                    <span>{{ aluno.idade }} anos</span>
                    <b>-</b>
                    <span>{{ aluno.dataNascimento | date : 'dd/MM/yyyy'}}</span>
                </p>
                <!-- KIT -->
                <p class="flex align-items-center gap-2">
                    <i class="bi bi-book"></i>
                    <b>KIT: </b>
                    <span>{{ participacao?.kit ?? aluno.kit }}</span>
                </p>
                <!-- Apostila -->
                <ng-template #apostilaTemplate let-apostila="apostila" let-pagina="pagina" let-abaco="abaco">
                    <p class="flex align-items-center justify-content-between gap-2">
                        <i class="bi bi-book"></i>
                        <b *ngIf="abaco">Ábaco: </b>
                        <b *ngIf="!abaco">AH: </b>
                        <span>{{ apostila }}</span>
                        <b class="ml-auto">Página: </b>
                        <span>{{ pagina }}</span>
                    </p>
                </ng-template>
                <ng-container *ngIf="participacao && evento && evento.finalizado; else alunoApostilaTemplate">
                    <ng-container *ngTemplateOutlet="apostilaTemplate; context: { 
                        apostila: participacao.apostila_Abaco, 
                        pagina: participacao.numeroPaginaAbaco,
                        abaco: true }">
                    </ng-container>
                    <ng-container *ngTemplateOutlet="apostilaTemplate; context: { 
                        apostila: participacao.apostila_AH, 
                        pagina: participacao.numeroPaginaAH,
                        abaco: false }">
                    </ng-container>
                </ng-container>
                <ng-template #alunoApostilaTemplate>
                    <ng-container *ngIf="aluno">
                        <ng-container *ngTemplateOutlet="apostilaTemplate; context: { 
                            apostila: aluno.apostila_Abaco, 
                            pagina: aluno.numeroPaginaAbaco,
                            abaco: true }">
                        </ng-container>
                        <ng-container *ngTemplateOutlet="apostilaTemplate; context: { 
                            apostila: aluno.apostila_AH, 
                            pagina: aluno.numeroPaginaAH,
                            abaco: false }">
                        </ng-container>
                    </ng-container>
                </ng-template>
                <!-- Jornada -->
                <div class="flex align-items-center gap-2" *ngIf="showChecklist">
                    <i class="pi pi-check-square"></i>
                    <b>Jornada: </b>
                    <p class="w-min flex align-items-center">
                        <app-aluno-checklist #alunoChecklist
                                             *ngIf="visible"
                                             [aluno]="aluno"
                                             [aluno_Id]="aluno_Id"
                                             [showChecklist]="showChecklist"
                                             (alunoChanged)="alunoChanged($event)"></app-aluno-checklist>
                    </p>
                </div>
                <!-- Status -->
                <div class="flex align-items-center gap-2" *ngIf="aluno">
                    <i class="pi pi-lock"></i>
                    <b>Situação: </b>
                    <p-tag [icon]="aluno.active ? 'fa fa-lock-open' : 'fa fa-lock'"
                        [severity]="aluno.active ? 'success' : 'danger'"
                        [value]="aluno.active ? 'Ativo' : 'Inativo'"
                    />
                </div>
            </section>
            <ng-template #footer>
                    <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
            </ng-template>
        </p-card>
    </ng-container>
</p-popover>
<ng-template #footerTemplate>
    <div class="flex gap-3">
        <p-button label="Fechar"
                  severity="secondary"
                  class="w-full"
                  [outlined]="true"
                  styleClass="w-full"
                  (onClick)="hide()" />
        <p-select [options]="menuItems"
                  [styleClass]="'p-select-menu p-select-small'"
                  appendTo="body"
                  dropdownIcon="bi bi-chevron-down text-white mt-1 mr-2"
                  optionLabel="label"
                  placeholder="Opções"
                  (onChange)="menuItemChanged($event, options)"
                  #options="ngModel"
                  [(ngModel)]="menuOptionsValue"
                  [overlayOptions]="{ styleClass: 'p-select-aluno-menu-overlay' }">
            <ng-template let-selectedOption #selectedItem>
                <div class="text-white -mr-2 text-center text-base">Opções</div>
            </ng-template>
            <ng-template let-item #item>
                <div class="{{item.styleClass}} -mx-2 -my-2 border-round-lg px-3 py-2 w-13rem">
                    <i [class]="item.icon"></i>
                    <a class="ml-2">{{ item.label }}</a>
                </div>
            </ng-template>
        </p-select>
    </div>
</ng-template>