.aluno-title {
    font-size: 1.25rem !important;
    font-weight: 700 !important;
    color: var(--primary-500) !important;
    margin-bottom: 10px;
}

.aluno-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    border-top: 1px var(--surface-200) solid;
    background-color: var(--surface-50);
    flex-wrap: wrap;
    padding: .5rem;
}

.aluno-foto-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100px;
    /* max-width: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    padding: 0.25rem;
    border: 2px var(--primary-500) solid;
    overflow: hidden;
    border-radius: 50%;
}

::ng-deep .aluno-foto-container .p-image-preview,
::ng-deep .aluno-foto-container p-image {
    width: 100%;
    height: 100%;
    display: block;
}

::ng-deep .aluno-foto-container .p-image-preview-mask {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    transform: translate(-10px, -10px);
}

.aluno-foto {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation-duration: 300ms;
    border-radius: 50%;
}

::ng-deep .p-select.p-select-aluno-menu {
    width: 100%;
    background-color: var(--primary-500);
    border: 1px var(--primary-500) solid;
    color: white;
    display: flex;
    align-items: center;
}

::ng-deep .p-select.p-select-aluno-menu:hover {
    background-color: var(--primary-600);
    border-color: var(--primary-600);
}

::ng-deep .p-select.p-select-aluno-menu .p-select-label.p-placeholder {
    color: white;
    text-align: center;
    margin-right: -0.5rem !important;
    font-size: 1rem !important;
}


::ng-deep .p-select.p-select-aluno-menu-overlay .p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
    background-color: transparent !important;
}