.primeira-aula {
    width: 16px;
    background-color: var(--p-pink-500);
    font-size: 0.8rem;
    color: white;
    text-align: center;
    writing-mode: vertical-rl;
}


.event-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-width: 1px;
    text-align: center;
    color: white;
    font-size: .75rem;
    position: relative;
}

/* .event-status >span {
    margin-left: 5px;
} */

.event-status-presente {
    font-size: .75rem;
    width: 100%;
    color: white;
    border-width: 1px;
}

.event-status-presente .apostila {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: 0 .25rem;
}