<app-filtro-popover #filtroPopover (applyFilter)="applyFilter($event)"></app-filtro-popover>
<app-aluno-popover #alunoPopover [showChecklist]="true"> </app-aluno-popover>
<app-aula-participacao-popover #aulaParticipacaoPopoverComponent></app-aula-participacao-popover>

<p-table #dt
            [value]="alunos"
            stripedRows
            dataKey="id"
            [showGridlines]="false"
            scrollHeight="flex"
            [scrollable]="true"
            [virtualScroll]="true"
            [virtualScrollItemSize]="46"
            [virtualScrollDelay]="0"
            [loading]="loading"
            [showLoader]="false"
            styleClass="bg-transparent ml-2"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Exibindo {first} de {last} de um total de {totalRecords} alunos"
            size="small">
    <ng-template #caption>
        <div class="border-none bg-white p-3 relative z-3 mb-2 shadow-1">
            <div class="p-toolbar-group-start w-full flex align-items-center justify-content-between gap-2">
                <h2 class="flex align-items-center">
                    <i class="bi bi-table mr-3 text-primary-500 text-2xl"></i>
                    <span class="text-2xl font-normal my-0 white-space-nowrap">Monitoramento</span>
                </h2>

                <p-button icon="pi pi-info-circle"
                            label="Ver Legenda"
                            class="ml-auto"
                            [rounded]="true"
                            severity="secondary"
                            (onClick)="legendaPopover.show($event)" />


                <p-button icon="pi pi-sync"
                            (onClick)="update()"
                            severity="contrast"
                            pTooltip="Atualizar monitoramento"
                            tooltipPosition="top"
                            styleClass="border-4" />

                <p-button label="Ver filtros"
                            icon="pi pi-filter"
                            severity="primary"
                            (onClick)="filtroPopover.toggle($event)"
                            [rounded]="true" />
            </div>
            <app-legenda-popover #legendaPopover></app-legenda-popover>
        </div>
    </ng-template>
    <ng-template #header let-columns>
        <!-- Meses -->
        <tr>
            <th class="surface-700 border-700" pFrozenColumn></th>
            <th class="surface-700 border-700"></th>
            <ng-container *ngFor="let mes of mesesAno; let i = index;">
                <th [colSpan]="mes.roteiros.length"
                    class="surface-700 border-700 text-center"
                    [attr.data-mes]="mes.mes"> 
                    <span class="capitalize text-white font-normal">
                        {{mes.mesString}}
                    </span>
                </th>
            </ng-container>
        </tr>
        <!-- Semanas -->
        <tr>
            <th rowspan="1"
                pFrozenColumn
                alignFrozen="left"
                [frozen]="true"
                [pSortableColumn]="'nome'"
                class="bg-primary-500 border-bottom-1 border-primary-500 text-white">
                    <div class="flex align-items-center justify-content-between gap-2">
                    <span class="pl-6">Alunos</span>
                    <p-sortIcon [field]="'nome'" />
                </div>
            </th>
            <th rowspan="1"
                [pSortableColumn]="'turma'"
                class="bg-primary-500 border-primary-500 text-white">
                <div class="flex align-items-center justify-content-between gap-2">
                    <span>Turma</span>
                    <p-sortIcon [field]="'turma'" />
                </div>
            </th>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros; let i = index;">
                    <th class=" px-2 capitalize cursor-pointer"
                    (mouseenter)="popoverRoteiro.show($event)"
                    (mouseleave)="popoverRoteiro.hide()"
                    [ngClass]="{
                            'bg-primary-500 border-primary-500': !roteiro.recesso,
                            'bg-red-500 border-red-500 text-center ': roteiro.recesso,
                        }">
                        <ng-container *ngIf="roteiro.recesso">
                            <span class="text-white font-light text-sm">Recesso</span>
                        </ng-container>
                        <ng-container *ngIf="!roteiro.recesso">
                            <span class="text-white font-light text-sm">Semana {{roteiro.semana}}</span>
                        </ng-container>
                        <p-popover #popoverRoteiro styleClass="-mt-1" appendTo="body">
                            <div class="flex align-items-center gap-2">
                                <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda  }"></i>
                                <span class="font-bold text-base">Semana {{roteiro.semana}} - {{roteiro.tema}} </span>
                                <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda  }"></i>
                            </div>
                            <p class="white-space-nowrap"> Do dia {{roteiro.dataInicio | date : 'dd/MM' }} ao dia {{roteiro.dataFim | date : 'dd/MM' }} </p>
                        </p-popover>
                    </th>
                </ng-container>
            </ng-container>
        </tr>
        <!-- Filtros -->
        <tr>
            <th class="pl-6" pFrozenColumn>
                <div class="w-11rem">
                    <p-columnFilter 
                        field="nome"
                        type="text"
                        matchMode="contains"
                        class="w-full p-column-filter-inline"
                        fluid/>
                </div>
            </th>
            <th>
                <div class="w-11rem">
                    <p-columnFilter 
                        field="turma"
                        type="text"
                        matchMode="contains"
                        class="w-full p-column-filter-inline"
                        fluid/>
                </div>
            </th>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros; let i = index;">
                    <th [ngClass]="{ 'bg-red-200 border-red-500': roteiro.recesso === true }">
                        <div *ngIf="!roteiro.recesso">
                            <p-columnFilter 
                                field="turma"
                                type="text"
                                class="p-column-filter-inline"
                                [showMenu]="false"
                                matchMode="equals">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-select [options]="filterStatus"
                                                [ngModel]="value"
                                                inputId="status-{{roteiro.semana}}"
                                                name="status-{{roteiro.semana}}"
                                                placeholder="Selecione"
                                                optionLabel="label"
                                                optionValue="value"
                                                #filterItem
                                                styleClass="w-5rem"
                                                (ngModelChange)="filtrarStatus(filterItem.value, roteiro, dt)"
                                                appendTo="body"
                                                fluid>
                                                <ng-template #selectedItem let-selectedOption>
                                                    <div  *ngIf="selectedOption" class="flex align-items-center gap-2">
                                                        <span class="w-1rem h-1rem border-circle flex-none flex {{selectedOption.styleClass}}"></span>
                                                        <span>{{selectedOption.label}}</span>
                                                    </div>
                                                </ng-template>
                                        <ng-template let-option #item>
                                            <div class="flex align-items-center gap-2">
                                                <span class="w-1rem h-1rem border-circle flex-none flex {{option.styleClass}}"></span>
                                                <span>{{option.label}}</span>
                                            </div>
                                        </ng-template>
                                    </p-select>
                                </ng-template>
                            
                            </p-columnFilter>
                        </div>
                    </th>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #body let-aluno let-i="rowIndex">
        <tr style="height: 46px">
            <td pFrozenColumn
                alignFrozen="left"
                [frozen]="true"
                class="white-space-nowrap px-2 py-1 z-2">
                <div class="flex align-items-center">
                    <span class="mr-2">
                        <p-button icon="pi pi-whatsapp {{!aluno.celular ? 'text-300' : ''}}"
                                    severity="success"
                                    [rounded]="true"
                                    [text]="true"
                                    pTooltip="Enviar mensagem"
                                    (onClick)="enviarMensagem(aluno)"
                                    (auxclick)="enviarMensagem(aluno)"
                                    (contextmenu)="enviarMensagem(aluno)"
                                    [disabled]="!aluno.celular" />
                    </span>
                    <p (click)="showAluno(aluno.id, $event)"
                        class="text-base text-primary-500 hover:underline hover:font-bold cursor-pointer capitalize">
                        <span>{{aluno.nome | nameAbv }}</span>
                    </p>
                    <span class="ml-2">
                        <ng-container *ngTemplateOutlet="aniversarioTemplate; 
                            context: { 
                                    ehAniversario: ehAniversario(hoje, aluno.dataNascimento), 
                                    data: hoje,
                                    aluno: aluno
                            }"></ng-container>
                    </span>
                </div>
            </td>
            <td class="white-space-nowrap px-2 py-1 ">
                <div class="flex align-items-center gap-2">
                    <app-legend-color [corLegenda]="aluno.corLegenda"
                                      [professor_Id]="aluno.professor_Id"
                                      [professor]="aluno.professor"
                                      [turma_Id]="aluno.turma_Id"></app-legend-color>
                    <span>{{aluno.turma}}</span>
                </div>
            </td>
            <ng-container *ngIf="aluno.aulas.length == 0">
                <ng-container *ngFor="let mes of mesesAno">
                    <ng-container *ngFor="let roteiro of mes.roteiros; let i = index;">
                        <td class="p-1 text-center"></td>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let item of aluno.aulas">
                <ng-container *ngIf="!item.participacao.reposicaoDe_Evento_Id">
                    <td class="p-1 text-center"
                        [pTooltip]="dataTooltip"
                        [ngClass]="{
                            'surface-100': !item.show && !item.roteiro.recesso,
                            'bg-red-200 border-red-500': item.roteiro.recesso,
                        }">
                        <ng-template #dataTooltip>
                            <div class="flex w-full">
                                <p class="px-2 flex-1 white-space-nowrap text-center text-xs border-1 border-900 surface-900 border-right-none">
                                    {{item.aula.data | date: 'dd/MM'}} 
                                </p>
                                <p class="px-2 flex-1 white-space-nowrap text-center text-xs border-1 border-900 surface-900">
                                    {{item.aula.data | date: 'HH\'h\'mm'}}
                                </p>
                            </div>
                        </ng-template>
                        <ng-template #dataTemplate>
                            <div class="flex w-full">
                                <p class="px-1 flex-1 bg-white text-center text-sm border-1 border-200 border-top-none border-right-none">
                                    {{item.aula.data | date: 'dd/MM'}} 
                                </p>
                                <p class="px-1 flex-1 bg-white text-center text-sm border-1 border-200 border-top-none">
                                    {{item.aula.data | date: 'HH\'h\'mm'}}
                                </p>
                            </div>
                        </ng-template>
                        <!-- <ng-container *ngTemplateOutlet="aniversarioTemplate; 
                            context: { 
                                    ehAniversario: ehAniversario(item.aula.data, aluno.dataNascimento), 
                                    data: item.aula.data,
                                    aluno: aluno
                            }"></ng-container> -->

                        <ng-container *ngIf="item.show == true">
                            <div (click)="showAula(aluno, item, $event)" class="flex align-items-stretch w-full h-full cursor-pointer">
                                <div class="flex flex-column max-w-full w-max h-full flex-none">
                                    
                                    
                                    <ng-template #alunoContactadoTemplate>
                                        <ng-container *ngIf="item.participacao.presente != true">
                                            <ng-container *ngIf="item.participacao.alunoContactado">
                                                <i class="pi pi-check text-xs" title="Aluno contatado"> </i>
                                            </ng-container>
                                            <ng-container *ngIf="!item.participacao.alunoContactado">
                                                <i class="pi pi-times text-xs" title="Aluno não contatado"></i>
                                            </ng-container>
                                        </ng-container>
                                    </ng-template>
                                    <!-- Cancelada -->
                                    <ng-container *ngIf="item.status == DashboardItemStatus.Cancelada">
                                        <div class="event-status surface-800 border-800">
                                            <span>Cancelada</span>
                                            <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    </ng-container>
                                    <!-- Feriado  -->
                                    <ng-container *ngIf="item.status == DashboardItemStatus.Feriado">
                                        <div class="event-status bg-red-600 border-red-600">
                                            <span>Feriado</span>
                                            <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    </ng-container>
                                    <!-- Reposicao -->
                                    <ng-container *ngIf="item.status == DashboardItemStatus.Reposicao">
                                        <div class="event-status bg-purple-600 border-purple-600">
                                            <span>Reposição</span>
                                            <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    </ng-container>
                                    <!-- Faltou Na Reposição -->
                                    <ng-container *ngIf="item.status == DashboardItemStatus.FaltaNaReposicao">
                                        <div class="event-status bg-blue-500 border-blue-500">
                                            <span>Faltou</span>
                                            <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    </ng-container>
                                    <!-- Faltou na Aula -->
                                    <ng-container *ngIf="item.status == DashboardItemStatus.FaltaNaAula">
                                        <div class="event-status bg-red-500 border-red-500">
                                            <span>Faltou</span>
                                            <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    </ng-container>
                                    <!-- Falta Agendada -->
                                    <ng-container *ngIf="item.status == DashboardItemStatus.FaltaAgendada">
                                        <div class="event-status bg-red-500 border-red-500">
                                            <span>Falta Agendada</span>
                                            <ng-container *ngTemplateOutlet="alunoContactadoTemplate"></ng-container>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    </ng-container>
                                    <!-- Presente na Reposição -->
                                    <ng-container *ngIf="item.status == DashboardItemStatus.PresenteNaReposicao">
                                        <div class="event-status-presente bg-green-300 border-green-300">
                                            <div class="apostila">
                                                <span>{{item.participacao.apostila_Abaco}}</span>
                                                <span> P. {{item.participacao.numeroPaginaAbaco}}</span>
                                            </div>
                                            <div class="apostila">
                                                <span>{{item.participacao.apostila_AH}}</span>
                                                <span> P. {{item.participacao.numeroPaginaAH}}</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <!-- Presente -->
                                    <ng-container *ngIf="item.status == DashboardItemStatus.Presente">
                                        <div class="event-status-presente bg-green-500 border-green-500">
                                            <div class="apostila">
                                                <span>{{item.participacao.apostila_Abaco}}</span>
                                                <span> P. {{item.participacao.numeroPaginaAbaco}}</span>
                                            </div>
                                            <div class="apostila">
                                                <span>{{item.participacao.apostila_AH}}</span>
                                                <span> P. {{item.participacao.numeroPaginaAH}}</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="item.status == DashboardItemStatus.Aula">
                                        <div class="event-status surface-200 border-200">
                                            <span class="opacity-0">Aula normal</span>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    </ng-container>
                                </div>
                                <!-- Primeira Aula -->
                                <div *ngIf="item.aula.id == aluno.primeiraAula_Id"
                                        class="primeira-aula"
                                        pTooltip="Primeira aula"
                                        tooltipPosition="top">
                                    <span>Aula 1</span>
                                </div> 
                            </div>
                        </ng-container>
                    </td>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <ng-container *ngIf="loading">
            <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
        </ng-container>
    </ng-template>
    <ng-template #loadingbody let-columns="columns">
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    </ng-template>
</p-table>
<ng-template #loadingTemplate>
    <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9]; let i = index;">
        <tr style="height: 35px;">
            <td pFrozenColumn>
                <p-skeleton width="13rem" />
            </td>
            <td >
                <p-skeleton width="10rem" />
            </td>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros">
                    <td>
                        <p-skeleton width="6rem" />
                    </td>
                </ng-container>
            </ng-container>
        </tr>
    </ng-container>
</ng-template>
<router-outlet></router-outlet>
<ng-template #aniversarioTemplate
             let-ehAniversario="ehAniversario"
             let-data="data"
             let-aluno="aluno">
    <div *ngIf="ehAniversario"
         class="inline-flex align-items-center justify-content-center"
         [pTooltip]="aniversarioTooltip"
         tooltipPosition="top">
        <i class="bi bi-cake-fill text-pink-500 fadein animation-duration-1000 animation-iteration-infinite"></i>
    </div>
    <ng-template #aniversarioTooltip>
        {{ aluno.nome | firstWord }} faz aniversário de {{getIdade(data, aluno.dataNascimento)}} anos no dia {{aluno.dataNascimento | date : 'dd \'de\' MMMM, EEEE '}}
    </ng-template>
</ng-template>

<ng-template #alunoContactadoTemplate let-item="item" let-aluno="aluno"> 
    @if (!item.participacao.alunoContactado) { 
        
        <p-button
              icon="bi bi-telephone-x"
                label="Contatar"
              pTooltip="Aluno não contatado - Clique para ver mais"
              (onClick)="goToContatoFalta(item)"
              size="small"
              rounded /> 
    } 
    @else { 
        <p-button
            icon="pi pi-check-circle"
            label="Aluno contatado"
            severity="success"
            pTooltip="Aluno contatado - Clique para ver mais"
            (onClick)="alunoContatadoTooltip.toggle($event)"
            [text]="true" /> 
    } 
    <p-popover #alunoContatadoTooltip appendTo="body">
        <div class="w-30rem">
            <p class="flex gap-2 align-items-center mb-3">
                <i class="pi pi-phone text-base line-height-1 text-white p-2 bg-primary-500 border-circle"></i>
                <b class="text-lg">Informações de Contato</b>
            </p>
            <div>
                <p class="flex gap-1 align-items-center">
                    <b>Data do contato:</b>
                    <span>{{ item.participacao.alunoContactado | date : 'dd/MM \'às\' HH:mm' }}</span>
                </p>
                <p class="flex gap-1 align-items-center">
                    <b>Status do contato:</b>
                    <span>{{ getStatus(item) }}</span>
                </p>
                <p class="flex gap-1 align-items-center">
                    <b>Retorno do contato:</b>
                    <span>{{ item.participacao.contatoObservacao }}</span>
                </p>
                <p class="flex gap-1 align-items-center">
                    <b>Motivo falta:</b>
                    <span *ngIf="item.participacao.observacao">{{ item.participacao.observacao }}</span>
                    <span *ngIf="!item.participacao.observacao">Não informada</span>
                </p>
                <div class="mt-2">
                    <p-button label="Editar"
                              icon="pi pi-pen-to-square"
                              rounded
                              (onClick)="goToContatoFalta(item)" />
                </div>
            </div>
        </div>
    </p-popover>
</ng-template>
<!-- 
<ng-template #reposicaoTooltip let-item="item">
    <app-aluno-reposicao-tooltip #reposicaoTooltip
        [evento]="item.aula"
        [reposicaoDe]="item.participacao.reposicaoDe_Evento"
        [reposicaoPara]="item.participacao.reposicaoPara_Evento"
    ></app-aluno-reposicao-tooltip>
</ng-template> -->
