<app-filtro-popover #filtroPopover (applyFilter)="applyFilter($event)"></app-filtro-popover>
<app-aluno-popover #alunoPopover [showChecklist]="true"> </app-aluno-popover>
<app-aula-participacao-popover #selectedAulaComponent></app-aula-participacao-popover>
<p-table [value]="alunos"
            stripedRows
            dataKey="id"
            [showGridlines]="false"
            scrollHeight="flex"
            [scrollable]="true"
            [virtualScroll]="true"
            [virtualScrollItemSize]="46"
            [virtualScrollDelay]="0"
            [loading]="loading"
            [showLoader]="false"
            styleClass="bg-transparent"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Exibindo {first} de {last} de um total de {totalRecords} alunos"
            size="small">
    <ng-template #caption>
        <div class="border-none bg-white p-3 relative z-3 mb-2 shadow-1">
            <div class="p-toolbar-group-start w-full flex align-items-center justify-content-between gap-2">
                <h2 class="flex align-items-center">
                    <i class="bi bi-table mr-3 text-primary-500 text-2xl"></i>
                    <span class="text-2xl font-normal my-0 white-space-nowrap">Monitoramento</span>
                </h2>

                <p-button icon="pi pi-info-circle"
                            label="Ver Legenda"
                            class="ml-auto"
                            [rounded]="true"
                            severity="secondary"
                            (onClick)="legendaPopover.show($event)" />


                <p-button icon="pi pi-sync"
                            (onClick)="update()"
                            severity="contrast"
                            pTooltip="Atualizar monitoramento"
                            tooltipPosition="top"
                            size="small"
                            styleClass="border-4" />

                <p-button label="Ver filtros"
                            icon="pi pi-filter"
                            severity="primary"
                            (onClick)="filtroPopover.toggle($event)"
                            [rounded]="true" />
            </div>
            <app-legenda-popover #legendaPopover></app-legenda-popover>
        </div>
    </ng-template>
    <ng-template #header let-columns>
        <tr pFrozenRow>
            <th rowspan="2"
                pFrozenColumn
                alignFrozen="left"
                [frozen]="true"
                [pSortableColumn]="'nome'"
                class="bg-primary-500 border-bottom-1 border-primary-500 text-white">
                <div class="flex align-items-center">
                    <span>Alunos</span>
                    <p-columnFilter class="ml-auto"
                                    style="color: white"
                                    [type]="'text'"
                                    [field]="'nome'"
                                    display="menu"
                                    [showAddButton]="false"
                                    [showOperator]="false" />
                    <p-sortIcon [field]="'nome'" />
                </div>
            </th>
            <th rowspan="2"
                [pSortableColumn]="'turma'"
                class="bg-primary-500 border-primary-500 text-white">
                <div class="flex align-items-center">
                    <span>Turma</span>
                    <p-columnFilter class="ml-auto"
                                    style="color: white"
                                    [type]="'text'"
                                    [field]="'turma'"
                                    display="menu"
                                    [showAddButton]="false"
                                    [showOperator]="false" />
                    <p-sortIcon [field]="'turma'" />
                </div>
            </th>
            <ng-container *ngFor="let mes of mesesAno; let i = index;">
                <th [colSpan]="mes.roteiros.length"
                    class="surface-700 border-700 text-center"
                    [attr.data-mes]="mes.mes"> 
                    <span class="capitalize text-white font-normal">
                        {{mes.mesString}}
                    </span>
                </th>
            </ng-container>
        </tr>
        <tr>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros; let i = index;">
                    <th class="bg-primary-500 border-primary-500 px-2 capitalize text-center cursor-pointer"
                        (mouseenter)="popoverRoteiro.show($event)"
                        (mouseleave)="popoverRoteiro.hide()">
                            <span class="text-white font-light text-sm">Semana {{roteiro.semana}}</span>
                        <p-popover #popoverRoteiro styleClass="-mt-1" appendTo="body">
                            <div class="flex align-items-center gap-2">
                                <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda  }"></i>
                                <span class="font-bold text-base">Semana {{roteiro.semana}} - {{roteiro.tema}} </span>
                                <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda  }"></i>
                            </div>
                            <p class="white-space-nowrap"> Do dia {{roteiro.dataInicio | date : 'dd/MM' }} ao dia {{roteiro.dataFim | date : 'dd/MM' }} </p>
                        </p-popover>
                    </th>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #body let-aluno let-i="rowIndex">
        <tr style="height: 46px">
            <td pFrozenColumn
                alignFrozen="left"
                [frozen]="true"
                class="white-space-nowrap px-2 py-1 z-2">
                <div class="flex align-items-center">
                    <span class="mr-2">
                        <p-button icon="pi pi-whatsapp {{!aluno.celular ? 'text-300' : ''}}"
                                    severity="success"
                                    [rounded]="true"
                                    [text]="true"
                                    pTooltip="Enviar mensagem"
                                    (onClick)="enviarMensagem(aluno)"
                                    (auxclick)="enviarMensagem(aluno)"
                                    (contextmenu)="enviarMensagem(aluno)"
                                    [disabled]="!aluno.celular" />
                    </span>
                    <p (click)="showAluno(aluno.id, $event)"
                        class="text-base text-primary-500 hover:underline hover:font-bold cursor-pointer capitalize">
                        <span>{{aluno.nome | nameAbv }}</span>
                    </p>
                    <span class="ml-2">
                        <ng-container *ngTemplateOutlet="aniversarioTemplate; 
                            context: { 
                                    ehAniversario: ehAniversario(hoje, aluno.dataNascimento), 
                                    data: hoje,
                                    aluno: aluno
                            }"></ng-container>
                    </span>
                </div>
            </td>
            <td class="white-space-nowrap px-2 py-1 ">
                <span class="w-1rem h-1rem inline-flex border-circle mr-2" [style]="{ backgroundColor: aluno.corLegenda, borderColor: aluno.corLegenda }"></span>
                <span>{{aluno.turma}}</span>
            </td>
            <ng-container *ngIf="aluno.aulas.length == 0">
                <ng-container *ngFor="let mes of mesesAno">
                    <ng-container *ngFor="let roteiro of mes.roteiros; let i = index;">
                        <td class="p-1 text-center"></td>
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-container *ngFor="let item of aluno.aulas">
                <ng-container *ngIf="!item.participacao.reposicaoDe_Evento_Id">
                    <td class="p-1 text-center"
                        [class.surface-100]="!item.show"
                        [class.border-100]="!item.show"
                        [pTooltip]="dataTooltip">
                        <ng-template #dataTooltip>
                            <div class="flex w-full">
                                <p class="px-2 flex-1 white-space-nowrap text-center text-xs border-1 border-900 surface-900 border-right-none">
                                    {{item.aula.data | date: 'dd/MM'}} 
                                </p>
                                <p class="px-2 flex-1 white-space-nowrap text-center text-xs border-1 border-900 surface-900">
                                    {{item.aula.data | date: 'HH\'h\'mm'}}
                                </p>
                            </div>
                        </ng-template>
                        <ng-template #dataTemplate>
                            <div class="flex w-full">
                                <p class="px-1 flex-1 bg-white text-center text-sm border-1 border-200 border-top-none border-right-none">
                                    {{item.aula.data | date: 'dd/MM'}} 
                                </p>
                                <p class="px-1 flex-1 bg-white text-center text-sm border-1 border-200 border-top-none">
                                    {{item.aula.data | date: 'HH\'h\'mm'}}
                                </p>
                            </div>
                        </ng-template>
                        <!-- <ng-container *ngTemplateOutlet="aniversarioTemplate; 
                            context: { 
                                    ehAniversario: ehAniversario(item.aula.data, aluno.dataNascimento), 
                                    data: item.aula.data,
                                    aluno: aluno
                            }"></ng-container> -->

                        
                        <ng-container *ngIf="item.show == true">
                            <div (click)="showAula(aluno, item, $event)" class="flex align-items-stretch w-full h-full cursor-pointer">
                                <div class="flex flex-column max-w-full w-max h-full flex-none">
                                    <!-- Cancelada -->
                                    @if (!item.aula.active && !item.participacao.reposicaoPara_Evento_Id) 
                                    {
                                        <div class="event-status surface-800 border-800">
                                            <span>Cancelada</span>
                                            <i *ngIf="!item.participacao.alunoContactado " class="pi pi-times text-white" ></i>
                                            <i *ngIf="item.participacao.alunoContactado " class="pi pi-check text-white" ></i>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    }
                                    <!-- Reposicao -->
                                    @else if (item.participacao.reposicaoPara_Evento_Id) 
                                    {
                                        <div class="event-status bg-purple-600 border-purple-600">
                                            <span>Reposição</span>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    }
                                    <!-- Falta Na Reposição -->
                                    @else if (item.aula.finalizado === true && item.participacao.presente === false && item.participacao.reposicaoDe_Evento_Id) 
                                    {
                                        <div class="event-status bg-blue-500 border-blue-500">
                                            <span>Falta</span>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    }
                                    <!-- Falta na Aula -->
                                    @else if (item.aula.finalizado === true && item.participacao.presente === false && !item.participacao.reposicaoDe_Evento_Id) 
                                    {
                                        <div class="event-status bg-red-500 border-red-500">
                                            <span>Falta</span>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    }
                                    <!-- Falta Agendada -->
                                    @else if ( item.participacao.presente === false 
                                        && item.participacao.active === false 
                                        && !item.participacao.reposicaoDe_Evento_Id) 
                                    {
                                        <div class="event-status bg-red-500 border-red-500">
                                            <span>Falta Agendada</span>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    }
                                    <!-- Presente na Reposição -->
                                    @else if (item.aula.finalizado === true 
                                        && item.participacao.presente === true 
                                        && item.participacao.reposicaoDe_Evento_Id) 
                                    {
                                        {{item.participacao.reposicaoDe_Evento_Id}}
                                        <div class="event-status-presente bg-green-300 border-green-300">
                                            <div class="apostila">
                                                <span>{{item.participacao.apostila_Abaco}}</span>
                                                <span> P. {{item.participacao.numeroPaginaAbaco}}</span>
                                            </div>
                                            <div class="apostila">
                                                <span>{{item.participacao.apostila_AH}}</span>
                                                <span> P. {{item.participacao.numeroPaginaAH}}</span>
                                            </div>
                                        </div>
                                    }
                                    <!-- Presente -->
                                    @else if (item.aula.finalizado === true && item.participacao.presente === true && !item.participacao.reposicaoDe_Evento_Id) 
                                    {
                                        <div class="event-status-presente bg-green-500 border-green-500">
                                            <div class="apostila">
                                                <span>{{item.participacao.apostila_Abaco}}</span>
                                                <span> P. {{item.participacao.numeroPaginaAbaco}}</span>
                                            </div>
                                            <div class="apostila">
                                                <span>{{item.participacao.apostila_AH}}</span>
                                                <span> P. {{item.participacao.numeroPaginaAH}}</span>
                                            </div>
                                        </div>
                                    }
                                    @else 
                                    {

                                        <div class="event-status surface-200 border-200">
                                            <span class="opacity-0">Aula normal</span>
                                        </div>
                                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                    }
                                </div>
                                <!-- Primeira Aula -->
                                <div *ngIf="item.aula.id == aluno.primeiraAula_Id"
                                        class="primeira-aula"
                                        pTooltip="Primeira aula"
                                        tooltipPosition="top">
                                    <span>Aula 1</span>
                                </div> 
                            </div>
                        </ng-container>
                    </td>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <ng-container *ngIf="loading">
            <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
        </ng-container>
    </ng-template>
    <ng-template #loadingbody let-columns="columns">
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    </ng-template>
</p-table>
<ng-template #loadingTemplate>
    <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13]; let i = index;">
        <tr style="height: 35px;">
            <td pFrozenColumn>
                <div class="flex align-items-center gap-2">
                    <p-skeleton width="15rem" height="1rem" />
                </div>
            </td>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros">
                    <td>
                        <p-skeleton height="1rem" width="6rem" />
                    </td>
                </ng-container>
            </ng-container>
        </tr>
    </ng-container>
</ng-template>
<ng-template #aniversarioTemplate
             let-ehAniversario="ehAniversario"
             let-data="data"
             let-aluno="aluno">
    <div *ngIf="ehAniversario"
         class="inline-flex align-items-center justify-content-center"
         [pTooltip]="aniversarioTooltip"
         tooltipPosition="top">
        <i class="bi bi-cake-fill text-pink-500 fadein animation-duration-1000 animation-iteration-infinite"></i>
    </div>
    <ng-template #aniversarioTooltip>
        {{ aluno.nome | firstWord }} faz aniversário de {{getIdade(data, aluno.dataNascimento)}} anos no dia {{aluno.dataNascimento | date : 'dd \'de\' MMMM, EEEE '}}
    </ng-template>
</ng-template>
<router-outlet></router-outlet>