<app-aluno-checklist-dialog #alunoChecklistDialog
                            [aluno]="aluno"
                            [loading]="loadingAluno"></app-aluno-checklist-dialog>
<p-popover #popover
           appendTo="body"
           [dismissable]="true"
           styleClass="mt-2">
    <p-card *ngIf="!aluno && loadingAluno"
            [style]="{ width: '22rem', overflow: 'hidden' }"
            styleClass="shadow-none">
        <section >
            <div class="flex mb-4">
                <p-skeleton width="20rem" height="10rem" />
            </div>
            <div class="flex mb-2">
                <p-skeleton width="20rem" height="1.5rem" />
            </div>
            <div class="flex justify-content-between gap-2 mb-4">
                <p-skeleton size="1.5rem" shape="circle" />
                <p-skeleton width="18rem" height="1rem" />
            </div>
            <div class="flex justify-content-between gap-2 mb-2">
                <p-skeleton width="15rem" height="1rem" />
                <p-skeleton width="4.5rem" height="1rem" />
            </div>
            <div class="flex justify-content-between gap-2 mb-2">
                <p-skeleton width="15rem" height="1rem" />
                <p-skeleton width="4.5rem" height="1rem" />
            </div>
            <div class="flex justify-content-between mb-2">
                <p-skeleton width="20rem" height="1rem" />
            </div>
        </section>
        <ng-template #footer>
            <div class="flex gap-3 mt-1 -mx-2">
                <p-button label="Fechar"
                          severity="secondary"
                          class="w-full"
                          [outlined]="true"
                          styleClass="w-full"
                          (onClick)="hide()" />
                <p-skeleton width="10rem" height="2.3rem" />
            </div>
        </ng-template>
    </p-card>
    <p-card *ngIf="aluno"
            [style]="{ width: '22rem', overflow: 'hidden' }"
            styleClass="shadow-none">
        <ng-template #header>
            <ng-container *ngIf="loadingFoto">
                <p-skeleton width="22rem" height="12rem" />
            </ng-container>
            <ng-container *ngIf="!loadingFoto">
                <div class="w-full h-12rem surface-50 overflow-hidden flex align-items-center justify-content-center">
                    <p-image *ngIf="foto"
                             [src]="foto"
                             [preview]="true"
                             alt="Image"
                             appendTo="body"
                             styleClass="w-full h-auto">
                        <ng-template #indicator>
                            <i class="pi pi-search"></i>
                        </ng-template>
                        <ng-template #image>
                            <img [src]="foto" alt="image" class="w-full h-auto" />
                        </ng-template>
                        <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                            <img [src]="foto" alt="image" class="w-full h-auto" [style]="style" (click)="previewCallback()" />
                        </ng-template>
                    </p-image>
                    <i *ngIf="!foto && !loadingFoto" class="pi pi-user text-3xl text-400"></i>
                    <i *ngIf="!foto && loadingFoto" class="pi pi-spin pi-spinner text-2xl text-400"></i>
                </div>
            </ng-container>
        </ng-template>
        <ng-template #title>
            <p class="text-primary-500 font-bold capitalize">{{ aluno.nome | nameAbv }}</p>
        </ng-template>
        <ng-template #subtitle>
            <p class="flex align-items-center">
                <span class="w-1rem h-1rem inline-flex border-circle mr-2" [style]="{ backgroundColor: aluno.corLegenda }"></span>
                <span><b>Turma: </b>{{ aluno.turma }} </span>
            </p>
        </ng-template>
        <section class="-mx-1">
            <p *ngIf="aluno.apostila_Abaco">
                <b>Apostila Ábaco: </b>
                <span>{{ aluno.apostila_Abaco }}</span>
                <span> / </span>
                <b>Página: </b>
                <span>{{ aluno.numeroPaginaAbaco }}</span>
            </p>
            <p *ngIf="aluno.apostila_AH">
                <b>Apostila AH: </b>
                <span>{{ aluno.apostila_AH }}</span>
                <span> / </span>
                <b>Página: </b>
                <span>{{ aluno.numeroPaginaAH }}</span>
            </p>
            <p class="gap-1 flex align-items-center">
                <b class="white-space-nowrap" *ngIf="showChecklist">Jornada Supera: </b>
                <app-aluno-checklist #alunoChecklist
                                     [aluno]="aluno"
                                     [aluno_Id]="aluno_Id"
                                     [showChecklist]="showChecklist"></app-aluno-checklist>
            </p>
        </section>
        <ng-template #footer>
            <div class="flex gap-3 mt-1 -mx-2 -mb-2">
                <p-button label="Fechar"
                          severity="secondary"
                          class="w-full"
                          [outlined]="true"
                          styleClass="w-full"
                          (onClick)="hide()" />
                <!-- <p-button label="Opções"
                          severity="primary"
                          icon="bi bi-chevron-down"
                          iconPos="right"
                          class="w-full"
                          styleClass="w-full"
                          (onClick)="hide()" />
                <p-popover #menuPopover>

                </p-popover> -->
                <p-select value="'Opções'"
                          [options]="menuItems"
                          [styleClass]="'p-select-aluno-menu p-select-small'"
                          appendTo="body"
                          dropdownIcon="bi bi-chevron-down text-white mt-1 mr-2"
                          optionLabel="label"
                          (onChange)="menuItemChanged($event)"
                        [overlayOptions]="{ styleClass: 'p-select-aluno-menu-overlay' }">
                    <ng-template let-selectedOption #selectedItem>
                        <div class="text-white -mr-2 text-center text-base">Opções</div>
                    </ng-template>
                    <ng-template let-item #item>
                        <div class="{{item.styleClass}} -mx-2 -my-2 border-round-lg px-3 py-2 w-13rem">
                            <i [class]="item.icon"></i>
                            <a class="ml-2">{{ item.label }}</a>
                        </div>
                    </ng-template>
                </p-select>
            </div>
        </ng-template>
    </p-card>
</p-popover>