<p-accordion [(value)]="activeIndexAluno" [selectOnFocus]="false">
    <ng-container *ngFor="let participacao of evento.alunos; let i = index">
        <p-accordion-panel [value]="i">
            <p-accordion-header class="surface-50 shaddow-3">
                <div class="flex align-items-center w-full capitalize pr-3">
                    <div>
                        <div class="flex align-items-center w-full capitalize pr-3">
                            <p-button type="button"
                                      (onClick)="$event.stopPropagation(); enviarMensagem(participacao)"
                                      [disabled]="!participacao.celular"
                                      icon="pi pi-whatsapp {{!participacao.celular ? 'text-300' : ''}}"
                                      severity="success"
                                      size="small"
                                      [text]="true" />
                            <p class="white-space-nowrap overflow-hidden text-overflow-ellipsis" [pTooltip]="participacao.aluno">
                                {{ participacao.aluno | nameAbv }}
                            </p>
                        </div>
                        <div class="ml-5">
                            <app-evento-participacao-status [evento]="evento"
                                                            [participacao]="participacao"
                                                            [reposicaoDe]="participacao.reposicaoDe_Evento"
                                                            [reposicaoPara]="participacao.reposicaoPara_Evento"
                                                            [primeiraAula_Id]="participacao.primeiraAula_Id" />
                        </div>
                    </div>
                    <div class="flex align-items-center gap-2 ml-auto">
                        <!-- Presente -->
                        <ng-container *ngIf="!participacao.reposicaoPara_Evento_Id && participacao.active">
                            <ng-container *ngIf="participacao.presente === true && activeIndexAluno != i">
                                <div>
                                    <p class="text-xs line-height-3 font-normal white-space">
                                        {{participacao.apostila_Abaco}} - pág. {{participacao.numeroPaginaAbaco}}
                                    </p>
                                    <p class="text-xs line-height-3 font-normal white-space">
                                        {{participacao.apostila_AH}} - pág. {{participacao.numeroPaginaAH}}
                                    </p>
                                </div>
                            </ng-container>
                            <p-button
                                      type="button"
                                      *ngIf="participacao.presente === false"
                                      (onClick)="$event.stopPropagation(); enviarMensagemFalta(participacao, $event)"
                                      [disabled]="!participacao.celular"
                                      icon="pi pi-whatsapp {{!participacao.celular ? 'text-300' : ''}}"
                                      severity="success"
                                      pTooltip="Enviar mensagem de falta"
                                      [text]="true"
                                      size="small" />
                            <p-button
                                      [disabled]=" readonly"
                                      [severity]="participacao.presente == true ? 'success' : participacao.presente == false ? 'danger' : 'secondary'"
                                      [label]="participacao.presente === true ? 'Presente' : participacao.presente === false ? 'Faltou' : 'Marcar presença'"
                                      [icon]="participacao.presente === true ? 'pi pi-check text-xs' : 'pi pi-times text-xs' "
                                      [outlined]="participacao.presente == undefined || participacao.presente === null"
                                      size="small"
                                      styleClass="text-xs"
                                      (onClick)="$event.stopPropagation(); presente(participacao)" />
                        </ng-container>
                        <!-- AlunoContatado -->
                        <ng-container *ngIf="participacao.reposicaoPara_Evento_Id || !participacao.active">
                            <p-button
                                      *ngIf="!participacao.alunoContactado"
                                      class="ml-auto"
                                      type="button"
                                      (onClick)="$event.stopPropagation(); enviarMensagemFalta(participacao, $event)"
                                      [disabled]="!participacao.celular || readonly"
                                      icon="pi pi-whatsapp {{!participacao.celular ? 'text-300' : ''}}"
                                      severity="success"
                                      pTooltip="Enviar mensagem de falta"
                                      [text]="true"
                                      size="small" />
                            <p-button
                                      [disabled]=" readonly"
                                      [severity]="participacao.alunoContactado ? 'warn' : 'danger'"
                                      [label]="participacao.alunoContactado ? 'Contatado' : 'Não contatado'"
                                      (onClick)="$event.stopPropagation(); contatoToggle(participacao)"
                                      [styleClass]="participacao.alunoContactado ? 'bg-yellow-500 border-yellow-500' : ''"
                                      [icon]="participacao.alunoContactado ? 'pi pi-check text-xs' : 'pi pi-times text-xs' "
                                      [pTooltip]="participacao.alunoContactado ? 'Contato realizado em' +(participacao.alunoContactado | date : 'dd/MM/yyyy HH:mm') : ''"
                                      size="small"
                                      styleClass="text-xs" />
                        </ng-container>
                    </div>
                </div>
            </p-accordion-header>
            <p-accordion-content>
                <div class="mt-3">
                    <ng-container *ngIf="!participacao.reposicaoPara_Evento_Id && participacao.active">
                        <div class="formgrid grid">
                            <div class="field sm:col-4 col-9">
                                <label for="apostilaAbaco_Id[{{i}}]"> Ábaco: <span *ngIf="participacao.presente !== false" class="text-red-500">*</span>
                                </label>
                                <ng-container *ngTemplateOutlet="apostilaAbacoTemplate; context: { participacao, rowIndex: i }"></ng-container>
                            </div>
                            <div class="field sm:col-2 col-3">
                                <label for="apostilaAbaco_Id[{{i}}]"> Página: <span *ngIf="participacao.presente !== false" class="text-red-500">*</span>
                                </label>
                                <div style="height: 33px">
                                    <ng-container *ngTemplateOutlet="paginaAbacoTemplate; context: { participacao, rowIndex: i }"></ng-container>
                                </div>
                            </div>
                            <div class="field sm:col-4 col-9">
                                <label for="apostilaAH_Id[{{i}}]"> AH: <span *ngIf="participacao.presente !== false" class="text-red-500">*</span>
                                </label>
                                <ng-container *ngTemplateOutlet="apostilaAHTemplate; context: { participacao, rowIndex: i }"></ng-container>
                            </div>
                            <div class="field sm:col-2 col-3">
                                <label for="apostilaAH_Id[{{i}}]"> Página: <span *ngIf="participacao.presente !== false" class="text-red-500">*</span>
                                </label>
                                <div style="height: 33px">
                                    <ng-container *ngTemplateOutlet="paginaAHTemplate; context: { participacao, rowIndex: i }"></ng-container>
                                </div>
                            </div>
                            <div class="field col-12">
                                <label for="observacoes[{{i}}]"> Observações da aula: </label>
                                <div style="height: 60px">
                                    <ng-container *ngTemplateOutlet="observacoesTemplate; context: { participacao, rowIndex: i }"></ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="participacao.reposicaoPara_Evento_Id || !participacao.active">
                        <div class="formgrid grid">
                            <div class="field xs:col-6 col-12">
                                <label for="alunoContactado[{{i}}]"> Data do contato: </label>
                                <ng-container *ngTemplateOutlet="dataContatoTemplate; context: { participacao, i }"></ng-container>
                            </div>
                            <div class="field xs:col-6 col-12">
                                <label for="statusContato_Id[{{i}}]"> Status do contato: <span class="text-red-500" *ngIf="participacao.alunoContactado">*</span>
                                </label>
                                <ng-container *ngTemplateOutlet="statusContatoTemplate; context: { participacao, rowIndex: i }"></ng-container>
                            </div>
                            <div class="field col-12">
                                <label for="contatoObservacao[{{i}}]"> Observações de contato: <span class="text-red-500" *ngIf="participacao.alunoContactado">*</span>
                                </label>
                                <div style="height: 60px">
                                    <ng-container *ngTemplateOutlet="observacoesContatoTemplate; context: { participacao, rowIndex: i }"></ng-container>
                                </div>
                            </div>
                            <div class="field col-12">
                                <label for="observacoes[{{i}}]"> Observações da aula: </label>
                                <div style="height: 60px">
                                    <ng-container *ngTemplateOutlet="observacoesTemplate; context: { participacao, rowIndex: i }"></ng-container>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </ng-container>
</p-accordion>
<ng-template #dataContatoTemplate let-participacao="participacao" let-rowIndex="rowIndex">
    <p-datePicker
                  inputId="alunoContactado[{{rowIndex}}]"
                  name="alunoContactado[{{rowIndex}}]"
                  [(ngModel)]="participacao.alunoContactado"
                  [showIcon]="true"
                  [disabled]="readonly"
                  dateFormat="dd/mm/yy"
                  hourFormat="24"
                  iconDisplay="input"
                  appendTo="body"
                  fluid />
</ng-template>
<ng-template #statusContatoTemplate let-participacao="participacao" let-rowIndex="rowIndex">
    <p-select
              [options]="statusContato"
              [(ngModel)]="participacao.statusContato_Id"
              name="statusContato_Id[{{rowIndex}}]"
              inputId="statusContato_Id[{{rowIndex}}]"
              [required]="participacao.alunoContactado"
              [readonly]="readonly"
              [dropdownIcon]="readonly ? 'pi hidden' : 'pi pi-angle-down'"
              appendTo="body"
              fluid />
</ng-template>
<ng-template #observacoesContatoTemplate let-participacao="participacao" let-rowIndex="rowIndex">
    <textarea pTextarea
              [(ngModel)]="participacao.contatoObservacao"
              name="contatoObservacao[{{rowIndex}}]"
              id="contatoObservacao[{{rowIndex}}]"
              style="resize: vertical;"
              [required]="participacao.alunoContactado"
              [readonly]="readonly"
              class="h-full"
              fluid></textarea>
</ng-template>
<ng-template #observacoesTemplate let-participacao="participacao" let-rowIndex="rowIndex">
    <textarea pTextarea
              [(ngModel)]="participacao.observacoes"
              name="observacoes[{{rowIndex}}]"
              id="observacoes[{{rowIndex}}]"
              style="resize: vertical;"
              [readonly]="readonly"
              class="h-full"
              fluid></textarea>
</ng-template>
<ng-template #apostilaAbacoTemplate let-participacao="participacao" let-rowIndex="rowIndex">
    <p-select [options]="participacao.apostilasAbacoList"
              (onChange)="apostilaAbacoChange(participacao, $event)"
              (onFocus)="apostilaAbacoClick(participacao)"
              autocomplete="off"
              [(ngModel)]="participacao.apostilaAbacoObject"
              #apostila_Abaco="ngModel"
              name="apostila_Abaco[{{ rowIndex }}]"
              inputId="apostila_Abaco[{{ rowIndex }}]"
              optionLabel="nome"
              [required]="true"
              filterBy="nome"
              appendTo="body"
              placeholder="Selecione"
              styleClass="{{ participacao.presente === false || readonly ? 'pointer-events-none p-select-no-dropdown' : '' }}"
              [required]="participacao.presente === true"
              [readonly]="participacao.presente === false || readonly"
              [dropdownIcon]="participacao.presente === false || readonly ? 'pi hidden' : 'pi pi-angle-down'"
              fluid />
</ng-template>
<ng-template #apostilaAHTemplate let-participacao="participacao" let-rowIndex="rowIndex">
    <p-select [options]="participacao.apostilasAHList"
              (onChange)="apostilaAHChange(participacao, $event)"
              (onFocus)="apostilaAHClick(participacao)"
              [(ngModel)]="participacao.apostilaAHObject"
              #apostila_AH="ngModel"
              name="apostila_AH[{{ rowIndex }}]"
              inputId="apostila_AH[{{ rowIndex }}]"
              optionLabel="nome"
              [required]="true"
              filterBy="nome"
              appendTo="body"
              placeholder="Selecione"
              styleClass="{{ participacao.presente === false || readonly ? 'pointer-events-none p-select-no-dropdown' : '' }}"
              [required]="participacao.presente === true"
              [readonly]="participacao.presente === false || readonly"
              [dropdownIcon]="participacao.presente === false || readonly ? 'pi hidden' : 'pi pi-angle-down'"
              fluid />
</ng-template>
<ng-template #paginaAHTemplate let-participacao="participacao" let-rowIndex="rowIndex">
    <p-inputnumber [(ngModel)]="participacao.numeroPaginaAH"
                   inputId="numeroPaginaAH[{{ rowIndex }}]"
                   name="numeroPaginaAH[{{ rowIndex }}]"
                   (onFocus)="inputFocus(participacao)"
                   (onInput)="numeroPaginaAHChange(participacao, $event, numeroPaginaAH)"
                   autocomplete="off"
                   #numeroPaginaAH="ngModel"
                   #apostilaAHInput
                   [min]="0"
                   [max]="participacao.apostilaAHObject?.numeroTotalPaginas"
                   [step]="0"
                   inputStyleClass="h-full text-center"
                   class="h-full"
                   [required]="participacao.presente === true"
                   [readonly]="participacao.presente === false || readonly"
                   fluid />
</ng-template>
<ng-template #paginaAbacoTemplate let-participacao="participacao" let-rowIndex="rowIndex">
    <p-inputnumber [(ngModel)]="participacao.numeroPaginaAbaco"
                   inputId="numeroPaginaAbaco[{{ rowIndex }}]"
                   name="numeroPaginaAbaco[{{ rowIndex }}]"
                   #numeroPaginaAbaco="ngModel"
                   #apostilaAbacoInput
                   (onFocus)="inputFocus(participacao)"
                   (onBlur)="numeroPaginaAbacoChange(participacao, $event, numeroPaginaAbaco)"
                   autocomplete="off"
                   [min]="0"
                   [max]="participacao.apostilaAbacoObject?.numeroTotalPaginas"
                   [step]="0"
                   inputStyleClass="h-full text-center"
                   class="h-full"
                   [required]="participacao.presente === true"
                   [readonly]="participacao.presente === false || readonly"
                   fluid />
</ng-template>