<p-contextmenu #cm
               [model]="tableMenu"
               (onHide)="tableSelectedItem = null"
               appendTo="body"
               triggerEvent="onclick" />
<app-confirm-dialog></app-confirm-dialog>
<app-aluno-popover #popoverAluno></app-aluno-popover>
<div class="px-3 pb-4 bg-white">
    <p-table
             #dt
             [value]="list"
             [rows]="50"
             [rowsPerPageOptions]="[50, 100, 1000]"
             [paginator]="list.length > 50"
             [columns]="tableColumns"
             [globalFilterFields]="tableGlobalFilterFields"
             dataKey="id"
             stripedRows
             [loading]="tableLoading"
             [showLoader]="false"
             [rowHover]="list.length > 0">
        <ng-template #caption>
            <p-toolbar styleClass="border-none bg-white py-2 px-2 -mx-3 ">
                <div class="p-toolbar-group-start">
                    <h2 class="flex align-items-center">
                        <i class="fa-solid fa-user-graduate mr-3 text-primary text-2xl"></i>
                        <span class="text-2xl font-normal my-0 fadein">Alunos</span>
                    </h2>
                </div>
                <div class="p-toolbar-group-center"></div>
                <div class="p-toolbar-group-end items-stretch">
                    <div class="flex align-items-strech fadein">
                        <p-iconfield class="mr-2">
                            <p-inputicon styleClass="pi pi-search" />
                            <input type="text"
                                   pInputText
                                   #_tableSearch="ngModel"
                                   [(ngModel)]="tableSearch"
                                   id="search"
                                   name="search"
                                   (input)="dt.filterGlobal(tableSearch, 'contains')"
                                   placeholder="Pesquisar" />
                        </p-iconfield>
                        <p-button icon="pi pi-filter-slash text-sm text-white"
                                  (onClick)="clear(dt)"
                                  severity="secondary"
                                  [text]="true"
                                  pTooltip="Limpar filtro"
                                  tooltipPosition="top"
                                  class="mr-2"
                                  styleClass="h-full bg-black-alpha-80 fadein" />
                        <p-button icon="pi pi-sync text-sm text-white"
                                  (onClick)="update()"
                                  severity="secondary"
                                  [text]="true"
                                  pTooltip="Atualizar alunos"
                                  tooltipPosition="top"
                                  class="mr-2"
                                  styleClass="h-full bg-black-alpha-80 fadein" />
                    </div>
                </div>
            </p-toolbar>
        </ng-template>
        <ng-template #header>
            <tr class="fadein">
                <ng-container *ngFor="let col of tableColumns">
                    <ng-container *ngIf="col.frozen === true">
                        <th pFrozenColumn [pSortableColumn]="col.field">
                            <div class="flex align-items-center gap-4">
                                <span >{{col.label}}</span>
                                <p-sortIcon *ngIf="col.sortable" [field]="col.field" />
                            </div>
                        </th>
                    </ng-container>
                    <ng-container *ngIf="!col.frozen">
                        <th [pSortableColumn]="col.field">
                            <div class="flex align-items-center gap-4">
                                <span >{{col.label}}</span>
                                <p-sortIcon *ngIf="col.sortable" [field]="col.field" />
                            </div>
                        </th>
                    </ng-container>
                </ng-container>
                <th pFrozenColumn [alignFrozen]="'right'"></th>
            </tr>
            <tr>
                <ng-container *ngFor="let col of tableColumns">
                    <ng-container *ngIf="col.frozen === true">
                        <th pFrozenColumn class=" z-1">
                            <ng-container *ngTemplateOutlet="colFilterTemplate; context: { col: col }"></ng-container>
                        </th>
                    </ng-container>
                    <ng-container *ngIf="!col.frozen">
                        <th>
                            <ng-container *ngTemplateOutlet="colFilterTemplate; context: { col: col }"></ng-container>
                        </th>
                    </ng-container>
                    <ng-template #colFilterTemplate>
                        <ng-container *ngIf="col.filterType != FilterType.none">
                            <!-- ColumnFilter -->
                            <p-columnFilter 
                                [field]="col.field"
                                [type]="col.filterOptions?.type ?? 'text'"
                                [matchMode]="col.filterOptions?.matchMode ?? 'contains'"
                                class="p-column-filter-inline">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-iconfield [class.filter-icon-field]="col.filterOptions && col.filterOptions.icon">
                                        <ng-container *ngIf="col.filterOptions">
                                            <!-- IconField -->
                                            <ng-container *ngIf="col.filterOptions.icon">
                                                <p-inputicon styleClass="{{col.filterOptions.icon}}" />
                                            </ng-container>
                                            <!-- Field -->
                                            <ng-container *ngIf="col.filterOptions.primeElement == 'inputtext'">
                                                <input  pInputText
                                                        [(ngModel)]="col.filterOptions.value"
                                                        [email]="col.filterOptions.primeElementOptions.email"
                                                        [id]="col.field"
                                                        [name]="col.field"
                                                        [placeholder]="col.filterOptions.primeElementOptions.placeholder ?? 'Filtrar'"
                                                        (keydown.enter)="filter(col.filterOptions.value)"
                                                        (onBlur)="filter(col.filterOptions.value)"
                                                        style="min-width: 5rem;"
                                                        fluid>
                                            </ng-container>
                                            <ng-container *ngIf="col.filterOptions.primeElement == 'inputnumber'">
                                                <p-inputnumber 
                                                [showButtons]="true"
                                                [step]="1"
                                                [useGrouping]="false"
                                                [(ngModel)]="col.filterOptions.value"
                                                [id]="col.field"
                                                [name]="col.field"
                                                [placeholder]="col.filterOptions.primeElementOptions.placeholder ?? 'Filtrar'"
                                                (keydown.enter)="filter(col.filterOptions.value)"
                                                (onBlur)="filter(col.filterOptions.value)"
                                                [style]="{'min-width': '7rem'}"
                                                [suffix]="col.filterOptions.primeElementOptions.suffix ?? ''"
                                                [prefix]="col.filterOptions.primeElementOptions.prefix ?? ''"
                                                fluid
                                                 />

                                            </ng-container>
                                            <ng-container *ngIf="col.filterOptions.primeElement == 'inputmask'">
                                                <p-inputmask 
                                                        [mask]="col.filterOptions.primeElementOptions.format" 
                                                        [unmask]="true"
                                                        [(ngModel)]="col.filterOptions.value" 
                                                        [inputId]="col.field"
                                                        [name]="col.field"
                                                        [placeholder]="col.filterOptions.primeElementOptions.placeholder ?? 'Filtrar'"
                                                        (keydown.enter)="filter(col.filterOptions.value)"
                                                        (onComplete)="filter(col.filterOptions.value)"
                                                        (onBlur)="filter(col.filterOptions.value)"/>
                                            </ng-container>
                                            <ng-container *ngIf="col.filterOptions.primeElement == 'datepicker'">
                                                    <p-datepicker 
                                                        appendTo="body"
                                                        [showIcon]="col.filterOptions.primeElementOptions.showIcon"
                                                        [iconDisplay]="'input'"
                                                        [dateFormat]="col.filterOptions.primeElementOptions.format"
                                                        [inputId]="col.field"
                                                        [name]="col.field"
                                                        [(ngModel)]="col.filterOptions.value"
                                                        [placeholder]="col.filterOptions.primeElementOptions.placeholder ?? 'Filtrar'"
                                                        class="w-full"
                                                        styleClass="w-full"
                                                        inputStyleClass="w-10rem"
                                                        [timeOnly]="col.filterOptions.primeElementOptions.timeOnly"
                                                        [showTime]="col.filterOptions.primeElementOptions.showTime"
                                                        [hourFormat]="col.filterOptions.primeElementOptions.hourFormat"
                                                        (keydown.enter)="filter(col.filterOptions.value)"
                                                        (onChange)="filter(col.filterOptions.value)"
                                                        (onSelect)="filter(col.filterOptions.value)"
                                                        >
                                                        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                                                        <i class="{{col.filterOptions.primeElementOptions.icon}}" (click)="clickCallBack($event)"></i>
                                                    </ng-template>
                                                </p-datepicker>
                                                
                                            </ng-container>
                                            <ng-container *ngIf="col.filterOptions.primeElement == 'select'">
                                                    <p-select 
                                                        [options]="col.filterOptions.primeElementOptions.options" 
                                                        [(ngModel)]="col.filterOptions.value" 
                                                        [inputId]="col.field"
                                                        [name]="col.field"
                                                        [placeholder]="col.filterOptions.primeElementOptions.placeholder ?? 'Filtrar'" 
                                                        optionLabel="label"
                                                        optionValue="value"
                                                        (onChange)="filter(col.filterOptions.value)"
                                                        appendTo="body" >
                                                        <ng-template let-option #item>
                                                            <p-button *ngIf="option.severity" 
                                                                    [icon]="option.icon"
                                                                    [label]="option.label"
                                                                    [severity]="option.severity ?? 'secondary'"/>
    
                                                                <div *ngIf="!option.severity" class="flex align-items-center gap-2">
                                                                    <i *ngIf="option.icon" class="{{option.icon}}"></i>
                                                                    <span>{{option.label}}</span>
                                                                </div>
                                                            </ng-template>
                                                    </p-select>
                                            </ng-container>
                                            <ng-container *ngIf="col.filterOptions.primeElement == 'multiselect'">
                                                <p-multiselect 
                                                            [options]="col.filterOptions.primeElementOptions.options" 
                                                            [(ngModel)]="col.filterOptions.value" 
                                                            [inputId]="col.field"
                                                            [name]="col.field"
                                                            [placeholder]="col.filterOptions.primeElementOptions.placeholder ?? 'Filtrar'" 
                                                            optionLabel="label"
                                                            optionValue="value"
                                                            (onChange)="filter(col.filterOptions.value)"
                                                            appendTo="body" >
                                                        <ng-template let-option #item>
                                                            <p-button *ngIf="option.severity" 
                                                                    [icon]="option.icon"
                                                                    [label]="option.label"
                                                                    [severity]="option.severity ?? 'secondary'"/>
    
                                                                <div *ngIf="!option.severity" class="flex align-items-center gap-2">
                                                                    <i *ngIf="option.icon" class="{{option.icon}}"></i>
                                                                    <span>{{option.label}}</span>
                                                                </div>
                                                            </ng-template>
                                                    </p-multiselect>
                                            </ng-container>
                                            <ng-container *ngIf="col.filterOptions.primeElement == 'toggleswitch'">
                                                <p-toggleswitch 
                                                    #toggleSwitch
                                                    [(ngModel)]="col.filterOptions.value"
                                                    [inputId]="col.field"
                                                    [name]="col.field"
                                                    (onChange)="filter(col.filterOptions.value)">
                                                </p-toggleswitch>
                                            </ng-container>
                                        </ng-container>
                                    </p-iconfield>
                                </ng-template>
                            </p-columnFilter>
                        </ng-container>
                    </ng-template>
                </ng-container>

                <th pFrozenColumn alignFrozen="right"></th>
            </tr>
        </ng-template>
        <ng-template #body let-item let-index="rowIndex">
            <tr class="white-space-nowrap fadein" pAnimateOnScroll>
                
                <td pFrozenColumn alignFrozen="left">
                    <div class="flex align-items-center gap-2">
                        <p-button type="button"
                            icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                            severity="success"
                            [disabled]="!item.celular"
                            [text]="true"
                            [rounded]="true"
                            pTooltip="Enviar mensagem"
                            (onClick)="enviarMensagem(item)"
                            (auxclick)="enviarMensagem(item)"
                            (contextmenu)="enviarMensagem(item)"
                        />
                         
                        <span class="capitalize hover:underline hover:text-primary-500 hover:font-bold cursor-pointer"
                              pTooltip="{{item.nome}}"
                              tooltipPosition="top"
                              (click)="showPopoverAluno(item, $event)">{{ item.nome | nameAbv }}</span>

                        <i *ngIf="item.ehAniversario" 
                            pTooltip="{{item.nome | firstWord}} faz aniversário dia {{item.dataNascimento | date : 'dd \'de\' MMMM'}}"
                            class="bi bi-cake-fill text-pink-500 fadein"></i>
                    </div>
                </td>
                <td>
                    <div class="flex align-items-center gap-2">
                        <span class="w-1rem h-1rem inline-flex border-circle"
                              [style]="{ 
                                    backgroundColor: item.corLegenda, 
                                    borderColor: item.corLegenda 
                                }"></span>
                        <span>{{item.turma}}</span>
                    </div>
                </td>
                <td>
                    {{item.perfilCognitivo}}
                </td>
                <td>
                    <ng-container *ngIf="item.idade">
                        <span pTooltip="{{item.nome | firstWord }} nasceu em {{item.dataNascimento | date : 'dd \'de\' MMMM \'de\' yyyy'}}">{{item.idade}} anos</span>
                    </ng-container>
                </td>
                <td>
                    {{item.kit}}
                </td>
                <td>
                    {{item.apostila_Abaco}}
                </td>
                <td>
                    {{item.numeroPaginaAbaco}}
                </td>
                <td>
                    {{item.apostila_AH}}
                </td>
                <td>
                    {{item.numeroPaginaAH}}
                </td>
                <td class="w-5rem">
                    <ng-container *ngIf="item.active">
                        <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                               icon="pi pi-check mr-2 text-xs"
                               value="Ativo"
                               severity="success"
                               [pTooltip]="'Ativo'" />
                    </ng-container>
                    <ng-container *ngIf="!item.active">
                        <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                               icon="pi pi-times mr-2 text-xs"
                               value="Inativo"
                               severity="danger"
                               [pTooltip]=" 'Inativo desde ' + (item['deactivated'] | date : 'dd/MM/yyyy HH:mm')" />
                    </ng-container>
                </td>
                <td pFrozenColumn
                    alignFrozen="right">
                    <p-button
                              [icon]="cm.visible() && tableSelectedItem.id == item.id ? 'pi pi-times' : 'pi pi-cog'"
                              [severity]="'secondary'"
                              [rounded]="true"
                              title="Ver mais"
                              styleClass="bg-transparent border-transparent {{index % 2 == 0 ? 'hover:surface-100' : 'hover:surface-50'}} hover:text-primary-500 hover:shadow-4"
                              (onClick)="showContextMenu($event, item)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #loadingbody let-columns="columns">
            <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" 
            class="fadein"
            style="height: 43px;">
                <td *ngFor="let col of [1,2,3,4,5,6]" >
                    <p-skeleton />
                </td>
                <td>
                    <p-skeleton shape="circle" size="1rem" />
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr class="p-datatable-empty-text fadein">
                <td [attr.colspan]="tableColumns.length + 1">
                    <div class="flex align-items-center" *ngIf="!tableSearch">
                        <span>Nenhum item registrado.</span>
                    </div>
                    <div *ngIf="tableSearch"> Nenhum item encontrado. </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<router-outlet></router-outlet>