<p-contextmenu #cm
               [model]="tableMenu"
               (onHide)="tableSelectedItem = null"
               appendTo="body"
               triggerEvent="onclick" />
<app-confirm-dialog></app-confirm-dialog>
<app-aluno-popover #popoverAluno></app-aluno-popover>
<div class="px-3 pb-4 bg-white">
    <p-table
             #dt
             [value]="list"
             [rows]="50"
             [rowsPerPageOptions]="[50, 100, 1000]"
             [paginator]="list.length > 50"
             [columns]="tableColumns"
             [globalFilterFields]="tableGlobalFilterFields"
             dataKey="id"
             stripedRows
             [rowHover]="list.length > 0">
        <ng-template pTemplate="caption">
            <p-toolbar styleClass="border-none bg-white py-2 px-2 -mx-3 ">
                <div class="p-toolbar-group-start">
                    <h2 class="flex align-items-center">
                        <i class="fa-solid fa-user-graduate mr-3 text-primary text-2xl"></i>
                        <span class="text-2xl font-normal my-0">Alunos</span>
                    </h2>
                </div>
                <div class="p-toolbar-group-center"></div>
                <div class="p-toolbar-group-end items-stretch">
                    <div class="flex align-items-strech">
                        <p-iconfield class="mr-2">
                            <p-inputicon styleClass="pi pi-search" />
                            <input type="text"
                                   pInputText
                                   #_tableSearch="ngModel"
                                   [(ngModel)]="tableSearch"
                                   id="search"
                                   name="search"
                                   (input)="dt.filterGlobal(tableSearch, 'contains')"
                                   placeholder="Pesquisar" />
                        </p-iconfield>
                        <p-button icon="pi pi-filter-slash text-sm text-white"
                                  (onClick)="clear(dt)"
                                  severity="secondary"
                                  [text]="true"
                                  pTooltip="Limpar filtro"
                                  tooltipPosition="top"
                                  class="mr-2"
                                  styleClass="h-full bg-black-alpha-80" />
                        <p-button icon="pi pi-sync text-sm text-white"
                                  (onClick)="update()"
                                  severity="secondary"
                                  [text]="true"
                                  pTooltip="Atualizar alunos"
                                  tooltipPosition="top"
                                  class="mr-2"
                                  styleClass="h-full bg-black-alpha-80" />
                    </div>
                </div>
            </p-toolbar>
        </ng-template>
        <ng-template pTemplate="header">
            <ng-container *ngIf="(!tableLoading && list.length > 0) || tableLoading">
                <tr>
                    <th *ngFor="let col of tableColumns"
                        [pSortableColumn]="col.field"
                        class="surface-900 py-0 border-none text-white white-space-nowrap p-3">
                        <div class="flex align-items-center">
                            <span>{{ col.label }}</span>
                            <ng-container *ngIf="col.filterType != FilterType.none">
                                <div class="flex align-items-center"
                                     [class.ml-3]="col.displayType != DisplayType.options">
                                    <p-columnFilter
                                                    [type]="col.filterType"
                                                    [field]="col.field"
                                                    display="menu" />
                                    <p-sortIcon [field]="col.field" />
                                </div>
                            </ng-container>
                        </div>
                    </th>
                    <th pFrozenColumn
                        alignFrozen="right"
                        class="surface-900 py-0 border-bottom-none text-white"></th>
                </tr>
            </ng-container>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr class="white-space-nowrap">
                <td pFrozenColumn alignFrozen="left">
                    <div class="flex align-items-center gap-2">
                        <span class="inline-flex w-2rem h-2rem align-items-center">
                            <ng-container *ngIf="item?.celular">
                                <a [href]="enviarMensagem(item)"
                                   target="_blank"
                                   pTooltip="Enviar mensagem"
                                   tooltipPosition="top"
                                   class="p-ripple p-button p-component p-button-icon-only p-button-link p-button-success p-button-text p-button-sm">
                                    <span class="pi pi-whatsapp p-button-icon"></span>
                                </a>
                            </ng-container>
                            <ng-container *ngIf="!item?.celular">
                                <a pTooltip="Nenhum celular cadastrado"
                                   tooltipPosition="top"
                                   class="p-ripple p-button p-component p-button-icon-only p-button-link p-button-secondary p-button-text p-button-sm cursor-none bg-transparent">
                                    <span class="pi pi-whatsapp p-button-icon"></span>
                                </a>
                            </ng-container>
                        </span>
                        <span class="capitalize hover:underline hover:text-primary-500 hover:font-bold cursor-pointer"
                              pTooltip="{{item.nome}}"
                              tooltipPosition="top"
                              (click)="showPopoverAluno(item, $event)">{{ item.nome | nameAbv }}</span>
                    </div>
                </td>
                <td>
                    <div class="flex align-items-center gap-2">
                        <span class="w-1rem h-1rem inline-flex border-circle"
                              [style]="{ 
                                    backgroundColor: item.corLegenda, 
                                    borderColor: item.corLegenda 
                                }"></span>
                        <span>{{item.turma}}</span>
                    </div>
                </td>
                <td>
                    <div class="flex align-items-center gap-2">
                        <span class="w-1rem h-1rem inline-flex border-circle"
                              [pTooltip]="item.professor"
                              tooltipPosition="top"
                              [style]="{ 
                                    backgroundColor: item.corLegenda, 
                                    borderColor: item.corLegenda 
                                }"></span>
                        <span>{{item.professor}}</span>
                    </div>
                </td>
                <td>
                    {{item.perfilCognitivo}}
                </td>
                <td>
                    {{item.kit}}
                </td>
                <td class="w-5rem">
                    <ng-container *ngIf="item.active">
                        <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                               icon="pi pi-check mr-2 text-xs"
                               value="Ativo"
                               severity="success"
                               [pTooltip]="'Ativo'" />
                    </ng-container>
                    <ng-container *ngIf="!item.active">
                        <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                               icon="pi pi-times mr-2 text-xs"
                               value="Inativo"
                               severity="danger"
                               [pTooltip]=" 'Inativo desde ' + (item['deactivated'] | date : 'dd/MM/yyyy HH:mm')" />
                    </ng-container>
                </td>
                <td pFrozenColumn
                    alignFrozen="right">
                    <p-button
                              [icon]="cm.visible() && tableSelectedItem.id == item.id ? 'pi pi-times' : 'pi pi-cog'"
                              [severity]="'secondary'"
                              [rounded]="true"
                              title="Ver mais"
                              styleClass="bg-transparent border-transparent {{index % 2 == 0 ? 'hover:surface-100' : 'hover:surface-50'}} hover:text-primary-500 hover:shadow-4"
                              (onClick)="showContextMenu($event, item)" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <ng-container *ngIf="tableLoading; else elseTemplate">
                <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" style="height: 43px;">
                    <td class="border-none"><p-skeleton /></td>
                    <td *ngFor="let col of tableColumns" class="border-none"><p-skeleton /></td>
                    <td class="border-none"><p-skeleton /></td>
                </tr>
            </ng-container>
            <ng-template #elseTemplate>
                <tr class="p-datatable-empty-text">
                    <td [attr.colspan]="tableColumns.length + 1">
                        <div class="flex align-items-center" *ngIf="!tableSearch">
                            <span>Nenhum item registrado.</span>
                        </div>
                        <div *ngIf="tableSearch"> Nenhum item encontrado. </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
</div>
<router-outlet></router-outlet>