<p-contextmenu #cm [model]="tableMenu" (onHide)="tableSelectedItem = null" appendTo="body" triggerEvent="onclick" />
<p-confirmdialog styleClass="w-25rem">
    <ng-template #message let-message>
        <div [innerHTML]="message.message"></div>
    </ng-template>
</p-confirmdialog>
<p-confirmdialog key="checklistConfirmation" styleClass="w-30rem">
    <ng-template #message let-message>
        <div>
            <div [innerHTML]="message.message"></div>
            <div class="w-full flex-1 col-12">
                <label for="checklistObservacao">Inserir observação: </label>
                <textarea pTextarea
                          class="w-full"
                          name="checklistObservacao"
                          id="checklistObservacao"
                          [(ngModel)]="checklistObservacao"
                          [rows]="5"></textarea>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<div class="px-3 pb-4 bg-white">
    <p-table
             #dt
             [value]="list"
             [rows]="50"
             [rowsPerPageOptions]="[50, 100, 1000]"
             [paginator]="list.length > 50"
             [columns]="tableColumns"
             [globalFilterFields]="tableGlobalFilterFields"
             [(contextMenuSelection)]="tableSelectedItem"
             [contextMenu]="cm"
             (contextMenuSelectionChange)="contextMenuSelectionChange($event)"
             dataKey="id"
             stripedRows
             showGridlines
             [rowHover]="list.length > 0">
        <ng-template pTemplate="caption">
            <p-toolbar styleClass="border-none bg-white py-2 px-2 -mx-3 ">
                <div class="p-toolbar-group-start">
                    <h2 class="flex align-items-center ">
                        <i class="fa-solid fa-user-graduate mr-3 text-primary text-2xl"></i>
                        <span class="text-2xl font-normal my-0">Alunos</span>
                    </h2>
                </div>
                <div class="p-toolbar-group-center"></div>
                <div class="p-toolbar-group-end items-stretch">
                    <div class="flex align-items-strech">
                        <p-iconfield class="mr-2">
                            <p-inputicon styleClass="pi pi-search" />
                            <input type="text"
                                   pInputText
                                   #_tableSearch="ngModel"
                                   [(ngModel)]="tableSearch"
                                   id="search"
                                   name="search"
                                   (input)="dt.filterGlobal(tableSearch, 'contains')"
                                   placeholder="Pesquisar" />
                        </p-iconfield>
                        <p-button icon="pi pi-filter-slash text-sm text-white" (onClick)="clear(dt)" severity="secondary" [text]="true" pTooltip="Limpar filtro" class="mr-2" size="small" styleClass="h-full bg-black-alpha-80" />
                        <p-button icon="pi pi-sync text-sm text-white" (onClick)="update()" severity="secondary" [text]="true" pTooltip="Atualizar alunos" class="mr-2" size="small" styleClass="h-full bg-black-alpha-80" />
                        <!-- <p-button icon="pi pi-plus text-sm" label="Cadastrar" [routerLink]="['cadastrar' ]" [rounded]="true"  size="small" styleClass="h-full px-3" /> -->
                    </div>
                </div>
            </p-toolbar>
        </ng-template>
        <ng-template pTemplate="header">
            <ng-template [ngIf]="(!tableLoading && list.length > 0) || tableLoading">
                <tr>
                    <th *ngFor="let col of tableColumns"
                        [pSortableColumn]="col.field"
                        class="surface-900 py-0 border-none text-white white-space-nowrap p-3"
                        [ngClass]="{
                            'w-10rem overflow-hidden text-overflow-ellipsis sticky left-0 z-2': col.field == 'nome',
                        }">
                        <div class="flex align-items-center">
                            <span>{{ col.label }}</span>
                            <ng-template [ngIf]="col.filterType != FilterType.none">
                                <div class="flex align-items-center" [class.ml-3]="col.displayType != DisplayType.options">
                                    <p-columnFilter 
                                        [type]="col.filterType" 
                                        [field]="col.field" 
                                        display="menu" />
                                    <p-sortIcon [field]="col.field" />
                                </div>
                            </ng-template>
                        </div>
                    </th>
                    <th *ngFor="let checklist of checklists" class=" w-3rem surface-900 py-0 px-1 border-none text-white text-center white-space-nowrap py-2"> {{checklist.nome}} </th>
                    <th class="surface-900 py-0 border-bottom-none text-white"></th>
                </tr>
            </ng-template>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr [pContextMenuRow]="item"
                class="cursor-pointer"
                [ngClass]="{ 'bg-primary-50': item == tableSelectedItem,}">
           
            <td *ngFor="let col of tableColumns"
                [pSelectableRow]="item"
                [pSelectableRowIndex]="rowIndex"
                [ngClass]="{
                    'white-space-nowrap  border-left-none border-right-none': true,
                    'w-5rem':col.displayType == DisplayType.options,
                    'w-10rem overflow-hidden text-overflow-ellipsis sticky left-0 z-2': col.field == 'nome',
                    }"
                (click)="dt.contextMenuSelection = item; tableSelectedItem = item;  dt.contextMenuSelectionChange.emit(item) ; cm.show($event);">
                <ng-template [ngIf]="col.field == 'nome'">
                    <span class="inline-flex w-2rem h-2rem mr-2">
                        <p-button  *ngIf="item && item.celular"
                            [link]="true"
                            routerLink="{{enviarMensagem(item)}}"
                            icon="pi pi-whatsapp"
                            severity="success"
                            pTooltip="Enviar mensagem"
                            [text]="true"
                            size="small" />
                    </span>
                </ng-template>
                <ng-template [ngIf]="col.displayType == DisplayType.options">
                    <ng-container *ngTemplateOutlet="tag; 
                        context: { 
                            item: item,
                            option: getOption(col, item)
                        }">
                    </ng-container>
                    <ng-template #tag let-item="item" let-option="option">
                        <p-tag *ngIf="option"
                               styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                               [icon]="option.icon ? (option.icon + ' mr-2 text-xs') : ''"
                               [value]="option.label"
                               [severity]="option.severity ? option.severity : 'secondary'"
                               [pTooltip]="option.showDeactivatedDate == true  && item['deactivated'] ?  'Inativo desde ' + (item['deactivated'] | date : 'dd/MM/yyyy HH:mm')  : undefined" />
                    </ng-template>
                </ng-template>
                <ng-template [ngIf]="col.displayType == DisplayType.text">
                    <ng-template [ngIf]="col.field == 'professor'">
                        <ng-container *ngTemplateOutlet="corLegenda; context: { corLegenda: getCorLegenda(item.professor_Id) }"></ng-container>
                        <ng-template #corLegenda let-corLegenda="corLegenda">
                            <span class="w-1rem h-1rem inline-flex border-circle mr-2" [style]="{ backgroundColor: corLegenda, borderColor: corLegenda }"></span>
                        </ng-template>
                    </ng-template>

                    <span *ngIf="col.field != 'nome'">{{ item[col.field] }}</span>
                    <span *ngIf="col.field == 'nome'" pTooltip="{{item.nome}}">{{ item.nome | nameAbv }}</span>
                </ng-template>
                <ng-template [ngIf]="col.displayType == DisplayType.numeric">{{ item[col.field] | number : col.options?.digitsInfo : col.options?.locale }}</ng-template>
                <ng-template [ngIf]="col.displayType == DisplayType.date">{{ item[col.field] | date : col.options?.format : col.options?.timezone : col.options?.locale }}</ng-template>
                <ng-template [ngIf]="col.displayType == DisplayType.time">{{ item[col.field] | date : col.options?.format : col.options?.timezone : col.options?.locale }}</ng-template>
            </td>
            <ng-container *ngFor="let checklist of item.checklistCompleto">
                <td *ngIf="!checklist"></td>
                <td *ngIf="checklist"
                    (click)="popoverChecklistOpen($event, checklist, item)"
                    class="white-space-nowrap  border-left-none border-right-none text-center px-1 w-3rem">
                    <div class="flex align-items-center justify-content-center gap-2">
                        <!-- Finalizado -->
                        <span *ngIf="checklist.finalizados.length == checklist.items.length">
                            <span class="flex align-items-center text-green-600 font-medium">
                                <span>Finalizado</span>
                                <i class="pi pi-check-circle  ml-auto pl-2 "></i>
                            </span>
                        </span>
                        <!-- Atrasado -->
                        <span *ngIf="checklist.atrasados.length > 0 && checklist.finalizados.length < checklist.items.length">
                            <span class="flex align-items-center text-red-600 font-bold">
                                <span> Atrasado </span>
                                <span class="ml-auto pl-2">{{checklist.finalizados.length}}/{{checklist.items.length}}</span>
                                <i class="pi pi-times-circle  fadeout animation-duration-300 animation-iteration-infinite ml-1 "></i>
                            </span>
                        </span>
                        <!-- Em Andamento -->
                        <span *ngIf="checklist.pendentesDaSemana.length > 0 && checklist.finalizados.length < checklist.items.length">
                            <span class="flex align-items-center text-orange-500 font-medium">
                                <span>Em Andamento </span>
                                <span class="ml-auto pl-2">{{checklist.finalizados.length}}/{{checklist.items.length}}</span>
                                <i class="pi pi-hourglass ml-1 "></i>
                            </span>
                        </span>
                        <!-- Futuro -->
                        <span *ngIf="checklist.pendentesDaSemana.length == 0 
                                    && checklist.atrasados.length == 0 
                                    && checklist.prazo">
                                    <!-- && checklist.finalizados.length == 0  -->
                            <span class="flex align-items-center text-blue-500 font-extrabold">
                                <span>Futuro </span>
                                <span class="ml-auto pl-2">{{checklist.finalizados.length}}/{{checklist.items.length}}</span>
                                <i class="pi pi-clock  ml-1 "></i>
                            </span>
                        </span>
                        <!-- Indefinido -->
                        <span *ngIf="!checklist.prazo">
                            <span class="flex align-items-center text-purple-500 font-bold">
                                <span> Indefinido </span>
                                <span class="ml-auto pl-2">{{checklist.finalizados.length}}/{{checklist.items.length}}</span>
                                <i class="pi pi-question  ml-1 "></i>
                            </span>
                        </span>
                    </div>
                </td>
            </ng-container>
            <td class="border-none px-0">
            </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <ng-container *ngIf="tableLoading; else elseTemplate">
                <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" style="height: 43px;">
                    <td class="border-none"><p-skeleton /></td>
                    <td *ngFor="let col of tableColumns" class="border-none"><p-skeleton /></td>
                    <td *ngFor="let col of checklists" class="border-none"><p-skeleton /></td>
                    <td class="border-none"><p-skeleton /></td>
                </tr>
            </ng-container>
            <ng-template #elseTemplate>
                <tr class="p-datatable-empty-text">
                    <td [attr.colspan]="tableColumns.length + 1">
                        <div class="flex align-items-center" *ngIf="!tableSearch">
                            <span>Nenhum item registrado.</span>
                        </div>
                        <div *ngIf="tableSearch"> Nenhum item encontrado. </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
    <p-popover #popoverChecklist
               (onHide)="popoverChecklistClosed()"
               [dismissable]="true"
               styleClass="-mt-2">
        <div class="w-full" *ngIf="selectedChecklist">
            <div class="flex align-items-center justify-content-between w-full">
                <p class="mb-2">
                    <span>Prazo máximo: </span>
                    <b>
                        <span *ngIf="selectedChecklist.prazo">{{selectedChecklist.prazo | date : 'dd/MM/yyyy'}}</span>
                        <span *ngIf="!selectedChecklist.prazo">Indefinido</span>
                    </b>
                </p>
                <p-button *ngIf="tableSelectedItem && tableSelectedItem.celular"
                          icon="pi pi-whatsapp"
                          severity="success"
                          pTooltip="Enviar mensagem"
                          [text]="true"
                          (onClick)="enviarMensagem(tableSelectedItem)" />
            </div>
            <ul class="p-0 ml-0">
                <li *ngFor="let checklistItem of selectedChecklist.items"
                    class="flex align-items-center gap-2 py-1"
                    (mouseenter)="checklistItem.finalizado ? checklistData.show($event) : undefined"
                    (mouseleave)="checklistItem.finalizado ? checklistData.hide() : undefined">
                    <p-checkbox #checkbox
                                [inputId]="'checklistitem-' + checklistItem.id"
                                [name]="'checklistitem-' + checklistItem.id"
                                #finalizado="ngModel"
                                [ngModel]="checklistItem.finalizado"
                                [styleClass]="checklistItem.finalizado ? 'cursor-auto' : ''"
                                [binary]="true"
                                (onChange)="checkboxChange(checklistItem, selectedChecklist, finalizado, $event)" />
                    <label class="font-medium" [for]="'checklistitem-' + checklistItem.id">{{ checklistItem.nome }}</label>
                    <p-popover #checklistData appendTo="body">
                        <p>
                            <span *ngIf="checklistItem.dataFinalizacao">Finalizado em <b>{{checklistItem.dataFinalizacao | date : 'dd/MM/yyyy' }}</b></span>
                            <span *ngIf="checklistItem.account_Finalizacao"> por <b>{{checklistItem.account_Finalizacao }}</b></span>
                        </p>
                        <p class="mt-2">Observações: </p>
                        <p *ngIf="checklistItem.observacoes">{{checklistItem.observacoes}}</p>
                        <p *ngIf="!checklistItem.observacoes" class="text-500">Nenhuma observação</p>
                    </p-popover>
                </li>
            </ul>
        </div>
    </p-popover>
</div>
<router-outlet></router-outlet>