<table>
    <tr *ngIf="!readonly">
        <td class="text-right"
        [ngClass]="{
            'vertical-align-center': !(_data.touched && _data.invalid),
            'vertical-align-baseline mt-2 block': _data.touched && _data.invalid
        }">
            <label for="data">Data:</label>
        </td>
        <td class="vertical-align-middle">
            <p-datepicker
                          #_data="ngModel"
                          [(ngModel)]="data"
                          placeholder="dd/mm/yyyy"
                          dateFormat="dd/mm/yy"
                            (ngModelChange)="loadEventosReposicaoPara()"
                          [showIcon]="!readonly"
                          [disabled]="readonly"
                          [iconDisplay]="'input'"
                          inputId="data"
                          name="data"
                          [required]="true"
                          [selectOtherMonths]="true"
                          [keepInvalid]="true"
                          [disabledDays]="[0]"
                          appendTo="body"
                          fluid />
            <div *ngIf="_data.touched && _data.invalid && _data.errors">
                <p class="text-red-500 ml-2" *ngIf="_data.errors['required']">Esse campo é obrigatório.</p>
            </div>
        </td>
    <tr>
        <td class="text-right"
        [ngClass]="{
            'vertical-align-center': !(field.touched && field.invalid),
            'vertical-align-baseline mt-2 block': field.touched && field.invalid
        }">
            <label for="eventoReposicao_Id">Aula:</label>
        </td>
        <td class="vertical-align-middle">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-calendar" />
                <p-select [options]="list"
                            [loading]="loading"
                            name="eventoReposicao_Id"
                            inputId="eventoReposicao_Id"
                            #field="ngModel"
                            [(ngModel)]="evento"
                            [readonly]="readonly"
                            [required]="true"
                          [filter]="true"
                            [dropdownIcon]="readonly ? 'pi' : 'pi pi-chevron-down'"
                            filterBy="descricao,turma,professor,data,sala"
                            optionLabel="descricao"
                            placeholder="Selecione uma aula para repor"
                            (onChange)="eventoChanged()"
                            panelStyleClass="p-select-stripped"
                            appendTo="body"
                            fluid>
                    <ng-template #footer>
                        <p class="py-2 px-4">Exibindo {{list.length}} aulas do mês de {{ data | date : 'MMMM' }}</p>
                    </ng-template>
                    <ng-template #selectedItem let-selectedOption>
                        <ng-container *ngIf="selectedOption">
                            <span>{{selectedOption.data | date : 'dd/MM/yyyy HH:mm'}}</span>
                        </ng-container>
                    </ng-template>
                    <ng-template let-item #item>
                        <div class="flex gap-2">
                            <div class="flex flex-column">
                                <div class="flex align-items-center gap-2 py-1 px-2 text-sm bg-primary-500 text-white ">
                                    <i class="pi pi-calendar text-sm"></i>
                                    <span>{{item.data | date : 'dd/MMM'}}</span>
                                </div>
                                <div class="flex align-items-center gap-2 py-1 px-2 text-sm bg-white border-1 border-200 text-primary-500 ">
                                    <i class="pi pi-clock text-sm"></i>
                                    <span>{{item.data | date : 'HH:mm'}}</span>
                                </div>
                            </div>
                            <div class="flex flex-column">
                                <p class="flex align-items-center gap-2 py-1">
                                    <span>{{item.turma ?? item.descricao}}</span>
                                    <app-legend-color class="line-height-1"
                                                        [corLegenda]="item.corLegenda"
                                                        [professor_Id]="item.professor_Id"
                                                        [professor]="item.professor"
                                                        [turma_Id]="item.turma_Id"></app-legend-color>
                                </p>
                                <p class="flex align-items-center gap-1 py-1">
                                    <span>{{item.sala}}</span>
                                    <span>-</span>
                                    <span *ngIf="item.andar == SalaAndar.Terreo">Térreo</span>
                                    <span *ngIf="item.andar > SalaAndar.Terreo">{{item.andar}}º andar</span>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </p-select>
            </p-iconfield>
        </td>
        <td class="vertical-align-middle">
            <p class="text-red-500 ml-2" *ngIf="!evento">Esse campo é obrigatório.</p>
        </td>
    </tr>
    <ng-container *ngIf="evento">
        <!-- Turma -->
        <tr>
            <td class="text-right vertical-align-middle">
                <label for="turma">Turma:</label>
            </td>
            <td class="vertical-align-middle">
                <p-iconfield>
                    <p-inputicon styleClass="fa fa-users-between-lines text-700" />
                    <input type="text"
                           pInputText
                           [value]="evento.turma"
                           id="turma"
                           name="turma"
                           fluid
                           readonly>
                    <p-inputicon>
                        <app-legend-color class="line-height-1"
                                          [corLegenda]="evento.corLegenda"
                                          [professor]="evento.professor" />
                    </p-inputicon>
                </p-iconfield>
            </td>
            <td></td>
        </tr>
        <!-- Perfil Cognitivo -->
        <tr>
            <td class="text-right vertical-align-middle">
                <label for="perfilCognitivo ">Perfil Cognitivo:</label>
            </td>
            <td class="vertical-align-middle">
                <p-iconfield>
                    <p-inputicon styleClass="fa fa-brain text-700" />
                    <input type="text"
                           pInputText
                           [value]="getPerfilCognitivo(evento) "
                           id="perfilCognitivo "
                           name="perfilCognitivo "
                           fluid
                           readonly>
                </p-iconfield>
            </td>
            <td></td>
        </tr>
        <!-- Sala -->
        <tr>
            <td class="text-right vertical-align-middle">
                <label for="sala ">Sala:</label>
            </td>
            <td class="vertical-align-middle">
                <p-iconfield>
                    <p-inputicon styleClass="bi bi-door-open" />
                    <input type="text"
                           pInputText
                           [value]="evento.sala + ' - ' + ( evento.andar == 0 ? 'Térreo' : (evento.andar + 'º andar') )"
                           id="sala "
                           name="sala "
                           fluid
                           readonly>
                </p-iconfield>
            </td>
            <td></td>
        </tr>
        <!-- Roteiro -->
        <tr>
            <td class="text-right vertical-align-middle">
                <label for="roteiro ">Roteiro:</label>
            </td>
            <td class="vertical-align-middle">
                <p-iconfield>
                    <p-inputicon styleClass="fa fa-star text-700" [style]="{color: evento.roteiroCorLegenda}" />
                    <input type="text"
                           pInputText
                           [value]="'Tema: ' + evento.tema + ' - Semana:' + evento.semana"
                           id="roteiro "
                           name="roteiro "
                           fluid
                           readonly>
                </p-iconfield>
            </td>
            <td></td>
        </tr>
    </ng-container>
</table>