<app-confirm-dialog></app-confirm-dialog>
<header class="p-dialog-header px-0">
    <div class="p-dialog-title w-full flex align-items-center gap-2">
        <i class="pi pi-calendar mr-2 text-base w-2rem h-2rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
        <div>
            <p class="p-dialog-title">
                <span class="capitalize">{{ tipoString }}</span>
                <span *ngIf="!evento.active" class="text-red-500 font-normal text-base"> - Esta {{ getTipo(evento).toLowerCase() }} foi cancelada em {{ evento.deactivated | date : 'dd/MMM/yyyy' }}
                </span>
            </p>
            <!-- <p class="flex align-items-center gap-2 font-light text-sm">
                <span>{{evento.tema}} - Semana: {{evento.semana}}</span>
                <i class="pi pi-star-fill fadein" [style]="{ color: evento.roteiroCorLegenda ?? '#000' }"></i>
            </p> -->
        </div>
    </div>
    <div class="p-dialog-header-actions">
        <p-button
                  [icon]="maximized ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"
                  (onClick)="maximize()"
                  styleClass="p-dialog-maximize-button"
                  severity="secondary"
                  rounded
                  pRipple
                  text />
        <p-button icon="pi pi-times"
                  (onClick)="close()"
                  styleClass="p-dialog-close-button"
                  severity="secondary"
                  rounded
                  pRipple
                  text />
    </div>
</header>
<ng-container *ngIf="evento">
    <form #aulaForm #form="ngForm">
        <div [ngSwitch]="evento.evento_Tipo_Id">
            <div *ngSwitchCase="EventoTipo.AulaZero" class="aula-zero">
                <app-editar-aula-0 #componentForm
                                   [evento]="evento"
                                   [professores]="professores"
                                   [loadingProfessores]="loadingProfessores"
                                   [salaAulas]="salaAulas"
                                   [loadingSalaAulas]="loadingSalaAulas"
                                   [turmas]="turmas"
                                   [loadingTurmas]="loadingTurmas"
                                   [duracaoEvento]="duracaoEvento"
                                   (validaProfessor)="professorChanged($event)"
                                   (validaSala)="salaAulaChanged($event)"></app-editar-aula-0>
            </div>
            <div *ngSwitchCase="EventoTipo.Superacao" class="superacao">
                <app-editar-superacao
                                      #componentForm
                                      [evento]="evento"
                                      [evento]="evento"
                                      [professores]="professores"
                                      [loadingProfessores]="loadingProfessores"
                                      [salaAulas]="salaAulas"
                                      [loadingSalaAulas]="loadingSalaAulas"
                                      [duracaoEvento]="duracaoEvento"
                                      (validaProfessor)="professorChanged($event)"
                                      (validaSala)="salaAulaChanged($event)"></app-editar-superacao>
            </div>
            <div *ngSwitchCase="EventoTipo.Oficina" class="oficina">
                <app-editar-oficina
                                    #componentForm
                                    [evento]="evento"
                                    [professores]="professores"
                                    [loadingProfessores]="loadingProfessores"
                                    [salaAulas]="salaAulas"
                                    [loadingSalaAulas]="loadingSalaAulas"
                                    [duracaoEvento]="duracaoEvento"
                                    (validaProfessor)="professorChanged($event)"
                                    (validaSala)="salaAulaChanged($event)"></app-editar-oficina>
            </div>
            <div *ngSwitchCase="EventoTipo.Reuniao" class="reuniao">
                <app-editar-reuniao #componentForm
                                    [evento]="evento"
                                    [salaAulas]="salaAulas"
                                    [loadingSalaAulas]="loadingSalaAulas"
                                    [duracaoEvento]="duracaoEvento"
                                    (validaProfessor)="professorChanged($event)"
                                    (validaSala)="salaAulaChanged($event)"></app-editar-reuniao>
            </div>
        </div>
        <ng-container *ngIf="evento.finalizado == false && evento.active === true">
            <div class="col-12 px-0 gap-2 flex align-items-center justify-content-end">
                <p-button type="button"
                          (onClick)="sendConfirmation($event, form)"
                          styleClass="px-3"
                          label="Salvar dados"
                          icon="pi pi-check"
                          severity="contrast"
                          [outlined]="true"
                          [loading]="loading"
                          [rounded]="true"
                          [disabled]="form.invalid || loading" />
                <p-button type="button"
                          (onClick)="finalizarConfirmation($event)"
                          styleClass="px-3"
                          label="Salvar e finalizar"
                          icon="pi pi-check"
                          [loading]="loading"
                          [rounded]="true"
                          [pTooltip]="evento.active ? undefined : 'Evento está desativado'"
                          tooltipPosition="top"
                          [disabled]="form.invalid || loading || !evento.active" />
            </div>
        </ng-container>
    </form>
</ng-container>