
<p-popover #popover appendTo="body" styleClass="-mt-1">
    <div class="flex flex-column gap-2">
        
        <!-- Cancelada -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle surface-800"></span>
            <span>Aula cancelada</span>
        </div>
        <!-- Feriado -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle bg-red-600"></span>
            <span>Feriado</span>
        </div>
        <!-- Presente -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle bg-green-500"></span>
            <span>Presente</span>
        </div>
        <!-- Presente na Reposição -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle bg-green-300 shadow-1"></span>
            <span>Presente na reposição</span>
        </div>
        <!-- Falta Agendada -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle bg-red-300 "></span>
            <span >Falta Agendada</span>
        </div>
        <!-- Faltou -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle bg-red-500"></span>
            <span>Faltou</span>
        </div>
        <!-- Faltou -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle bg-yellow-500"></span>
            <span>Faltou - Aluno Contatado</span>
        </div>
        <!-- Faltou na Reposição -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle bg-blue-500"></span>
            <span>Faltou na reposição</span>
        </div>
        <!-- Reposição Agendada -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle bg-purple-500"></span>
            <span>Reposição agendada</span>
        </div>
        <!-- Reposição cancelada -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle bg-purple-800"></span>
            <span>Reposição cancelada</span>
        </div>
        <!-- Primeira Aula -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle bg-pink-500"></span>
            <span>Primeira Aula</span>
        </div>
        <!-- Primeira Aula -->
        <div class="flex align-itens-center gap-2">
            <span class="w-1rem h-1rem border-circle text-pink-500 bi bi-cake-fill fadein animation-duration-1000 animation-iteration-infinite"></span>
            <span>Aniversário</span>
        </div>
    </div>
</p-popover>