<p-dialog header="Change password"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          (onShow)="visibleChange()"
          (onHide)="visibleChange()"
          [style]="{ maxWidth: '400px', width: '95vw' }">
    <p-confirmDialog key="change-password" />
    <form (ngSubmit)="send(form, $event)" #form="ngForm">
        <div class="formgrid grid gap-4"></div>
        <div class="field col-12"> <!-- Current Password -->
            <label for="currentPassword">Current Password: <small class="text-red-600">*</small></label>
            <div>
                <p-iconField iconPosition="left">
                    <p-password [feedback]="false"
                                [toggleMask]="true"
                                #currentPassword="ngModel"
                                [(ngModel)]="object.currentPassword"
                                id="currentPassword"
                                name="currentPassword"
                                class="w-full"
                                styleClass="w-full"
                                inputStyleClass="w-full p-icon-field-left"
                                [required]="true"
                                placeholder="******" />
                    <p-inputIcon styleClass="pi pi-lock" />
                </p-iconField>
            </div>
            <div *ngIf="currentPassword.touched && currentPassword.invalid && currentPassword.errors">
                <p class="text-red-600 mt-2 mb-0" *ngIf="currentPassword.errors['required']">Esse campo é obrigatório.</p>
            </div>
        </div>
        <div class="field col-12"> <!-- New Password -->
            <label for="newPassword">New Password: <small class="text-red-600">*</small></label>
            <div>
                <p-iconField iconPosition="left">
                    <p-password [feedback]="true"
                                [toggleMask]="true"
                                #newPassword="ngModel"
                                [(ngModel)]="object.newPassword"
                                id="newPassword"
                                name="newPassword"
                                class="w-full"
                                styleClass="w-full"
                                inputStyleClass="w-full p-icon-field-left"
                                [required]="true"
                                placeholder="******"
                                minlenght="6"
                                appendTo="body">
                        <ng-template pTemplate="header">
                            <h6>Pick a new password</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <p-divider />
                            <p class="mt-2">Suggestion</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>At least one lowercase.</li>
                                <li>At least one uppercase.</li>
                                <li>At least one numeric.</li>
                                <li>Minimun 6 characters.</li>
                            </ul>
                        </ng-template>
                    </p-password>
                    <p-inputIcon styleClass="pi pi-lock" />
                </p-iconField>
            </div>
            <div *ngIf="newPassword.touched && newPassword.invalid && newPassword.errors">
                <p class="text-red-600 mt-2 mb-0" *ngIf="newPassword.errors['required']">Esse campo é obrigatório.</p>
                <p class="text-red-600 mt-2 mb-0" *ngIf="newPassword.errors['minlength']">New Password must contain at least {{newPassword.errors['requiredLength']}} characters.</p>
            </div>
        </div>
        <div class="field col-12"> <!-- Confirm Password -->
            <label for="confirmPassword">Confirm Password: <small class="text-red-600">*</small></label>
            <div>
                <p-iconField iconPosition="left">
                    <p-password [feedback]="false"
                                [toggleMask]="true"
                                #confirmPassword="ngModel"
                                [(ngModel)]="object.confirmPassword"
                                id="confirmPassword"
                                name="confirmPassword"
                                class="w-full"
                                styleClass="w-full"
                                inputStyleClass="w-full p-icon-field-left"
                                [required]="true"
                                placeholder="******" />
                    <p-inputIcon styleClass="pi pi-lock" />
                </p-iconField>
            </div>
            <div *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors">
                <p class="text-red-600 mt-2 mb-0" *ngIf="confirmPassword.errors['required']">Esse campo é obrigatório.</p>
                <p class="text-red-600 mt-2 mb-0" *ngIf="confirmPassword.errors['minlength']">Confirm password must contain at least {{confirmPassword.errors['requiredLength']}} characters.</p>
            </div>
        </div>
        <div class="formgrid grid gap-4 align-items-center flex-wrap justify-content-between">
            <div class="sm:col-9 col-12">
                <p class="text-red-500" *ngIf="!error">Enter the information correctly to save.</p>
                <p class="text-red-500" *ngIf="error">{{error}}</p>
            </div>
            <div class="ml-auto">
                <p-button
                          type="submit"
                          [disabled]="form.invalid || loading"
                          class="w-full"
                          styleClass="w-full"
                          label="Save"
                          icon="pi pi-check"
                          iconPos="right"
                          [loading]="loading"
                          [rounded]="true"
                          size="small" />
            </div>
        </div>
    </form>
</p-dialog>