<div class="pb-4 pt-4">
    <h3 class="text-3xl font-bold">Verificação de Conta</h3>
    <ng-template [ngIf]="loading" [ngIfElse]="notLoading">
        <p class="mt-4 mb-1">Por favor, aguare enquanto validamos os dados da sua conta.</p>
        <p class="mt-0 mb-4">Não feche essa aba até finalizar.</p>
        <div class="flex align-items-center">
            <i class="pi pi-spin pi-spinner mr-4" style="font-size: 1.4rem"></i>
            <p>Carregando...</p>
        </div>
    </ng-template>
    <ng-template #notLoading>
            <ng-container *ngIf="error; else notError">
                <div class="flex align-items-center mt-4">
                    <i class="pi pi-times-circle text-2xl mr-4 text-red-500"></i>
                        <p class="my-0" *ngIf="error" [innerHTML]="error" style="word-break: break-word;"></p>
                        <p class="my-0" *ngIf="!error" [innerHTML]="'Um erro ocorreu na verificação de conta.'"></p>
                </div>
            </ng-container>
            <ng-template #notError>
                <div class="flex align-items-center mt-4">
                    <i class="pi pi-check-circle text-2xl mr-4 text-green-400"></i>
                    <span class="my-0" *ngIf="success" [innerHTML]="success"></span>
                    <span class="my-0" *ngIf="!success" [innerHTML]="'verificação concluída com sucesso.'"></span>
                </div>
                <a class="text-primary link" [routerLink]="['..', 'login']">Fazer login</a>
            </ng-template>
    </ng-template>
</div>