<app-confirm-dialog></app-confirm-dialog>
<p-dialog [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '600px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title flex align-items-center">
                <i class="pi pi-user-plus mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <div class="flex flex-column">
                    <span>Inscrever aluno</span>
                </div>
            </span>
        </div>
    </ng-template>
    <form #form="ngForm" class="px-2" (submit)="sendConfirmation(form, $event)">
        <div class="formgrid grid">
            <!-- Aluno -->
            <div class="field col-12">
                <label for="aluno_Id">Selecionar alunos: <span class="text-red-500">*</span></label>
                <p-select [options]="alunos"
                          [loading]="loadingAlunos"
                          [(ngModel)]="selectedAluno"
                          (onChange)="alunoChanged($event, aluno_Id)"
                          optionLabel="nome"
                          #aluno_Id="ngModel"
                          name="aluno_Id"
                          inputId="aluno_Id"
                          [required]="true"
                          [filter]="true"
                          filterBy="nome"
                          [virtualScroll]="true"
                          [virtualScrollItemSize]="54"
                          panelStyleClass="p-select-stripped"
                          optionDisabled="deactivated,disponivel"
                          appendTo="body"
                          fluid>
                    <ng-template let-item #item>
                        <div class="flex align-items-center justify-content-between w-full gap-2">
                            <div>
                                <div class="flex align-items-center gap-2">
                                    <p-button type="button"
                                              icon="pi pi-whatsapp {{ !item.celular ? 'text-400' : '' }}"
                                              (onClick)="enviarMensagem(item)"
                                              (auxclick)="enviarMensagem(item)"
                                              (contextmenu)="enviarMensagem(item)"
                                              severity="success"
                                              [text]="true"
                                              [disabled]="!item.celular"
                                              pTooltip="Enviar mensagem"
                                              size="small">
                                    </p-button>
                                    <p class="font-bold mb-1">
                                        <span class="mr-2">{{item.nome}}</span>
                                        <p-badge *ngIf="item.disponivel == false"
                                                 value="Indisponível"
                                                 severity="danger"
                                                 [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                                 
                                                 <ng-template #indisponivelTemplate>
                                                     <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                                 </ng-template>
                                    </p>
                                </div>
                                <p class="mb-1 flex align-items-center gap-3 pl-2">
                                    <app-legend-color [corLegenda]="item.corLegenda"
                                                      [professor_Id]="item.professor_Id"
                                                      [professor]="item.professor"
                                                      [turma_Id]="item.turma"></app-legend-color>
                                    <span class="font-normal">Educador(a) {{item.professor}}</span>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="aluno_Id.touched && aluno_Id.invalid && aluno_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['indisponivel']">Aluno indisponível.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['restricaoMobilidade']">{{aluno_Id.errors['restricaoMobilidade']}}.</p>
                </div>
            </div>
        </div>
        <p-divider layout="horizontal" [align]="'left'">
            <span class="text-primary-500 font-bold">Dados da <span class="capitalize">{{getTipo(evento)}}</span></span>
        </p-divider>
        <div class="formgrid grid">
            <!-- Descrição -->
            <div class="field md:col-4 sm:col-4 col-12">
                <label for="descricao">Descrição: </label>
                <input type="text"
                       pInputText
                       [value]="evento.descricao"
                       id="descricao"
                       name="descricao"
                       [readonly]="true"
                       fluid>
            </div>
            <!-- Data -->
            <div class="field md:col-3 sm:col-3 col-5">
                <label for="dataInicio">Data:</label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-calendar" />
                    <input type="text"
                           pInputText
                           [value]="evento.data | date : 'dd/MM/yyyy'"
                           id="professor"
                           readonly
                           fluid />
                </p-iconfield>
            </div>
            <!-- Horário -->
            <div class="field md:col-3 sm:col-3 col-5">
                <label for="horario">Horário:</label>
                <p-iconfield>
                    <input type="text"
                           pInputText
                           [value]="evento.data | date : 'HH:mm'"
                           id="horario"
                           readonly
                           fluid />
                    <p-inputicon styleClass="pi pi-clock" />
                </p-iconfield>
            </div>
            <!-- Duração -->
            <div class="field md:col-2 sm:col-2 col-2">
                <label for="duracaoEvento">Duração:</label>
                <p-iconfield>
                    <input type="text"
                           pInputText
                           [value]="'1h'"
                           id="duracaoEvento"
                           readonly
                           fluid />
                    <p-inputicon styleClass="pi pi-hourglass" />
                </p-iconfield>
            </div>
            <!-- Limite de Alunos -->
            <div class="field md:col-4 sm:col-4 col-12">
                <label for="capacidadeMaximaAlunos">Limite de Alunos:</label>
                <input type="text"
                       pInputText
                       [value]="'Teoricamente 1 aluno'"
                       id="capacidadeMaximaAlunos"
                       readonly
                       fluid />
            </div>
            <!-- Educador -->
            <div class="field md:col-4 sm:col-4 col-6">
                <label for="professor">Educador: </label>
                <input type="text"
                       pInputText
                       [value]="evento.professor ?? 'Indefinido'"
                       id="professor"
                       readonly
                       fluid />
            </div>
            <!-- Sala -->
            <div class="field md:col-4 sm:col-4 col-6">
                <label for="sala">Sala: </label>
                <input type="text"
                       pInputText
                       [value]="salaAula"
                       id="sala"
                       readonly
                       fluid />
            </div>
            <!-- Observações -->
            <div class="field col-12">
                <label for="observacao">Observações:</label>
                <textarea pTextarea
                          name="observacao"
                          id="observacao"
                          [value]="evento.observacao"
                          [readonly]="true"
                          fluid></textarea>
            </div>
            <div class="col-12 px-1 flex align-items-center justify-content-end">
                <p-button type="submit"
                          styleClass="w-full px-3"
                          label="Inserir"
                          icon="pi pi-check"
                          [loading]="loading"
                          [rounded]="true"
                          [disabled]="form.invalid || loading" />
            </div>
        </div>
    </form>
</p-dialog>