<app-confirm-dialog></app-confirm-dialog>
<header class="p-dialog-header px-0">
    <div class="p-dialog-title w-full flex align-items-center gap-2">
        <i class="pi pi-calendar mr-2 text-base w-2rem h-2rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
        <p>Agendar Falta</p>
    </div>
    <div class="p-dialog-header-actions">
        <p-button
                  [icon]="maximized ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"
                  (onClick)="maximize()"
                  styleClass="p-dialog-maximize-button"
                  severity="secondary"
                  rounded
                  pRipple
                  text />
        <p-button icon="pi pi-times"
                  (onClick)="close(false)"
                  styleClass="p-dialog-close-button"
                  severity="secondary"
                  rounded
                  pRipple
                  text />
    </div>
</header>
<form #form="ngForm" (ngSubmit)="sendConfirmation($event)">
    <!-- Aluno -->
    <app-falta-aluno-select *ngIf="true"
                            class="w-full formgrid grid"
                            (onAlunoChanged)="alunoChanged($event)"></app-falta-aluno-select>
    <!-- Evento -->
    <app-falta-evento-selected 
                            *ngIf="evento"
                            class="w-full formgrid grid"
                            (onEventoChanged)="eventoChanged($event)"></app-falta-evento-selected>
    <!-- Calendario -->
    <app-falta-calendario-select 
                            *ngIf="!evento && aluno"
                            class="w-full formgrid grid"
                            (onEventoChanged)="eventoChanged($event)"></app-falta-calendario-select>

    <div class="field col-12">
        <label for="observacao">Motivo da falta: <span class="text-red-500">*</span></label>
        <textarea 
            pTextarea 
            rows="5"
            [autoResize]="true"
            placeholder="Aproveite para contar o motivo da falta"
            id="observacao"
            name="observacao"
            #observacao="ngModel"
            [(ngModel)]="request.observacao"
            [required]="true"
            fluid
        ></textarea>
        <div *ngIf="observacao.touched && observacao.errors">
            <p class="text-red-500" *ngIf="observacao.errors['requires']">Este campo é obrigatório.</p>
        </div>
    </div>
    <!-- Footer -->
    <div class="col-12 px-2 gap-4 flex flex-wrap align-items-center justify-content-between">
        <div class="ml-auto">
            <p-button (onClick)="sendConfirmation($event)"
                      styleClass="w-full px-3"
                      label="Marcar falta"
                      [icon]="'pi pi-check'"
                      [loading]="loading"
                      tooltipPosition="top"
                      [disabled]="!evento || !aluno"
                      [rounded]="true" />
        </div>
    </div>
</form>