<app-confirm-dialog></app-confirm-dialog>

<header class="p-dialog-header px-0">
    <div class="p-dialog-title w-full flex align-items-center gap-2">
        <i class="pi pi-calendar mr-2 text-base w-2rem h-2rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
        <p>Agendar Aula 0</p>
    </div>
    <div class="p-dialog-header-actions">
        <p-button icon="pi pi-times"
                  (onClick)="close(false)"
                  styleClass="p-dialog-close-button"
                  severity="secondary"
                  rounded
                  pRipple
                  text />
    </div>
</header>
<form #form="ngForm" class="px-2" (submit)="sendConfirmation(form, $event)">
    <div class="formgrid grid">
        <!-- Data -->
        <div class="field col-6">
            <label for="data">Data: <span class="text-red-500">*</span></label>
            <p-datepicker
                            #_data="ngModel"
                            [(ngModel)]="data"
                            (ngModelChange)="verificaDisponibilidade()"
                            (onMonthChange)="dateNavigatorChanged($event)"
                            (onYearChange)="dateNavigatorChanged($event)"
                            placeholder="dd/mm/yyyy"
                            [showIcon]="true"
                            [iconDisplay]="'input'"
                            inputId="data"
                            name="data"
                            [required]="true"
                            [selectOtherMonths]="true"
                            [keepInvalid]="true"
                            [disabledDays]="[0]"
                            [disabledDates]="invalidDates"
                            appendTo="body"
                            fluid />
            <div *ngIf="_data.touched && _data.invalid && _data.errors">
                <p class="text-red-500 mt-2 mb-0" *ngIf="_data.errors['required']">Esse campo é obrigatório.</p>
            </div>
        </div>
        <!-- Horário -->
        <div class="field col-6">
            <label for="horario">Horário: <span class="text-red-500">*</span></label>
            <p-datepicker inputId="horario"
                            name="horario"
                            #_horario="ngModel"
                            [(ngModel)]="horario"
                            (ngModelChange)="verificaDisponibilidade()"
                            placeholder="hh:mm"
                            [showIcon]="true"
                            icon="pi pi-clock"
                            [iconDisplay]="'input'"
                            [required]="true"
                            appendTo="body"
                            [timeOnly]="true"
                            fluid>
                <ng-template #inputicon let-clickCallBack="clickCallBack">
                    <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                </ng-template>
            </p-datepicker>
            <div *ngIf="_horario.touched && _horario.invalid && _horario.errors">
                <p class="text-red-500 mt-2 mb-0" *ngIf="_horario.errors['required']">Esse campo é obrigatório.</p>
            </div>
        </div>
        <!-- Aluno -->
        <div class="field col-12">
            <label for="aluno_Id">Aluno: <span class="text-red-500">*</span></label>
            <ng-container *ngIf="aluno">
                <p-iconField >
                    <p-inputIcon *ngIf="aluno.turma_Id">
                        <app-legend-color 
                        [corLegenda]="aluno.corLegenda"
                        [professor]="aluno.professor"/>
                    </p-inputIcon>
                    <input pInputText 
                            id="aluno_Id"
                            name="aluno_Id"
                            [value]="aluno.nome  + ' - Turma: ' + aluno.turma"
                            readonly
                            style="padding-right: 6rem;"
                            fluid
                    />
                    <p-inputIcon>
                        <span class="text-500 hover:underline hover:text-primary-500 cursor-pointer" (click)="showAluno(aluno.id)">Ver aluno</span>
                    </p-inputIcon>
                </p-iconField>
            </ng-container>
            <ng-container *ngIf="!aluno">
                <!-- panelStyleClass="p-select-stripped" -->
                <!-- -->
                <!-- 
                    display="chip"
                -->
                    <p-multiselect [options]="alunos"
                                #_aluno_Id="ngModel"
                                name="aluno_Id"
                                inputId="aluno_Id"
                                [(ngModel)]="selectedAlunos"
                                (onChange)="alunoChanged($event, _aluno_Id)"
                                [virtualScroll]="true"
                                [virtualScrollItemSize]="54" 
                                [loading]="loadingAlunos || loadingEventos"
                                [filter]="true"
                                filterBy="nome"
                                [showToggleAll]="false"
                                [disabled]="loadingEventos || !data || !horario"
                                [required]="true"
                                [readonly]="aluno_Id"
                                optionLabel="nome"
                                optionDisabled="deactivated, disponivel"
                                placeholder="Selecione"
                                appendTo="body"
                                fluid>
                    <ng-template #selecteditems let-selectedOptions>
                        <ng-container *ngFor="let aluno of selectedOptions">
                            <p-chip [label]="aluno.nome | nameAbv"
                                    class="capitalize"
                                    [removable]="true"
                                    (onRemove)="removeAluno(aluno)" />
                        </ng-container>
                    </ng-template>
                    <ng-template let-item #item>
                        <div class="flex align-items-center justify-content-between w-full gap-2">
                            <div>
                                <div class="flex align-items-center">
                                    <p-button type="button"
                                                icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                                                (onClick)="enviarMensagem(item)"
                                                (auxclick)="enviarMensagem(item)"
                                                (contextmenu)="enviarMensagem(item)"
                                                severity="success"
                                                [text]="true"
                                                [disabled]="!item.celular"
                                                pTooltip="Enviar mensagem"
                                                size="small">
                                    </p-button>
                                    <p class="font-bold">
                                        <span class="mr-2">{{item.nome}}</span>
                                        <p-badge *ngIf="item.disponivel == false"
                                                    value="Indisponível"
                                                    severity="danger"
                                                    [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                        <ng-template #indisponivelTemplate>
                                            <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                        </ng-template>
                                    </p>
                                </div>
                                <p class="flex align-items-center gap-2 pl-2">
                                    <app-legend-color class="line-height-1"
                                                        [corLegenda]="item.corLegenda"
                                                        [professor_Id]="item.professor_Id"
                                                        [professor]="item.professor"
                                                        [turma_Id]="item.turma_Id"></app-legend-color>
                                    <span class="font-normal">Turma {{item.turma}}</span>
                                </p>
                            </div>
                            <p-tag [value]="item.perfilCognitivo"
                            icon="fa fa-brain" />
                        </div>
                    </ng-template>
                </p-multiselect>
                <div *ngIf="_aluno_Id.touched && _aluno_Id.invalid && _aluno_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="_aluno_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="_aluno_Id.errors['indisponivel']">Aluno indisponível.</p>
                </div>
            </ng-container>
        </div>
        <!-- Educador -->
        <div class="field col-6">
            <label for="professor_Id">Educador: <span class="text-red-500">*</span></label>
            <p-select
                        [options]="professores"
                        [(ngModel)]="object.professor_Id"
                        [loading]="loadingProfessores || loadingEventos"
                        [disabled]="loadingProfessores || loadingEventos || !data || !horario"
                        (onChange)="professorChanged($event, professor_Id)"
                        #professor_Id="ngModel"
                        name="professor_Id"
                        inputId="professor_Id"
                        optionLabel="nome"
                        optionValue="id"
                        [required]="true"
                        [filter]="true"
                        filterBy="nome"
                        appendTo="body"
                        optionDisabled="deactivated"
                        placeholder="Selecione"
                        fluid>
                <ng-template let-item #item>
                    <div class="flex align-items-center justify-content-between w-full gap-2">
                        <div>
                            <p class="font-bold mb-1 flex align-items-center gap-2">
                                <app-legend-color class="line-height-1"
                                                        [corLegenda]="item.corLegenda"
                                                    [professor_Id]="item.id"
                                                    [professor]="item.nome"></app-legend-color>
                                <span>{{ item.nome }}</span>
                                <p-badge *ngIf="item.disponivel == false"
                                            value="Indisponível"
                                            severity="danger"
                                            [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                <ng-template #indisponivelTemplate>
                                    <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                </ng-template>
                            </p>
                            <ng-container *ngIf="item.expedienteInicio && item.expedienteFim">
                                <p class="text-sm">Expediente {{item.expedienteInicio | date : 'HH:mm'}} às {{item.expedienteFim | date : 'HH:mm'}}</p>
                            </ng-container>
                        </div>
                        <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                                [icon]="(item.active ? 'pi pi-lock-open' : 'pi pi-lock') + ' mr-2 text-sm'"
                                [value]="item.active ? 'Ativo': 'Inativo'"
                                [severity]="item.active ? 'success': 'danger'"
                                [pTooltip]="!item.active ?  'Inativo desde ' + (item.deactivated | date : 'dd/MM/yyyy HH:mm')  : undefined" />
                    </div>
                </ng-template>
            </p-select>
            <div *ngIf="professor_Id.touched && professor_Id.invalid && professor_Id.errors">
                <p class="text-red-500 mt-2 mb-0" *ngIf="professor_Id.errors['required']">Esse campo é obrigatório.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="professor_Id.errors['indisponivel']">{{professor_Id.errors['indisponivel']}}</p>
            </div>
        </div>
        <!-- Sala -->
        <div class="field col-6">
            <label for="sala_Id">Sala: <span class="text-red-500">*</span></label>
            <p-select
                        [options]="salaAulas"
                        [(ngModel)]="object.sala_Id"
                        [loading]="loadingSalaAulas || loadingEventos"
                        [disabled]="loadingSalaAulas || loadingEventos || !data || !horario"
                        (onChange)="salaAulaChanged($event, sala_Id)"
                        #sala_Id="ngModel"
                        optionValue="id"
                        optionLabel="descricao"
                        name="sala_Id"
                        inputId="sala_Id"
                        [required]="true"
                        [filter]="true"
                        filterBy="descricao"
                        appendTo="body"
                        optionDisabled="deactivated"
                        placeholder="Selecione"
                        fluid>
                <ng-template let-item #item>
                    <div class="w-full flex align-items-center justify-content-between">
                        <app-sala-aula [sala_Id]="item.id"
                                        [andar]="item.andar"
                                        [numeroSala]="item.numeroSala"
                                        [descricao]="item.descricao"></app-sala-aula>
                        <p-badge *ngIf="item.disponivel == false"
                                    value="Indisponível"
                                    severity="danger"
                                    [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                    </div>
                    <ng-template #indisponivelTemplate>
                        <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                    </ng-template>
                </ng-template>
            </p-select>
            <div *ngIf="sala_Id.touched && sala_Id.invalid && sala_Id.errors">
                <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['required']">Esse campo é obrigatório.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['indisponivel']">Sala indisponível.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['restricaoMobilidade']">{{sala_Id.errors['restricaoMobilidade']}}</p>
            </div>
        </div>
        <div class="col-12 px-1 flex align-items-center justify-content-between">

            <p class="text-sm line-height-2">
                Esse agendamento irá finalizar automaticamente o checklist de agendamento correspondente para o(s) aluno(s) selecionado(s).
            </p>

            <p-button type="submit"
                        styleClass="w-full px-3"
                        label="Agendar"
                        icon="pi pi-check"
                        [loading]="loading"
                        [rounded]="true"
                        [disabled]="form.invalid || loading" />
        </div>
    </div>
</form>