
<p-contextmenu #cm [model]="tableMenu" (onHide)="tableSelectedItem = null" appendTo="body" triggerEvent="onclick"/>

<div class="px-3 pb-4 bg-white">
    <p-table
             #dt
             [value]="list"
             [rows]="50"
             [rowsPerPageOptions]="[50, 100, 1000]"
             [paginator]="list.length > 50"
             [columns]="tableColumns"
             [globalFilterFields]="tableGlobalFilterFields"
             [(contextMenuSelection)]="tableSelectedItem"
             dataKey="id"
             stripedRows
             showGridlines
             [rowHover]="list.length > 0"
             [contextMenu]="cm"
             (contextMenuSelectionChange)="contextMenuSelectionChange($event)">
        <ng-template pTemplate="caption">
            <p-toolbar styleClass="border-none bg-white py-2 px-2 -mx-3 ">
                <div class="p-toolbar-group-start">
                    <h2 class="flex align-items-center ">
                        <i class="fa-solid fa-user-graduate mr-3 text-primary text-2xl"></i>
                        <span class="text-2xl font-normal my-0">Diário de bordo</span>
                    </h2>
                </div>
                <div class="p-toolbar-group-center"></div>
                <div class="p-toolbar-group-end items-stretch">
                    <div class="flex align-items-strech">
                        <p-iconfield class="mr-2">
                            <p-inputicon styleClass="pi pi-search" />
                            <input type="text"
                                   pInputText
                                   #_tableSearch="ngModel"
                                   [(ngModel)]="tableSearch"
                                   id="search"
                                   name="search"
                                   (input)="dt.filterGlobal(tableSearch, 'contains')"
                                   placeholder="Pesquisar" />
                        </p-iconfield>
                        <p-button icon="pi pi-filter-slash text-sm text-white" (onClick)="clear(dt)" severity="secondary" [text]="true" tooltip="Limpar filtro" class="mr-2" size="small" styleClass="h-full bg-black-alpha-80" />
                        <p-button icon="pi pi-sync text-sm text-white" (onClick)="update()" severity="secondary" [text]="true" tooltip="Atualizar usuários" class="mr-2" size="small" styleClass="h-full bg-black-alpha-80" />
                    </div>
                </div>
            </p-toolbar>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <ng-container *ngTemplateOutlet="headerTemplate; context: { item: dates[0] }"></ng-container>
                <ng-template #headerTemplate let-item="item">
                    <th class="surface-50 font-normal" colspan="2" *ngIf="item" >
                        <span>{{item.jornada.dataInicio | date : 'dd'}} </span>
                        
                        <span *ngIf="item.jornada.dataInicio.getMonth() != item.jornada.dataFim.getMonth()"> de {{item.jornada.dataInicio | date : 'MMMM'}} </span>
                        <span *ngIf="item.jornada.dataInicio.getFullYear() != item.jornada.dataFim.getFullYear()"> de {{item.jornada.dataInicio | date : 'yyyy'}} </span>
                        
                        <span> à </span>
                        
                        <span>{{item.jornada.dataFim | date : 'dd'}} </span>
                        <span > de {{item.jornada.dataFim | date : 'MMMM'}} </span>
                        <span > de {{item.jornada.dataFim | date : 'yyyy'}} </span>
                    </th>

                </ng-template>
                
                
                <ng-container *ngFor="let item of dates">
                    
                    <th *ngIf="item.jornada.id > 0" [colSpan]="item.datas.length" class="text-white text-center" [style]="{ backgroundColor: item.jornada.corLegenda  }">
                        {{item.jornada.tema}}
                    </th>
                    <th *ngIf="item.jornada.id == 0" [colSpan]="item.datas.length" class="text-center" [style]="{ backgroundColor: 'var(--surface-50)' }">
                    </th>
                </ng-container>
                <th class="surface-50"></th>
            </tr>
            <tr>
                <th class="surface-900 border-none text-400 text-white text-light white-space-nowrap"> Aluno</th>
                <th class="surface-900 text-white" (click)="prev()"><</th>
                <ng-container *ngFor="let jornada of dates">
                    <th *ngFor="let data of jornada.datas" class="surface-900 border-none text-400 text-white text-light white-space-nowrap" >
                        <span>{{ data | date : 'dd/MM' }}</span>
                    </th>
                </ng-container>
                <th class="surface-900 text-white" (click)="next()">></th>
            </tr>
            
            <tr>
                <!-- <th  *ngFor="let date of dates"
                    class="surface-900 border-none text-400 text-white text-light white-space-nowrap">
                    <div class="flex align-items-center">
                        <span>{{ date | date : 'dd/MM' }}</span>
                    </div>
                </th>
                <th class="surface-900  border-bottom-none text-white"></th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr [pContextMenuRow]="item"
                class="cursor-pointer"
                [ngClass]="{ 'bg-primary-50': item == tableSelectedItem,}">
                <td *ngFor="let col of tableColumns"
                    [pSelectableRow]="item"
                    [pSelectableRowIndex]="rowIndex"
                    [ngClass]="{
                        'white-space-nowrap  border-left-none border-right-none': true,
                        'w-6rem':col.displayType == DisplayType.options,
                        
                    }"
                    (click)="dt.contextMenuSelection = item; tableSelectedItem = item;  dt.contextMenuSelectionChange.emit(item) ; cm.show($event);">
                    <ng-template [ngIf]="col.displayType == DisplayType.options">
                        <ng-container *ngTemplateOutlet="tag; 
                            context: { 
                                item: item,
                                option: getOption(col, item)
                            }">
                        </ng-container>
                        <ng-template #tag let-item="item" let-option="option">
                            <p-tag *ngIf="option"
                                   styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                                   [icon]="option.icon ? (option.icon + ' mr-2 text-sm') : ''"
                                   [value]="option.label"
                                   [severity]="option.severity ? option.severity : 'secondary'"
                                   [pTooltip]="option.showDeactivatedDate == true  && item['deactivated'] ?  'Inativo desde ' + (item['deactivated'] | date : 'dd/MM/yyyy HH:mm')  : undefined" />
                        </ng-template>
                    </ng-template>
                    <ng-template [ngIf]="col.displayType == DisplayType.color">
                        <span class="w-1rem h-1rem flex border-circle" [ngStyle]="{ backgroundColor: item[col.field] ?? 'black' }"></span>
                    </ng-template>
                    <ng-template [ngIf]="col.displayType == DisplayType.text">{{ item[col.field] }}</ng-template>
                    <ng-template [ngIf]="col.displayType == DisplayType.numeric">{{ item[col.field] | number : col.options?.digitsInfo : col.options?.locale }}</ng-template>
                    <ng-template [ngIf]="col.displayType == DisplayType.date">{{ item[col.field] | date : col.options?.format : col.options?.timezone : col.options?.locale }}</ng-template>
                    <ng-template [ngIf]="col.displayType == DisplayType.time">{{ item[col.field] | date : col.options?.format : col.options?.timezone : col.options?.locale }}</ng-template>

                </td>
                <td class="border-none px-0"></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <ng-container *ngIf="tableLoading; else elseTemplate">
                <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" style="height: 43px;">
                    <td *ngFor="let col of tableColumns" class="border-none"><p-skeleton /></td>
                    <td  class="border-none"><p-skeleton /></td>
                </tr>
            </ng-container>
            <ng-template #elseTemplate>
                <tr class="p-datatable-empty-text">
                    <td [attr.colspan]="tableColumns.length + 1">
                        <div class="flex align-items-center" *ngIf="!tableSearch">
                            <span>Nenhum item registrado.</span>
                        </div>
                        <div *ngIf="tableSearch"> Nenhum item encontrado. </div>
                    </td>
                </tr>
            </ng-template>
        </ng-template>
    </p-table>
</div>