<div class="p-1">
    <p-toolbar styleClass="border-none bg-white py-3 px-3 mb-4 shadow-1">
        <div class="p-toolbar-group-start">
            <h2 class="flex align-items-center ">
                <i class="pi pi-calendar mr-3 text-primary text-2xl"></i>
                <span class="text-2xl font-normal my-0">Dashboard</span>
            </h2>
        </div>
        <div class="p-toolbar-group-center"></div>
        <div class="p-toolbar-group-end">
            <div class="flex align-items-center gap-2">
                <div class="flex align-items-center gap-2">
                    <label for="ano">Selecione o ano: </label>
                    <p-select inputId="ano"
                              name="ano"
                              [(ngModel)]="ano"
                              [options]="anos"></p-select>
                </div>
                <p-button icon="pi pi-sync text-sm text-white" (onClick)="update()" severity="secondary" [text]="true" pTooltip="Atualizar dashboard" class="mr-2" size="small" styleClass="bg-black-alpha-80" />
            </div>
        </div>
    </p-toolbar>
    <p-table
             [value]="alunos"
             pStripedRows
             [showGridlines]="false"
             dataKey="id"
             [scrollable]="true"
             scrollHeight="calc(100vh - 150px)"
             [virtualScroll]="true"
             [virtualScrollItemSize]="60">
             <!-- 
             [scrollable]="true"
             scrollHeight="calc(100vh - 150px)"
             [virtualScroll]="true"
             [virtualScrollItemSize]="60" -->
        <ng-template #header let-columns>
            <tr pFrozenRow>
                <th rowspan="2"
                    pFrozenColumn
                    alignFrozen="left"
                    [frozen]="true"
                    [pSortableColumn]="'nome'"
                    class=" bg-primary-500 text-white">
                    <div class="flex align-items-center">
                        <span>Alunos</span>
                        <p-columnFilter class="ml-auto"
                                        style="color: white"
                                        [type]="'text'"
                                        [field]="'nome'"
                                        display="menu"
                                        [showAddButton]="false"
                                        [showOperator]="false" />
                        <p-sortIcon [field]="'nome'" />
                    </div>
                </th>
                <th rowspan="2"
                    [pSortableColumn]="'turma'"
                    class=" bg-primary-500 text-white">
                    <div class="flex align-items-center">
                        <span>Turma</span>
                        <p-columnFilter class="ml-auto"
                                        style="color: white"
                                        [type]="'text'"
                                        [field]="'turma'"
                                        display="menu"
                                        [showAddButton]="false"
                                        [showOperator]="false" />
                        <p-sortIcon [field]="'turma'" />
                    </div>
                </th>
                <ng-container *ngFor="let mes of mesesAno; let i = index;">
                    <th [colSpan]="mes.roteiros.length"
                        class="w-full bg-primary-500 capitalize text-white text-center z-0 border-1 border-primary-400 border-top-none border-bottom-none"
                        [attr.data-mes]="mes.mes"> {{mes.mesString}} </th>
                </ng-container>
            </tr>
            <tr>
                <ng-container *ngFor="let mes of mesesAno">
                    <ng-container *ngFor="let roteiro of mes.roteiros; let i = index;">
                        <th class="bg-primary-500 text-white px-2 capitalize text-center cursor-pointer" (mouseenter)="popoverRoteiro.show($event)" (click)="popoverRoteiro.show($event)" (mouseleave)="popoverRoteiro.hide()">
                            <span>Semana {{roteiro.semana}}</span>
                            <p-popover #popoverRoteiro styleClass="-mt-1">
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda  }"></i>
                                    <span class="font-bold text-base">Semana {{roteiro.semana}} - {{roteiro.tema}} </span>
                                    <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda  }"></i>
                                </div>
                                <p class="white-space-nowrap"> Do dia {{roteiro.dataInicio | date : 'dd/MM' }} ao dia {{roteiro.dataFim | date : 'dd/MM' }} </p>
                            </p-popover>
                        </th>
                    </ng-container>
                </ng-container>
            </tr>
        </ng-template>
        <!-- <ng-template #groupheader let-customer>
            <tr pRowGroupHeader style="z-index: 999" >
                <td class="z-1 white-space-nowrap  py-1 surface-900 text-white"
                    pFrozenColumn
                    alignFrozen="left"
                    [frozen]="true">
                    <div class="flex align-items-center gap-2">
                        <p>{{customer.turma}}</p>
                    </div>
                </td>
                
                <ng-container *ngFor="let mes of mesesAno; let i = index;">
                    <td [colSpan]="mes.roteiros.length" class="z-0 p-0 surface-900 text-white" >  </td>
                </ng-container>
            </tr>
        </ng-template> -->
            <ng-template #body let-aluno let-i="rowIndex">
            <tr>
                <td pFrozenColumn alignFrozen="left" [frozen]="true" class="white-space-nowrap px-2 py-1 z-2" [ngClass]="{
                    'surface-100': i % 2 == 0,
                    'surface-50': i % 2 != 0,
                }">
                    <div class="flex align-items-center">
                        <span class="flex w-2rem h-2rem mr-2">
                            <a *ngIf="aluno && aluno.celular;"
                               [href]="enviarMensagem(aluno.nome, aluno.celular)"
                               target="_blank"
                               pTooltip="Enviar mensagem"
                               class="p-ripple p-button p-component p-button-icon-only p-button-link p-button-success p-button-text p-button-sm">
                                <i class="pi pi-whatsapp p-button-icon ng-star-inserted"></i>
                            </a>
                        </span>
                        <span class="text-base" [pTooltip]="aluno.nome">{{aluno.nome | nameAbv }}</span>
                        <!-- <span> - Aulas{{aluno.aulas|json}}</span> -->
                    </div>
                </td>
                <td class="white-space-nowrap px-2 py-1 z-2" [ngClass]="{
                    'surface-100': i % 2 == 0,
                    'surface-50': i % 2 != 0,
                }">
                    <ng-container *ngTemplateOutlet="corLegenda; context: { corLegenda: getCorLegenda(aluno.professor_Id) }"></ng-container>
                    <ng-template #corLegenda let-corLegenda="corLegenda">
                        <span class="w-1rem h-1rem inline-flex border-circle mr-2" [style]="{ backgroundColor: corLegenda, borderColor: corLegenda }"></span>
                    </ng-template>
                    <span>{{aluno.turma}}</span>
                </td>
                <ng-container *ngFor="let item of aluno.aulas">
                    <td class="p-1"
                        [ngClass]="{
                            'surface-100': i % 2 == 0,
                            'surface-50': i % 2 != 0,
                        }"
                        *ngIf="!item.aula.reagendamentoPara_Evento_Id && !item.participacao.reposicaoPara_Evento_Id">
                        <!-- Aulas fora da vigencia do aluno não escreve -->
                        <!-- {{item.aula.data|date : 'dd/MM HH:mm'}} -->
                        <ng-container *ngIf="item.show == true">
                            <div class="cursor-pointer white-space-nowrap" (click)="selectAlunoAula( $event, popoverSelectedAlunoAula)">
                                
                                <p-badge *ngIf="item.primeiraAula"
                                        styleClass=" bg-pink-500 border-pink-500"
                                        value="Aula 1"
                                        size="small"
                                        severity="danger"
                                        [pTooltip]="'Primeira aula'" />

                                <!-- Cancelada -->
                                <ng-container *ngIf="!item.aula.active && !item.aula.reagendamentoDe_Evento_Id">
                                    <div class="w-full bg-red-500 text-xs p-1 border-1 border-red-500 text-white text-center">
                                        <span>Cancelada</span>
                                    </div>
                                    <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                </ng-container>
                                <!-- Reagendada -->
                                <ng-container *ngIf="item.aula.reagendamentoDe_Evento_Id && !item.aula.finalizado">
                                    <div class="w-full bg-orange-500 text-xs p-1 border-1 border-orange-500 text-white text-center">
                                        <span>Reagendada</span>
                                    </div>
                                    <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                </ng-container>
                                <!-- Reposição -->
                                <ng-container *ngIf="item.participacao.reposicaoDe_Evento_Id && !item.aula.finalizado">
                                    <div class="w-full bg-blue-600 text-xs p-1 border-1 border-blue-600 text-white text-center">
                                        <span>Reposição</span>
                                    </div>
                                    <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                </ng-container>
                                <!-- Faltou -->
                                <ng-container *ngIf="item.aula.finalizado == true
                                        && item.participacao.presente == false 
                                        && item.participacao.active == true ">
                                    <div class="w-full bg-red-500 text-xs p-1 border-1 border-red-500 text-white text-center flex align-items-center justify-content-center gap-2">
                                        <span>Faltou</span>
                                            <a *ngIf="aluno && aluno.celular;"
                                               [href]="enviarMensagem(aluno.nome, aluno.celular)"
                                               target="_blank"
                                               pTooltip="Enviar mensagem"
                                               class="pi pi-whatsapp hover:bg-green-500 text-white border-circle text-xs">
                                            </a>
                                    </div>
                                    <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                </ng-container>
                                <!-- Presente -->
                                <ng-container *ngIf="item.aula.finalizado
                                        && item.participacao.presente == true 
                                        && item.participacao.active">
                                    <div class="p-1 text-xs bg-green-600 text-white border-1 border-green-600 ">
                                        <div class="px-1 flex align-items-center gap-2">
                                            <span>{{item.participacao.apostila_Abaco}}</span>
                                            <span class="ml-auto"> P. {{item.participacao.numeroPaginaAbaco}}</span>
                                        </div>
                                        <div class="px-1 flex align-items-center gap-2">
                                            <span>{{item.participacao.apostila_AH}}</span>
                                            <span class="ml-auto"> P. {{item.participacao.numeroPaginaAH}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-template #dataTemplate>
                                    <div class="flex w-full">
                                        <p class="px-2 pt-1 flex-1 bg-white text-center text-xs border-1 border-200 border-top-none border-right-none">{{item.aula.data | date: 'dd/MM'}} </p>
                                        <p class="px-2 pt-1 flex-1 bg-white text-center text-xs border-1 border-200 border-top-none">{{item.aula.data | date: 'HH\'h\'mm'}}</p>
                                    </div>
                                </ng-template>
                                <p-popover #popoverSelectedAlunoAula
                                           id="roteiro-aula-{{item.participacao.id}}"
                                           (onHide)="unselectAlunoAula(popoverSelectedAlunoAula)"
                                           [dismissable]="true"
                                           styleClass="-mt-1">
                                    <div *ngIf="!item.aula.active && !item.aula.reagendamentoPara_Evento_Id">
                                        <p class="text-red-500 font-bold text-lg">
                                            <span>Aula Cancelada</span>
                                            <i class="pi pi-times ml-2"></i>
                                        </p>
                                    </div>
                                    <div *ngIf="item.aula.reagendamentoDe_Evento_Id && item.aula.reagendamentoDe_Evento">
                                        <p class="text-orange-500 font-bold text-base">
                                            <span>Reagendamento da aula do dia {{item.aula.reagendamentoDe_Evento.data | date : 'dd/MM \'às\' HH\'h\'mm'}}</span>
                                            <i class="pi pi-exclamation ml-2"></i>
                                        </p>
                                    </div>
                                    <div *ngIf="item.participacao.reposicaoDe_Evento_Id && item.participacao.reposicaoDe_Evento">
                                        <p class="text-blue-600 font-bold text-base">
                                            <span>Reposição da aula do dia {{item.participacao.reposicaoDe_Evento.data | date : 'dd/MM \'às\' HH\'h\'mm'}}</span>
                                            <i class="pi pi-exclamation ml-2"></i>
                                        </p>
                                    </div>
                                    <p-badge *ngIf="item.primeiraAula"
                                            styleClass=" bg-pink-500 border-pink-500"
                                            value="Aula 1"
                                            size="small"
                                            severity="danger"
                                            [pTooltip]="'Primeira aula'" />
                                    <p class="flex gap-2">
                                        <span class="font-bold">Data:</span>
                                        <span>{{item.aula.data | date:'dd/MM/yy '}}</span>
                                        <span class="font-bold">Horário:</span>
                                        <span>{{item.aula.data | date:'HH:mm'}}</span>
                                    </p>
                                    <p *ngIf="item.aula.turma"><span class="font-bold">Turma</span> {{item.aula.turma}}</p>
                                    <p *ngIf="item.aula.professor">
                                        <span class="font-bold">Professor: </span>
                                        <span>{{item.aula.professor}}</span>
                                        <span class="border-circle w-1rem h-1rem ml-1 inline-flex" [style]="{ backgroundColor: item.aula.corLegenda }"> </span>
                                    </p>
                                    <p class="font-bold mt-2">Observações: </p>
                                    <p class="max-w-20rem max-h-20rem white-space-normal overflow-hidden text-overflow-ellipsis" *ngIf="item.aula.observacao || item.participacao.observacao ">
                                        <span>{{item.aula.observacao ?? item.participacao.observacao}}</span>
                                    </p>
                                    <p class="white-space-normal text-500" *ngIf="!item.aula.observacao && !item.participacao.observacao">Nenhuma observação</p>
                                </p-popover>
                            </div>
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <ng-container *ngIf="loadingAlunos">
                <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                    <tr style="height: 35px;">
                        <td class="py-4" pFrozenColumn>
                            <div class="flex align-items-center gap-2">
                                <p-skeleton shape="circle" size="1.3rem" />
                                <p-skeleton width="15rem" height="1rem" />
                            </div>
                        </td>
                        <ng-container *ngFor="let mes of mesesAno">
                            <td class="py-4" *ngFor="let roteiro of mes.roteiros"><p-skeleton height="1rem" width="6rem" /></td>
                        </ng-container>
                    </tr>
                </ng-container>
            </ng-container>
        </ng-template>
    </p-table>
</div>