<app-confirm-dialog></app-confirm-dialog>
<div class="formgrid grid">
    <!-- Foto -->
    <div class="xl:col-2 lg:col-2 md:col-3 col-12 px-0 ">
        <p-fileupload #fileUpload
                      styleclass="gap-0 bg-transparent"
                      [ngClass]="{
                        'pointer-events-none': !object.active
                      }"
                      name="myfile[]"
                      accept="image/*"
                      (onSelect)="onSelectedFiles($event)"
                      styleClass="border-none"
                      [showUploadButton]="false"
                      [showCancelButton]="false"
                      [chooseStyleClass]="'hidden'"
                      [disabled]="!object.active"
                      headerTemplate=""
                      fluid>
            <ng-template #content
                         let-files
                         let-uploadedFiles="uploadedFiles"
                         let-removeFileCallback="removeFileCallback"
                         let-removeUploadedFileCallback="removeUploadedFileCallback">
            </ng-template>
            <ng-template #file>
                <div class="w-full flex flex-column align-items-center justify-content-center">
                    <p-button (onClick)="choose(fileUpload)"
                              icon="pi pi-images"
                              [rounded]="true"
                              label="Selecionar foto"
                              class="-mb-5 relative z-2" />
                    <div class="flex align-items-center justify-content-center relative  md:w-full w-16rem">
                        <div *ngIf="loadingFile"
                             class="w-full flex align-items-center justify-content-center absolute z-1">
                            <div class="border-circle border-1 border-100 bg-black-alpha-50 cursor-default overflow-hidden w-full"
                                 style="padding-top: 100%; height: 0"></div>
                            <i class="pi pi-spin pi-spinner text-white absolute z-1 text-4xl"
                               style="font-size: 2rem"></i>
                        </div>
                        <div id="divImage"
                             class="border-circle border-1 border-primary-500 cursor-pointer overflow-hidden w-full relative z-0 bg-cover bg-center bg-no-repeat"
                             [ngStyle]="{ 
                            paddingTop: '100%', 
                            height: '0', 
                            backgroundImage: 'url(' + foto + ')' 
                        }">
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #empty>
                <div class="w-full flex flex-column align-items-center justify-content-center">
                    <p-button (onClick)="choose(fileUpload)"
                              icon="pi pi-images"
                              [rounded]="true"
                              label="Selecionar foto"
                              class="-mb-5 relative z-2" />
                    <div class="flex align-items-center justify-content-center relative md:w-full w-16rem" (click)="choose(fileUpload)">
                        <ng-container *ngIf="loadingFile">
                            <div class="w-full flex align-items-center justify-content-center absolute z-1">
                                <div class="border-circle border-1 border-100 bg-black-alpha-50 cursor-default overflow-hidden w-full" style="padding-top: 100%; height: 0"></div>
                                <i class="pi pi-spin pi-spinner text-white absolute z-1 text-4xl"
                                   style="font-size: 2rem"></i>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!foto">
                            <div class="bg-white hover:shadow-1 border-circle border-1 border-100 hover:border-primary-500 hover:surface-50 cursor-pointer  overflow-hidden w-full relative z-0" style="padding-top: 100%; height: 0"></div>
                            <i *ngIf="!loadingFile" class="pi pi-user absolute  md:text-7xl sm:text-4xl text-7xl text-300 hover:text-400"></i>
                        </ng-container>
                        <ng-container *ngIf="foto">
                            <div id="divImage" class="border-circle border-1 border-primary-500 cursor-pointer overflow-hidden w-full relative z-0 bg-cover bg-center bg-no-repeat"
                                 [ngStyle]="{ paddingTop: '100%', height: '0', backgroundImage: 'url(' + foto + ')' }">
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-template>
        </p-fileupload>
    </div>
    <div class="xl:col-10 lg:col-10 md:col-9 col-12 px-0 flex align-items-start">
        <div class="hidden md:block surface-300" style="height: 95%; width: 2px;"></div>
        <div class="formgrid grid pl-2 sm:px-3">
            <!-- Nome -->
            <div class="field lg:col-4 md:col-6 sm:col-6 xs:col-8 col-12">
                <label for="nome">Nome: <span class="text-red-500">*</span></label>
                <input type="text"
                       pInputText
                       #nome="ngModel"
                       [(ngModel)]="object.nome"
                       id="nome"
                       name="nome"
                       [required]="true"
                       [readonly]="!object.active"
                       fluid>
                <div *ngIf="nome.touched && nome.invalid && nome.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="nome.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- RM -->
            <div class="field lg:col-2 md:col-3 sm:col-2 xs:col-4 col-12">
                <label for="rm">RM <small class="text-400 line-height-1">(Registro de Matrícula)</small>: </label>
                <input type="text"
                       pInputText
                       #rm="ngModel"
                       [(ngModel)]="object.rm"
                       id="rm"
                       name="rm"
                       readonly
                       fluid>
            </div>
            <!-- Data de Nascimento -->
            <div class="field lg:col-3 md:col-3 sm:col-4 xs:col-6 col-12">
                <label for="dataNascimento">Data de Nascimento: <span class="text-red-500">*</span></label>
                <p-datepicker
                              #dataNascimento="ngModel"
                              [(ngModel)]="object.dataNascimento"
                              [showIcon]="object.active"
                              [iconDisplay]="'input'"
                              [selectOtherMonths]="true"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              inputId="dataNascimento"
                              name="dataNascimento"
                              [required]="true"
                              [readonlyInput]="!object.active"
                              appendTo="body"
                              fluid />
                <div *ngIf="dataNascimento.touched && dataNascimento.invalid && dataNascimento.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataNascimento.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Gênero -->
            <div class="field lg:col-3 sm:col-4 xs:col-6 col-12">
                <label for="pessoa_Sexo_Id">Gênero: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="sexos"
                          [(ngModel)]="object.pessoa_Sexo_Id"
                          [loading]="loadingSexos"
                          #pessoa_Sexo_Id="ngModel"
                          name="pessoa_Sexo_Id"
                          inputId="pessoa_Sexo_Id"
                          optionLabel="nome"
                          optionValue="id"
                          appendTo="body"
                          [ngClass]="{ 'pointer-events-none': !object.active }"
                          [readonly]="!object.active"
                          [showClear]="object.active"
                          [dropdownIcon]=" !object.active ? 'pi' : undefined "
                          [required]="true"
                          fluid />
                <div *ngIf="pessoa_Sexo_Id.touched && pessoa_Sexo_Id.invalid && pessoa_Sexo_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="pessoa_Sexo_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Telefone -->
            <div class="field lg:col-3 sm:col-4 xs:col-6 col-12">
                <label for="telefone">Telefone: </label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-phone" />
                    <input pInputText
                           type="text"
                           id="telefone"
                           name="telefone"
                           #telefone="ngModel"
                           [(ngModel)]="object.telefone"
                           mask="+99 (99) 9999-9999"
                           placeholder="+55 (99) 9999-9999"
                           [readonly]="!object.active"
                           [validation]="true"
                           fluid />
                </p-iconfield>
            </div>
            <!-- Celular -->
            <div class="field lg:col-3 sm:col-4 xs:col-6 col-12">
                <label for="celular">Celular: <span class="text-red-500">*</span></label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-mobile" />
                    <input pInputText
                           type="text"
                           id="celular"
                           name="celular"
                           #celular="ngModel"
                           [(ngModel)]="object.celular"
                           mask="+99 (99) 9.9999-9999"
                           placeholder="+55 (99) 9.9999-9999"
                           [validation]="true"
                           [required]="true"
                           [readonly]="!object.active"
                           fluid />
                </p-iconfield>
                <div *ngIf="celular.touched && celular.invalid && celular.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="celular.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- E-mail -->
            <div class="field lg:col-6 md:col-6 sm:col-6 xs:col-12 col-12">
                <label for="email">E-mail: <span class="text-red-500">*</span></label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-envelope" />
                    <input type="text"
                           pInputText
                           [email]="true"
                           placeholder="example@gmail.com"
                           id="email"
                           name="email"
                           #email="ngModel"
                           [(ngModel)]="object.email"
                           [required]="true"
                           [readonly]="!object.active"
                           fluid>
                </p-iconfield>
                <div *ngIf="email.touched && email.invalid && email.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Endereço -->
            <div class="field lg:col-6 md:col-6 sm:col-6 xs:col-12 col-12">
                <label for="endereco">Endereço: </label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-map-marker" />
                    <input type="text"
                           pInputText
                           #endereco="ngModel"
                           [(ngModel)]="object.endereco"
                           id="endereco"
                           name="endereco"
                           placeholder="Rua das Pedras 123 - Vila das Amoras SP"
                           [readonly]="!object.active"
                           fluid>
                </p-iconfield>
                <div *ngIf="endereco.touched && endereco.invalid && endereco.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="endereco.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Restrições -->
            <div class="field lg:col-3 md:col-6 xs:col-6 col-12">
                <div class="flex align-items-center gap-2 justify-content-between mb-1 relative">
                    <label for="restricoesText">Restrições: </label>
                    <div class="flex align-items-center gap-1 ml-auto text-blue-300 hover:text-blue-500 cursor-pointer mb-1"
                         (click)="popoverExplicacaoRestricoes.show($event)">
                        <span>Info</span>
                        <span class="pi pi-question-circle"></span>
                    </div>
                    <p-popover #popoverExplicacaoRestricoes
                               appendTo="body"
                               styleClass="w-30rem max-w-screen -mt-1">
                        <div class="max-h-20rem overflow-auto text-justify">
                            <p class="text-red-500 font-bold text-lg mb-4">ATENÇÃO:</p>
                            <p>As restrições <b>NÃO</b> impedem agendamentos ou transferências de turma, mas devem sempre ser consideradas para tal.</p>
                            <p>Um alerta será exibido ao identificar essas restrições.</p>
                            <p class="mt-4">A restrição <b class="text-red-500">Mobilidade Reduzida </b> <b>IMPÕE</b> limitações para agendamentos ou transferências de turma.</p>
                            <p>Ela deve ser marcada no campo checkbox abaixo.</p>
                        </div>
                    </p-popover>
                </div>
                <p-iconfield>
                    <p-inputicon *ngIf="loadingRestricoes" styleClass="pi pi-spin pi-spinner" />
                    <p-inputicon *ngIf="!loadingRestricoes" styleClass="pi pi-ban" />
                    <input type="text"
                            pInputText
                            [value]="restricoesText" 
                            (keydown.tab)="restricoes.hide()"
                            (focusin)="restricoes.show($event)"
                            (click)="restricoes.show($event)"   
                            id="restricoesText"
                            tabindex="0"
                            readonly
                            fluid>
                    
                </p-iconfield>
                <p-popover #restricoes appendTo="body" styleClass="-mt-1">
                    <div class="p-2 border-bottom-1 border-200 ">
                        <p-iconfield *ngIf="object.active" >
                            <input type="text"
                                   pInputText
                                   #restricao
                                   id="restricao"
                                   name="restricao"
                                   class="w-full pr-7"
                                   [required]="true"
                                   (keyup.enter)="cadastrarRestricao($event, restricao, restricoes)"
                                   placeholder="Inserir nova restrição..."
                                   fluid>
                            <p-inputicon>
                                <span class="text-primary-500 cursor-pointer hover:text-primary-600 hover:bg-primary-100 p-1 px-2 border-round-md -mr-2" (click)="cadastrarRestricao($event, restricao, restricoes)">enter</span>
                            </p-inputicon>
                        </p-iconfield>
                        <div class="">
                            <ng-container *ngIf="object.restricoes && object.restricoes.length; else restricoesEmptyTemplate">
                                <ng-container *ngFor="let item of object.restricoes; let i = index">
                                    <div class="flex align-items-center gap-2 p-2" [ngClass]="{
                                        'surface-50': i % 2 == 0
                                    }">
                                        <p-checkbox *ngIf="object.active"
                                         [name]="'active-' + i"
                                         [inputId]="'active-' + i"
                                         #checkbox="ngModel"
                                         [(ngModel)]="item.active"
                                         [binary]="true"
                                         (onChange)="toggleRestricao($event, item, checkbox, restricoes)" />
                                         <p-checkbox  *ngIf="!object.active"
                                         [inputId]="'active-' + i"
                                         [value]="item.active"
                                         [binary]="true"
                                         class="pointer-events-none"
                                                    />
                                        <p>{{item.descricao}}</p>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-template #restricoesEmptyTemplate>
                                <p class="text-500 mt-2">Nenhuma restrição inserida</p>
                            </ng-template>
                        </div>
                    </div>
                </p-popover>
                <div class="flex align-itens-center gap-2 mt-2">
                    <p-checkbox inputId="restricaoMobilidade"
                                name="restricaoMobilidade"
                                #restricaoMobilidade="ngModel"
                                [(ngModel)]="object.restricaoMobilidade"
                                [binary]="true"
                                [ngClass]="{ 'pointer-events-none': !object.active }"
                                [readonly]="!object.active"
                                (onChange)="object.active ? mobilidadeReduzidaChange($event) : undefined" />
                    <label for="restricaoMobilidade">Mobilidade reduzida</label>
                </div>
            </div>
            <!-- Etapa da jornada -->
            <div class="field lg:col-3 md:col-6 xs:col-6 col-12">
                <label for="jornadaNome">Etapa da jornada: </label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-check-square" *ngIf="!loadingJornada"/>
                    <p-inputicon styleClass="pi pi-spin pi-spinner" *ngIf="loadingJornada"/>
                    <input type="text"
                           pInputText
                           [value]="jornadaNome"
                           id="jornadaNome"
                           name="jornadaNome"
                           class="cursor-pointer"
                           (focus)="showAlunoJornada()"
                           (click)="showAlunoJornada()"
                           (keydown)="$event.preventDefault()"
                           fluid>
                    <p-inputicon *ngIf="!loadingJornada">
                        <div class="flex align-items-center gap-2">
                            <span class="text-600">{{jornadaFinalizados}}</span>
                            <i class="{{jornadaIcon}}"></i>
                        </div>
                    </p-inputicon>
                </p-iconfield>

            </div>
        </div>
    </div>
    <div class="col-12 px-3 mt-2 flex overflow-hidden">
        <div class="formgrid grid">
            <!-- Turma -->
            <div class="field lg:col-3 md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="turma_Id">Turma:</label>
                <p-select
                          [options]="turmasDisponiveis"
                          [loading]="loadingTurmas"
                          [showClear]="false"
                          [(ngModel)]="object.turma_Id"
                          inputId="turma"
                          name="turma"
                          #turma_Id="ngModel"
                          optionLabel="nome"
                          optionValue="id"
                          placeholder="Indefinido"
                          [checkmark]="true"
                          (onChange)="turmaChanged($event)"
                          [filter]="true"
                          filterBy="nome"
                          [ngClass]="{ 'pointer-events-none': !object.active }"
                          [readonly]="!object.active"
                          [dropdownIcon]=" !object.active ? 'pi' : undefined "
                          appendTo="body"
                          fluid>
                    <ng-template #selectedItem let-selectedOption>
                        <div class="flex align-items-center gap-2">
                            <app-legend-color [corLegenda]="selectedOption.corLegenda"
                                              [professor]="selectedOption.professor"
                                              [professor_Id]="selectedOption.professor_Id"
                                              [turma_Id]="selectedOption.id"></app-legend-color>
                            <span>{{selectedOption.nome}}</span>
                        </div>
                    </ng-template>
                    <ng-template #item let-turma>
                        <div class="flex align-items-start gap-2 w-full">
                            <div class="w-full">
                                <div class="flex align-items-center gap-2">
                                    <app-legend-color [corLegenda]="turma.corLegenda"
                                                      [professor]="turma.professor"
                                                      [professor_Id]="turma.professor_Id"
                                                      [turma_Id]="turma.id"></app-legend-color>
                                    <span>{{turma.nome}}</span>
                                    <p class="ml-auto " *ngIf="turma.vagasDisponiveis > 0">{{turma.vagasDisponiveis}} vagas</p>
                                    <p class="ml-auto text-500" *ngIf="turma.vagasDisponiveis == 0">Não há vagas</p>
                                </div>
                                <div class="flex align-items-center justify-content-between gap-2 w-full">
                                    <p class="flex align-items-center gap-2">
                                        <span>{{turma.sala}}</span>
                                        <span>-</span>
                                        <span *ngIf="turma.andar > SalaAndar.Terreo">{{turma.andar}}º andar</span>
                                        <span *ngIf="turma.andar == SalaAndar.Terreo">Térreo</span>
                                    </p>
                                </div>
                            </div>
                            <span class="pl-2 flex align-items-center gap-2 ml-auto">
                                <ng-container *ngFor="let perfil of turma.perfilCognitivo">
                                    <p-tag icon="fa-solid fa-brain" [value]="perfil.nome" />
                                </ng-container>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template #footer>
                        <div class="p-3 border-top-1 border-200">
                            <ng-container *ngIf="object.restricaoMobilidade">
                                <p>Esse aluno tem restrição de mobilidade:</p>
                                <p>
                                    <i class="pi pi-check text-green-500 mr-1"></i> Somente turmas do térreo serão exibidas.
                                </p>
                            </ng-container>
                            <p>
                                <i class="pi pi-check text-green-500 mr-1"></i> Somente turmas do mesmo perfil cognitivo serão exibidas.
                            </p>
                            <p>
                                <i class="pi pi-check text-green-500 mr-1"></i> Somente turmas com vagas serão exibidas.
                            </p>
                        </div>
                    </ng-template>
                </p-select>
            </div>
            <!-- Educador -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="professor">Educador: </label>
                <p-iconfield>
                    <p-inputicon>
                        <app-legend-color class="line-height-1"
                         [corLegenda]="selectedTurma?.corLegenda ?? '#000' "
                                          [professor]="selectedTurma?.professor ?? 'Indefinido'"></app-legend-color>
                    </p-inputicon>
                    <input type="text"
                           pInputText
                           [value]="selectedTurma?.professor ?? 'Indefinido'"
                           id="professor"
                           name="professor"
                           readonly
                           fluid>
                </p-iconfield>
            </div>
            <!-- Perfil Cognitivo -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="perfilCognitivo_Id">Perfil Cognitivo:</label>
                <p-iconfield>
                    <p-inputicon styleClass="fa-solid fa-brain" />
                    <p-select [options]="perfisCognitivos"
                              [(ngModel)]="object.perfilCognitivo_Id"
                              [loading]="loadingPerfisCognitivos"
                              [showClear]="true"
                              #perfilCognitivo_Id="ngModel"
                              (onChange)="perfilChange($event)"
                              name="perfilCognitivo_Id"
                              inputId="perfilCognitivo_Id"
                              optionLabel="nome"
                              optionValue="id"
                              placeholder="Indefinido"
                              [ngClass]="{ 'pointer-events-none': !object.active }"
                              [showClear]="object.active"
                              [readonly]="!object.active"
                              [dropdownIcon]=" !object.active ? 'pi' : undefined "
                              appendTo="body"
                              fluid />
                </p-iconfield>
            </div>
            <!-- KIT Apostila -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="apostila_Kit_Id">Kit Apostila</label>
                <p-select
                          [options]="kits"
                          [(ngModel)]="selectedKit"
                          (onChange)="kitChanged(apostila_Kit_Id, $event)"
                          [loading]="loadingKits"
                          #apostila_Kit_Id="ngModel"
                          name="apostila_Kit_Id"
                          inputId="apostila_Kit_Id"
                          optionLabel="nome"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          optionDisabled="deactivated"
                          placeholder="Indefinido"
                          [ngClass]="{ 'pointer-events-none': !object.active }"
                          [showClear]="object.active"
                          [readonly]="!object.active"
                          [dropdownIcon]=" !object.active ? 'pi' : undefined "
                          fluid>
                    <ng-template let-item #item>
                        <div class="flex flex-column">
                            <p class="font-bold">{{ item.nome }}</p>
                            <p>Total de apostilas: {{item.apostilas.length}}</p>
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="apostila_Kit_Id.touched && apostila_Kit_Id.invalid && apostila_Kit_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="apostila_Kit_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Apostila Ábaco -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="apostila_Abaco">Apostila Ábaco: </label>
                <input type="text"
                       pInputText
                       [value]="object.apostila_Abaco ?? 'Indefinido'"
                       id="apostila_Abaco"
                       name="apostila_Abaco"
                       readonly
                       fluid>
            </div>
            <!-- Página -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="numeroPaginaAbaco">Página: </label>
                <input type="text"
                       pInputText
                       [value]="object.numeroPaginaAbaco ?? 'Indefinido'"
                       id="numeroPaginaAbaco"
                       name="numeroPaginaAbaco"
                       readonly
                       fluid>
            </div>
            <!-- Apostila AH -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="apostila_AH">Apostila AH: </label>
                <input type="text"
                       pInputText
                       [value]="object.apostila_AH ?? 'Indefinido'"
                       id="apostila_AH"
                       name="apostila_AH"
                       readonly
                       fluid>
            </div>
            <!-- Página -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="numeroPaginaAH">Página: </label>
                <input type="text"
                       pInputText
                       [value]="object.numeroPaginaAH ?? 'Indefinido'"
                       id="numeroPaginaAH"
                       name="numeroPaginaAH"
                       readonly
                       fluid>
            </div>
        </div>
    </div>
</div>