<app-confirm-dialog></app-confirm-dialog>


<form #form="ngForm" (ngSubmit)="send($event)">
    <div class="formgrid grid ">
        <div class="col-12 mb-4">
            <h3 class="text-2xl mb-0 font-bold">Esqueci minha senha</h3>
            <p class="mt-2">Enviaremos um link de alteração de senha no e-mail fornecido abaixo.</p>
        </div>
        <div class="field col-12"> <!-- E-mail -->
            <label for="email">E-mail: <span class="text-red-500">*</span></label>
            <div>
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-envelope" />
                    <input type="text"
                           pInputText
                           #email="ngModel"
                           [(ngModel)]="object.email"
                           id="email"
                           name="email"
                           class="w-full"
                           [required]="true"
                           [pattern]="emailPattern"
                           placeholder="example@gmail.com">
                </p-iconField>
            </div>
            <div *ngIf="email.touched && email.invalid && email.errors">
                <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['required']">Esse campo é obrigatório.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['email']">E-mail inválido.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['pattern']">E-mail inválido.</p>
            </div>
        </div>
        <div class="field col-12 mt-2 mb-3">
            <p class="text-red-500 mt-0 mb-2 text-center" *ngIf="error">{{error}}</p>
            <p-button
                      type="submit"
                      label="Enviar"
                      [rounded]="true"
                      [raised]="true"
                      class="w-full"
                      styleClass="w-full"
                      [disabled]="loading || form.invalid"
                      [loading]="loading" />
        </div>
        <!-- <div class="col-12 mb-3">
            <p-divider layout="horizontal" align="center" styleClass="m-0 p-0"> <span class="text-primary">ou</span> </p-divider>
        </div> -->
        <div class="col-12 text-center">
            <!-- <p-button type="button"
                        severity="secondary"
                        [routerLink]="['..', 'login']"
                      label="Fazer login"
                      [rounded]="true"
                      [raised]="true"
                      size="small" 
                      class="w-full"
                      styleClass="w-full"/> -->
            <a class="text-primary link text-underline" [routerLink]="['..', 'login']">Fazer login</a>
        </div>
    </div>
</form>