<div [ngClass]="{
    'zoomout animation-duration-500 ': !alunoChecklistItem
}">
    <ng-container *ngIf="alunoChecklistItem">
        <div class="flex align-items-center">
            <p-button type="button"
                      (onClick)="enviarMensagem()"
                      (auxclick)="enviarMensagem()"
                      (contextmenu)="enviarMensagem()"
                      [disabled]="!alunoChecklistItem.celular"
                      icon="pi pi-whatsapp"
                      severity="success"
                      [rounded]="true"
                      [text]="true"
                      size="small"
                      styleClass="-ml-2 fadein" />
            <p class="hover:text-primary hover:underline cursor-pointer capitalize fadein"
            (click)="showAluno(alunoChecklistItem)">
                {{ alunoChecklistItem.aluno | nameAbv }}
            </p>
            <p (click)="finalizarChecklist()"
               class="cursor-pointer text-primary-500 flex align-items-center gap-2 hover:underline hover:font-bold ml-auto fadein">
                <span>Clique para finalizar</span>
                <i class="pi pi-check no-underline hoveer:no-underline"></i>
            </p>
        </div>
        <div class="flex align-items-center justify-content-between">
            <p class="flex fadein">
                <span class="font-bold mr-2">Prazo: </span>
                <span>{{alunoChecklistItem.prazo | date : 'dd/MM/yy'}}</span>
            </p>
            <p class="ml-auto fadein">
                <span class="flex align-items-center line-height-1">
                    <span [class]="textColor">{{text}}</span>
                    <i class="{{textColor}} {{icon}} ml-2 mt-1"></i>
                </span>
            </p>
        </div>
    </ng-container>
</div>