 .event.event-hover{
   width: 190px;
    height: 90px;
    padding: 7px;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: .1s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.event-perfil {
    width: 100%;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .85rem;
}

.event-hover .event-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: nowrap;
    gap: 0.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
}

.event-hover .event-time {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-right: auto;
    font-size: .9rem;
    line-height: 1;
}

.event-hover .event-time .pi {
    font-size: .8rem;
}

.event-hover .event-educador {
    font-size: .9rem;
    line-height: 1;
}
.event-hover .event-body {
    width: 100%;
    /* margin: 5px 0 0; */
    margin: auto 0;
    display: block;
}

.event-hover .event-descricao {
    font-size: 1.1rem;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.25;
}

.event-hover .event-sala {
    font-size: .9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.event-hover .event-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
    text-align: left;
}

.event-hover .event-alunos {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 2px;
    font-size: .8rem;

}
.event-hover .event-alunos .pi {
    font-size: .78rem;
}

.event-hover .event-vagas {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: .9;
    font-size: .8rem;
}
.event-hover .event-vagas .pi {
    font-size: .7rem;
}


.event-hover .event-cancelado {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 0 2px 1px;
    margin-left: -1px;
    margin-bottom: -1px;
}

.event-hover .event-finalizado {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 0 2px 1px;
    margin-left: -1px;
    margin-bottom: -1px;
} 

.event-hover .event.event-hover .event-feriado .event-hover .event-header {
    font-size: .8rem;
    display: flex;
}
.event-hover .event.event-hover .event-feriado .event-hover .event-body {
    display: flex;
}
.event-hover .event.event-hover .event-feriado .event-hover .event-body .event-hover .event-descricao {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
    font-size: .95rem;
    text-align: left;
    line-height: 1.1;
}
