<div class="formgrid grid">
    <!-- Data -->
    <div class="field lg:col-2 sm:col-4 col-5">
        <label for="data">Data:</label>
        <p-iconfield>
            <p-inputicon styleClass="pi pi-calendar" />
            <input type="text"
                   pInputText
                   [value]="evento.data | date : 'dd/MM/yyyy'"
                   id="data"
                   name="data"
                   readonly
                   fluid />
        </p-iconfield>
    </div>
    <!-- Horário -->
    <div class="field lg:col-2 sm:col-4 col-5">
        <label for="horario">Horário:</label>
        <p-iconfield>
            <p-inputicon styleClass="pi pi-clock" />
            <input type="text"
                   pInputText
                   [value]="evento.data | date : 'HH:mm'"
                   id="horario"
                   name="horario"
                   readonly
                   fluid />
        </p-iconfield>
    </div>
    <!-- Duração -->
    <div class="field lg:col-2 sm:col-4 col-2">
        <label for="duracaoEvento">Duração:</label>
        <p-iconfield>
            <input type="text"
                   pInputText
                   [value]="duracaoEvento"
                   id="duracaoEvento"
                   readonly
                   fluid />
            <p-inputicon styleClass="pi pi-hourglass" />
        </p-iconfield>
    </div>
    <!-- Educador -->
    <div class="field lg:col-3 sm:col-6 col-12">
        <label for="professor_Id">Educador: <span *ngIf="!evento.finalizado" class="text-red-500">*</span></label>
        <p-select [options]="professores"
                  [(ngModel)]="evento.professor_Id"
                  [loading]="loadingProfessores"
                  (onChange)="professorChanged($event, professor_Id)"
                  placeholder="Selecione"
                  #professor_Id="ngModel"
                  name="professor_Id"
                  inputId="professor_Id"
                  optionLabel="nome"
                  optionValue="id"
                  [required]="true"
                  [filter]="true"
                  filterBy="nome"
                  appendTo="body"
                  optionDisabled="deactivated"
                  [readonly]="evento.finalizado"
                  [dropdownIcon]="evento.finalizado ? 'pi' : 'pi pi-angle-down'"
                  fluid>
            <ng-template let-item #item>
                <div class="flex align-items-center justify-content-between w-full gap-2">
                    <div>
                        <p class="font-bold mb-1 flex align-items-center gap-2">
                            <app-legend-color class="line-height-1"
                                                        [corLegenda]="item.corLegenda"
                                              [professor_Id]="item.id"
                                              [professor]="item.nome"></app-legend-color>
                            <span>{{ item.nome }}</span>
                            <p-badge *ngIf="item.disponivel == false"
                                     value="Indisponível"
                                     severity="danger"
                                     [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                            <ng-template #indisponivelTemplate>
                                <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                            </ng-template>
                        </p>
                        <ng-container *ngIf="item.expedienteInicio && item.expedienteFim">
                            <p class="text-sm">Expediente {{item.expedienteInicio | date : 'HH:mm'}} às {{item.expedienteFim | date : 'HH:mm'}}</p>
                        </ng-container>
                    </div>
                    <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                           [icon]="(item.active ? 'pi pi-lock-open' : 'pi pi-lock') + ' mr-2 text-sm'"
                           [value]="item.active ? 'Ativo': 'Inativo'"
                           [severity]="item.active ? 'success': 'danger'"
                           [pTooltip]="!item.active ?  'Inativo desde ' + (item.deactivated | date : 'dd/MM/yyyy HH:mm')  : undefined" />
                </div>
            </ng-template>
        </p-select>
        <div *ngIf="professor_Id.touched && professor_Id.invalid && professor_Id.errors">
            <p class="text-red-500 mt-2 mb-0" *ngIf="professor_Id.errors['required']"> Esse campo é obrigatório. </p>
            <p class="text-red-500 mt-2 mb-0" *ngIf="professor_Id.errors['indisponivel']"> Educador indisponível. </p>
        </div>
    </div>
    <!-- Sala -->
    <div class="field lg:col-3 sm:col-6 col-12">
        <label for="sala_Id">Sala: <span *ngIf="!evento.finalizado" class="text-red-500">*</span></label>
        <p-select [options]="salaAulas"
                  [(ngModel)]="evento.sala_Id"
                  [loading]="loadingSalaAulas"
                  (onChange)="salaAulaChanged($event, sala_Id)"
                  #sala_Id="ngModel"
                  name="sala_Id"
                  inputId="sala_Id"
                  optionValue="id"
                  optionLabel="descricao"
                  [required]="true"
                  [filter]="true"
                  filterBy="descricao"
                  optionDisabled="deactivated"
                  [readonly]="evento.finalizado"
                  [dropdownIcon]="evento.finalizado ? ' ' : 'pi pi-angle-down'"
                  appendTo="body"
                  fluid>
                  <ng-template let-item #item>
                      <div class="w-full flex align-items-center justify-content-between">
                          <app-sala-aula [sala_Id]="item.id"
                                         [andar]="item.andar"
                                         [numeroSala]="item.numeroSala"
                                         [descricao]="item.descricao"></app-sala-aula>
                          <p-badge *ngIf="item.disponivel == false"
                                   value="Indisponível"
                                   severity="danger"
                                   [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                      </div>
                      <ng-template #indisponivelTemplate>
                          <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                      </ng-template>
                  </ng-template>
        </p-select>
        <div *ngIf="sala_Id.touched && sala_Id.invalid && sala_Id.errors">
            <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['required']"> Esse campo é obrigatório. </p>
            <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['indisponivel']"> Sala indisponível. </p>
        </div>
    </div>
    <!-- Observações -->
    <div class="field col-12">
        <label for="observacao">Observações:</label>
        <textarea pTextarea
                  class="w-full"
                  name="observacao"
                  id="observacao"
                  [(ngModel)]="evento.observacao"
                  [readonly]="evento.finalizado"
                  [rows]="3"></textarea>
    </div>
    <!-- Alunos -->
    <div class="col-12 flex flex-wrap py-2">
        <ng-container *ngFor="let item of evento.alunos; let i = index">
        
            <!-- Card -->
            <div class="col bg-white border-round-lg shadow-2 p-0 mr-3 mb-3"
                 style="min-width: 18rem">
                <header class="flex align-items-center p-3 surface-50">
                    <div
                         class="w-full overflow-hidden white-space-nowrap text-overflow-ellipsis">
                        <div class="flex flex-column align-items-start overflow-hidden">
                            <span class="p-button-link hover:underline capitalize text-lg font-bold"
                                [pTooltip]="'Clique para ver mais: ' + item.aluno"
                                (click)="showAluno(item)">
                                {{ item.aluno }}
                            </span>
                        </div>
                    </div>
                    <p-button [severity]="item.presente ? 'success' : 'danger'"
                              [label]="item.presente ? 'Presente' : 'Faltou'"
                              [icon]="item.presente ? 'pi pi-thumbs-up-fill' : 'pi pi-thumbs-down-fill'"
                              size="small"
                              class="my-auto"
                              [class.pointer-events-none]="evento.finalizado"
                              (onClick)="evento.finalizado ? undefined : presenteClick(item)"></p-button>
                </header>
                <div class="px-3 pt-3 pb-3" *ngIf="!item.presente">
                    <div class="flex align-items-center justify-content-center p-3 surface-50 border-round">
                        <i class="pi pi-info-circle text-blue-500 text-xl mr-3"></i>
                        <span class="text-600 font-medium"> Aluno ausente - não é necessário preencher informações adicionais. </span>
                    </div>
                </div>
                <div class="formgrid grid px-3 pt-3" *ngIf="item.presente">
                    <!-- Perfil Cognitivo -->
                    <div class="field col">
                        <label for="perfilCognitivo[{{ i }}]">Perfil Cognitivo: <span *ngIf="!evento.finalizado && item.presente == true" class="text-red-500">*</span></label>
                        <p-iconfield>
                            <p-inputicon styleClass="fa-solid fa-brain" />
                            <ng-container *ngIf="evento.finalizado">
                                <input pInputText
                                       id="perfilCognitivo[{{ i }}]"
                                       name="perfilCognitivo[{{ i }}]"
                                       [value]="item.perfilCognitivo"
                                       readonly
                                       fluid />
                            </ng-container>
                            <ng-container *ngIf="!evento.finalizado">
                                <p-select
                                          [options]="perfisFiltered"
                                          [(ngModel)]="item.perfilCognitivo_Id"
                                          #perfilCognitivo_Id="ngModel"
                                          inputId="perfilCognitivo[{{ i }}]"
                                          name="perfilCognitivo[{{ i }}]"
                                          (onFocus)="perfilFocus(item)"
                                          optionLabel="nome"
                                          optionValue="id"
                                          placeholder="Selecione"
                                          [filter]="true"
                                          filterBy="nome"
                                          styleClass="{{ item.presente ? '' : 'pointer-events-none p-select-no-dropdown' }}"
                                          [required]="item.presente"
                                          [readonly]="!item.presente || evento.finalizado"
                                          [dropdownIcon]="!item.presente || evento.finalizado ? 'pi' : 'pi pi-angle-down'"
                                          [showClear]="true"
                                          appendTo="body"
                                          fluid />
                            </ng-container>
                        </p-iconfield>
                    </div>
                    <!-- Turma -->
                    <div class="field col">
                        <label for="turma[{{ i }}]">Turma: <span *ngIf="!evento.finalizado && item.presente == true" class="text-red-500">*</span></label>
                        <p-iconfield>
                            <p-inputicon styleClass="fa fa-users-between-lines" />
                            <ng-container *ngIf="evento.finalizado">
                                <input pInputText
                                       id="turma[{{ i }}]"
                                       name="turma[{{ i }}]"
                                       [value]="item.turma"
                                       readonly
                                       fluid />
                            </ng-container>
                            <ng-container *ngIf="!evento.finalizado"> 
                                <ng-container *ngTemplateOutlet="turmaSelect; context: {
                                    i: i,
                                    participacao: item,
                                }"></ng-container>
                            </ng-container>
                        </p-iconfield>
                    </div>
                    <!-- Apostila Kit -->
                    <div class="field col">
                        <label for="apostilaKit[{{ i }}]">Apostila Kit: <span *ngIf="!evento.finalizado && item.presente == true" class="text-red-500">*</span></label>
                        <p-iconfield>
                            <p-inputicon styleClass="fa-solid fa-book-open" />
                            <ng-container *ngIf="evento.finalizado">
                                <input pInputText
                                       id="apostilaKit[{{ i }}]"
                                       name="apostilaKit[{{ i }}]"
                                       readonly
                                       [value]="item.kit"
                                       fluid />
                            </ng-container>
                            <ng-container *ngIf="!evento.finalizado">
                                <p-select
                                          [options]="kits"
                                          [(ngModel)]="item.apostila_Kit_Id"
                                          #apostila_Kit_Id="ngModel"
                                          inputId="apostilaKit[{{ i }}]"
                                          name="apostilaKit[{{ i }}]"
                                          optionLabel="nome"
                                          optionValue="id"
                                          placeholder="Selecione"
                                          [disabled]="evento.finalizado"
                                          [required]="true"
                                          [showClear]="true"
                                          [filter]="true"
                                          filterBy="nome"
                                          styleClass="{{ item.presente ? '' : 'pointer-events-none p-select-no-dropdown' }}"
                                          [required]="item.presente"
                                          [readonly]="!item.presente || evento.finalizado"
                                          [dropdownIcon]="!item.presente || evento.finalizado ? 'pi' : 'pi pi-angle-down'"
                                          appendTo="body"
                                          fluid />
                            </ng-container>
                        </p-iconfield>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<ng-template #turmaSelect let-participacao="participacao"  let-i="i">
    <p-select [options]="turmasFiltered"
              #turma_Id="ngModel"
              [(ngModel)]="participacao.turma_Id"
              (onFocus)="turmaFocus(participacao)"
              (onChange)="turmaChanged(participacao, turma_Id, $event)"
              inputId="turma[{{ i }}]"
              name="turma[{{ i }}]"
              optionLabel="nome"
              optionValue="id"
              placeholder="Selecione"
              [filter]="true"
              filterBy="nome,professor,perfilCognitivoString,diasDeAulaString,salaDeAulaString,vagas"
              styleClass="{{ participacao.presente ? '' : 'pointer-events-none p-select-no-dropdown' }}"
              [required]="participacao.presente"
              [readonly]="!participacao.presente || evento.finalizado"
              [dropdownIcon]="!participacao.presente || evento.finalizado ? 'pi' : 'pi pi-angle-down'"
              [showClear]="true"
              appendTo="body"
              fluid>
              <ng-template #selectedItem let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <span>{{selectedOption.nome}}</span>
                    
                                <app-legend-color class="line-height-1"
                                [corLegenda]="selectedOption.corLegenda"
                                [turma]="selectedOption.nome"
                                [turma_Id]="selectedOption.id"
                                [professor]="selectedOption.professor"></app-legend-color>
                </div>
              </ng-template>
        <ng-template let-option #item>
            <div class="w-full">
                <div class="flex align-items-center gap-2">
                    <app-legend-color class="line-height-1"
                                                        [corLegenda]="option.corLegenda"
                                      [professor_Id]="option.professor_Id"
                                      [professor]="option.professor"
                                      [turma_Id]="option.id"></app-legend-color>
                    <span>{{ option.nome }}</span>
                </div>
                <div class="flex align-items-center gap-2">
                    <ng-container *ngFor="let perfil of option.perfilCognitivo">
                        <p-tag [value]="perfil.nome" icon="fa-solid fa-brain" />
                    </ng-container>
                    <p-tag *ngIf="option.vagasDisponiveis" [value]="option.vagasDisponiveis + ' vaga(s)'"
                           class="ml-auto"
                           severity="secondary" />
                    <p-tag *ngIf="!option.vagasDisponiveis" value="Nenhuma vaga"
                           class="ml-auto"
                           icon="pi pi-ban text-red-500"
                           severity="secondary" />
                </div>
            </div>
        </ng-template>
    </p-select>
</ng-template>