<div class="flex align-items-center justify-content-center min-h-screen">
    
    <div class="lg:col-4 md:col-6 sm:col-8 col-10 px-5 py-2 pb-6 surface-50 border-round">
        <div class="px-0 mb-3">
            <h3 class="text-3xl mb-0">Reset Password</h3>
        </div>
        <form #form="ngForm" (ngSubmit)="send($event)">
            <div class="formgrid grid">
                <div class="field col-12"> <!-- Password -->
                    <label for="password">Password: <small class="text-red-600">*</small></label>
                    <div>
                        <p-iconField iconPosition="left">
                            <p-password [feedback]="true"
                                [toggleMask]="true"
                                #password="ngModel"
                                [(ngModel)]="object.password"
                                id="password"
                                name="password"
                                class="w-full"
                                styleClass="w-full"
                                inputStyleClass="w-full p-icon-field-left"
                                [required]="true" 
                                placeholder="******"
                                minlenght="6">
                                <ng-template pTemplate="header">
                                    <h6>Pick a password</h6>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider/>
                                    <p class="mt-2">Suggestion</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>At least one lowercase.</li>
                                        <li>At least one uppercase.</li>
                                        <li>At least one numeric.</li>
                                        <li>Minimun 6 characters.</li>
                                    </ul>
                                </ng-template>
                                
                            </p-password>
                            <p-inputIcon styleClass="pi pi-lock"/>
                        </p-iconField>
                    </div>
                    <div *ngIf="password.touched && password.invalid && password.errors">
                        <p class="text-red-600 mt-2 mb-0" *ngIf="password.errors['required']">This field is required.</p>
                        <p class="text-red-600 mt-2 mb-0" *ngIf="password.errors['minlength']">Password must contain at least {{password.errors['requiredLength']}} characters.</p>
                    </div>
                </div>
                <div class="field col-12"> <!-- Confirm Password -->
                    <label for="confirmPassword">Confirm Password: <small class="text-red-600">*</small></label>
                    <div>
                        <p-iconField iconPosition="left">
                            <p-password [feedback]="false"
                                [toggleMask]="true"
                                #confirmPassword="ngModel"
                                [(ngModel)]="object.confirmPassword"
                                id="confirmPassword"
                                name="confirmPassword"
                                class="w-full"
                                styleClass="w-full"
                                inputStyleClass="w-full p-icon-field-left"
                                [required]="true" 
                                placeholder="******"/>
                            <p-inputIcon styleClass="pi pi-lock"/>
                        </p-iconField>
                    </div>
                    <div *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors">
                        <p class="text-red-600 mt-2 mb-0" *ngIf="confirmPassword.errors['required']">This field is required.</p>
                        <p class="text-red-600 mt-2 mb-0" *ngIf="confirmPassword.errors['minlength']">Confirm password must contain at least {{confirmPassword.errors['requiredLength']}} characters.</p>
                    </div>
                </div>
                <div class="field col-12 mb-1 mt-3">
                    <p class="text-red-600 mt-0 mb-2 text-center" *ngIf="error">{{error}}</p>
                    <p-button
                        type="submit"
                        label="Send"
                        [rounded]="true"
                        [raised]="true"
                        class="w-full"
                        styleClass="w-full"
                        [disabled]="loading || form.invalid"
                        [loading]="loading" />    
                    <div class="flex justify-content-center">
                        <p-button label="back to login" icon="pi pi-chevron-circle-left" [link]="true" [routerLink]="['../login']" />
                    </div>                
                </div>
            </div>
        </form>
    </div>
</div>


