<app-confirm-dialog></app-confirm-dialog>
<form #form="ngForm" (ngSubmit)="send($event)">
    <div class="formgrid grid">
        <div class="col-12 mb-4">
            <h3 class="text-3xl font-bold">Alterar Senha</h3>
            <p class="mt-3 text-lg">Insira as senha para alterar.</p>

        </div>
        <div class="field col-12"> <!-- Senha -->
            <label for="password">Senha: <span class="text-red-500">*</span></label>
            <div>
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-lock" />
                    <p-password [feedback]="true"
                                [toggleMask]="true"
                                #password="ngModel"
                                #passwordComponent
                                [(ngModel)]="object.password"
                                (onBlur)="validatePasswordMatch(password, confirmPassword)"
                                inputId="password"
                                name="password"
                                class="w-full"
                                styleClass="w-full"
                                inputStyleClass="w-full"
                                [required]="true"
                                [placeholder]="passwordComponent.unmasked ?  'Insira uma senha forte' : '******'"
                                [minlength]="6"
                                [maxlength]="18">
                        <ng-template pTemplate="header">
                            <h6 class="mt-0">Insira uma senha</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <p-divider />
                            <p class="mt-2">Sugestão de senha</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>Mínimo de 6 dígitos.</li>
                                <li>Pelo menos uma letra minúscula.</li>
                                <li>Pelo menos uma letra maiúscula.</li>
                                <li>Pelo menos um número.</li>
                            </ul>
                        </ng-template>
                    </p-password>
                </p-iconField>
            </div>
            <div *ngIf="password.touched && !password.valid && password.errors">
                <p class="text-red-500 mt-2 mb-0" *ngIf="password.errors['required']">Esse campo é obrigatório.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="password.errors['minlength']">A senha deve conter pelo menos 6 dígitos.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="password.errors['maxlength']">A senha deve conter no máximo 18 dígitos.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="password.errors['notMatch']">O campo "Senha" e "Confirmação de Senha" devem conter o mesmo valor .</p>
            </div>
        </div>
        <div class="field col-12"> <!-- Confirmação de Senha -->
            <label for="confirmPassword">Confirmação de Senha: <span class="text-red-500">*</span></label>
            <div>
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-lock" />
                    <p-password [feedback]="false"
                                [toggleMask]="true"
                                #confirmPassword="ngModel"
                                #confirmPasswordConponent
                                [(ngModel)]="object.confirmPassword"
                                (onBlur)="validatePasswordMatch(confirmPassword, password)"
                                inputId="confirmPassword"
                                name="confirmPassword"
                                class="w-full"
                                styleClass="w-full"
                                inputStyleClass="w-full"
                                [required]="true"
                                [placeholder]="confirmPasswordConponent.unmasked ?  'Confirme sua senha' : '******'"
                                [minlength]="6"
                                [maxlength]="18" />
                </p-iconField>
            </div>
            <div *ngIf="confirmPassword.touched && !confirmPassword.valid && confirmPassword.errors">
                <p class="text-red-500 mt-2 mb-0" *ngIf="confirmPassword.errors['required']">Esse campo é obrigatório.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="confirmPassword.errors['minlength']">A senha deve conter pelo menos 6 dígitos.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="confirmPassword.errors['maxlength']">A senha deve conter no máximo 18 dígitos.</p>
                <p class="text-red-500 mt-2 mb-0" *ngIf="confirmPassword.errors['notMatch']">O campo "Senha" e "Confirmação de Senha" devem conter o mesmo valor .</p>
            </div>
        </div>
        <div class="field col-12 mt-2">
            <p class="text-red-500 mt-0 mb-2 text-center" *ngIf="error">{{error}}</p>
            <p-button type="submit"
                      label="Alterar Senha"
                      [rounded]="true"
                      [raised]="true"
                      class="w-full"
                      styleClass="w-full"
                      [disabled]="loading || form.invalid || object.password != object.confirmPassword"
                      [loading]="loading" />
        </div>
        <div class="col-12 text-center">
            <a class="text-primary link text-underline" [routerLink]="['..', 'login']">Fazer login</a>
        </div>
    </div>
</form>