<form #form="ngForm" (ngSubmit)="send($event)">
    <div class="formgrid grid">
        <div class="col-12 mb-4">
            <h3 class="text-2xl mb-0 font-bold">Alterar Senha</h3>
                <p class="mb-0 mt-0">Insira as senha para alterar.</p>
        </div>
        <div class="field col-12"> <!-- Senha -->
            <label for="password">Senha: <small class="text-red-600">*</small></label>
            <div>
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-lock" />
                    <p-password [feedback]="true"
                                [toggleMask]="true"
                                #password="ngModel"
                                [(ngModel)]="object.password"
                                id="password"
                                name="password"
                                class="w-full"
                                styleClass="w-full"
                                inputStyleClass="w-full"
                                [required]="true"
                                placeholder="******"
                                minlenght="6">
                        <ng-template pTemplate="header">
                            <h6 class="mt-0">Insira uma senha</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <p-divider />
                            <p class="mt-2">Sugestão de senha</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>Mínimo de 6 dígitos.</li>
                                <li>Pelo menos uma letra minúscula.</li>
                                <li>Pelo menos uma letra maiúscula.</li>
                                <li>Pelo menos um número.</li>
                            </ul>
                        </ng-template>
                    </p-password>
                </p-iconField>
            </div>
            <div *ngIf="password.touched && password.invalid && password.errors">
                <p class="text-red-600 mt-2 mb-0" *ngIf="password.errors['required']">Esse campo é obrigatório.</p>
                <p class="text-red-600 mt-2 mb-0" *ngIf="password.errors['minlength']">A senha deve conter pelo menos {{password.errors['requiredLength']}} dígitos.</p>
            </div>
        </div>
        <div class="field col-12"> <!-- Confirmação de Senha -->
            <label for="confirmPassword">Confirmação de Senha: <small class="text-red-600">*</small></label>
            <div>
                <p-iconField iconPosition="left">
                    <p-inputIcon styleClass="pi pi-lock" />
                    <p-password [feedback]="false"
                                [toggleMask]="true"
                                #confirmPassword="ngModel"
                                [(ngModel)]="object.confirmPassword"
                                id="confirmPassword"
                                name="confirmPassword"
                                class="w-full"
                                styleClass="w-full"
                                inputStyleClass="w-full"
                                [required]="true"
                                placeholder="******" />
                </p-iconField>
            </div>
            <div *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors">
                <p class="text-red-600 mt-2 mb-0" *ngIf="confirmPassword.errors['required']">Esse campo é obrigatório.</p>
                <p class="text-red-600 mt-2 mb-0" *ngIf="confirmPassword.errors['minlength']">A confirmação de senha deve conter pelo menos {{confirmPassword.errors['requiredLength']}} dígitos.</p>
            </div>
        </div>
        <div class="field col-12 mt-2">
            <p class="text-red-600 mt-0 mb-2 text-center" *ngIf="error">{{error}}</p>
            <p-button
                      type="submit"
                      label="Alterar Senha"
                      [rounded]="true"
                      [raised]="true"
                      class="w-full"
                      styleClass="w-full"
                      [disabled]="loading || form.invalid"
                      [loading]="loading" />
        </div>
    </div>
</form>