<app-confirm-dialog></app-confirm-dialog>
<p-dialog [header]="'Agendar reposição'"
        [maximizable]="true"
        [draggable]="true"
        [modal]="true"
        [(visible)]="visible"
        (visibleChange)="visibleChange()"
        [style]="{ width: '850px', maxWidth: '95vw', maxHeight: '95vh' }"
        appendTo="body"
        id="reposicao">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title"><i class="pi pi-calendar mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i> Agendar reposição</span>
        </div>
    </ng-template>
    <form #form="ngForm" class="px-2" (submit)="sendConfirmation(form, $event)">
        <div class="formgrid grid">
            <!-- Aluno -->
            <div class="field col-12">
                <p-fieldset legend="Aluno">
                    <div class="formgrid grid">
                        <!-- Nome -->
                        <div class="field lg:col-4 sm:col-4 col-6">
                            <ng-container *ngIf="!blockAlunoField; else alunoSelecionadoTemplate">
                                <label for="aluno_Id">Aluno: <span class="text-red-500">*</span></label>
                                <p-iconfield>
                                    <p-inputicon *ngIf="!loadingAlunos" styleClass="fa-solid fa-user" />
                                    <p-inputicon *ngIf="loadingAlunos" styleClass="pi pi-spinner pi-spin" />
                                    <p-select [options]="alunos"
                                            [loading]="loadingAlunos"
                                            name="aluno_Id"
                                            inputId="aluno_Id"
                                            #aluno_Id="ngModel"
                                            [(ngModel)]="aluno"
                                            [required]="true"
                                            [filter]="true"
                                            filterBy="nome,turma,professor"
                                            [virtualScroll]="true"
                                            [virtualScrollItemSize]="43"
                                            optionLabel="nome"
                                            (onChange)="alunoChanged($event)"
                                            [readonly]="blockAlunoField"
                                            [disabled]="blockAlunoField"
                                            placeholder="Selecione um aluno"
                                            panelStyleClass="p-select-stripped"
                                            appendTo="body"
                                            fluid>
                                        <ng-template let-item #item>
                                            <div class="flex flex-column">
                                                <div class="flex align-items-center">
                                                    <p-button 
                                                        icon="pi pi-whatsapp  {{!item.celular ? 'text-300' : ''}}"
                                                        severity="success"
                                                        [rounded]="true"
                                                        (onClick)="enviarMensagem(item)"
                                                        (auxclick)="enviarMensagem(item)"
                                                        (contextmenu)="enviarMensagem(item)"
                                                        pTooltip="Enviar mensagem"
                                                        [disabled]="!item.celular"
                                                        [text]="true"
                                                        size="small"
                                                    />
                                                    <p class="capitalize">{{item.nome | nameAbv }}</p>
                                                </div>
                                                <div class="flex align-items-center gap-2">
                                                    <div class="w-2rem pl-1 flex justify-content-center">
                                                        <app-legend-color [corLegenda]="item.corLegenda"
                                                                          [professor_Id]="item.professor_Id"
                                                                          [professor]="item.professor"
                                                                          [turma_Id]="item.turma_Id"></app-legend-color>
                                                    </div>
                                                    <span>{{item.turma}}</span>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-select>
                                </p-iconfield>
                                <div *ngIf="aluno_Id.touched && aluno_Id.invalid && aluno_Id.errors">
                                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['required']">Esse campo é obrigatório.</p>
                                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['indisponivel']">Aluno indisponível.</p>
                                </div>
                            </ng-container>
                            <ng-template #alunoSelecionadoTemplate>
                                <label for="nome">Nome:</label>
                                <p-iconfield>
                                    <p-inputicon *ngIf="!loadingAlunos" styleClass="fa-solid fa-user text-700" />
                                    <p-inputicon *ngIf="loadingAlunos" styleClass="pi pi-spinner pi-spin" />
                                    <input type="text"
                                        pInputText
                                        [value]="aluno?.nome"
                                        id="nome"
                                        name="nome"
                                        fluid
                                        readonly>
                                </p-iconfield>
                            </ng-template>
                        </div>
                        <ng-container *ngIf="aluno">
                            <div class="field sm:col-8 col-12 flex align-items-center gap-2">
                                <p-divider layout="vertical" />
                                <div class="flex flex-column gap-2 w-full" >
                                    <div class="flex align-items-center gap-2 w-full">
                                        <i class="fa-solid fa-users-between-lines"></i>
                                        <p class="overflow-hidden text-overflow-ellipsis">Turma: {{aluno.turma}}</p>
                                        <app-legend-color [corLegenda]="aluno.corLegenda"
                                                          [professor_Id]="aluno.professor_Id"
                                                          [professor]="aluno.professor"
                                                          [turma_Id]="aluno.turma_Id"></app-legend-color>
                                    </div>
                                    <div class="flex align-items-center gap-2 w-full"> 
                                        <i class="fa-solid fa-brain"></i>
                                        <p class="overflow-hidden text-overflow-ellipsis">Perfil Cognitivo: {{aluno.perfilCognitivo}}</p>
                                    </div>
                                    <div class="flex align-items-center gap-2 w-full"> 
                                        <i class="fa-solid fa-wheelchair"></i>
                                        <p class="overflow-hidden text-overflow-ellipsis">Restrição de mobilidade: 
                                            <span *ngIf="aluno.restricaoMobilidade" class="text-red-500 zoomin animation-iteration-infinite animation-duration-500 font-bold">Sim</span> 
                                            <span *ngIf="!aluno.restricaoMobilidade">Não</span> 
                                        </p>
                                    </div>
                                    <div class="flex align-items-center gap-2 w-full"> 
                                        <i class="pi pi-ban"></i>
                                        <p class="overflow-hidden text-overflow-ellipsis">Outras restrições: {{ getRestricoes(aluno) }}</p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!aluno && loadingAlunos">
                            <div class="field sm:col-8 col-12 flex align-items-center gap-2">
                                <p-divider layout="vertical" />
                                <div class="flex flex-column gap-2" >
                                    <div class="flex align-items-center gap-2">
                                        <i class="fa-solid fa-users-between-lines"></i>
                                        <p class="flex gap-2 align-items-center">
                                            <span>Turma: </span>
                                            <p-skeleton width="100px" height="10px"></p-skeleton>
                                            <p-skeleton width="1rem" height="1rem" shape="circle"></p-skeleton>
                                        </p>
                                    </div>
                                    <div class="flex align-items-center gap-2">
                                        <i class="fa-solid fa-person-chalkboard"></i>
                                        <p class="flex gap-2 align-items-center">Educador(a): <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                        <p-skeleton width="1rem" height="1rem" shape="circle"></p-skeleton>
                                    </div>
                                    <div class="flex align-items-center gap-2"> 
                                        <i class="fa-solid fa-brain"></i>
                                        <p class="flex gap-2 align-items-center">Perfil Cognitivo: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                    </div>
                                    <div class="flex align-items-center gap-2"> 
                                        <i class="fa-solid fa-wheelchair"></i>
                                        <p class="flex gap-2 align-items-center">Restrição de mobilidade: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                    </div>
                                    <div class="flex align-items-center gap-2"> 
                                        <i class="pi pi-ban"></i>
                                        <p class="flex gap-2 align-items-center">Outras restrições: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </p-fieldset>
            </div>
            <!-- Reposição de Evento -->
            <div class="field col-12">
                <p-fieldset legend="Reposição da aula">
                    <div class="formgrid grid">
                        <!-- Descrição -->
                        <div class="field lg:col-4 sm:col-4 col-6">
                            <ng-container *ngIf="!blockReposicaoDeField; else eventoSelecionadoTemplate">
                                <label for="eventoReposicao_Id">Qual aula o aluno deseja repor? <span class="text-red-500">*</span></label>
                                <p-iconfield>
                                    <p-inputicon *ngIf="!loadingEventosReposicaoDe" styleClass="fa-solid fa-users-between-lines" />
                                    <p-inputicon *ngIf="loadingEventosReposicaoDe" styleClass="pi pi-spinner pi-spin" />
                                    <p-select [options]="eventosReposicaoDeList"
                                            [loading]="loadingEventosReposicaoDe"
                                            name="eventoReposicao_Id"
                                            inputId="eventoReposicao_Id"
                                            #eventoReposicao_Id="ngModel"
                                            [(ngModel)]="eventoReposicaoDe"
                                            [readonly]="!aluno || loadingEventosReposicaoDe"
                                            [disabled]="!aluno || loadingEventosReposicaoDe"
                                            [required]="true"
                                            [filter]="true"
                                            filterBy="descricao,turma,professor,data,sala"
                                            optionLabel="descricao"
                                            optionDisabled="deactivated"
                                            placeholder="Selecione uma aula para repor"
                                            (onChange)="eventoReposicaoChanged()"
                                            panelStyleClass="p-select-stripped"
                                            appendTo="body"
                                            fluid>
                                        <ng-template #footer>
                                            <p class="py-2 px-4">Exibindo {{eventosReposicaoDeList.length}} aulas do aluno</p>
                                        </ng-template>
                                        <ng-template #selectedItem let-selectedOption>
                                            <ng-container *ngIf="selectedOption">
                                                <div class="flex align-items-center">
                                                    <div class="flex align-items-center gap-2 px-1 text-sm bg-primary-500 border-1 text-white ">
                                                        <span>{{selectedOption.data | date : 'dd/MMM'}}</span>
                                                    </div>
                                                    <div class="flex align-items-center gap-2 px-1 text-sm bg-white border-1 border-200 text-primary-500 ">
                                                        <span>{{selectedOption.data | date : 'HH:mm'}}</span>
                                                    </div>
                                                    <p class="flex align-items-center gap-1 ml-2">
                                                        <span>{{selectedOption.turma ?? selectedOption.descricao}}</span>
                                                        <app-legend-color [corLegenda]="selectedOption.corLegenda"
                                                                          [professor_Id]="selectedOption.professor_Id"
                                                                          [professor]="selectedOption.professor"
                                                                          [turma_Id]="selectedOption.turma_Id"></app-legend-color>
                                                    </p>
                                                </div>
                                            </ng-container>
                                        </ng-template>
                                        <ng-template let-item #item>
                                            <div class="flex gap-2">
                                                <div class="flex flex-column">
                                                    <div class="flex align-items-center gap-2 py-1 px-2 text-sm bg-primary-500 text-white ">
                                                        <i class="pi pi-calendar text-sm"></i>
                                                        <span>{{item.data | date : 'dd/MMM'}}</span>
                                                    </div>
                                                    <div class="flex align-items-center gap-2 py-1 px-2 text-sm bg-white border-1 border-200 text-primary-500 ">
                                                        <i class="pi pi-clock text-sm"></i>
                                                        <span>{{item.data | date : 'HH:mm'}}</span>
                                                    </div>
                                                </div>
                                                <div class="flex flex-column" >
                                                    <p class="flex align-items-center gap-2 py-1">
                                                        <span>{{item.turma ?? item.descricao}}</span>
                                                        <app-legend-color [corLegenda]="item.corLegenda"
                                                                          [professor_Id]="item.professor_Id"
                                                                          [professor]="item.professor"
                                                                          [turma_Id]="item.turma_Id"></app-legend-color>
                                                    </p>
                                                    <p class="flex align-items-center gap-2 py-1">
                                                        <span class="">Sala: </span>
                                                        <app-sala-aula [andar]="item.andar"
                                                                    [numeroSala]="item.numeroSala"
                                                                    [sala_Id]="item.sala_Id"></app-sala-aula>

                                                        <span class="ml-auto text-base">
                                                                {{item.vagasDisponiveisEvento }} vaga(s)
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </ng-template>
                                    
                                    </p-select>
                                </p-iconfield>
                                <div *ngIf="eventoReposicao_Id.touched && eventoReposicao_Id.invalid && eventoReposicao_Id.errors">
                                    <p class="text-red-500 mt-2 mb-0" *ngIf="eventoReposicao_Id.errors['required']">Esse campo é obrigatório.</p>
                                    <p class="text-red-500 mt-2 mb-0" *ngIf="eventoReposicao_Id.errors['indisponivel']">Aluno indisponível.</p>
                                </div>
                            </ng-container>
                            <ng-template #eventoSelecionadoTemplate>
                                <label for="descricao">Turma:</label>
                                <p-iconfield>
                                    <p-inputicon *ngIf="!loadingEventosReposicaoDe" styleClass="fa-solid fa-users-between-lines" />
                                    <p-inputicon *ngIf="loadingEventosReposicaoDe" styleClass="pi pi-spinner pi-spin" />
            
                                    <input type="text"
                                        pInputText
                                        [value]="eventoReposicaoDe?.descricao"
                                        id="descricao"
                                        name="descricao"
                                        fluid
                                        readonly>
                                </p-iconfield>
                            </ng-template>
                        </div>
                        <ng-container *ngIf="eventoReposicaoDe && !loadingEventosReposicaoDe">
                            <div class="field sm:col-8 col-12 flex align-items-center">
                                <p-divider layout="vertical" styleClass="mr-0" />
                                <div class="flex flex-column white-space-nowrap ">
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:sm-7 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="pi pi-calendar text-base"></i>
                                                </div>
                                                <p class="overflow-hidden text-overflow-ellipsis">Data: {{eventoReposicaoDe.data | date : 'dd \'de\' MMMM'}}</p>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="pi pi-clock text-base"></i>
                                                </div>
                                                <p class="overflow-hidden text-overflow-ellipsis">Horário: {{eventoReposicaoDe.data | date : 'HH:mm'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:col-7 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-users-between-lines text-base"></i>
                                                </div>
                                                <p class="overflow-hidden text-overflow-ellipsis">Turma: {{eventoReposicaoDe.turma}}</p>
                                                <app-legend-color [corLegenda]="eventoReposicaoDe.corLegenda"
                                                                  [professor_Id]="eventoReposicaoDe.professor_Id"
                                                                  [professor]="eventoReposicaoDe.professor"
                                                                  [turma_Id]="eventoReposicaoDe.turma_Id"></app-legend-color>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-building text-base"></i>
                                                </div>
                                                <p class="overflow-hidden text-overflow-ellipsis">Sala: {{getSalaAula(eventoReposicaoDe)}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:col-5 sm:col-6 col-12 py-1">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-star text-base" [ngStyle]="{
                                                        color: getCorRoteiro(eventoReposicaoDe.roteiro_Id) ?? 'var(--p-surface-900)'
                                                    }"></i>
                                                </div>
                                                <div class="flex align-items-center gap-2 w-full">
                                                    <p class="overflow-hidden text-overflow-ellipsis">Roteiro: {{eventoReposicaoDe.tema + ' - Semana ' + eventoReposicaoDe.semana}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-brain text-base"></i>
                                                </div>
                                                <p class="overflow-hidden text-overflow-ellipsis">Perfil Cognitivo: {{getPerfilCognitivo(eventoReposicaoDe)}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="loadingEventosReposicaoDe">
                            <div class="field sm:col-8 col-12 flex align-items-center">
                                <p-divider layout="vertical" styleClass="mr-0" />
                                <div class="flex flex-column white-space-nowrap ">
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:sm-7 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="pi pi-calendar text-base"></i>
                                                </div>
                                                <p class="flex align-items-center gap-2">Data: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="pi pi-clock text-base"></i>
                                                </div>
                                                <p class="flex align-items-center gap-2">Horário: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:col-7 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-users-between-lines text-base"></i>
                                                </div>
                                                <p class="flex align-items-center gap-2">
                                                    <span>Turma: </span>
                                                    <p-skeleton width="100px" height="10px"></p-skeleton>
                                                    <p-skeleton width="1rem" height="1rem" shape="circle"></p-skeleton>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1">
                                            <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-building text-base"></i>
                                                </div>
                                                <p class="flex align-items-center gap-2">Sala: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:col-7 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-star text-base"></i>
                                                </div>
                                                <div class="flex align-items-center gap-2">
                                                    <p class="flex align-items-center gap-2">Roteiro: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1">
                                            <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-brain text-base"></i>
                                                </div>
                                                <p class="flex align-items-center gap-2">Perfil Cognitivo: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </p-fieldset>
            </div>
            <!-- Eventos Para -->
            <div class="field col-12">
                <p-fieldset legend="Agendar reposição para">
                    <div class="formgrid grid">
                        <!-- Descrição -->
                        <div class="field lg:col-4 sm:col-4 col-6">
                            <ng-container *ngIf="!blockReposicaoParaField; else eventoSelecionadoParaTemplate">
                                <label for="eventoDisponivel_Id">Para qual aula o aluno deseja agendar a reposição? <span class="text-red-500">*</span></label>
                                <p-iconfield>
                                    <p-inputicon *ngIf="!loadingEventosReposicaoPara" styleClass="fa-solid fa-users-between-lines" />
                                    <p-inputicon *ngIf="loadingEventosReposicaoPara" styleClass="pi pi-spinner pi-spin" />
                                    <p-select [options]="eventosReposicaoParaList"
                                            [loading]="loadingEventosReposicaoPara"
                                            name="eventoDisponivel_Id"
                                            inputId="eventoDisponivel_Id"
                                            #eventoDisponivel_Id="ngModel"
                                            [(ngModel)]="eventoReposicaoPara"
                                            [required]="true"
                                            [filter]="true"
                                            filterBy="descricao,turma,professor,data,sala"
                                            optionLabel="descricao"
                                            optionDisabled="deactivated"
                                            [readonly]="!eventoReposicaoDe || loadingEventosReposicaoPara"
                                            [disabled]="!eventoReposicaoDe || loadingEventosReposicaoPara"
                                            placeholder="Selecione uma aula para repor"
                                            (onChange)="eventoDisponivelChanged($event, eventoDisponivel_Id)"
                                            panelStyleClass="p-select-stripped"
                                            appendTo="body"
                                            fluid>
                                        <ng-template #footer>
                                            <p class="py-2 px-4">Exibindo {{eventosReposicaoParaList.length}} aulas compatíveis com o aluno</p>
                                        </ng-template>
                                        <ng-template #selectedItem let-selectedOption>
                                            <ng-container *ngIf="selectedOption">
                                                <div class="flex align-items-center">
                                                    <div class="flex align-items-center gap-2 px-1 text-sm bg-primary-500 border-1 text-white ">
                                                        <span>{{selectedOption.data | date : 'dd/MMM'}}</span>
                                                    </div>
                                                    <div class="flex align-items-center gap-2 px-1 text-sm bg-white border-1 border-200 text-primary-500 ">
                                                        <span>{{selectedOption.data | date : 'HH:mm'}}</span>
                                                    </div>
                                                    <p class="flex align-items-center gap-1 ml-2">
                                                        <span>{{selectedOption.turma ?? selectedOption.descricao}}</span>
                                                        <app-legend-color [corLegenda]="selectedOption.corLegenda"
                                                                          [professor_Id]="selectedOption.professor_Id"
                                                                          [professor]="selectedOption.professor"
                                                                          [turma_Id]="selectedOption.turma_Id"></app-legend-color>
                                                    </p>
                                                </div>
                                            </ng-container>
                                        </ng-template>
                                        <ng-template let-item #item>
                                            <div class="flex gap-2">
                                                <div class="flex flex-column">
                                                    <div class="flex align-items-center gap-2 px-1 text-xs bg-primary-500 text-white ">
                                                        <i class="pi pi-calendar text-xs"></i>
                                                        <span>{{item.data | date : 'dd/MMM'}}</span>
                                                    </div>
                                                    <div class="flex align-items-center gap-2 px-1 text-xs bg-white border-1 border-200 text-primary-500 ">
                                                        <i class="pi pi-clock text-xs"></i>
                                                        <span>{{item.data | date : 'HH:mm'}}</span>
                                                    </div>
                                                </div>
                                                <div class="flex flex-column" >
                                                    <p class="flex align-items-center gap-2">
                                                        <span>{{item.turma ?? item.descricao}}</span>
                                                        <app-legend-color [corLegenda]="item.corLegenda"
                                                                          [professor_Id]="item.professor_Id"
                                                                          [professor]="item.professor"
                                                                          [turma_Id]="item.turma_Id"></app-legend-color>
                                                    </p>
                                                    <p class="flex align-items-center gap-2">
                                                        <span class="">Sala: </span>
                                                        <app-sala-aula [andar]="item.andar"
                                                                    [numeroSala]="item.numeroSala"
                                                                    [sala_Id]="item.sala_Id"></app-sala-aula>
                                                        <span class="ml-auto text-base">
                                                                {{item.vagasDisponiveisEvento}} vaga(s)
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-select>
                                </p-iconfield>
                                <div *ngIf="eventoDisponivel_Id.touched && eventoDisponivel_Id.invalid && eventoDisponivel_Id.errors">
                                    <p class="text-red-500 mt-2 mb-0" *ngIf="eventoDisponivel_Id.errors['required']">Esse campo é obrigatório.</p>
                                    <p class="text-red-500 mt-2 mb-0" *ngIf="eventoDisponivel_Id.errors['indisponivel']">Aluno indisponível.</p>
                                </div>
                            </ng-container>
                            <ng-template #eventoSelecionadoParaTemplate>
                                <label for="descricao">Turma:</label>
                                <p-iconfield>
                                    <p-inputicon *ngIf="!loadingEventosReposicaoPara" styleClass="fa-solid fa-users-between-lines" />
                                    <p-inputicon *ngIf="loadingEventosReposicaoPara" styleClass="pi pi-spinner pi-spin" />
                                    <input type="text"
                                        pInputText
                                        [value]="eventoReposicaoPara?.descricao"
                                        id="descricao"
                                        name="descricao"
                                        fluid
                                        readonly>
                                </p-iconfield>
                            </ng-template>
                        </div>
                        <ng-container *ngIf="eventoReposicaoPara && !loadingEventosReposicaoPara && !loadingEventosReposicaoDe">
                            <div class="field sm:col-8 col-12 flex align-items-center">
                                <p-divider layout="vertical" styleClass="mr-0" />
                                <div class="flex flex-column white-space-nowrap ">
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:sm-7 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="pi pi-calendar text-base"></i>
                                                </div>
                                                <p class="overflow-hidden text-overflow-ellipsis">Data: {{eventoReposicaoPara.data | date : 'dd \'de\' MMMM'}}</p>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="pi pi-clock text-base"></i>
                                                </div>
                                                <p class="overflow-hidden text-overflow-ellipsis">Horário: {{eventoReposicaoPara.data | date : 'HH:mm'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:col-7 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-users-between-lines text-base"></i>
                                                </div>
                                                <p class="overflow-hidden text-overflow-ellipsis">Turma: {{eventoReposicaoPara.turma}}</p>
                                                <app-legend-color [corLegenda]="eventoReposicaoPara.corLegenda"
                                                                  [professor_Id]="eventoReposicaoPara.professor_Id"
                                                                  [professor]="eventoReposicaoPara.professor"
                                                                  [turma_Id]="eventoReposicaoPara.turma_Id"></app-legend-color>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-building text-base"></i>
                                                </div>
                                                <p class="overflow-hidden text-overflow-ellipsis">Sala: {{getSalaAula(eventoReposicaoPara)}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:col-7 sm:col-6 col-12 py-1">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-star text-base" [ngStyle]="{
                                                        color: getCorRoteiro(eventoReposicaoPara.roteiro_Id) ?? 'var(--p-surface-900)'
                                                    }"></i>
                                                </div>
                                                <div class="flex align-items-center gap-2 w-full">
                                                    <p class="overflow-hidden text-overflow-ellipsis">Roteiro: {{eventoReposicaoPara.tema + ' - Semana ' + eventoReposicaoPara.semana}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-brain text-base"></i>
                                                </div>
                                                <p class="overflow-hidden text-overflow-ellipsis">Perfil Cognitivo: {{getPerfilCognitivo(eventoReposicaoPara)}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!eventoReposicaoPara && (loadingEventosReposicaoDe || loadingEventosReposicaoPara)">
                            <div class="field sm:col-8 col-12 flex align-items-center">
                                <p-divider layout="vertical" styleClass="mr-0" />
                                <div class="flex flex-column white-space-nowrap ">
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:sm-7 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="pi pi-calendar text-base"></i>
                                                </div>
                                                <p class="flex align-items-center gap-2">Data: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="pi pi-clock text-base"></i>
                                                </div>
                                                <p class="flex align-items-center gap-2">Horário: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:col-7 sm:col-6 col-12 py-1 flex-none">
                                            <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-users-between-lines text-base"></i>
                                                </div>
                                                <p class="flex align-items-center gap-2">
                                                    <span>Turma: </span>
                                                    <p-skeleton width="100px" height="10px"></p-skeleton>
                                                    <p-skeleton width="1rem" height="1rem" shape="circle"></p-skeleton>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1 flex-none">
                                             <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-building text-base"></i>
                                                </div>
                                                <p class="flex align-items-center gap-2">Sala: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-between w-full col-12 flex-wrap">
                                        <div class="md:col-7 sm:col-6 col-12 py-1">
                                            <div class="flex align-items-center gap-2">
                                               <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-star text-base"></i>
                                                </div>
                                                <div class="flex align-items-center gap-2">
                                                    <p class="flex align-items-center gap-2">Roteiro: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="md:col-5 sm:col-6 col-12 py-1">
                                            <div class="flex align-items-center gap-2">
                                                <div class="w-2rem text-center flex-none">
                                                    <i class="fa-solid fa-brain text-base"></i>
                                                </div>
                                                <p class="flex align-items-center gap-2">Perfil Cognitivo: <p-skeleton width="100px" height="10px"></p-skeleton></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </p-fieldset>
            </div>
            <div class="col-12 px-1 flex align-items-center justify-content-end">
                <p-button type="submit"
                        fluid
                        label="Finalizar agendamento"
                        icon="pi pi-check"
                        [loading]="loading"
                        [rounded]="true"
                        [disabled]="form.invalid || loading" />
            </div>
        </div>
    </form>
</p-dialog>