<app-confirm-dialog></app-confirm-dialog>
<p-dialog [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '600px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title flex align-items-center">
                <i class="pi pi-user-plus mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <div class="flex flex-column">
                    <span>Inscrever aluno</span>
                </div>
            </span>
        </div>
    </ng-template>
    <form #form="ngForm" class="px-2" (submit)="sendConfirmation(form, $event)">
        <div class="formgrid grid">
            <!-- Aluno -->
            <div class="field col-12">
                <label for="aluno_Id">Selecionar alunos: <span class="text-red-500">*</span></label>
                <p-select [options]="alunos"
                          [loading]="loadingAlunos"
                          [(ngModel)]="selectedAluno"
                          (onChange)="alunoChanged($event, aluno_Id)"
                          optionLabel="nome"
                          #aluno_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="aluno_Id"
                          inputId="aluno_Id"
                          [required]="true"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          [virtualScroll]="true"
                          virtualScrollItemSize="55"
                          optionDisabled="deactivated,disponivel">
                    <ng-template let-item #item>
                        <div class="flex align-items-center justify-content-between w-full gap-2">
                            <div>
                                <div class="flex align-items-center">
                                    <div class="flex w-2rem h-2rem mr-1 flex-none align-items-center">
                                        <p-button type="button"
                                            icon="pi pi-whatsapp"
                                            (onClick)="enviarMensagem(item)"
                                            (auxclick)="enviarMensagem(item)"
                                            (contextmenu)="enviarMensagem(item)"
                                            pTooltip="Enviar mensagem"
                                            tooltipPosition="top"
                                            [disabled]="!item.celular" >
                                        </p-button>
                                    </div>
                                    <p class="font-bold mb-1">
                                        <span class="mr-2">{{item.nome}}</span>
                                        <p-badge *ngIf="item.disponivel == false"
                                                 value="Indisponível"
                                                 severity="danger"
                                                 [pTooltip]="item.disponivelEvent ? disponivelEvent : undefined" />
                                        <ng-template #disponivelEvent>
                                            <div class="w-25rem">
                                                <p>
                                                    <span>Evento: </span>
                                                    <span class="text-orange-400 font-bold capitalize">{{getTipo(item.disponivelEvent)}}</span>
                                                    <span> - {{item.disponivelEvent.data | date : 'dd/MM/yyyy HH:mm'}}</span>
                                                </p>
                                                <p>{{item.disponivelEvent.descricao}}</p>
                                                <p *ngIf="item.disponivelEvent.professor">
                                                    <span class="w-1rem h-1rem border-circle inline-flex mr-2" [style]="{ backgroundColor: item.disponivelEvent.corLegenda, borderColor: item.disponivelEvent.corLegenda }"></span>
                                                    <span>{{item.disponivelEvent.professor}}</span>
                                                </p>
                                                <p *ngIf="item.disponivelEvent.turma && item.disponivelEvent.turma != item.disponivelEvent.descricao"> {{item.disponivelEvent.turma}} </p>
                                                <p *ngIf="item.disponivelEvent.sala_Id">
                                                    <span>Sala: </span>
                                                    <app-sala-aula [numeroSala]="item.disponivelEvent.numeroSala"
                                                                   [andar]="item.disponivelEvent.andar"
                                                                   [sala_Id]="item.disponivelEvent.sala_Id"></app-sala-aula>
                                                </p>
                                            </div>
                                        </ng-template>
                                    </p>
                                </div>
                                <p class="mb-1 flex align-items-center ">
                                    <ng-container *ngTemplateOutlet="corLegendaTemplate; context: { corLegenda: getCorTurma(item.turma_Id) }"></ng-container>
                                    <ng-template #corLegendaTemplate let-corLegenda="corLegenda">
                                        <span class="w-1rem h-1rem border-circle flex mr-3 ml-1" [style]="{ backgroundColor: corLegenda, borderColor: corLegenda }"></span>
                                    </ng-template>
                                    <span class="font-normal">Educador(a) {{item.professor}}</span>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="aluno_Id.touched && aluno_Id.invalid && aluno_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['indisponivel']">Aluno indisponível.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['restricaoMobilidade']">{{aluno_Id.errors['restricaoMobilidade']}}.</p>
                </div>
            </div>
        </div>
        <p-divider layout="horizontal" [align]="'left'">
            <span class="text-primary-500 font-bold">Dados da <span class="capitalize">{{getTipo(evento)}}</span></span>
        </p-divider>
        <div class="formgrid grid">
            <!-- Descrição -->
            <div class="field md:col-4 sm:col-4 col-12">
                <label for="descricao">Descrição: </label>
                <input type="text"
                       pInputText
                       [value]="evento.descricao"
                       id="descricao"
                       name="descricao"
                       class="w-full"
                       [readonly]="true">
            </div>
            <!-- Data -->
            <div class="field md:col-3 sm:col-3 col-5">
                <label for="dataInicio">Data:</label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-calendar" />
                    <input type="text"
                           pInputText
                           [value]="evento.data | date : 'dd/MM/yyyy'"
                           styleClass="w-full"
                           class="w-full"
                           id="professor"
                           readonly />
                </p-iconfield>
            </div>
            <!-- Horário -->
            <div class="field md:col-3 sm:col-3 col-5">
                <label for="horario">Horário:</label>
                <p-iconfield>
                    <input type="text"
                           pInputText
                           [value]="evento.data | date : 'HH:mm'"
                           styleClass="w-full"
                           class="w-full"
                           id="v"
                           readonly />
                    <p-inputicon styleClass="pi pi-clock" />
                </p-iconfield>
            </div>
            <!-- Duração -->
            <div class="field md:col-2 sm:col-2 col-2">
                <label for="duracaoEvento">Duração:</label>
                <p-iconfield>
                    <input type="text"
                           pInputText
                           [value]="'1h'"
                           styleClass="w-full"
                           class="w-full"
                           id="duracaoEvento"
                           readonly />
                    <p-inputicon styleClass="pi pi-hourglass" />
                </p-iconfield>
            </div>
            <!-- Limite de Alunos -->
            <div class="field md:col-4 sm:col-4 col-12">
                <label for="capacidadeMaximaAlunos">Limite de Alunos:</label>
                <input type="text"
                       pInputText
                       [value]="'Teoricamente 1 aluno'"
                       styleClass="w-full"
                       class="w-full"
                       id="capacidadeMaximaAlunos"
                       readonly />
            </div>
            <!-- Educador -->
            <div class="field md:col-4 sm:col-4 col-6">
                <label for="professor">Educador: </label>
                <input type="text"
                       pInputText
                       [value]="evento.professor ?? 'Indefinido'"
                       styleClass="w-full"
                       class="w-full"
                       id="professor"
                       readonly />
            </div>
            <!-- Sala -->
            <div class="field md:col-4 sm:col-4 col-6">
                <label for="sala">Sala: </label>
                <input type="text"
                       pInputText
                       [value]="evento.sala_Id ? evento.sala_Id == SalaAulaId.online ? 'Online' : evento.numeroSala + ' - ' + evento.andar  + 'º andar' : 'Indefinido'"
                       styleClass="w-full"
                       class="w-full"
                       id="sala"
                       readonly />
            </div>
            <!-- Observações -->
            <div class="field col-12">
                <label for="observacao">Observações:</label>
                <textarea pTextarea
                          class="w-full"
                          name="observacao"
                          id="observacao"
                          [value]="evento.observacao"
                          [readonly]="true"></textarea>
            </div>
            <div class="col-12 px-1 flex align-items-center justify-content-end">
                <p-button type="submit"
                          styleClass="w-full px-3"
                          label="Finalizar"
                          icon="pi pi-check"
                          [loading]="loading"
                          [rounded]="true"
                          [disabled]="form.invalid || loading" />
            </div>
        </div>
    </form>
</p-dialog>