::ng-deep .p-megamenu-menu-mobile-hidden.p-megamenu-mobile .p-megamenu-button {
    display: none;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100%;
    background-color: var(--p-primary-500);
    border: none;
    border-radius: 0;
    padding: 0.5rem 3rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.header.header--mobile {
    padding: 0.9rem 0.5rem;
    z-index: 1;
    position: fixed;
    top: 0;
}

.navigation-container {
    width: 100%;
    margin-bottom: 62px;
}

.navigation {
    position: fixed;
    padding: 6px 0;
    display: flex;
    flex-flow: column;
    background-color: white;
    height: 100vh;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1),
    0px 4px 5px -2px rgba(0, 0, 0, 0.12),
    0px 10px 15px -5px rgba(0, 0, 0, 0.2) !important;
    max-width: 250px;
    width: 85vw;
    transform: translateX(-100%);
    transition: .3s;
}
.navigation-container-open .navigation {
    transform: translateX(0px);
}
.navigation-link {
    color: white;
    padding: 7px 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: .2s;
}


::ng-deep .navigation-toggler {
    width: 4rem !important;
    height: 4.3rem !important;
    /*var(--pink-400)!important;*/
    /*var(--pink-400);*/
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    flex: none;
    display: flex;
    transform: translateX(-100%);
}


::ng-deep .navigation-container.navigation-container-open .navigation-toggler {
    transform: translateX(0%);
}

.navigation-link:hover {
    background-color: #ffffff30;
}

.navigation-link.active-link {
    background-color: var(--orange-600);
}