
<p-confirmdialog styleClass="w-25rem">
    <ng-template #message let-message>
        <div [innerHTML]="message.message"></div>
    </ng-template>
</p-confirmdialog>


<p-dialog [header]="'Dados do Aluno'"
          [modal]="true"
          [maximizable]="true"
          [draggable]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '1100px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title"><i class="fa-solid fa-user-graduate mr-2 text-1xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i> Dados do Aluno</span>
            <p-button class="ml-auto"
                      type="button"
                      icon="pi pi-exclamation-circle"
                      size="large"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      (onClick)="op.toggle($event)" />
            <p-popover #op styleClass="popover-styled surface-900 border-900 white-space-nowrap text-white  min-w-w-20rem">
                <div class="px-2">
                    <h3 class="text-xl mb-2">Informações Adicionais</h3>
                    <table class="w-full">
                        <tr *ngIf="object.aspNetUsers_Created">
                            <td class="p-1"><b>Cadastrado por</b></td>
                            <td class="p-1 pl-3 text-right">{{ object.aspNetUsers_Created }}</td>
                        </tr>
                        <tr *ngIf="object.lastUpdated">
                            <td class="p-1"><b>Última atualização</b></td>
                            <td class="p-1 pl-3 text-right">{{object.lastUpdated | date : 'dd/MM/YYYY'}}</td>
                        </tr>
                        <tr *ngIf="object.deactivated">
                            <td class="p-1"><b>Inativo em</b></td>
                            <td class="p-1 pl-3 text-right">{{object.deactivated | date : 'dd/MM/YYYY'}}</td>
                        </tr>
                    </table>
                </div>
            </p-popover>
        </div>
    </ng-template>
    <form (ngSubmit)="send(form, $event)" #form="ngForm" class="px-2">
        <div class="card">
            <p-tabs [value]="0">
                <p-tablist>
                    <p-tab [value]="0">Dados Cadastrais</p-tab>
                    <p-tab [value]="1">Checklist</p-tab>
                    <p-tab [value]="2">Calendário</p-tab>
                </p-tablist>
                <p-tabpanels class="border-1 border-100 border-round-2 surface-50">
                    <p-tabpanel [value]="0">
                        <app-dados-cadastrais [object]="object"></app-dados-cadastrais>
                    </p-tabpanel>
                    <p-tabpanel [value]="1">
                        <app-checklist></app-checklist>
                    </p-tabpanel>
                    <p-tabpanel [value]="2">
                        <app-calendario [object]="object"></app-calendario>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
        <div class="formgrid grid pr-3 py-2 gap-4 align-items-center flex-wrap justify-content-between">
            <div class="sm:col-9 col-12">
                <p class="text-red-500" *ngIf="!error"><span class="text-red-500">*</span> Preencha os campos corretamente para salvar.</p>
                <p class="text-red-500" *ngIf="error">{{error}}</p>
            </div>
            <div class="ml-auto">
                <p-button
                          type="submit"
                          [disabled]="form.invalid || loading"
                          class="w-full"
                          styleClass="w-full px-3"
                          label="Salvar"
                          icon="pi pi-check"
                          iconPos="right"
                          [loading]="loading"
                          [rounded]="true"
                          size="small" />
            </div>
        </div>
    </form>
</p-dialog>