<app-confirm-dialog></app-confirm-dialog>
<p-dialog [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '450px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body"
          id="reposicao">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title flex align-items-center">
                <i class="pi pi-user-plus mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <div class="flex flex-column">
                    <span>Inserir aluno</span>
                    <span class="text-sm font-normal">(reposição)</span>
                </div>
            </span>
        </div>
    </ng-template>
    <form #form="ngForm" class="px-2" (submit)="sendConfirmation($event, form)">
        <div class="formgrid grid">
            <!-- Aluno -->
            <div class="field col-12"> 
                <label for="aluno_Id">Aluno: <span class="text-red-500">*</span></label>
                <p-select [options]="alunos"
                          [loading]="loadingAlunos"
                          [(ngModel)]="selectedAluno"
                          (onChange)="alunoChanged($event)"
                          #aluno_Id="ngModel"
                          styleClass="w-full"
                          optionLabel="nome"
                          class="w-full"
                          name="aluno_Id"
                          inputId="aluno_Id"
                          [required]="true"
                          [filter]="true"
                          filterBy="nome,turma"
                          [virtualScroll]="true"
                          [virtualScrollItemSize]="43"
                          appendTo="body"
                          optionDisabled="disponivelEvent">
                    <ng-template let-item #item>
                        <div class="w-full">
                            <div class="flex align-items-center gap-2">
                                <p-button type="button"
                                          (onClick)="enviarMensagem(item)"
                                          (auxclick)="enviarMensagem(item)"
                                          (contextmenu)="enviarMensagem(item)"
                                          [disabled]="!item.celular"
                                          icon="pi pi-whatsapp"
                                          severity="success"
                                          [text]="true"/>
                                <p>
                                    <span class="mr-2">{{item.nome | nameAbv }}</span>
                                    <p-badge *ngIf="item.disponivel == false"
                                             value="Indisponível"
                                             severity="danger"
                                             [pTooltip]="indisponivelTemplate" />
                                    <ng-template #indisponivelTemplate>
                                        <div class="w-25rem">
                                            <p>
                                                <span>Evento: </span>
                                                <span class="text-orange-400 font-bold capitalize">{{getTipo(item.value.disponivelEvent)}}</span>
                                                <span> - {{item.disponivelEvent.data | date : 'dd/MM/yyyy HH:mm'}}</span>
                                            </p>
                                            <p>{{item.disponivelEvent.descricao}}</p>
                                            <p *ngIf="item.disponivelEvent.professor">
                                                <span class="w-1rem h-1rem border-circle inline-flex mr-2" [style]="{ backgroundColor: item.disponivelEvent.corLegenda, borderColor: item.disponivelEvent.corLegenda }"></span>
                                                <span>{{item.disponivelEvent.professor}}</span>
                                            </p>
                                            <p *ngIf="item.disponivelEvent.turma && item.disponivelEvent.turma != item.disponivelEvent.descricao"> {{item.disponivelEvent.turma}} </p>
                                            <p *ngIf="item.disponivelEvent.sala_Id">
                                                <span>Sala: </span>
                                                <app-sala-aula [numeroSala]="item.disponivelEvent.numeroSala"
                                                               [andar]="item.disponivelEvent.andar"
                                                               [sala_Id]="item.disponivelEvent.sala_Id"></app-sala-aula>
                                            </p>
                                        </div>
                                    </ng-template>
                                </p>
                                <span class="ml-auto">{{item.perfilCognitivo}}</span>
                            </div>
                            <div class="flex align-items-center gap-2">
                                <div class="w-2rem h-2rem p-0 flex align-items-center justify-content-center">
                                    <ng-container *ngTemplateOutlet="corLegendaTemplate; context: { corLegenda: getCorTurma(item.turma_Id) }"></ng-container>
                                </div>
                                <span>{{item.turma}}</span>
                                <ng-template #corLegendaTemplate let-corLegenda="corLegenda">
                                    <span class="w-1rem h-1rem border-circle flex" [style]="{ backgroundColor: corLegenda, borderColor: corLegenda }"></span>
                                </ng-template>
                            </div>
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="aluno_Id.touched && aluno_Id.invalid && aluno_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['indisponivel']">Aluno indisponível.</p>
                </div>
            </div>
            <!-- Eventos  -->
            <div class="field col-12"> 
                <label for="evento_Id">Selecione a aula que o aluno irá repor: <span class="text-red-500">*</span></label>
                <p-select [options]="eventos"
                          [(ngModel)]="selectedEventoReposicao"
                          [loading]="loadingEventos"
                          #evento_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="evento_Id"
                          inputId="evento_Id"
                          optionLabel="data"
                          [required]="true"
                          [disabled]="!selectedAluno"
                          [filter]="true"
                          [filterBy]="'data,turma,professor'"
                          emptyMessage="Nenhuma aula para repor"
                          appendTo="body">
                    <ng-template #selectedItem let-selectedOption>
                        <ng-container *ngIf="selectedOption">
                            <p class="font-bold mb-1 flex align-items-center ">
                                <span class="w-1rem h-1rem border-circle flex mr-2 "
                                      [pTooltip]="selectedOption.professor"
                                      [style]="{ backgroundColor: selectedOption.corLegenda, borderColor: selectedOption.corLegenda }"></span>
                                <span class="mr-2">{{ selectedOption.data | date : 'dd/MM HH:mm' }}</span>
                                <ng-container *ngFor="let participacao of selectedOption.alunos">
                                    <ng-container *ngIf="selectedOption.feriado">
                                        <p-badge [value]="'Feriado: ' + selectedOption.feriado.name"
                                                 severity="danger"
                                                 styleClass="white-space-nowrap"
                                                 [pTooltip]="feriado" />
                                        <ng-template #feriado>
                                            <p>Feriado: {{selectedOption.feriado.name}}</p>
                                            <p>Nível {{selectedOption.feriado.level}} - Tipo {{selectedOption.feriado.type}}</p>
                                        </ng-template>
                                    </ng-container>
                                    <ng-container *ngIf="selectedOption.active == false && !selectedOption.feriado">
                                        <p-badge value="Aula cancelada"
                                                 severity="danger"
                                                 [pTooltip]="selectedOption.observacao" />
                                    </ng-container>
                                    <ng-container *ngIf="participacao.presente == false && selectedOption.active == true">
                                        <p-badge value="Faltou"
                                                 severity="danger"
                                                 [pTooltip]="participacao.observacao" />
                                    </ng-container>
                                </ng-container>
                            </p>
                        </ng-container>
                    </ng-template>
                    <ng-template let-evento #item>
                        <div class="flex flex-column">
                            <p class="font-bold mb-1 flex align-items-center ">
                                <span class="w-1rem h-1rem border-circle flex mr-2 "
                                      [pTooltip]="evento.professor"
                                      [style]="{ backgroundColor: evento.corLegenda, borderColor: evento.corLegenda }"></span>
                                <span class="mr-2">{{ evento.data | date : 'dd/MM HH:mm' }}</span>
                                <ng-container *ngFor="let participacao of evento.alunos">
                                    <ng-container *ngIf="evento.feriado">
                                        <p-badge [value]="'Feriado: ' + evento.feriado.name"
                                                 severity="danger"
                                                 styleClass="white-space-nowrap"
                                                 [pTooltip]="feriado" />
                                        <ng-template #feriado>
                                            <p>Feriado: {{evento.feriado.name}}</p>
                                            <p>Nível {{evento.feriado.level}} - Tipo {{evento.feriado.type}}</p>
                                        </ng-template>
                                    </ng-container>
                                    <ng-container *ngIf="evento.active == false && !evento.feriado">
                                        <p-badge value="Aula cancelada"
                                                 severity="danger"
                                                 [pTooltip]="evento.observacao" />
                                    </ng-container>
                                    <ng-container *ngIf="participacao.presente == false && evento.active == true">
                                        <p-badge value="Faltou"
                                                 severity="danger"
                                                 [pTooltip]="participacao.observacao" />
                                    </ng-container>
                                </ng-container>
                            </p>
                            <p *ngIf="evento.turma">Turma: {{evento.turma}} </p>
                            <p *ngIf="!evento.turma">{{evento.descricao}} </p>
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="evento_Id.touched && evento_Id.invalid && evento_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="evento_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="evento_Id.errors['indisponivel']">Educador indisponível.</p>
                </div>
            </div>
            <!-- Observações -->
            <div class="field col-12">
                <label for="observacao">Observações:</label>
                <textarea pTextarea
                          class="w-full"
                          name="observacao"
                          id="observacao"
                          [(ngModel)]="observacao"
                          [rows]="4"></textarea>
            </div>
        </div>
        <div class="col-12 px-1 flex align-items-center justify-content-end">
            <p-button type="submit"
                      styleClass="w-full px-3"
                      label="Agendar reposição"
                      icon="pi pi-check"
                      [disabled]="loading || form.invalid"
                      [loading]="loading"
                      [rounded]="true" />
        </div>
    </form>
</p-dialog>
<ng-template #alunoTemplate let-item="item">
    <div class="cursor-pointer">
        <div class="flex align-items-center gap-2">
            <p-button type="button"
                      (onClick)="enviarMensagem(item)"
                      (auxclick)="enviarMensagem(item)"
                      (contextmenu)="enviarMensagem(item)"
                      [disabled]="!item.celular"
                      icon="pi pi-whatsapp"
                      severity="success"
                      [text]="true"/>
            <!-- Nome -->
            <p class="mr-2">{{ item.nome }}</p>
            <p-badge *ngIf="item.disponivel == false"
                     value="Indisponível"
                     severity="danger"
                     [pTooltip]="indisponivelTemplate" />
        </div>
        <div class="flex align-items-center gap-2">
            <!-- Cor legenda -->
            <ng-container *ngTemplateOutlet="corLegendaTemplate; context: { corLegenda: getCorTurma(item.turma_Id) }"></ng-container>
            <ng-template #corLegendaTemplate let-corLegenda="corLegenda">
                <div class="w-2rem h-2rem p-1 flex flex-none align-items-center justify-content-center">
                    <span class="w-1rem h-1rem border-circle flex" pTooltip="{{item.professor}}" [style]="{ backgroundColor: corLegenda, borderColor: corLegenda }"></span>
                </div>
            </ng-template>
            <!-- Turma -->
            <p [pTooltip]="'Turma: ' + item.turma">
                <span class="font-bold">{{ item.turma }}</span>
            </p>
            <!-- PerfilCognitivo -->
            <p class="ml-auto">{{item.perfilCognitivo}}</p>
        </div>
    </div>
    <ng-template #indisponivelTemplate>
        <div class="w-25rem">
            <p>
                <span>Evento: </span>
                <span class="text-orange-400 font-bold capitalize">{{getTipo(item.disponivelEvent)}}</span>
                <span> - {{item.disponivelEvent.data | date : 'dd/MM/yyyy HH:mm'}}</span>
            </p>
            <p>{{item.disponivelEvent.descricao}}</p>
            <p *ngIf="item.disponivelEvent.professor">
                <span class="w-1rem h-1rem border-circle inline-flex mr-2" [style]="{ backgroundColor: item.disponivelEvent.corLegenda, borderColor: item.disponivelEvent.corLegenda }"></span>
                <span>{{item.disponivelEvent.professor}}</span>
            </p>
            <p *ngIf="item.disponivelEvent.turma && item.disponivelEvent.turma != item.disponivelEvent.descricao"> {{item.disponivelEvent.turma}} </p>
            <p *ngIf="item.disponivelEvent.sala_Id">
                <span>Sala: </span>
                <app-sala-aula [numeroSala]="item.disponivelEvent.numeroSala"
                               [andar]="item.disponivelEvent.andar"
                               [sala_Id]="item.disponivelEvent.sala_Id"></app-sala-aula>
            </p>
        </div>
    </ng-template>
</ng-template>