<p-confirmdialog styleClass="w-25rem">
    <ng-template #message let-message>
        <div [innerHTML]="message.message"></div>
    </ng-template>
</p-confirmdialog>
<p-dialog [header]="'Agendar reposição'"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '800px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body"
          id="reposicao">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title"><i class="pi pi-calendar mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i> Agendar reposição</span>
        </div>
    </ng-template>
    <div class="formgrid grid">
        <div class="field col-12">
            <label for="aluno">Aluno:</label>
            <input type="text"
                   pInputText
                   [value]="object.aluno"
                   id="nome"
                   name="nome"
                   class="w-full"
                   readonly>
        </div>
        <div class="field sm:col-4 col-6">
            <label for="turma">Turma:</label>
            <input type="text"
                   pInputText
                   [value]="aluno.turma"
                   id="turma"
                   name="turma"
                   class="w-full"
                   readonly>
        </div>
        <div class="field sm:col-4 col-6">
            <label for="professor">Professor:</label>
            <input type="text"
                   pInputText
                   [value]="aluno.professor"
                   id="professor"
                   name="professor"
                   class="w-full"
                   readonly>
        </div>
        <div class="field sm:col-4 col-12">
            <label for="aluno_PerfilCognitivo">Perfil Cognitivo:</label>
            <input type="text"
                   pInputText
                   [value]="object.aluno_PerfilCognitivo"
                   id="aluno_PerfilCognitivo"
                   name="aluno_PerfilCognitivo"
                   class="w-full"
                   readonly>
        </div>
        <div class="field sm:col-12 col-12">
            <div class="flex align-items-center justify-content-between">
                <label for="professor" class="-mb-1">Selecione uma aula disponível: </label>
                <p-button class="ml-auto"
                          type="button"
                          icon="pi pi-exclamation-circle"
                          size="large"
                          [text]="true"
                          [rounded]="true"
                          severity="secondary"
                          styleClass="ml-auto"
                          class="ml-auto"
                          (onClick)="op.toggle($event)" />
                <p-popover #op styleClass="popover-styled surface-900 border-900 white-space-nowrap text-white max-w-20rem">
                    <div class="px-2">
                        <h3 class="text-base mb-2">Regras para agendar reposição: </h3>
                        <ul>
                            <li class="mb-2 white-space-normal">
                                <i class="pi pi-check-circle text-green-500 mr-2 text-xl p-1"></i>
                                <span>A reposição deve ser agendada entre turmas de mesma faixa etária</span>
                            </li>
                            <!-- <p-divider  layout="horizontal" class="opacity-50"/> -->
                            <li class="mb-2 white-space-normal">
                                <i class="pi pi-check-circle text-green-500 mr-2 text-xl p-1"></i>
                                <span>A reposição deve ser agendada para até 30 dias da aula</span>
                            </li>
                        </ul>
                    </div>
                </p-popover>
            </div>
            <div class="">
                <full-calendar [options]="calendarioOptions" #fullCalendar>
                    <ng-template #eventContent let-arg>
                        <ng-container *ngIf="!loading && !!arg.event.extendedProps; else loadingEvent">
                            <div class="cursor-pointer w-full overflow-hidden p-1 border-round-sm flex flex-column "
                                 [ngStyle]="{
                            backgroundColor: arg.event.extendedProps.corLegenda,
                            border: selectedAula && selectedAula.id == arg.event.id ? '2px red solid' : '' ,
                        }">
                                <div class="flex align-items-center">
                                    <span class="text-xs mr-2 text-white">{{arg.event.extendedProps.data | date : 'HH:mm'}}</span>
                                    <span class="text-xs overflow-hidden text-white text-overflow-ellipsis w-12rem white-space-nowrap">{{ arg.event.title }}</span>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #loadingEvent>
                            <div class="w-full">
                                <p-skeleton width="100%" height="1.5rem" />
                            </div>
                        </ng-template>
                    </ng-template>
                </full-calendar>
                <div class="flex" *ngIf="!loading">
                    <div class="surface-50 border-round-2 column-gap-4 flex flex-column flex-wrap max-h-8rem mt-4 p-2 px-3">
                        <div *ngFor="let item of legenda" class="my-1 flex align-items-center">
                            <div class="w-1rem h-1rem border-circle" [ngStyle]="{ backgroundColor: item.backgroundColor }"></div>
                            <span class="ml-2">{{item.label}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 px-0 gap-4 flex flex-wrap align-items-center flex-wrap justify-content-between">
            <div class="sm:col-9 col-12">
            </div>
            <div class="ml-auto">
                <p-button
                          (onClick)="confirmaReposicao($event)"
                          class="w-full"
                          styleClass="w-full px-3"
                          label="Agendar"
                          [icon]="'pi pi-check'"
                          [loading]="loading"
                          [rounded]="true"
                          size="small" />
            </div>
        </div>
    </div>
</p-dialog>