.primeira-aula {
    width: 16px;
    background-color: var(--p-pink-500);
    font-size: 0.8rem;
    color: white;
    text-align: center;
    writing-mode: vertical-rl;
}

.event-status {
    width: 71px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-width: 1px;
    text-align: center;
    color: white;
    font-size: .75rem;
    position: relative;
    padding: 0 5px;
    line-height: 1;
    height: 20px;
}

.event-data {
    display: flex;
    width: 100%;
}

.event-data-day,
.event-data-hour {
    width: 100%;
    padding: 0 3px;
    flex: 1;
    background: white;
    text-align: center;
    font-size: 9px;
    border: 1px var(--p-surface-200) solid;
    border-top: none;
    border-right: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .event-status >span {
    margin-left: 5px;
} */
.event-status-presente {
    font-size: .75rem;
    width: 100%;
    color: white;
    border-width: 1px;
}

.event-status-presente .apostila {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: 0 .25rem;
}

.event-cell {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0 2px 0 0;
}

.event-cell-inner {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    flex: none;
}

::ng-deep .p-table-monitoramento {
    background-color: transparent !important;
    margin-left: 0.5rem !important;
    height: calc(100vh - 60px) !important;
}

::ng-deep .p-table-monitoramento .p-datatable-header {
    background-color: transparent !important;
    padding: 0.375rem 0px !important;
}

::ng-deep .p-table-monitoramento .p-datatable-table {
    table-layout: auto !important;
}

::ng-deep .p-datatable-scrollable-table>.p-datatable-tbody>.p-datatable-row-group-header {
    z-index: 3 !important;
}

::ng-deep .p-datatable-scrollable-table>.p-datatable-tbody>.p-datatable-row-group-header>td.ultima-celula,
.p-table-monitoramento .p-datatable-thead>tr>th.ultima-celula,
.p-table-monitoramento .p-datatable-tbody tr td.ultima-celula {
    position: sticky;
    right: 0;
    display: block;
    width: 0;
    height: 35px;
    border: none;
    border-right-width: 2px;
    border-right-style: solid;
    padding: 0 !important;
}


.event-turma {
    --size: 10px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    line-height: 0;
}

.event-abaco {
    text-align: left;
}

.event-abaco p {
    padding: 0 5px;
    text-transform: capitalize;
}