<app-filtro-popover #filtroPopover (applyFilter)="applyFilter($event)"></app-filtro-popover>
<p-table #dt
         [value]="alunos"
         stripedRows
         dataKey="id"
         [showGridlines]="false"
         [loading]="loading"
         [showLoader]="false"
         styleClass="p-table-monitoramento"
         size="small"
         rowGroupMode="subheader"
         groupRowsBy="turma"
         scrollHeight="flex"
         [scrollable]="true"
         [customSort]="true"
         (sortFunction)="customSort($event)">
    <ng-template #caption>
        <div class="border-none bg-white p-3 relative z-3 mb-2 shadow-1">
            <div class="p-toolbar-group-start w-full flex align-items-center justify-content-between gap-2">
                <h2 class="flex align-items-center">
                    <i class="bi bi-table mr-3 text-primary-500 text-2xl"></i>
                    <span class="text-2xl font-normal my-0 white-space-nowrap">Monitoramento</span>
                </h2>
                <p-button icon="pi pi-info-circle"
                          label="Ver Legenda"
                          class="ml-auto"
                          [rounded]="true"
                          severity="secondary"
                          (onClick)="legendaPopover.show($event)" />
                <p-button icon="pi pi-sync"
                          (onClick)="update()"
                          severity="contrast"
                          label="Atualizar"
                          pTooltip="Atualizar monitoramento"
                          tooltipPosition="top"
                          styleClass="border-4"
                          [rounded]="true" />
                <p-button label="Ver filtros"
                          icon="pi pi-filter"
                          severity="primary"
                          (onClick)="filtroPopover.toggle($event)"
                          [rounded]="true" />
            </div>
            <app-legenda-popover #legendaPopover></app-legenda-popover>
        </div>
    </ng-template>
    <ng-template #header let-columns>
        <!-- Meses -->
        <tr>
            <th class="surface-700 border-700" pFrozenColumn></th>
            <th class="surface-700 border-700"></th>
            <ng-container *ngFor="let mes of mesesAno; let i = index;">
                <th [colSpan]="mes.roteiros.length"
                    class="surface-700 border-700 text-center"
                    [attr.data-mes]="mes.mes">
                    <span class="capitalize text-white font-normal">
                        {{mes.mesString}}
                    </span>
                </th>
            </ng-container>
        </tr>
        <!-- Semanas -->
        <tr>
            <th rowspan="1"
                pFrozenColumn
                alignFrozen="left"
                [frozen]="true"
                [pSortableColumn]="'nome'"
                class="bg-primary-500 border-bottom-1 border-primary-500 text-white">
                <div class="flex align-items-center justify-content-between gap-2">
                    <span class="pl-6">Alunos</span>
                    <p-sortIcon [field]="'nome'" />
                </div>
            </th>
            <th rowspan="1"
                [pSortableColumn]="'turma'"
                class="bg-primary-500 border-primary-500 text-white">
                <div class="flex align-items-center justify-content-between gap-2">
                    <span>Turma</span>
                    <p-sortIcon [field]="'turma'" />
                </div>
            </th>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros; let i = index;">
                    <th class=" px-2 capitalize cursor-pointer"
                        (mouseenter)="popoverRoteiro.show($event)"
                        (mouseleave)="popoverRoteiro.hide()"
                        [ngClass]="{
                            'bg-primary-500 border-primary-500': !roteiro.recesso,
                            'bg-red-500 border-red-500 text-center ': roteiro.recesso,
                        }">
                        <ng-container *ngIf="roteiro.recesso">
                            <span class="text-white font-light text-sm">Recesso</span>
                        </ng-container>
                        <ng-container *ngIf="!roteiro.recesso">
                            <p class="text-white font-light text-sm">Semana {{roteiro.semana}}</p>
                            <p class="text-sm">{{roteiro.dataInicio | date : 'dd/MM' }} - {{roteiro.dataFim | date : 'dd/MM' }} </p>
                        </ng-container>
                        <p-popover #popoverRoteiro styleClass="-mt-1" appendTo="body">
                            <div class="flex align-items-center gap-2">
                                <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda  }"></i>
                                <span class="font-bold text-base">Semana {{roteiro.semana}} - {{roteiro.tema}} </span>
                                <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda  }"></i>
                            </div>
                            <p class="white-space-nowrap"> Do dia {{roteiro.dataInicio | date : 'dd/MM' }} ao dia {{roteiro.dataFim | date : 'dd/MM' }} </p>
                        </p-popover>
                    </th>
                </ng-container>
            </ng-container>
        </tr>
        <!-- Filtros -->
        <tr>
            <th class="pl-6" pFrozenColumn>
                <div class="w-11rem">
                    <p-columnFilter
                                    field="nome"
                                    type="text"
                                    [matchMode]="FilterMatchMode.CONTAINS.toString()"
                                    class="w-full p-column-filter-inline"
                                    fluid />
                </div>
            </th>
            <th>
                <div class="w-11rem">
                    <p-columnFilter
                                    field="turma"
                                    type="text"
                                    [matchMode]="FilterMatchMode.CONTAINS.toString()"
                                    class="w-full p-column-filter-inline"
                                    fluid />
                </div>
            </th>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros; let i = index;">
                    <th [ngClass]="{ 'bg-red-200 border-red-500': roteiro.recesso === true }">
                        <div *ngIf="!roteiro.recesso">
                            <p-columnFilter
                                            field="turma"
                                            type="text"
                                            class="p-column-filter-inline"
                                            [showMenu]="false"
                                            matchMode="equals">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-select [options]="filterStatus"
                                              [ngModel]="value"
                                              inputId="status-{{roteiro.semana}}"
                                              name="status-{{roteiro.semana}}"
                                              placeholder="Selecione"
                                              optionLabel="label"
                                              optionValue="value"
                                              #filterItem
                                              styleClass="w-5rem"
                                              (ngModelChange)="filtrarStatus(filterItem.value, roteiro, dt)"
                                              appendTo="body"
                                              fluid>
                                        <ng-template #selectedItem let-selectedOption>
                                            <div *ngIf="selectedOption" class="flex align-items-center gap-2">
                                                <span class="w-1rem h-1rem border-circle flex-none flex {{selectedOption.styleClass}}"></span>
                                                <span>{{selectedOption.label}}</span>
                                            </div>
                                        </ng-template>
                                        <ng-template let-option #item>
                                            <div class="flex align-items-center gap-2">
                                                <span class="w-1rem h-1rem border-circle flex-none flex {{option.styleClass}}"></span>
                                                <span>{{option.label}}</span>
                                            </div>
                                        </ng-template>
                                    </p-select>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #groupheader let-aluno let-expanded="expanded">
        <tr pRowGroupHeader>
            <td pFrozenColumn
                alignFrozen="left"
                [frozen]="true"
                [style]="{ backgroundColor: aluno.corLegenda, borderColor: aluno.corLegenda, color: getTextColor(aluno.corLegenda) }">
                <div class="flex align-items-center gap-2 line-height-1 py-1 white-space-nowrap">
                    <i class="fa fa-users-between-lines ml-1"></i>
                    <span>{{aluno.turma}}</span>
                </div>
            </td>
            <td [style]="{ backgroundColor: aluno.corLegenda, borderColor: aluno.corLegenda}"></td>
            <ng-container *ngFor="let item of aluno.items; let i = index">
                <td
                    class="text-sm line-height-1 white-space-nowrap"
                    [style]="{ backgroundColor: aluno.corLegenda, borderColor: aluno.corLegenda, color: getTextColor(aluno.corLegenda) }"
                    pFrozenColumn
                    alignFrozen="right"
                    [frozen]="i == aluno.items.length - 1">
                    <!-- <ng-container *ngIf="i == aluno.items.length - 1">
                        <span>{{calculaAlunosMesmaTurma(aluno.turma_Id)}}</span>
                    </ng-container> -->
                    <!-- <ng-container *ngIf="i < aluno.items.length - 1"> -->
                        <span [class.hidden]="!item.show || item.status == Monitoramento_Item_Status.Recesso">
                            {{item.aula.aula.data | date : 'dd/MM  HH\'h\'mm'}}
                        </span>
                    <!-- </ng-container> -->
                </td>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #body let-aluno let-rowIndex="rowIndex">
        <tr style="height: 46px">
            <!-- Nome -->
            <td pFrozenColumn
                alignFrozen="left"
                [frozen]="true"
                class="white-space-nowrap px-2 py-1"
                [style]="{
                    'border-left': '1px solid',
                    'border-left-color': aluno.corLegenda,
                }">
                <div class="flex align-items-center">
                    <span class="mr-2">
                        <p-button icon="pi pi-whatsapp {{!aluno.celular ? 'text-300' : ''}}"
                                  severity="success"
                                  [rounded]="true"
                                  [text]="true"
                                  pTooltip="Enviar mensagem"
                                  (onClick)="enviarMensagem(aluno)"
                                  (auxclick)="enviarMensagem(aluno)"
                                  (contextmenu)="enviarMensagem(aluno)"
                                  [disabled]="!aluno.celular" />
                    </span>
                    <p class="text-primary-500 hover:underline hover:font-bold cursor-pointer capitalize"
                       (click)="showAluno(aluno)">
                        <span>{{aluno.nome | nameAbv }}</span>
                    </p>
                </div>
            </td>
            <!-- Turma -->
            <td class="white-space-nowrap px-2 py-1 ">
                <div class="flex align-items-center gap-2">
                    <app-legend-color class="line-height-1"
                                                        [corLegenda]="aluno.corLegenda"
                                      [professor_Id]="aluno.professor_Id"
                                      [professor]="aluno.professor"
                                      [turma_Id]="aluno.turma_Id"></app-legend-color>
                    <span>{{aluno.turma}}</span>
                </div>
            </td>
            <ng-container *ngFor="let item of aluno.items; let itemIndex = index">
                <td class="p-1 text-center px-0"
                    [ngClass]="{
                    'bg-grey-300': item.status != Monitoramento_Item_Status.Recesso,
                    'bg-red-200 border-red-500': item.status == Monitoramento_Item_Status.Recesso
                }">
                    <div [ngClass]="{
                        'event-cell': true,
                        'hidden': !item.show || item.status == Monitoramento_Item_Status.Recesso
                    }">
                        <div class="event-cell-inner" (click)="showAula(item, aluno)">
                            <!-- Recesso -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.Recesso">
                                <div class="event-status bg-red-200 border-1 border-red-200 text-red-700">
                                    <ng-container *ngTemplateOutlet="mensagemFaltaTemplate; context: { aluno, item }"></ng-container>
                                    <span pTooltip="Recesso">Recesso</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container>
                            </ng-container>
                            <!-- Cancelada -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.Cancelada">
                                <div class="event-status surface-900 border-1 border-900">
                                    <ng-container *ngTemplateOutlet="mensagemFaltaTemplate; context: { aluno, item }"></ng-container>
                                    <span pTooltip="Cancelada">Cancelada</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container>
                            </ng-container>
                            <!-- Feriado -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.Feriado">
                                <div class="event-status surface-800 border-1 border-800">
                                    <ng-container *ngTemplateOutlet="mensagemFaltaTemplate; context: { aluno, item }"></ng-container>
                                    <span pTooltip="Feriado">Feriado</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container>
                            </ng-container>
                            <!-- FaltaAula -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.FaltaAula">
                                <div class="event-status bg-red-500 border-1 border-red-500">
                                    <ng-container *ngTemplateOutlet="mensagemFaltaTemplate; context: { aluno, item }"></ng-container>
                                    <span pTooltip="Falta - Aluno não contatado">Falta</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container>
                            </ng-container>
                            <!-- FaltaAgendada -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.FaltaAgendada">
                                <div class="event-status bg-red-200 border-1 border-red-200 text-red-600">
                                    <ng-container *ngTemplateOutlet="mensagemFaltaTemplate; context: { aluno, item }"></ng-container>
                                    <span pTooltip="Falta Agendada">Falta</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container>
                            </ng-container>
                            <!-- FaltaReposicao -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.FaltaReposicao">
                                <div class="event-status bg-blue-500 border-1 border-blue-500">
                                    <ng-container *ngTemplateOutlet="mensagemFaltaTemplate; context: { aluno, item }"></ng-container>
                                    <span pTooltip="Falta - Reposição">Falta</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container>
                            </ng-container>
                            <!-- FaltaAlunoContatado -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.FaltaAlunoContatado">
                                <div class="event-status bg-yellow-500 border-1 border-yellow-500">
                                    <ng-container *ngTemplateOutlet="mensagemFaltaTemplate; context: { aluno, item }"></ng-container>
                                    <span pTooltip="Falta - Aluno Contatado">Falta</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container>
                            </ng-container>
                            <!-- PresenteNaAula -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.PresenteNaAula">
                                <div class="event-status bg-green-500 border-1 border-green-500">
                                    <span pTooltip="Presente">Presente</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="abacoTemplate; context: { 
                                    abaco: item.reposicaoPara ? item.reposicaoPara.participacao.apostila_Abaco : item.aula.participacao.apostila_Abaco, 
                                    pagina: item.reposicaoPara ? item.reposicaoPara.participacao.numeroPaginaAbaco: item.aula.participacao.numeroPaginaAbaco,
                                    reposicao: item.reposicaoPara ? true : false
                                }"></ng-container>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container>
                            </ng-container>
                            <!-- PresenteReposicao -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.PresenteReposicao">
                                <div class="event-status bg-green-200 border-1 border-green-200 text-green-600">
                                    <span pTooltip="Presente - Reposição">Presente</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="abacoTemplate; context: { 
                                    abaco: item.reposicaoPara ? item.reposicaoPara.participacao.apostila_Abaco : item.aula.participacao.apostila_Abaco, 
                                    pagina: item.reposicaoPara ? item.reposicaoPara.participacao.numeroPaginaAbaco: item.aula.participacao.numeroPaginaAbaco,
                                    reposicao: item.reposicaoPara ? true : false
                                }"></ng-container>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container>
                            </ng-container>
                            <!-- ReposicaoAgendada -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.ReposicaoAgendada">
                                <div class="event-status bg-purple-500 border-1 border-purple-500">
                                    <ng-container *ngTemplateOutlet="mensagemFaltaTemplate; context: { aluno, item }"></ng-container>
                                    <span pTooltip="Reposição Agendada">Reposição</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.reposicaoPara.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.reposicaoPara.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara.aula.data }"></ng-container>
                            </ng-container>
                            <!-- ReposicaoDesmarcada -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.ReposicaoDesmarcada">
                                <div class="event-status bg-purple-800 border-1 border-purple-800">
                                    <span pTooltip="Reposição Desmarcada">Reposição</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container>
                            </ng-container>
                            <!-- Aula -->
                            <ng-container *ngIf="item.status == Monitoramento_Item_Status.Aula">
                                <div class="event-status bg-transparent">
                                    <span pTooltip="Aula não lançada" class="opacity-0">Aula</span>
                                    <span class="event-turma"
                                          [pTooltip]="item.aula.aula.turma"
                                          [ngStyle]="{ backgroundColor: item.aula.aula.corLegenda }"></span>
                                </div>
                                <!-- <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara ? item.reposicaoPara.aula.data : item.aula.aula.data }"></ng-container> -->
                            </ng-container>
                        </div>
                        <span *ngIf="item.aula.participacao.primeiraAula" class="primeira-aula">1ª aula</span>
                    </div>
                </td>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #groupfooter let-aluno let-expanded="expanded">

        <tr pRowGroupfooter>
            <td class="surface-100"></td>
            <td class="surface-100"></td>
            <td class="surface-100" [colSpan]="aluno.items.length"></td>
            <td class="surface-100"
             pFrozenColumn
                    alignFrozen="right">
                <div class="flex align-items-center gap-2 line-height-1 py-1 white-space-nowrap">
                    <span>Total: </span>
                    <span>{{calculaAlunosMesmaTurma(aluno.turma_Id)}}</span>
                    <i class="fa fa-user"></i>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="2" pFrozenColumn alignFrozen="left" [frozen]="true"> Nenhum registro encontrado </td>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros">
                    <td></td>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #loadingbody let-columns="columns">
        <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]; let i = index;">
            <tr style="height: 35px;">
                <td pFrozenColumn>
                    <p-skeleton width="13rem" />
                </td>
                <td>
                    <p-skeleton width="10rem" />
                </td>
                <ng-container *ngFor="let mes of mesesAno">
                    <ng-container *ngFor="let roteiro of mes.roteiros">
                        <td>
                            <p-skeleton width="6rem" />
                        </td>
                    </ng-container>
                </ng-container>
            </tr>
        </ng-container>
    </ng-template>
</p-table>
<ng-template #abacoTemplate let-abaco="abaco" let-pagina="pagina" let-reposicao="reposicao">
    <div class="event-abaco" [pTooltip]="reposicao">
        <p class="event-abaco-name border-1"
           [ngClass]="{
            'bg-green-200 border-green-200 text-green-600': reposicao,
            'bg-green-500 border-green-500 text-white': !reposicao,
        }">
            <span [pTooltip]="abaco" class="text-xs">
                {{(abaco ?? '???').toLowerCase()}}
            </span>
        </p>
        <p class="event-abaco-page border-1"
           [ngClass]="{
                'bg-green-200 border-green-200 text-green-600': reposicao,
                'bg-green-500 border-green-500 text-white': !reposicao,
            }">
            <span [pTooltip]="'Página '+ pagina" class="text-xs"> pág. {{pagina}}
            </span>
        </p>
    </div>
</ng-template>
<ng-template #dataTemplate let-data="data">
    <div class="event-data">
        <p class="event-data-day">
            {{data | date: 'dd/MM'}}
        </p>
        <p class="event-data-hour">
            {{data | date: 'HH\'h\'mm'}}
        </p>
    </div>
</ng-template>
<router-outlet></router-outlet>
<ng-template #mensagemFaltaTemplate let-aluno="aluno" let-item="item">
    <p-button
              icon="pi pi-whatsapp text-xs"
              iconPos="right"
              severity="success"
              [size]="'small'"
              [text]="true"
              styleClass="p-0 px-0 w-min"
              (onClick)="$event.stopPropagation(); enviarMensagemFalta(aluno, item, $event)" />
</ng-template>