<app-filtro-popover #filtroPopover (applyFilter)="applyFilter($event)"></app-filtro-popover>
<!-- <app-aluno-popover #alunoPopover [showChecklist]="true"> </app-aluno-popover> -->
<p-table #dt
         [value]="alunos"
         stripedRows
         dataKey="id"
         [showGridlines]="false"
         [loading]="loading"
         [showLoader]="false"
         styleClass="p-table-monitoramento"
         size="small"
         rowGroupMode="subheader"
         groupRowsBy="turma"
         scrollHeight="flex"
         [scrollable]="true"
         [customSort]="true"
         (sortFunction)="customSort($event)">
    <ng-template #caption>
        <div class="border-none bg-white p-3 relative z-3 mb-2 shadow-1">
            <div class="p-toolbar-group-start w-full flex align-items-center justify-content-between gap-2">
                <h2 class="flex align-items-center">
                    <i class="bi bi-table mr-3 text-primary-500 text-2xl"></i>
                    <span class="text-2xl font-normal my-0 white-space-nowrap">Monitoramento</span>
                </h2>
                <p-button icon="pi pi-info-circle"
                          label="Ver Legenda"
                          class="ml-auto"
                          [rounded]="true"
                          severity="secondary"
                          (onClick)="legendaPopover.show($event)" />
                <p-button icon="pi pi-sync"
                          (onClick)="update()"
                          severity="contrast"
                          pTooltip="Atualizar monitoramento"
                          tooltipPosition="top"
                          styleClass="border-4" />
                <p-button label="Ver filtros"
                          icon="pi pi-filter"
                          severity="primary"
                          (onClick)="filtroPopover.toggle($event)"
                          [rounded]="true" />
            </div>
            <app-legenda-popover #legendaPopover></app-legenda-popover>
        </div>
    </ng-template>
    <ng-template #header let-columns>
        <!-- Meses -->
        <tr>
            <th class="surface-700 border-700" pFrozenColumn></th>
            <th class="surface-700 border-700"></th>
            <ng-container *ngFor="let mes of mesesAno; let i = index;">
                <th [colSpan]="mes.roteiros.length"
                    class="surface-700 border-700 text-center"
                    [attr.data-mes]="mes.mes">
                    <span class="capitalize text-white font-normal">
                        {{mes.mesString}}
                    </span>
                </th>
            </ng-container>
        </tr>
        <!-- Semanas -->
        <tr>
            <th rowspan="1"
                pFrozenColumn
                alignFrozen="left"
                [frozen]="true"
                [pSortableColumn]="'nome'"
                class="bg-primary-500 border-bottom-1 border-primary-500 text-white">
                <div class="flex align-items-center justify-content-between gap-2">
                    <span class="pl-6">Alunos</span>
                    <p-sortIcon [field]="'nome'" />
                </div>
            </th>
            <th rowspan="1"
                [pSortableColumn]="'turma'"
                class="bg-primary-500 border-primary-500 text-white">
                <div class="flex align-items-center justify-content-between gap-2">
                    <span>Turma</span>
                    <p-sortIcon [field]="'turma'" />
                </div>
            </th>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros; let i = index;">
                    <th class=" px-2 capitalize cursor-pointer"
                        (mouseenter)="popoverRoteiro.show($event)"
                        (mouseleave)="popoverRoteiro.hide()"
                        [ngClass]="{
                            'bg-primary-500 border-primary-500': !roteiro.recesso,
                            'bg-red-500 border-red-500 text-center ': roteiro.recesso,
                        }">
                        <ng-container *ngIf="roteiro.recesso">
                            <span class="text-white font-light text-sm">Recesso</span>
                        </ng-container>
                        <ng-container *ngIf="!roteiro.recesso">
                            <p class="text-white font-light text-sm">Semana {{roteiro.semana}}</p>
                            <p class="text-sm">{{roteiro.dataInicio | date : 'dd/MM' }} - {{roteiro.dataFim | date : 'dd/MM' }} </p>
                        </ng-container>
                        <p-popover #popoverRoteiro styleClass="-mt-1" appendTo="body">
                            <div class="flex align-items-center gap-2">
                                <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda  }"></i>
                                <span class="font-bold text-base">Semana {{roteiro.semana}} - {{roteiro.tema}} </span>
                                <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda  }"></i>
                            </div>
                            <p class="white-space-nowrap"> Do dia {{roteiro.dataInicio | date : 'dd/MM' }} ao dia {{roteiro.dataFim | date : 'dd/MM' }} </p>
                        </p-popover>
                    </th>
                </ng-container>
            </ng-container>
        </tr>
        <!-- Filtros -->
        <tr>
            <th class="pl-6" pFrozenColumn>
                <div class="w-11rem">
                    <p-columnFilter
                                    field="nome"
                                    type="text"
                                    [matchMode]="FilterMatchMode.CONTAINS.toString()"
                                    class="w-full p-column-filter-inline"
                                    fluid />
                </div>
            </th>
            <th>
                <div class="w-11rem">
                    <p-columnFilter
                                    field="turma"
                                    type="text"
                                    [matchMode]="FilterMatchMode.CONTAINS.toString()"
                                    class="w-full p-column-filter-inline"
                                    fluid />
                </div>
            </th>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros; let i = index;">
                    <th [ngClass]="{ 'bg-red-200 border-red-500': roteiro.recesso === true }">
                        <div *ngIf="!roteiro.recesso">
                            <p-columnFilter
                                            field="turma"
                                            type="text"
                                            class="p-column-filter-inline"
                                            [showMenu]="false"
                                            matchMode="equals">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-select [options]="filterStatus"
                                              [ngModel]="value"
                                              inputId="status-{{roteiro.semana}}"
                                              name="status-{{roteiro.semana}}"
                                              placeholder="Selecione"
                                              optionLabel="label"
                                              optionValue="value"
                                              #filterItem
                                              styleClass="w-5rem"
                                              (ngModelChange)="filtrarStatus(filterItem.value, roteiro, dt)"
                                              appendTo="body"
                                              fluid>
                                        <ng-template #selectedItem let-selectedOption>
                                            <div *ngIf="selectedOption" class="flex align-items-center gap-2">
                                                <span class="w-1rem h-1rem border-circle flex-none flex {{selectedOption.styleClass}}"></span>
                                                <span>{{selectedOption.label}}</span>
                                            </div>
                                        </ng-template>
                                        <ng-template let-option #item>
                                            <div class="flex align-items-center gap-2">
                                                <span class="w-1rem h-1rem border-circle flex-none flex {{option.styleClass}}"></span>
                                                <span>{{option.label}}</span>
                                            </div>
                                        </ng-template>
                                    </p-select>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #groupheader let-aluno let-expanded="expanded">
        <tr pRowGroupHeader>
            <td pFrozenColumn
                alignFrozen="left"
                [frozen]="true"
                colspan="2"
                [style]="{ backgroundColor: aluno.corLegenda, borderColor: aluno.corLegenda, color: getTextColor(aluno.corLegenda) }">
                <div class="flex align-items-center gap-2 line-height-1 py-2 justify-content-between">
                    <i class="fa fa-users-between-lines ml-1"></i>
                    <span class="mr-auto font-bold">{{aluno.turma}}</span>
                </div>
            </td>
            <ng-container *ngFor="let mes of mesesAno; let indexMes = index;">
                <ng-container *ngFor="let roteiro of mes.roteiros; let indexRoteiro = index;">
                    <ng-container *ngIf="indexMes == mesesAno.length - 1  && indexRoteiro == mes.roteiros.length - 1; else elseTemplate">
                        <td pFrozenColumn
                            alignFrozen="right"
                            [frozen]="true"
                            [style]="{ 
                                backgroundColor: aluno.corLegenda, 
                                color: getTextColor(aluno.corLegenda),
                                borderColor: aluno.corLegenda
                            }"
                            class="white-space-nowrap text-right">
                            {{calculaAlunosMesmaTurma(aluno.turma_Id)}}
                        </td>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <td [style]="{ backgroundColor: aluno.corLegenda, borderColor: aluno.corLegenda }"></td>
                    </ng-template>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #body let-aluno let-rowIndex="rowIndex">
        <tr style="height: 46px">
            <!-- Nome -->
            <td pFrozenColumn
                alignFrozen="left"
                [frozen]="true"
                class="white-space-nowrap px-2 py-1"
                [style]="{
                    'border-left': '1px solid',
                    'border-left-color': aluno.corLegenda,
                }">
                <div class="flex align-items-center">
                    <span class="mr-2">
                        <p-button icon="pi pi-whatsapp {{!aluno.celular ? 'text-300' : ''}}"
                                  severity="success"
                                  [rounded]="true"
                                  [text]="true"
                                  pTooltip="Enviar mensagem"
                                  (onClick)="enviarMensagem(aluno)"
                                  (auxclick)="enviarMensagem(aluno)"
                                  (contextmenu)="enviarMensagem(aluno)"
                                  [disabled]="!aluno.celular" />
                    </span>
                    <p class="text-primary-500 hover:underline hover:font-bold cursor-pointer capitalize">
                        <span>{{aluno.nome | nameAbv }}</span>
                    </p>
                </div>
            </td>
            <!-- Turma -->
            <td class="white-space-nowrap px-2 py-1 ">
                <div class="flex align-items-center gap-2">
                    <app-legend-color [corLegenda]="aluno.corLegenda"
                                      [professor_Id]="aluno.professor_Id"
                                      [professor]="aluno.professor"
                                      [turma_Id]="aluno.turma_Id"></app-legend-color>
                    <span>{{aluno.turma}}</span>
                </div>
            </td>
            <ng-container *ngFor="let item of aluno.items; let itemIndex = index">
                <td class="p-1 text-center"
                    [ngClass]="{
                    'bg-grey-300': !item.aula.aula.recesso,
                    'bg-red-200 border-red-500': item.aula.aula.recesso,
                }">
                    <ng-template #dataTemplate let-data="data">
                        <div class="flex w-full">
                            <p class="px-1 flex-1 bg-white text-center text-sm border-1 border-200 border-top-none border-right-none">
                                {{data | date: 'dd/MM'}}
                            </p>
                            <p class="px-1 flex-1 bg-white text-center text-sm border-1 border-200 border-top-none">
                                {{data | date: 'HH\'h\'mm'}}
                            </p>
                        </div>
                    </ng-template>
                    <div [ngClass]="{
                        'event-cell': true,
                        'opacity-0 pointer-events-none': !item.show && !item.recesso,
                        'pointer-events-none': !item.show && !item.recesso,
                    }">
                        <div class="event-cell-inner" (click)="showAula(item, aluno)">
                            <div class="event-status"
                                 [ngClass]="{
                                'bg-red-200 border-1 border-red-200 text-red-700': item.status == Dashboard_Item_Status.Recesso,
                                'surface-900 border-1 border-900': item.status == Dashboard_Item_Status.Cancelada,
                                'surface-800 border-1 border-800': item.status == Dashboard_Item_Status.Feriado,
                                'bg-red-500 border-1 border-red-500': item.status == Dashboard_Item_Status.FaltaAula,
                                'bg-red-300 border-1 border-red-300 text-red-600': item.status == Dashboard_Item_Status.FaltaAgendada,
                                'bg-blue-500 border-1 border-blue-500': item.status == Dashboard_Item_Status.FaltaReposicao,
                                'bg-green-500 border-1 border-green-500': item.status == Dashboard_Item_Status.PresenteNaAula,
                                'bg-green-200 border-1 border-green-200 text-green-700': item.status == Dashboard_Item_Status.PresenteReposicao,
                                'bg-purple-500 border-1 border-purple-500': item.status == Dashboard_Item_Status.ReposicaoAgendada,
                                'bg-yellow-500 border-1 border-yellow-500': item.status == Dashboard_Item_Status.FaltaAlunoContatado,
                                'bg-purple-800 border-1 border-purple-800': item.status == Dashboard_Item_Status.ReposicaoDesmarcada,
                                'surface-50 border-1 border-100 text-500': item.status == Dashboard_Item_Status.Aula,
                            }">
                                <!-- <pre *ngIf="item.status == Dashboard_Item_Status.ReposicaoAgendada">{{item.reposicaoPara | json}}</pre> -->
                                <span [innerText]="
                                
                                item.status == Dashboard_Item_Status.Recesso ? 'Recesso' :
                                item.status == Dashboard_Item_Status.Cancelada ? 'Cancelada' :
                                item.status == Dashboard_Item_Status.Feriado ? 'Feriado' :
                                item.status == Dashboard_Item_Status.FaltaAula ? 'Faltou' :
                                item.status == Dashboard_Item_Status.FaltaAgendada ? 'Faltou' :
                                item.status == Dashboard_Item_Status.FaltaReposicao ? 'Faltou' :
                                item.status == Dashboard_Item_Status.FaltaAlunoContatado ? 'Faltou' :
                                item.status == Dashboard_Item_Status.ReposicaoDesmarcada ? 'Faltou' :
                                item.status == Dashboard_Item_Status.PresenteNaAula ? 'Presente' :
                                item.status == Dashboard_Item_Status.PresenteReposicao ? 'Presente' :
                                item.status == Dashboard_Item_Status.ReposicaoAgendada ? 'Reposição' :
                                item.status == Dashboard_Item_Status.Aula ? 'Aula' :
                                'Aula' 
                                "
                                ></span>
                            </div>
                            <ng-container *ngIf="item.reposicaoPara">
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.reposicaoPara.aula.data }"></ng-container>
                            </ng-container>
                            <ng-container *ngIf="!item.reposicaoPara">
                                <ng-container *ngTemplateOutlet="dataTemplate; context: { data: item.aula.aula.data }"></ng-container>
                            </ng-container>
                        </div>
                    </div>
                </td>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <ng-container *ngIf="loading">
            <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
        </ng-container>
    </ng-template>
    <ng-template #loadingbody let-columns="columns">
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
    </ng-template>
</p-table>
<ng-template #loadingTemplate>
    <ng-container *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]; let i = index;">
        <tr style="height: 35px;">
            <td pFrozenColumn>
                <p-skeleton width="13rem" />
            </td>
            <td>
                <p-skeleton width="10rem" />
            </td>
            <ng-container *ngFor="let mes of mesesAno">
                <ng-container *ngFor="let roteiro of mes.roteiros">
                    <td>
                        <p-skeleton width="6rem" />
                    </td>
                </ng-container>
            </ng-container>
        </tr>
    </ng-container>
</ng-template>
<router-outlet></router-outlet>