<p-dialog [header]="'Aula'"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '550px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <form #form="ngForm">
        <!--  (ngSubmit)="send(form, $event)" -->
        <div class="formgrid grid">
            <div class="field sm:col-6 col-12">
                <label for="professor_Id">Professor: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="professores"
                          [(ngModel)]="object.professor_Id"
                          #professor_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="professor_Id"
                          inputId="professor_Id"
                          optionLabel="nome"
                          optionValue="id"
                          [showClear]="true"
                          [checkmark]="true"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          optionDisabled="deactivated"
                          placeholder="Selecione um professor"
                          required>
                    <ng-template let-item #item>
                        <div class="flex align-items-center justify-content-between w-full gap-2">
                            <div>
                                <p class="font-bold">{{ item.nome }}</p>
                                <p class="text-sm">
                                    <{{ item.email }}>
                                </p>
                            </div>
                            <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                                   [icon]="(item.active ? 'pi pi-lock-open' : 'pi pi-lock') + ' mr-2 text-sm'"
                                   [value]="item.active ? 'Ativo': 'Inativo'"
                                   [severity]="item.active ? 'success': 'danger'"
                                   [pTooltip]="!item.active ?  'Inativo desde ' + (item.deactivated | date : 'dd/MM/yyyy HH:mm')  : undefined" />
                        </div>
                    </ng-template>
                </p-select>
            </div>
            <div class="field sm:col-3 col-12"> <!-- Data de Início -->
                <label for="dataInicio">Data: <span class="text-red-500">*</span></label>
                <p-datepicker
                              #dataInicio="ngModel"
                              [(ngModel)]="object.data"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              inputId="dataInicio"
                              name="dataInicio"
                              class="w-full"
                              [required]="true"
                              appendTo="body" />
                <div *ngIf="dataInicio.touched && dataInicio.invalid && dataInicio.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataInicio.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field sm:col-3 col-12"> <!-- Horário -->
                <label for="dataInicio">Horário: <span class="text-red-500">*</span></label>
                <p-datepicker
                              [(ngModel)]="object.data"
                              #dataInicio="ngModel"
                              styleClass="w-full"
                              class="w-full"
                              name="dataInicio"
                              inputId="dataInicio"
                              [required]="true"
                              appendTo="body"
                              [iconDisplay]="'input'"
                              [showIcon]="true"
                              [timeOnly]="true"
                              [hourFormat]="'24'"
                              placeholder="hh:mm">
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
                <div *ngIf="dataInicio.touched && dataInicio.invalid && dataInicio.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataInicio.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field col-12">
                <p-table [value]="object.alunos"
                         dataKey="id">
                    <ng-template #header>
                        <tr>
                            <th>Nome</th>
                            <th class="w-10rem">Apostila</th>
                            <th class="w-5rem">Página</th>
                            <th class="w-3rem">Presença</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-item let-editing="editing">
                        <tr [class.border-red-500]="editing == true">
                            <td>
                                <div class="flex w-full ">
                                    <span class="overflow-hidden max-w-full text-overflow-ellipsis white-space-nowrap max-w-13rem">{{ item.nome }}</span>
                                    <p-badge *ngIf="item.flagReposicao" styleClass="-mt-2 ml-2 " value="Reposição" size="small"></p-badge>
                                    <p-badge *ngIf="item.flagNovo" styleClass="-mt-2 ml-2 " value="Aula 1" size="small"></p-badge>
                                </div>
                            </td>
                            <td [pEditableColumn]="item.apostila" pEditableColumnField="code" class="w-10rem">
                                <p-cellEditor>
                                    <ng-template #input>
                                        <input
                                               pInputText
                                               type="text"
                                               [(ngModel)]="item.apostila"
                                               id="apostila"
                                               name="apostila"
                                               #apostila="ngModel"
                                               class="w-full"
                                               required />
                                    </ng-template>
                                    <ng-template #output> {{ item.apostila }} </ng-template>
                                </p-cellEditor>
                            </td>
                            <td [pEditableColumn]="item.pagina" pEditableColumnField="code" class="w-5rem">
                                <p-cellEditor>
                                    <ng-template #input>
                                        <input
                                               pInputText
                                               type="text"
                                               [(ngModel)]="item.pagina"
                                               id="pagina"
                                               name="pagina"
                                               #pagina="ngModel"
                                               class="w-full" />
                                    </ng-template>
                                    <ng-template #output> {{ item.pagina }} </ng-template>
                                </p-cellEditor>
                            </td>
                            <td [pEditableColumn]="item.presenca" pEditableColumnField="code" class="w-3rem cursor-pointer" (click)="item.presenca = item.presenca ?? false">
                                <p-cellEditor>
                                    <ng-template #input>
                                        <p-button (onClick)="item.presenca = !item.presenca"
                                                  [label]="item.presenca ? 'Presente': 'Faltou'"
                                                  [severity]="item.presenca ? 'success': 'danger'"
                                                  size="small"
                                                  styleClass="py-1 line-height-2" />
                                    </ng-template>
                                    <ng-template #output>
                                        <p-button *ngIf="item.presenca != undefined"
                                                  (onClick)="item.presenca = !item.presenca"
                                                  [label]="item.presenca ? 'Presente': 'Faltou'"
                                                  [severity]="item.presenca ? 'success': 'danger'"
                                                  size="small"
                                                  styleClass="py-1 line-height-2" />
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-12 px-0 gap-4 flex flex-wrap align-items-center flex-wrap justify-content-between">
            <div class="sm:col-9 col-12">
                <!-- <p class="text-red-500" *ngIf="!error"><span class="text-red-500">*</span> Preencha os campos corretamente para salvar.</p> -->
                <p class="text-red-500" *ngIf="error">{{error}}</p>
            </div>
            <div class="ml-auto">
                <p-button
                          type="submit"
                          [disabled]="form.invalid || loading"
                          class="w-full"
                          styleClass="w-full px-3"
                          label="Finalizar aula"
                          icon="pi pi-check"
                          iconPos="right"
                          [loading]="loading"
                          [rounded]="true"
                          size="small" />
            </div>
        </div>
    </form>
</p-dialog>