<p-confirmdialog key="checklistConfirmation" styleClass="w-30rem">
    <ng-template #message let-message>
        <div>
            <div class="flex align-items-center gap-2">
                <span class="text-4xl mr-2 text-primary-500">
                    <i *ngIf="message.icon" [ngClass]="message.icon"></i>
                    <i *ngIf="!message.icon" class="pi pi-exclamation-triangle text-4xl "></i>
                </span>
                <div [innerHTML]="message.message"></div>
            </div>
            <div class="w-full flex-1 col-12 px-0">
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-comment p-iconfield-textarea" />
                    <textarea pTextarea
                              class="w-full"
                              name="checklistObservacao"
                              id="checklistObservacao"
                              [(ngModel)]="checklistObservacao"
                              placeholder="Escreva aqui alguma observação..."
                              [rows]="2"></textarea>
                </p-iconfield>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<p-dialog [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChanged()"
          [style]="{ maxWidth: '95vw', width: '600px' }"
          appendTo="body"
          [draggable]="true"
          [maximizable]="true">
    <ng-template #header>
        <span class="p-dialog-title">Jornada Supera</span>
    </ng-template>
    <p-tabs *ngIf="aluno && aluno.checklistCompleto"
            [value]="aluno.checklist_Id ?? 1"
            scrollable
            #tabs
            [scrollLeft]="scrollLeft">
        <p-tablist>
            <p-tab *ngFor="let checklist of aluno.checklistCompleto"
                   [value]="checklist.id"
                   #tab>
                <div class="flex align-items-center ">
                    <span>{{checklist.nome}} </span>
                    <div *ngIf="!loading"
                         class="ml-2 font-bold">
                        <!-- Finalizado -->
                        <i *ngIf="checklist.finalizados.length == checklist.items.length"
                           pTooltip="Finalizado"
                           class="pi pi-check-circle text-green-500"></i>
                        <!-- Atrasado -->
                        <span *ngIf="checklist.atrasados.length > 0 && checklist.finalizados.length < checklist.items.length"
                              pTooltip="Atrasado">
                            <span> - {{checklist.finalizados.length}}/{{checklist.items.length}} </span>
                            <i class="pi pi-times-circle text-red-500 ml-2 fadeout animation-duration-300 animation-iteration-infinite"></i>
                        </span>
                        <!-- Pendentes da Semana -->
                        <span *ngIf="checklist.pendentesDaSemana.length > 0 && checklist.finalizados.length < checklist.items.length"
                              pTooltip="Em andamento">
                            <span> - {{checklist.finalizados.length}}/{{checklist.items.length}}</span>
                            <i class="pi pi-hourglass text-orange-500 ml-2"></i>
                        </span>
                    </div>
                </div>
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel *ngFor="let checklist of aluno.checklistCompleto"
                        [value]="checklist.id">
                <div class="w-full -mb-6">
                    <p class="mb-2">Prazo máximo: <b>{{checklist.prazo | date : 'dd/MM/yyyy'}}</b></p>
                    <ul class="p-0 ml-0">
                        <li *ngFor="let checklistItem of checklist.items; let i = index"
                            class="flex align-items-center gap-2 py-3 -mx-2 px-2 border-200"
                            [ngClass]="{
                                    'border-bottom-1': i < checklist.items.length - 1,
                                    'border-bottom-0': i == checklist.items.length - 1,
                                    'surface-50': i % 2 == 0
                                }">
                            <p-checkbox #checkbox
                                        [inputId]="'checklistitem-' + checklistItem.id"
                                        [name]="'checklistitem-' + checklistItem.id"
                                        #finalizado="ngModel"
                                        [(ngModel)]="checklistItem.finalizado"
                                        [styleClass]="checklistItem.finalizado ? 'cursor-auto' : ''"
                                        [binary]="true"
                                        [readonly]="checklistItem.finalizado"
                                        (ngModelChange)="checkboxChange(checklistItem, checklist, finalizado, $event)" />
                            <label class="font-medium  mt-2"
                                   [for]="'checklistitem-' + checklistItem.id">
                                {{ checklistItem.nome }}
                            </label>
                            <p-button *ngIf="checklistItem.finalizado"
                                      severity="secondary"
                                      icon="pi pi-info-circle "
                                      label="Detalhes"
                                      rounded
                                      size="small"
                                      styleClass="ml-2"
                                      class="ml-auto"
                                      pTooltip="Clique para ver detalhes"
                                      tooltipPosition="top"
                                      (onClick)="checklistData.toggle($event)" />
                            <p-popover #checklistData
                                       styleClass="-mt-1">
                                <ng-template [ngIf]="checklistItem.finalizado">
                                    <p *ngIf="checklistItem.dataFinalizacao"> Finalizado em {{checklistItem.dataFinalizacao | date : 'dd/MM/yyyy' }} por {{checklistItem.account_Finalizacao }}
                                    </p>
                                </ng-template>
                                <p>
                                    <span>Observações: </span>
                                    <span *ngIf="checklistItem.observacoes">{{checklistItem.observacoes}}</span>
                                    <span *ngIf="!checklistItem.observacoes" class="text-400">Nenhuma observação</span>
                                </p>
                            </p-popover>
                        </li>
                    </ul>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-dialog>