<app-confirm-dialog></app-confirm-dialog>
<p-dialog [header]="'Agendar Reunião'"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '800px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title flex align-items-center">
                <i class="pi pi-calendar mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <div class="flex flex-column">
                    <span>Agendar Reunião</span>
                </div>
            </span>
        </div>
    </ng-template>
    <form #form="ngForm" class="px-2" (submit)="sendConfirmation(form, $event)">
        <div class="formgrid grid">
             <!-- Descrição -->
            <div class="field md:col-6 sm:col-6 col-12">
                <label for="descricao">Descrição: <span class="text-red-500">*</span></label>
                <input type="text"
                       pInputText
                       #descricao="ngModel"
                       [(ngModel)]="object.descricao"
                       id="descricao"
                       name="descricao"
                       [required]="true"
                       fluid>
                <div *ngIf="descricao.touched && descricao.invalid && descricao.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="descricao.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- Data -->
            <div class="field md:col-3 sm:col-3 col-6">
                <label for="_data">Data: <span class="text-red-500">*</span></label>
                <p-datepicker #_data="ngModel"
                              [(ngModel)]="data"
                              (ngModelChange)="dataChanged()"
                              (onMonthChange)="dateNavigatorChanged($event)"
                              (onYearChange)="dateNavigatorChanged($event)"
                              [showIcon]="true"
                              placeholder="DD/MM/YYYY"
                              [iconDisplay]="'input'"
                              [minDate]="minData"
                              inputId="_data"
                              name="_data"
                              [required]="true"
                              [selectOtherMonths]="true"
                              [keepInvalid]="true"
                              [disabledDays]="[0]"
                              [disabledDates]="invalidDates"
                              appendTo="body"
                              fluid />
                <div *ngIf="_data.touched && _data.invalid && _data.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="_data.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- Horário -->
            <div class="field md:col-3 sm:col-3 col-6">
                <label for="_horario">Horário: <span class="text-red-500">*</span></label>
                <p-datepicker inputId="_horario"
                              name="_horario"
                              #_horario="ngModel"
                              [(ngModel)]="horario"
                              placeholder="HH:MM"
                              (onBlur)="verificaDisponibilidade()"
                              [showIcon]="true"
                              icon="pi pi-clock"
                              [iconDisplay]="'input'"
                              [required]="true"
                              appendTo="body"
                              [timeOnly]="true"
                              fluid>
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
                <div *ngIf="_horario.touched && _horario.invalid && _horario.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="_horario.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- Sala -->
            <div class="field col-12">
                <label for="sala_Id">Sala: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="salaAulas"
                          [(ngModel)]="object.sala_Id"
                          [loading]="loadingSalaAulas"
                          (onChange)="salaAulaChanged($event, sala_Id)"
                          #sala_Id="ngModel"
                          name="sala_Id"
                          inputId="sala_Id"
                          optionValue="id"
                          optionlabel="descricao"
                          [disabled]="!data || !horario || loadingEventos"
                          [required]="true"
                          [filter]="true"
                          filterBy="descricao"
                          appendTo="body"
                          optionDisabled="deactivated"
                          fluid>
                          <ng-template let-item #item>
                              <div class="w-full flex align-items-center justify-content-between">
                                  <app-sala-aula [sala_Id]="item.id"
                                                 [andar]="item.andar"
                                                 [numeroSala]="item.numeroSala"
                                                 [descricao]="item.descricao"></app-sala-aula>
                                  <p-badge *ngIf="item.disponivel == false"
                                           value="Indisponível"
                                           severity="danger"
                                           [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                              </div>
                              <ng-template #indisponivelTemplate>
                                  <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                              </ng-template>
                          </ng-template>
                </p-select>
                <div *ngIf="sala_Id.touched && sala_Id.invalid && sala_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['indisponivel']">Sala indisponível.</p>
                </div>
            </div>
             <!-- Observações -->
            <div class="field col-12">
                <label for="observacao">Observações:</label>
                <textarea pTextarea
                          name="observacao"
                          id="observacao"
                          [(ngModel)]="object.observacao"
                          [rows]="2"
                          fluid></textarea>
            </div>
            <!-- Educadores -->
            <p-blockui [target]="panel" [blocked]="!data || !horario || loadingEventos" />
            <p-panel #panel fluid class="w-full" styleClass="w-full p-0">
                <ng-template #header>
                    <div class="w-full flex flex-column">
                        <label class="text-primary-500 font-bold">Selecione os Educadores</label>
                        <hr class="w-full flex border-primary-500 border-1" />
                    </div>
                </ng-template>
                <div class="field col-12 p-0">
                    <div class="flex flex-wrap gap-1">
                        <!-- source -->
                        <div class="sm:col col-12 p-0"
                             cdkDropList
                             #_sourceList="cdkDropList"
                             [cdkDropListConnectedTo]="_targetList"
                             [cdkDropListData]="source"
                             (cdkDropListDropped)="sourceDropped($event)"
                             [cdkDropListDisabled]="!data || !horario ">
                            <p-table #dtSource
                                     [value]="source"
                                     styleClass="h-30rem"
                                     [scrollable]="true"
                                     scrollHeight="30rem"
                                     [loading]="loadingProfessores"
                                     [showLoader]="false"
                                     selectionMode="single"
                                     [(selection)]="selectedSource"
                                     [globalFilterFields]="['nome', 'turma', 'perfilCognitivo']">
                                <ng-template #header>
                                    <tr>
                                        <th *ngIf="data && horario">Clique e arraste para selecionar</th>
                                        <th *ngIf="!data && !horario">Selecione uma data e horário para selecionar alunos</th>
                                    </tr>
                                    <tr>
                                        <th pSortableColumn="nome">
                                            <div class="flex align-items-center gap-2">
                                                <span>Nome </span>
                                                <p-iconfield iconPosition="left" class="ml-auto">
                                                    <p-inputicon styleClass="pi pi-search" />
                                                    <input pInputText
                                                           type="text"
                                                           #inputSource
                                                           (input)="dtSource.filterGlobal(inputSource.value, 'contains')"
                                                           placeholder="Filtrar nome" />
                                                </p-iconfield>
                                                <p-sortIcon field="nome" />
                                            </div>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template #body let-item>
                                    <tr [pSelectableRow]="item" [pSelectableRowDisabled]="!item.disponivel">
                                        <td [ngClass]="{
                                            'border-top-1 border-bottom-1 border-primary-500': item.id == selectedSource?.id
                                        }">
                                            <div cdkDrag [cdkDragData]="item">
                                                <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"></ng-container>
                                                <div *cdkDragPreview class="p-4">
                                                    <div class="shadow-2 bg-white p-2">
                                                        <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"></ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template #loadingbody let-columns="columns">
                                    <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
                                        <td>
                                            <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <!-- Menu -->
                        <div class="flex sm:flex-column sm:w-min w-full gap-2 px-1 py-1 sticky top-0 justify-content-center align-items-center">
                            <p-button
                                      icon="pi pi-angle-left"
                                      styleClass="md:rotate-180 sm:-rotate-90"
                                      severity="secondary"
                                      [disabled]="!selectedSource"
                                      (onClick)="moveToTarget($event)" />
                            <p-button
                                      icon="pi pi-angle-right "
                                      styleClass="md:rotate-180 sm:-rotate-90"
                                      severity="secondary"
                                      [disabled]="!selectedTarget"
                                      (onClick)="moveToSource($event)" />
                        </div>
                        <!-- target -->
                        <div class="sm:col col-12 p-0"
                             cdkDropList
                             #_targetList="cdkDropList"
                             [cdkDropListConnectedTo]="_sourceList"
                             [cdkDropListData]="target"
                             (cdkDropListDropped)="targetDropped($event)"
                             [cdkDropListDisabled]="!data || !horario ">
                            <p-table #dtTarget
                                     [value]="target"
                                     [loading]="loadingProfessores"
                                     styleClass="h-30rem"
                                     [scrollable]="true"
                                     scrollHeight="30rem"
                                     selectionMode="single"
                                     [(selection)]="selectedTarget"
                                     [globalFilterFields]="['nome', 'turma', 'perfilCognitivo']">
                                <ng-template #header>
                                    <tr>
                                        <th *ngIf="data && horario">Clique e arraste para remover</th>
                                        <th *ngIf="!data && !horario">Selecione uma data para remover</th>
                                    </tr>
                                    <tr>
                                        <th pSortableColumn="nome">
                                            <div class="flex align-items-center gap-2">
                                                <span>Nome </span>
                                                <p-iconfield iconPosition="left" class="ml-auto">
                                                    <p-inputicon styleClass="pi pi-search" />
                                                    <input pInputText
                                                           type="text"
                                                           #inputTarget
                                                           (input)="dtTarget.filterGlobal(inputTarget.value, 'contains')"
                                                           placeholder="Filtrar nome" />
                                                </p-iconfield>
                                                <p-sortIcon field="nome" />
                                            </div>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template #body let-item>
                                    <tr [pSelectableRow]="item" 
                                        [class.bg-primary-100]="item.id == selectedTarget?.id">
                                        <td [ngClass]="{'border-top-1 border-bottom-1 border-primary-500': item.id == selectedTarget?.id}">
                                            <div cdkDrag [cdkDragData]="item">
                                                <div *cdkDragPreview>
                                                    <div class="shadow-2 bg-white">
                                                        <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"></ng-container>
                                                    </div>
                                                </div>
                                                <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"></ng-container>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-panel>
            
            <div class="col-12 px-1 mt-2 flex align-items-center justify-content-end">
                <p-button type="submit"
                          styleClass="px-3"
                          label="Agendar"
                          icon="pi pi-check"
                          [loading]="loading"
                          [rounded]="true"
                          [disabled]="form.invalid || loading || temIndisponivelSelecionado()" />
            </div>
        </div>
    </form>
</p-dialog>
<ng-template #loadingTemplate>
    <div class="w-full">
        <div class="flex align-items-center gap-2">
            <p-skeleton shape="circle" size="1.2rem" />
            <p-skeleton width="15rem" height="1.2rem" borderRadius="10px" />
        </div>
        <div class="flex align-items-center gap-2 mt-2">
            <p-skeleton shape="circle" size="1.2rem" />
            <p-skeleton width="10rem" height="1.2rem" borderRadius="10px" />
            <p-skeleton width="4rem" height="1.5rem" borderRadius="10px" class="ml-auto" />
        </div>
    </div>
</ng-template>
<ng-template #itemTemplate let-item="item">
    <div class="cursor-pointer">
        <div class="flex align-items-center gap-2">
            <!-- Whatsapp -->
            
                <app-legend-color class="line-height-1"
                                                        [corLegenda]="item.corLegenda"
                                    [professor_Id]="item.professor_Id"
                                    [professor]="item.professor"></app-legend-color>
            <!-- Nome -->
            <p class="mr-2">{{ item.nome }}</p>
           
            <p-tag *ngIf="item.eventoReposicaoEmAndamento"
                   value="{{item.eventoReposicaoEmAndamento.data | date : 'dd/MMMM HH:mm'}}"
                   icon="pi pi-calendar"
                   severity="secondary"
                   [pTooltip]="eventoReposicaoTemplate" />
            <p-badge *ngIf="item.disponivel == false"
                     value="Indisponível"
                     severity="danger"
                     [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
        </div>
        <ng-container *ngIf="item.expedienteInicio && item.expedienteFim">
            <p class="text-500 text-sm ml-4">Expediente {{item.expedienteInicio | date : 'HH:mm'}} às {{item.expedienteFim | date : 'HH:mm'}}</p>
        </ng-container>
    </div>
    <ng-template #eventoReposicaoTemplate>
        <div class="w-25rem">
            <p>
                <span class="text-primary-400 font-bold capitalize">Aula</span>
                <span> - {{item.eventoReposicaoEmAndamento.data | date : 'dd/MM/yyyy HH:mm'}}</span>
            </p>
            <p>{{item.eventoReposicaoEmAndamento.descricao}}</p>
            <p *ngIf="item.eventoReposicaoEmAndamento.professor">
                <app-legend-color class="line-height-1"
                                                        [corLegenda]="item.corLegenda"
                                  [professor_Id]="item.professor_Id"
                                  [professor]="item.professor"
                                  [turma_Id]="item.turma_Id"></app-legend-color>
                <span>{{item.eventoReposicaoEmAndamento.professor}}</span>
            </p>
            <p *ngIf="item.eventoReposicaoEmAndamento.turma && item.eventoReposicaoEmAndamento.turma != item.eventoReposicaoEmAndamento.descricao"> {{item.eventoReposicaoEmAndamento.turma}} </p>
            <p *ngIf="item.eventoReposicaoEmAndamento.sala_Id">
                <span>Sala: </span>
                <app-sala-aula [numeroSala]="item.eventoReposicaoEmAndamento.numeroSala"
                               [andar]="item.eventoReposicaoEmAndamento.andar"
                               [sala_Id]="item.eventoReposicaoEmAndamento.sala_Id"
                               [descricao]="item.eventoReposicaoEmAndamento.sala"></app-sala-aula>
            </p>
        </div>
    </ng-template>
    
    <ng-template #indisponivelTemplate>
        <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
    </ng-template>
</ng-template>