<app-confirm-dialog></app-confirm-dialog>
<p-confirmdialog key="agendarReposicao">
    <ng-template #message let-message>
        <div class="flex align-items-start gap-2 ">
            <!-- <span class="mt-1"> @if (message.icon) { <i [ngClass]="message.icon" class="text-4xl "></i> } @else { <i class="pi pi-exclamation-triangle text-5xl text-primary-500"></i> } </span> -->
            <div>
                <div [innerHTML]="message.message"></div>
                <div class=" min-w-15rem mt-1"> <!-- Observações -->
                    <label for="_observacaoReposicao" class="font-bold mt-1 text-base">Observações: <span class="text-red-500">*</span> </label>
                    <textarea pTextarea
                              class="w-full mt-1"
                              name="_observacaoReposicao"
                              id="_observacaoReposicao"
                              #_observacaoReposicao="ngModel"
                              [(ngModel)]="observacaoReposicao"
                              placeholder="Aproveite para contar o motivo do agendamento dessa reposição"
                              [rows]="3"
                              [required]="true"></textarea>
                    <div *ngIf="_observacaoReposicao.touched && _observacaoReposicao.errors">
                        <p class="text-red-500 mt-2 mb-0" *ngIf="_observacaoReposicao.errors['required']">Esse campo é obrigatório.</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<section id="home" #home>
    <div>
        <div id="alunos"
             cdkDropList
             [cdkDropListData]="selectedEvento ? selectedEvento.alunos : undefined"
             [cdkDropListConnectedTo]="cdkEventItensId"
             [cdkDropListSortingDisabled]="true"
             #alunos="cdkDropList">
            <app-selected-evento
                                 #popoverComponent
                                 [evento]="selectedEvento"
                                 [cdkEventItensId]="cdkEventItensId"
                                 [cdkDragCancel]="cdkDragCancel"
                                 (cdkDragCancelChange)="cdkDragCancel = $event"
                                 (aluno)="selectedAluno = $event"></app-selected-evento>
        </div>
        <!-- TOOLBAR -->
        <app-toolbar [currentTitle]="currentTitle" (update)="update('button app-toolbar')"></app-toolbar>
        <div>
            <!-- SEMANA -->
            <div class="flex align-items-center justify-content-between flex-wrap  mt-4 -mb-4 py-3  ">
                <div *ngIf="currentRoteiro" class="flex align-items-center cursor-pointer">
                    <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: currentRoteiro.corLegenda }"></i>
                    <div class=" hover:bg-primary-500 hover:text-white border-round-md flex align-items-center py-2 px-4 mx-1" (click)="popoverSemana.toggle($event)"
                         [ngClass]="{
                        'text-white bg-primary-500': popoverSemana.overlayVisible
                    }">
                        <span class="font-bold text-base">Semana {{currentRoteiro.semana}} - {{currentRoteiro.tema}} </span>
                    </div>
                    <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: currentRoteiro.corLegenda }"></i>
                </div>
                <div *ngIf="!currentRoteiro" class="flex align-items-center cursor-pointer">
                    <div class=" hover:bg-primary-500 hover:text-white border-round-md flex align-items-center py-2 px-4 mx-1" (click)="popoverSemana.toggle($event)"
                         [ngClass]="{
                        'text-white bg-primary-500': popoverSemana.overlayVisible
                    }">
                        <span class="font-bold text-base">Roteiro Indefinido</span>
                    </div>
                </div>
                <p-popover #popoverSemana styleClass="-mt-1 ">
                    <p class="text-500 mb-2 ml-2">Roteiros</p>
                    <div class="max-h-15rem overflow-auto w-20rem">
                        <ng-container *ngFor="let item of roteiros">
                            <div class="p-2 font-bold mb-1 hover:surface-50 cursor-pointer"
                                (click)="currentRoteiro = item; roteiroChanged()"
                                title="Clique para carregar semana">
                                <div class="flex align-items-center gap-2 w-max" pTooltip="{{item.dataInicio | date: 'dd/MM/yyyy'}} à {{item.dataFim | date: 'dd/MM/yyyy'}}">
                                    <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: item.corLegenda }"></i>
                                    <span>Semana {{item.semana}} - {{ item.tema }}</span>
                                    <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: item.corLegenda }"></i>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </p-popover>
                <div class="flex gap-1 flex align-items-stretch " style="height: 2.4rem">
                    <ng-container *ngIf="[ScreenWidth.lg, ScreenWidth.xl].includes(screen)">
                        <!-- Data -->
                        <div class="flex align-items-center mr-2">
                            <label for="data" class="mr-1">Data: </label>
                            <p-datepicker (onSelect)="dataSelect()"
                                          #dataNgModel="ngModel"
                                          [(ngModel)]="data"
                                          [showIcon]="true"
                                          [iconDisplay]="'input'"
                                          [minDate]="minData"
                                          inputId="data"
                                          name="data"
                                          class=" w-9rem"
                                          inputStyleClass="w-full"
                                          styleClass="w-full"
                                          [required]="true"
                                          [selectOtherMonths]="true"
                                          [keepInvalid]="true"
                                          [disabledDays]="[0]"
                                          appendTo="body" />
                        </div>
                        <!-- Ver Semana -->
                        <p-button [label]="dayView ? 'Ver semana' : 'Ver dia'"
                                  [severity]="dayView ? 'primary' : 'secondary'"
                                  [styleClass]="dayView ? 'h-full mr-2' : 'surface-800 border-800 text-white h-full mr-2'"
                                  (onClick)="calendarChanged()" />
                        <!-- Prev -->
                        <p-button icon="pi pi-angle-left text-lg"
                                  styleClass="w-full h-full surface-100 border-100 overflow-hidden"
                                  class="overflow-hidden"
                                  [style]="{ width : '2.4rem' }"
                                  (onClick)="prev()"
                                  severity="secondary"
                                  iconPos="right"
                                  pTooltip="Anterior"
                                  size="small" />
                        <!-- Hoje -->
                        <p-button label="hoje"
                                  styleClass="h-full surface-800 border-800"
                                  (onClick)="today()"
                                  severity="help"
                                  pTooltip="Hoje"
                                  size="small" />
                        <!-- Next -->
                        <p-button icon="pi pi-angle-right text-lg"
                                  styleClass="w-full h-full surface-100 border-100"
                                  [style]="{width: '2.4rem', overflow: 'hidden',}"
                                  (onClick)="next()"
                                  severity="secondary"
                                  pTooltip="Próximo"
                                  size="small" />
                    </ng-container>
                    <ng-container *ngIf="[ScreenWidth.md, ScreenWidth.sm].includes(screen)">
                        <!-- Menu -->
                        <p-button icon="pi pi-bars"
                                  iconPos="right"
                                  (onClick)="popoverActions.toggle($event)"
                                  severity="primary"
                                  pTooltip="Ações"
                                  label="Menu" />
                        <p-popover #popoverActions styleClass="-mt-1">
                            <div class="max-w-20rem w-full min-w-15rem">
                                <div class="col-12 flex align-items-stretch justify-content-center gap-2 mb-2" style="height: 3.4rem;">
                                    <!-- Ver Semana -->
                                    <p-button [label]="dayView ? 'Ver semana' : 'Ver dia'"
                                              [severity]="dayView ? 'primary' : 'secondary'"
                                              [styleClass]="dayView ? 'h-full ' : 'surface-800 border-800 text-white h-full mr-auto'"
                                              class="mr-auto"
                                              size="small"
                                              (onClick)="calendarChanged()" />
                                    <!-- Prev -->
                                    <p-button icon="pi pi-angle-left text-lg"
                                              styleClass="w-full h-full surface-100 border-100"
                                              [style]="{width: '2.4rem', overflow: 'hidden',}"
                                              (onClick)="prev()"
                                              severity="secondary"
                                              iconPos="right"
                                              pTooltip="Anterior"
                                              size="small" />
                                    <!-- Hoje -->
                                    <p-button label="hoje"
                                              styleClass="h-full surface-800 border-800"
                                              (onClick)="today()"
                                              severity="help"
                                              pTooltip="Hoje"
                                              size="small" />
                                    <!-- Next -->
                                    <p-button icon="pi pi-angle-right text-lg"
                                              styleClass="w-full h-full surface-100 border-100"
                                              [style]="{width: '2.4rem', overflow: 'hidden',}"
                                              (onClick)="next()"
                                              severity="secondary"
                                              pTooltip="Próximo"
                                              size="small" />
                                </div>
                                <!-- Data -->
                                <div class="col-12 surface-50 shadow-1">
                                    <div class="flex align-items-center mx-2">
                                        <label for="data" class="mr-1">Data: </label>
                                        <p-datepicker (onSelect)="dataSelect()"
                                                      #dataNgModel="ngModel"
                                                      [(ngModel)]="data"
                                                      [showIcon]="true"
                                                      [iconDisplay]="'input'"
                                                      [minDate]="minData"
                                                      inputId="data"
                                                      name="data"
                                                      class=" w-full"
                                                      inputStyleClass="w-full"
                                                      styleClass="w-full"
                                                      [required]="true"
                                                      [selectOtherMonths]="true"
                                                      [keepInvalid]="true"
                                                      [disabledDays]="[0]"
                                                      appendTo="body" />
                                    </div>
                                </div>
                            </div>
                        </p-popover>
                    </ng-container>
                </div>
            </div>
            <!-- FIM SEMANA -->
            <!-- CALENDARIO -->
            <div (touchstart)="touchStart($event)" (touchend)="touchEnd($event)">
                <full-calendar [options]="calendarioOptions" class="myycalendar" #fullCalendar>
                    <ng-template #allDayContent>
                    </ng-template>
                    <ng-template #dayHeaderContent let-arg>
                            <app-calculo-perfil-cognitivo #calculo
                                [data]="arg.date"
                                [eventos]="eventos"
                                [feriados]="feriados"
                                [perfilCoginitivo]="perfilCognitivo"
                                [loadingPerfilCognitivo]="loadingPerfilCognitivo"></app-calculo-perfil-cognitivo>
                            <div class="flex flex-column gap-2 " (mouseenter)="calculo.show($event)" (mouseleave)="calculo.hide()">
                                <p>{{arg.date | date : 'EE'}}</p>
                                <p>{{arg.date | date : 'dd'}}</p>
                            </div>
                    </ng-template>
                    <ng-template #eventContent let-arg>
                        <app-evento-item
                                         [evento]="arg.event.extendedProps"
                                         [arg]="arg"
                                         (selectEvent)="selectEvento($event, arg.event.extendedProps)"
                                         (cdkDrop)="cdkDrop($event, arg.event.extendedProps)"></app-evento-item>
                    </ng-template>
                </full-calendar>
            </div>
            <!-- FIM CALENDARIO -->
            <!-- LEGENDA --> @if(!loading) { <!--  -->
            <div class="flex mt-2">
                <div class="border-round-2 column-gap-4 flex flex-column flex-wrap max-h-8rem mt-4 p-2 px-3" style="background-color: #f1f0f0 !important;">
                    <div *ngFor="let item of legenda"
                         (click)="item.ativo = !item.ativo"
                         [ngClass]="{ 'line-through': !item.ativo }"
                         class="my-1 flex align-items-center cursor-pointer">
                        <div class="w-1rem h-1rem border-circle" [ngStyle]="{ backgroundColor: item.corLegenda }"></div>
                        <span class="ml-2 hover:font-bold hover:text-primary-500 hover:underline">{{item.label}}</span>
                    </div>
                </div>
            </div>
            <!--  --> } <!--  -->
            <!-- FIM LEGENDA -->
        </div>
    </div>
</section>
<router-outlet></router-outlet>