::ng-deep .fc .fc-timegrid-slot-minor {
    /* border-top-style: hidden !important; */
}
::ng-deep .fc .fc-timegrid-slot {
    height: 2.5em!important;
}
::ng-deep .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin-bottom: 0px!important;
}
::ng-deep .fc .fc-daygrid-event,
::ng-deep .fc .fc-daygrid-day-events {
    margin-top: 0px!important;
}
