<app-confirm-dialog></app-confirm-dialog>
<p-confirmdialog key="agendarReposicao">
    <ng-template #message let-message>
        <div class="flex align-items-start gap-2 ">
            <!-- <span class="mt-1"> @if (message.icon) { <i [ngClass]="message.icon" class="text-4xl "></i> } @else { <i class="pi pi-exclamation-triangle text-5xl text-primary-500"></i> } </span> -->
            <div>
                <div [innerHTML]="message.message"></div>
                <div class=" min-w-15rem mt-1"> <!-- Observações -->
                    <label for="_observacaoReposicao" class="font-bold mt-1 text-base">Observações: <span class="text-red-500">*</span> </label>
                    <textarea pTextarea
                              class="w-full mt-1"
                              name="_observacaoReposicao"
                              id="_observacaoReposicao"
                              #_observacaoReposicao="ngModel"
                              [(ngModel)]="observacaoReposicao"
                              placeholder="Aproveite para contar o motivo do agendamento dessa reposição"
                              [rows]="3"
                              [required]="true"></textarea>
                    <div *ngIf="_observacaoReposicao.touched && _observacaoReposicao.errors">
                        <p class="text-red-500 mt-2 mb-0" *ngIf="_observacaoReposicao.errors['required']">Esse campo é obrigatório.</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<section id="home" #home>
    <div id="alunos"
         cdkDropList
         [cdkDropListData]="selectedEvento ? selectedEvento.alunos : undefined"
         [cdkDropListConnectedTo]="cdkEventItensId"
         [cdkDropListSortingDisabled]="true"
         #alunos="cdkDropList">
        <app-selected-evento #popoverComponent
                             [cdkEventItensId]="cdkEventItensId"
                             [cdkDragCancel]="cdkDragCancel"
                             (cdkDragCancelChange)="cdkDragCancel = $event"></app-selected-evento>
    </div>
    <div class="flex flex-column align-items-stretch"
         style="height: calc(100vh - 20px);">
        <!-- HEADER -->
        <div class="flex gap-2 flex-column z-3 surface-50">
            <app-toolbar id="toolbar"
                         [calendarioRequest]="calendarioRequest"
                         [fullCalendar]="fullCalendar"
                         (dayViewOnChange)="calendarDayViewChanged($event)"
                         (update)="calendarioRequest = $event; update()"></app-toolbar>
        </div>
        <!-- CALENDARIO -->
        <div class="h-full bg-primary-100 overflow-hidden p-1 mb-2">
            <full-calendar #fullCalendar [options]="calendarioOptions">
                <ng-template #resourceAreaHeaderContent>resourceAreaHeaderContent</ng-template>
                <ng-template #dayHeaderContent let-arg>
                    <app-calculo-perfil-cognitivo #calculo
                                                  [data]="arg.date"
                                                  [eventos]="eventos"
                                                  [feriados]="feriados"
                                                  [perfilCognitivo]="perfilCognitivo"
                                                  [loadingPerfilCognitivo]="loadingPerfilCognitivo"></app-calculo-perfil-cognitivo>
                    <div class="w-full flex align-items-center justify-content-center gap-2"
                         [ngClass]="{ 'text-primary-500': calculo.visible }"
                         (mouseenter)="calculo.show($event)"
                         (mouseleave)="calculo.hide()">
                        <div class="flex flex-column gap-2">
                            <p>{{arg.date | date : 'EE'}}</p>
                            <p class="p-1 border-circle w-2rem h-2rem flex align-items-center justify-content-center "
                               [ngClass]="{ 'bg-primary-500 text-white' : arg.isToday }">{{arg.date | date : 'dd'}}</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template #eventContent let-arg>
                    <app-evento-item class="w-full"
                                     [calendarioDayView]="calendarioDayView"
                                     [evento]="arg.event.extendedProps"
                                     [arg]="arg"
                                     (selectEvent)="selectEvento($event, arg.event.extendedProps)"
                                     (cdkDrop)="cdkDrop($event, arg.event.extendedProps)"></app-evento-item>
                </ng-template>
            </full-calendar>
            <!-- FIM CALENDARIO -->
        </div>
        <app-legenda [eventos]="eventos"></app-legenda>
    </div>
</section>
<router-outlet></router-outlet>