

<p-dialog [header]="'Reagendar aula'"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '400px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body"
          id="reposicao">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title">
                <i class="pi pi-calendar mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i> 
                <span>Reagendar aula</span>
            </span>
        </div>
    </ng-template>
    <form>
        <div class="formgrid grid">
            <div class="field md:col-7 sm:col-6 col-12"> <!-- Nova data -->
                <label for="data">Nova data: <span class="text-red-500">*</span></label> 
                <p-datepicker
                              #dataNgModel="ngModel"
                              [(ngModel)]="data"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              (onBlur)="verificaDisponibilidadeProfessor($event)"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              inputId="data"
                              name="data"
                              class="w-full"
                              inputStyleClass="w-full"
                              styleClass="w-full"
                              [required]="true"
                              [selectOtherMonths]="true"
                              [keepInvalid]="true"
                              [disabledDates]="disableDates"
                              [disabledDays]="[0, 6]"
                              appendTo="body" />
                <div *ngIf="dataNgModel.touched && dataNgModel.invalid && dataNgModel.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataNgModel.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field md:col-5 sm:col-6 col-12"> <!-- Horário -->
                <label for="data">Horário: <span class="text-red-500">*</span></label> 
                <p-datepicker
                                inputId="data"
                                name="data"
                              #horaNgModel="ngModel"
                                [(ngModel)]="horario"
                              (onBlur)="verificaDisponibilidadeProfessor($event)"
                              [showIcon]="true"
                              icon="pi pi-clock"
                              [iconDisplay]="'input'"
                              class="w-full"
                              inputStyleClass="w-full"
                              styleClass="w-full"
                              [required]="true"
                              appendTo="body"
                              [timeOnly]="true" >
                              <ng-template #inputicon let-clickCallBack="clickCallBack">
                                <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                            </ng-template>
                        </p-datepicker>
                <div *ngIf="horaNgModel.touched && horaNgModel.invalid && horaNgModel.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="horaNgModel.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field col-12"> <!-- Professor -->
                <label for="professor_Id">Professor: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="professores"
                          [(ngModel)]="object.professor_Id"
                          (onChange)="professorChanged($event)"
                          #professor_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="professor_Id"
                          inputId="professor_Id"
                          optionLabel="nome"
                          optionValue="id"
                          [required]="true"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          optionDisabled="deactivated">
                    <ng-template let-item #item>
                        <div class="flex align-items-center justify-content-between w-full gap-2">
                            <div>
                                <p class="font-bold mb-1">
                                    <span class="mr-2">{{ item.nome }}</span>
                                    <p-badge *ngIf="item.disponivel == false" value="Indisponível" severity="danger" />
                                </p>
                                <p class="text-sm">
                                    <{{ item.email }}>
                                </p>
                            </div>
                            <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                                   [icon]="(item.active ? 'pi pi-lock-open' : 'pi pi-lock') + ' mr-2 text-sm'"
                                   [value]="item.active ? 'Ativo': 'Inativo'"
                                   [severity]="item.active ? 'success': 'danger'"
                                   [pTooltip]="!item.active ?  'Inativo desde ' + (item.deactivated | date : 'dd/MM/yyyy HH:mm')  : undefined" />
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="professor_Id.touched && professor_Id.invalid && professor_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="professor_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="professor_Id.errors['indisponivel']">Professor indisponível.</p>
                </div>
            </div>
            <div class="col-12 flex">
                    <p-button type="button"
                              (onClick)="confirma($event)"
                              styleClass="px-3"
                              class=" ml-auto"
                              label="Agendar"
                              [icon]="'pi pi-check'"
                              [loading]="loading"
                              [rounded]="true"
                              size="small" />
                </div>
        </div>
    </form>
</p-dialog>

<p-confirmDialog styleClass="w-25rem">
    <ng-template #message let-message>
        <div [innerHTML]="message.message"></div>
    </ng-template>
</p-confirmDialog>
