<p-dialog
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '700px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center">
            <span class="p-dialog-title flex align-items-center">
                <i
                   class="pi pi-calendar mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <div class="flex flex-column">
                    <span>Agendar Primeira Aula</span>
                </div>
            </span>
        </div>
    </ng-template>
    <!-- Aluno -->
    <div class="field col-12">
        <label for="aluno_Id">Aluno: <span class="text-red-500">*</span></label>
        <p-select [options]="alunos"
                  [loading]="loadingAlunos"
                  [(ngModel)]="selectedAlunoId"
                  (onChange)="alunoChanged($event, aluno_Id)"
                  optionLabel="nome"
                  optionValue="id"
                  placeholder="Selecione um aluno"
                  #aluno_Id="ngModel"
                  name="aluno_Id"
                  inputId="aluno_Id"
                  [required]="true"
                  [filter]="true"
                  [virtualScroll]="true"
                  [virtualScrollItemSize]="54"
                  filterPlaceholder="Digite o nome do aluno..."
                  filterBy="nome,turma,professor"
                  appendTo="body"
                  fluid>
            <ng-template let-selectedOption #selectedItem>
                <div class="flex justify-between align-items-center gap-2 w-full">
                    <span class="flex-1 font-bold truncate">{{ selectedOption?.nome }}</span>
                    <p-badge [value]="selectedOption.perfilCognitivo" />
                </div>
            </ng-template>
            <ng-template let-item #item>
                <div class="flex align-items-center justify-content-between w-full gap-2">
                    <div>
                        <div class="flex align-items-center">
                            <p-button type="button"
                                      icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                                      (onClick)="enviarMensagem(item)"
                                      (auxclick)="enviarMensagem(item)"
                                      (contextmenu)="enviarMensagem(item)"
                                      severity="success"
                                      [text]="true"
                                      [disabled]="!item.celular"
                                      pTooltip="Enviar mensagem"
                                      size="small">
                            </p-button>
                            <p class="font-bold">
                                <span class="mr-2">{{item.nome}}</span>
                                <p-badge *ngIf="item.disponivel == false"
                                         value="Indisponível"
                                         severity="danger"
                                         [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                         
                                         <ng-template #indisponivelTemplate>
                                             <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                         </ng-template>
                            </p>
                        </div>
                        <p class="flex align-items-center gap-2 pl-2">
                            <app-legend-color [corLegenda]="item.corLegenda"
                                              [professor_Id]="item.professor_Id"
                                              [professor]="item.professor"
                                              [turma_Id]="item.turma_Id"></app-legend-color>
                            <span class="font-normal">Turma {{item.turma}}</span>
                        </p>
                    </div>
                    <p-badge [value]="item.perfilCognitivo" />
                </div>
            </ng-template>
        </p-select>
        <div *ngIf="aluno_Id.touched && aluno_Id.invalid && aluno_Id.errors">
            <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['required']">Esse campo é obrigatório.</p>
            <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['indisponivel']">Aluno indisponível.</p>
            <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['restricaoMobilidade']">{{aluno_Id.errors['restricaoMobilidade']}}.</p>
        </div>
    </div>
    <ul class="text-sm text-color-secondary mt-2 list-disc pl-5">
        <li> Apenas aulas <strong>com vagas disponíveis</strong> serão exibidas. </li>
        <li> Apenas aulas dentro do <strong>período de vigência</strong> do aluno serão exibidas.</li>
        <li> Apenas aulas dentro do <strong>perfil cognitivo</strong> do aluno serão exibidas.
            <i class="fa fa-brain text-sm mx-2"></i>
            <ng-container *ngIf="selectedAluno">
                <span>( {{selectedAluno.perfilCognitivo}})</span>
            </ng-container> 
        </li>
        <li> Apenas aulas no <strong>térreo</strong> serão exibidas SE o aluno tiver <b>restrição de mobilidade</b> 
            
            <ng-container *ngIf="selectedAluno ">
                <span class="text-red-500 mx-2" *ngIf="selectedAluno.restricaoMobilidade">
                    <i class="bi bi-person-wheelchair text-sm"></i>
                    ( Tem restrição )
                </span>
                <span class="text-green-500 mx-2" *ngIf="!selectedAluno.restricaoMobilidade">
                    <i class="pi pi-check text-sm"></i>
                    ( Não tem restrição )
                </span>
            </ng-container> 
        </li>
        <li> Apenas alunos que <strong>ainda não realizaram primeira aula</strong> são exibidos. </li>
    </ul>
    <!-- Calendario -->
    <div class="mt-1 h-full" *ngIf="selectedAluno">
        <app-calendario-aluno-options [aluno]="selectedAluno"
                                      (onClose)="visible = false; visibleChange()"></app-calendario-aluno-options>
    </div>
</p-dialog>