<app-confirm-dialog></app-confirm-dialog>
<p-dialog
          [header]="'Agendar primeira aula'"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '550px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body"
          id="reposicao">
    <ng-template #header>
        <div class="w-full flex align-items-center">
            <span class="p-dialog-title">
                <i class="pi pi-calendar mr-2 text-sm w-2rem h-2rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <span>Agendar primeira aula</span>
            </span>
        </div>
    </ng-template>
    <form #form="ngForm" (ngSubmit)="sendConfirmation($event)">
        <!-- Aluno -->
        <app-aluno-select #alunoComponent
                          class="w-full flex"
                          [evento]="evento"
                          (onAlunoChanged)="alunoChanged($event)"></app-aluno-select>
       
        <!-- Evento -->
        <app-evento-selected *ngIf="evento"
                             #eventoComponent
                             class="w-full flex"
                             [aluno]="aluno"
                             (onEventoChanged)="eventoChanged($event)"></app-evento-selected>

        <!-- Calendario -->
        <app-calendario-select *ngIf="!evento"
                             #calendarioComponent
                             class="w-full flex"
                             [aluno]="aluno"
                             (onEventoChanged)="eventoChanged($event)"></app-calendario-select>

        <!-- Footer -->
        <ng-container *ngIf="aluno && evento">
            <div class="col-12 px-2 gap-4 flex flex-wrap align-items-center justify-content-between">
                <div *ngIf="aluno.restricaoMobilidade || restricoes.length > 0"
                    class="flex align-items-center">
                    <p-checkbox
                                inputId="restricaoCheck"
                                name="restricaoCheck"
                                [(ngModel)]="restricaoCheck"
                                [disabled]="!aluno"
                                [binary]="true"
                                [required]="true" />
                    <label for="restricaoCheck"
                        class="ml-2 mt-1 leading-none"> Estou ciente das restrições do aluno e quero continuar. </label>
                </div>
                <div class="ml-auto">
                    <p-button (onClick)="sendConfirmation($event)"
                            styleClass="w-full px-3"
                            label="Agendar"
                            [icon]="'pi pi-check'"
                            [loading]="loading"
                            [pTooltip]="!restricaoCheck ? 'Verifique os dados e marque a caixa' : ''"
                            tooltipPosition="top"
                            [disabled]="!restricaoCheck && (aluno.restricaoMobilidade || restricoes.length > 0)"
                            [rounded]="true" />
                </div>
            </div>
        </ng-container>
    </form>
</p-dialog>