<app-confirm-dialog></app-confirm-dialog>
<p-confirmdialog key="enviarMensagemCancelamento" styleClass="w-25rem">
    <ng-template #message let-message>
        <div class="flex align-items-start gap-2 ">
            <span class="mt-1">
                <i *ngIf="message.icon" [ngClass]="message.icon" class="text-4xl "></i>
                <i *ngIf="!message.icon" class="pi pi-exclamation-triangle text-4xl  text-primary-500"></i>
            </span>
            <div>
                <div [innerHTML]="message.message"></div>
                <!-- Alunos -->
                <p class="mt-2 text-primary-500 font-bold" *ngIf="mensagensEnviadasAlunos.length"> Alunos </p>
                <div class="flex flex-column align-items-start justify-content-start max-h-15rem overflow-auto">
                    <p class="font-medium text-400" *ngIf="mensagensEnviadasAlunos.length == 0">Nenhum aluno foi inserido</p>
                    <div *ngFor="let participacao of mensagensEnviadasAlunos">
                        <p-button type="button"
                                  (onClick)="enviarMensagemCancelamento(participacao)"
                                  (auxclick)="enviarMensagemCancelamento(participacao)"
                                  (contextmenu)="enviarMensagemCancelamento(participacao)"
                                  [disabled]="!participacao.celular"
                                  icon="pi pi-whatsapp"
                                  styleClass="capitalize"
                                  [severity]="participacao.celular ? 'success' : 'secondary'"
                                  label="{{participacao.aluno | nameAbv}}"
                                  [text]="true" />
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<p-dialog [header]="'Cancelar ' + tipoEventoString"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '500px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body"
          id="reposicao">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title">
                <i class="pi pi-calendar mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <span>Cancelar {{tipoEventoString}}</span>
            </span>
        </div>
    </ng-template>
    <form #form="ngForm" (submit)="sendConfirmation( $event, form)">
        <p class="text-lg mb-1">Tem certeza que deseja cancelar essa {{tipoEventoString}}? </p>
            <p class="text-xl text-primary-500 white-space-nowrap flex align-items-center gap-2">
                <i class="fa-solid fa-users-between-lines"></i>
                <span class="capitalize font-bold">{{evento.descricao }} </span>
            </p>
        <p class="flex flex-column my-2">
        
            <span class="col p-0 white-space-nowrap flex align-items-center gap-2">
                <i class="pi pi-calendar"></i>
                <!-- <span class="font-bold">Data:</span> -->
                <span class="capitalize">{{evento.data | date : 'EEEE\',\''}} </span>
                <span>{{evento.data | date : 'dd \'de\' MMMM \'de\' yyyy '}} </span>
            </span>
            <span class="col p-0 white-space-nowrap flex align-items-center gap-2">
                <i class="pi pi-clock"></i>
                <!-- <span class="font-bold">Horário:</span> -->
                <span>{{evento.data | date : 'HH:mm'}}</span>
            </span>
            <span class="col p-0 white-space-nowrap flex align-items-center gap-2" *ngIf="evento.professor">
                <i class="fa-solid fa-person-chalkboard"></i>
                <span>Educador: </span>
                <span>{{evento.professor}}</span>
                <app-legend-color [corLegenda]="evento.corLegenda"
                                [professor_Id]="evento.professor_Id"
                                [turma_Id]="evento.turma_Id"></app-legend-color>
            </span>
            <span class="col p-0 white-space-nowrap flex align-items-center gap-2">
                <i class="bi bi-door-closed"></i>
                <span>Sala: </span>
                <app-sala-aula [sala_Id]="evento.sala_Id"
                               [numeroSala]="evento.numeroSala"
                               [andar]="evento.andar"></app-sala-aula>
            </span>
        </p>
        <div class="formgrid grid mt-2">
            <div class="field col-12"> <!-- Observações -->
                <label for="observacao">Observações:<span class="text-red-500">*</span> <span class="text-400 text-sm font-normal ml-2">(motivo do cancelamento)</span></label>
                <textarea pTextarea
                          class="w-full"
                          name="observacao"
                          id="observacao"
                          #observacao="ngModel"
                          [(ngModel)]="evento.observacao"
                          placeholder="Aproveite para contar o motivo do cancelamento"
                          [required]="true"
                          [rows]="3"></textarea>
                <div *ngIf="observacao.touched && observacao.invalid && observacao.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="observacao.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col" *ngIf="evento.alunos && evento.alunos.length > 0">
                <p class="font-bold text-primary-500">
                    <span *ngIf="evento.alunos.length > 1">Alunos</span>
                    <span *ngIf="evento.alunos.length == 1">Aluno</span>
                </p>
                <hr class="mb-2 border-orange-500 border-1">
                <div *ngFor="let item of evento.alunos; let i = index">
                    <div class="flex align-items-center w-full p-2 gap-2" [ngClass]="{
                        'bg-white': i % 2 == 0,
                        'surface-50': i % 2 != 0 
                    }">
                        <p-button type="button"
                                  (onClick)="enviarMensagem(item)"
                                  (auxclick)="enviarMensagem(item)"
                                  (contextmenu)="enviarMensagem(item)"
                                  [disabled]="!item.celular"
                                  icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                                  severity="success"
                                  [text]="true"
                                  [rounded]="true" />
                        <p class="capitalize" [pTooltip]="item.aluno">{{ item.aluno | nameAbv}}</p>
                        <ng-container *ngIf="item.reposicaoDe_Evento_Id">
                            <p-badge
                                     value="Reposição"
                                     size="small"></p-badge>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="field col" *ngIf="evento.professores && evento.professores.length > 1">
                <p class="font-bold text-primary-500">Educadores</p>
                <hr class="mb-2 border-orange-500 border-1">
                <div class="flex flex-wrap gap-2 pl-1">
                    <div *ngFor="let item of professores; let i = index"
                         class="flex align-items-center justify-content-between gap-2 ">
                        <div class="font-bold flex align-items-center ">
                            <app-legend-color [corLegenda]="item.corLegenda"
                                              [professor_Id]="item.id"
                                              [professor]="item.nome"></app-legend-color>
                            <span class="mr-2">{{ item.nome }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 flex">
                <p-button type="submit"
                          styleClass="px-3"
                          class=" ml-auto"
                          icon="pi pi-check"
                          label="Cancelar {{tipoEventoString}}"
                          [loading]="loading"
                          [rounded]="true"
                          [disabled]="form.invalid || loading" />
            </div>
        </div>
    </form>
</p-dialog>