<app-confirm-dialog></app-confirm-dialog>
<p-dialog [header]="'Cancelar ' + tipoEventoString"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '500px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body"
          id="reposicao">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title">
                <i class="pi pi-calendar mr-2 text-sm w-2rem h-2rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <span>Cancelar {{tipoEventoString}}</span>
            </span>
        </div>
    </ng-template>
    <form #form="ngForm" (submit)="sendConfirmation( $event, form)">
        
        <table class="w-full">
            <tr>
                <td class="vertical-align-middle">
                    <label for="data">Data:</label>
                </td>
                <td class="vertical-align-middle">
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-calendar" />
                        <input type="text"
                               pInputText
                               [value]="evento.data |date : 'dd \'de\' MMMM \'de\' yyyy \'às\' HH:mm'"
                               id="data"
                               name="data"
                               fluid
                               readonly>
                    </p-iconfield>
                </td>
            </tr>
                <!-- Turma -->
                <tr>
                    <td class="vertical-align-middle">
                        <label for="turma">Turma:</label>
                    </td>
                    <td class="vertical-align-middle">
                        <p-iconfield>
                            <p-inputicon styleClass="fa fa-users-between-lines" />
                            <input type="text"
                                   pInputText
                                   [value]="evento.turma ?? 'Indefinido'"
                                   id="turma"
                                   name="turma"
                                   fluid
                                   readonly>
                            <p-inputicon>
                                <app-legend-color class="line-height-1"
                                                  [corLegenda]="evento.corLegenda"
                                                  [professor]="evento.professor" />
                            </p-inputicon>
                        </p-iconfield>
                    </td>
                </tr>
                <!-- Perfil Cognitivo -->
                <tr>
                    <td class="vertical-align-middle">
                        <label for="perfilCognitivo ">Perfil Cognitivo:</label>
                    </td>
                    <td class="vertical-align-middle">
                        <p-iconfield>
                            <p-inputicon styleClass="fa fa-brain" />
                            <input type="text"
                                   pInputText
                                   [value]="getPerfilCognitivo(evento)"
                                   id="perfilCognitivo "
                                   name="perfilCognitivo "
                                   fluid
                                   readonly>
                        </p-iconfield>
                    </td>
                </tr>
                <!-- Sala -->
                <tr>
                    <td class="vertical-align-middle">
                        <label for="sala ">Sala:</label>
                    </td>
                    <td class="vertical-align-middle">
                        <p-iconfield>
                            <p-inputicon styleClass="bi bi-door-open" />
                            <input type="text"
                                   pInputText
                                   [value]="getSala(evento)"
                                   id="sala "
                                   name="sala "
                                   fluid
                                   readonly>
                        </p-iconfield>
                    </td>
                </tr>
                <!-- Roteiro -->
                <tr>
                    <td class="vertical-align-middle">
                        <label for="roteiro ">Roteiro:</label>
                    </td>
                    <td class="vertical-align-middle">
                        <p-iconfield>
                            <p-inputicon styleClass="fa fa-star" [style]="{color: evento.roteiroCorLegenda}" />
                            <input type="text"
                                   pInputText
                                   [value]="'Tema: ' + evento.tema + ' - Semana:' + evento.semana"
                                   id="roteiro "
                                   name="roteiro "
                                   fluid
                                   readonly>
                        </p-iconfield>
                    </td>
                </tr>
                <!-- Observações -->
                <tr>
                    <td class="vertical-align-top">
                        <label for="observacao" class="mt-1 block">Observações:</label>
                    </td>
                    <td>
                        <textarea pTextarea
                                  class="w-full"
                                  name="observacao"
                                  id="observacao"
                                  #observacao="ngModel"
                                  [(ngModel)]="evento.observacao"
                                  placeholder="Aproveite para contar o motivo do cancelamento"
                                  [required]="true"
                                  [rows]="3"
                                  [pAutoFocus]="true"></textarea>
                                  <div *ngIf="observacao.touched && observacao.invalid && observacao.errors">
                                      <p class="text-red-500 mb-0" *ngIf="observacao.errors['required']">Esse campo é obrigatório.</p>
                                  </div>
                    </td>
                </tr>
        </table>


        <div class="formgrid grid">
            <div class="field col" *ngIf="evento.alunos && evento.alunos.length > 0">
                <p class="font-bold text-primary-500">
                    <span *ngIf="evento.alunos.length > 1">Alunos</span>
                    <span *ngIf="evento.alunos.length == 1">Aluno</span>
                </p>
                <hr class="mb-2 border-orange-500 border-1">
                <div *ngFor="let item of evento.alunos; let i = index">
                    <div class="flex align-items-center w-full px-2 py-1 gap-2" [ngClass]="{
                        'bg-white': i % 2 == 0,
                        'surface-50': i % 2 != 0 
                    }">
                        <p-button type="button"
                                  (onClick)="enviarMensagem(item)"
                                  (auxclick)="enviarMensagem(item)"
                                  (contextmenu)="enviarMensagem(item)"
                                  [disabled]="!item.celular"
                                  icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                                  severity="success"
                                  [text]="true"
                                  [rounded]="true" 
                                    size="small"/>
                        <p class="capitalize" [pTooltip]="item.aluno">{{ item.aluno | nameAbv}}</p>
                        <ng-container *ngIf="item.reposicaoDe_Evento_Id">
                            <p-badge
                                     value="Reposição"
                                     size="small"></p-badge>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="field col" *ngIf="evento.professores && evento.professores.length > 1">
                <p class="font-bold text-primary-500">Educadores</p>
                <hr class="mb-2 border-orange-500 border-1">
                <div class="flex flex-wrap gap-2 pl-1">
                    <div *ngFor="let item of professores; let i = index"
                         class="flex align-items-center justify-content-between gap-2 ">
                        <div class="font-bold flex align-items-center gap-2">
                            <app-legend-color class="line-height-1"
                                                        [corLegenda]="item.corLegenda"
                                              [professor_Id]="item.id"
                                              [professor]="item.nome"></app-legend-color>
                            <span>{{ item.nome }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 flex align-items-center justify-content-between">
                <p >Tem certeza que deseja cancelar essa {{tipoEventoString}}? </p>
                <p-button type="submit"
                          styleClass="px-3"
                          class=" ml-auto"
                          icon="pi pi-check"
                          label="Cancelar {{tipoEventoString}}"
                          [loading]="loading"
                          [rounded]="true"
                          [disabled]="form.invalid || loading" />
            </div>
        </div>
    </form>
</p-dialog>