<p-toolbar styleClass="border-none bg-white sm:px-4 px-2 pt-4 sm:pt-2g pb-2 shadow-1 sticky top-1">
    <div class="p-toolbar-group-start flex-1 px-3 sm:p-0">
        <h2 class="flex align-items-center overflow-hidden text-overflow-ellipsis">
            <i class="bi bi-calendar mr-3 text-primary text-2xl"></i>
            <span class="text-xl font-normal white-space-nowrap text-overflow-ellipsis">
                <span>Calendário</span>
                <span class="font-bold"> - {{currentTitle}}</span>
            </span>
        </h2>
    </div>
    <div class="p-toolbar-group-end flex align-items-center justify-content-evenly sm:justify-content-end  flex-wrap sm:col col-12 px-0 -mx-1">
        <div class="sm:col col flex-grow-0 px-1">
            <!-- Atualizar -->
            <p-button icon="pi pi-sync "
                      (onClick)="updateCalendar()"
                      severity="secondary"
                      label="atualizar"
                      [size]="[ScreenWidth.sm].includes(screen) ? 'small' : undefined"
                      pTooltip="Atualizar calendário"
                      tooltipPosition="top" />
        </div>
        <div class="sm:col col flex-grow-0 px-1 py-0">
            <!-- Meu Calendário -->
            <p-select [options]="viewMenu"
                      [(ngModel)]="view"
                      (onChange)="calendarViewChanged()"
                      optionValue="value"
                      [styleClass]="'surface-800 hover:surface-700 border-800 hover:border-700 text-white flex align-items-center ' + ([ScreenWidth.sm].includes(screen) ? 'p-select-small' : '') "
                      appendTo="body">
                <ng-template let-selectedOption #selectedItem>
                    <div class="text-white -mr-2">
                        <span class="{{selectedOption.icon}} text-xs"></span>
                        <span class="ml-2">{{ selectedOption.label }}</span>
                    </div>
                </ng-template>
                <ng-template let-item #item>
                    <span class="{{item.icon}}"></span>
                    <span class="ml-2">{{ item.label }}</span>
                </ng-template>
                <ng-template #dropdownicon>
                    <i class="bi bi-chevron-down text-white mt-1 mr-2"></i>
                </ng-template>
            </p-select>
        </div>
        <div class="sm:col col flex-grow-0 px-1 py-0">
            <!-- Agendar -->
            {{agendarValue|json}}
            <p-select [(ngModel)]="agendarValue"
                      [options]="agendarMenuItem"
                      [styleClass]="'p-select-menu ' + ([ScreenWidth.sm].includes(screen) ? 'p-select-small' : '') "
                      appendTo="body"
                      placeholder="Agendar"
                      (onChange)="agendarEvento($event, agendar)"
                      scrollHeight="250px"
                      dropdownIcon="pi pi-angle-down"
                      #agendar="ngModel">
                <ng-template let-selectedOption #selectedItem>
                    <div class="text-white -mr-2 text-center text-base">Agendar</div>
                </ng-template>
                <ng-template let-item #item>
                    <div class="w-10rem">
                        <a class="ml-2">{{ item.label }}</a>
                    </div>
                </ng-template>
                <ng-template #dropdownicon>
                    <i class="bi bi-chevron-down text-white mt-1 mr-2"></i>
                </ng-template>
            </p-select>
        </div>
    </div>
</p-toolbar>