
::ng-deep .p-select.p-select-menu .p-select-label.p-placeholder {
    color: white;
    text-align: center;
    margin-right: -0.5rem !important;
    font-size: 1rem !important;
}
::ng-deep .p-select.p-select-menu {
    width: 100%;
    background-color: var(--primary-500);
    border: 1px var(--primary-500) solid;
    color: white;
    display: flex;
    align-items: center;
}

::ng-deep .p-select.p-select-menu:hover {
    background-color: var(--primary-600);
    border-color: var(--primary-600);
}

::ng-deep .p-select.p-select-menu-overlay .p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
    background-color: transparent !important;
}