<p-toolbar styleClass="bg-white border-none  pl-1 pr-4 py-2 shadow-1 mb-2 flex align-items-center">
    <div class="p-toolbar-group-start sm:col-3 col-12 lg:w-min">
        <p-select
                  [options]="roteiros"
                  [(ngModel)]="currentRoteiro"
                  [loading]="loadingRoteiro"
                  (ngModelChange)="roteiroChanged()"
                  styleClass="border-none p-button-secondary p-button-text select-no-dropdown-icon">
            <ng-template #selectedItem let-selectedOption>
                <div class="flex gap-2 align-items-center w-full overflow-hidden">
                    <div class="relative flex align-items-center justify-content-center">
                        <i class="bi bi-calendar text-primary text-6xl line-height-1"></i>
                        <span class="absolute mt-2 text-xl font-bold">{{ data |date : 'dd' }}</span>
                    </div>
                    <div class="flex flex-column justify-content-start text-left w-full">
                        <p class="font-bold text-xl text-800 text-overflow-ellipsis w-full overflow-hidden white-space-nowrap">{{currentTitle}}</p>
                        <p class="flex align-items-center gap-2" *ngIf="selectedOption">
                            <span class="text-base text-600 font-light text-overflow-ellipsis overflow-hidden white-space-nowrap">Semana {{selectedOption.semana}} - {{selectedOption.tema}}</span>
                            <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: selectedOption.corLegenda }"></i>
                        </p>
                        <p class="flex align-items-center gap-2" *ngIf="!selectedOption">
                            <span class="text-base text-600 font-light text-overflow-ellipsis overflow-hidden white-space-nowrap">Indefinido</span>
                            <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: 'var(--p-surface-800)' }"></i>
                        </p>
                    </div>
                </div>
            </ng-template>
            <ng-template let-roteiro #item>
                <div pTooltip="{{roteiro.dataInicio | date: 'dd/MM/yyyy'}} à {{roteiro.dataFim | date: 'dd/MM/yyyy'}}">
                    <div class="flex align-items-center gap-2 w-max">
                        <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: roteiro.corLegenda }"></i>
                        <span>Semana {{roteiro.semana}} - {{ roteiro.tema }}</span>
                    </div>
                </div>
            </ng-template>
    <ng-template #dropdownicon></ng-template>
        </p-select>
        <!-- <p-button styleClass="my-app-dark"
                  [loading]="loadingRoteiro"
                  severity="contrast"
                  (onClick)="loadingRoteiro ? undefined : popoverSemana.toggle($event) "
                  size="small"
                  fluid>
            <div class="flex gap-2 align-items-center w-full overflow-hidden">
                <div class="relative flex align-items-center justify-content-center">
                    <i class="bi bi-calendar text-primary text-6xl line-height-1"></i>
                    <span class="absolute mt-2 text-xl font-bold">{{ data |date : 'dd' }}</span>
                </div>
                <div class="flex flex-column justify-content-start text-left w-full">
                    <p class="font-bold text-xl text-800 text-overflow-ellipsis w-full overflow-hidden white-space-nowrap">{{currentTitle}}</p>
                    <p class="flex align-items-center gap-2">
                        <span class="text-base text-600 font-light text-overflow-ellipsis overflow-hidden white-space-nowrap">{{currentRoteiroTitle}}</span>
                        <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: currentRoteiro?.corLegenda}"></i>
                    </p>
                </div>
            </div>
        </p-button> -->
    </div>
    <div class="p-toolbar-group-end">
        <div class="flex gap-2">
            <!-- Menu -->
            <div class="sm:col p-0">
                <div class="flex gap-1 align-items-stretch ">
                    <ng-container *ngIf="[ScreenWidth.lg, ScreenWidth.xl].includes(screen)">
                        <!-- Data -->
                        <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                        <!-- Ver Semana -->
                        <ng-container *ngTemplateOutlet="verSemana"></ng-container>
                        <!-- Prev -->
                        <ng-container *ngTemplateOutlet="prevTemplate"></ng-container>
                        <!-- Hoje -->
                        <ng-container *ngTemplateOutlet="todayTemplate"></ng-container>
                        <!-- Next -->
                        <ng-container *ngTemplateOutlet="nextTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="[ScreenWidth.md, ScreenWidth.sm].includes(screen)">
                        <!-- Menu -->
                        <p-button icon="pi pi-bars"
                                  iconPos="right"
                                  (onClick)="popoverActions.toggle($event)"
                                  severity="primary"
                                  pTooltip="Ações"
                                  label="Menu" />
                        <p-popover #popoverActions styleClass="-mt-1">
                            <div class="max-w-20rem w-full min-w-15rem">
                                <div class="col-12 flex align-items-stretch justify-content-center gap-2 mb-2" style="height: 3.4rem;">
                                    <!-- Ver Semana -->
                                    <ng-container *ngTemplateOutlet="verSemana"></ng-container>
                                    <!-- Prev -->
                                    <ng-container *ngTemplateOutlet="prevTemplate"></ng-container>
                                    <!-- Hoje -->
                                    <ng-container *ngTemplateOutlet="todayTemplate"></ng-container>
                                    <!-- Next -->
                                    <ng-container *ngTemplateOutlet="nextTemplate"></ng-container>
                                </div>
                                <!-- Data -->
                                <div class="col-12 surface-50 shadow-1">
                                    <ng-container *ngTemplateOutlet="dataTemplate"></ng-container>
                                </div>
                            </div>
                        </p-popover>
                    </ng-container>
                </div>
            </div>
            <!-- Atualizar -->
            <div class="sm:col p-0">
                <p-button icon="pi pi-sync "
                          (onClick)="updateCalendar()"
                          severity="contrast"
                          label="atualizar"
                          pTooltip="Atualizar calendário"
                          styleClass="surface-800 border-800 border-1"
                          tooltipPosition="top" />
            </div>
            <!-- Meu Calendário -->
            <div class="sm:col p-0">
                <p-select [options]="viewMenu"
                          [(ngModel)]="view"
                          (onChange)="calendarViewChanged()"
                          optionValue="value"
                          styleClass="p-select-menu p-select-menu--dark p-select-small"
                          appendTo="body">
                    <ng-template let-selectedOption #selectedItem>
                        <div class="text-white -mr-2">
                            <span class="{{selectedOption.icon}}"></span>
                            <span class="ml-2">{{ selectedOption.label }}</span>
                        </div>
                    </ng-template>
                    <ng-template let-item #item>
                        <span class="{{item.icon}}"></span>
                        <span class="ml-2">{{ item.label }}</span>
                    </ng-template>
                    <ng-template #dropdownicon>
                        <i class="bi bi-chevron-down text-white"></i>
                    </ng-template>
                </p-select>
            </div>
            <!-- Agendar -->
            <div class="sm:col p-0">
                <p-select [options]="agendarMenuItem"
                          [(ngModel)]="agendarValue"
                          #agendar="ngModel"
                          styleClass="p-select-menu p-select-small"
                          placeholder="Agendar"
                          (onChange)="agendarEvento($event, agendar)"
                          scrollHeight="250px"
                          appendTo="body">
                    <ng-template let-selectedOption #selectedItem>
                        <div class="text-white -mr-2">Agendar</div>
                    </ng-template>
                    <ng-template let-item #item>
                        <div class="w-10rem">
                            <a class="ml-2">{{ item.label }}</a>
                        </div>
                    </ng-template>
                    <ng-template #dropdownicon>
                        <i class="bi bi-chevron-down text-white"></i>
                    </ng-template>
                </p-select>
            </div>
        </div>
    </div>
</p-toolbar>
<ng-template #verSemana>
    <ng-container *ngIf="dayView == CalendarioDayView.Dia">
        <p-button label="Ver semana"
                  severity="primary"
                  styleClass="h-full mr-2"
                  (onClick)="calendarDayViewChanged()" />
    </ng-container>
    <ng-container *ngIf="dayView == CalendarioDayView.Semana">
        <p-button label="Ver dia"
                  severity="contrast"
                  styleClass="h-full mr-2"
                  (onClick)="calendarDayViewChanged()" />
    </ng-container>
</ng-template>
<ng-template #prevTemplate>
    <p-button icon="pi pi-angle-left text-lg"
              styleClass="w-full h-full surface-100 border-100 overflow-hidden"
              class="overflow-hidden"
              [style]="{ width : '2.4rem' }"
              (onClick)="prev()"
              severity="secondary"
              iconPos="right"
              pTooltip="Anterior"
              size="small" />
</ng-template>
<ng-template #nextTemplate>
    <p-button icon="pi pi-angle-right text-lg"
              styleClass="w-full h-full surface-100 border-100"
              [style]="{width: '2.4rem', overflow: 'hidden',}"
              (onClick)="next()"
              severity="secondary"
              pTooltip="Próximo"
              size="small" />
</ng-template>
<ng-template #todayTemplate>
    <p-button label="hoje"
              styleClass="h-full surface-800 border-800"
              (onClick)="today()"
              severity="help"
              pTooltip="Hoje"
              tooltipPosition="top"
              size="small" />
</ng-template>
<ng-template #dataTemplate>
    <div class="flex align-items-center mr-2">
        <label for="data" class="mr-1">Data: </label>
        <p-datepicker (onSelect)="dataChanged(dataNgModel)"
                      #dataNgModel="ngModel"
                      [(ngModel)]="data"
                      [showIcon]="true"
                      [iconDisplay]="'input'"
                      [minDate]="minData"
                      inputId="data"
                      name="data"
                      class=" w-9rem"
                      inputStyleClass="w-full"
                      styleClass="w-full"
                      [required]="true"
                      [selectOtherMonths]="true"
                      [keepInvalid]="true"
                      [disabledDays]="[0]"
                      appendTo="body" />
    </div>
</ng-template>
<p-popover #popoverSemana appendTo="body" styleClass="-mt-1">
    <p class="text-500 mb-2 ml-2">Roteiros</p>
    <div class="max-h-15rem overflow-auto">
        <ng-container *ngFor="let item of roteiros">
            <div class="p-2 font-bold mb-1 hover:surface-50 cursor-pointer"
                 (click)="currentRoteiro = item; roteiroChanged()"
                 title="Clique para carregar semana">
                <div class="flex align-items-center gap-2 w-max" pTooltip="{{item.dataInicio | date: 'dd/MM/yyyy'}} à {{item.dataFim | date: 'dd/MM/yyyy'}}">
                    <i class="pi pi-star-fill text-xl -mt-1" [style]="{ color: item.corLegenda }"></i>
                    <span>Semana {{item.semana}} - {{ item.tema }}</span>
                </div>
            </div>
        </ng-container>
    </div>
</p-popover>