<app-confirm-dialog></app-confirm-dialog>
<p-dialog
  #dialog
  [maximizable]="true"
  [draggable]="true"
  [modal]="true"
  [(visible)]="visible"
  (visibleChange)="visibleChange()"
  [style]="{ width: width, maxWidth: '95vw', maxHeight: '95vh' }"
  appendTo="body">
  <ng-template #header>
    <div class="w-full flex gap-2 align-items-center">
      <i
        class="pi pi-calendar mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
      <div class="mt-1">
        <span class="p-dialog-title capitalize">{{ tipoString }}</span>

        <span
          *ngIf="!evento.active"
          class="block text-red-500 p-dialog-subtitle font-semibold"
          >Esta {{ getTipo(evento) }} foi desativado no dia {{ getDeactivatedInformation(evento) }}</span
        >
      </div>
    </div>
  </ng-template>
  <form
    #aulaForm
    #form="ngForm"
    *ngIf="evento">
    <div [ngSwitch]="evento.evento_Tipo_Id">
      <div
        *ngSwitchCase="tipo.Aula"
        class="aula">
        <app-editar-aula
          #componentForm
          [evento]="evento"
          [professores]="professores"
          [loadingProfessores]="loadingProfessores"
          [salaAulas]="salaAulas"
          [loadingSalaAulas]="loadingSalaAulas"
          [roteiros]="roteiros"
          [loadingRoteiros]="loadingRoteiros"
          [duracaoEvento]="duracaoEvento"
          (validaProfessor)="professorChanged($event)"
          (validaSala)="salaAulaChanged($event)"
          (width)="width = $event"></app-editar-aula>
      </div>
      <div
        *ngSwitchCase="tipo.AulaZero"
        class="aula">
        <app-editar-aula-0
          #componentForm
          [evento]="evento"
          [evento]="evento"
          [professores]="professores"
          [loadingProfessores]="loadingProfessores"
          [salaAulas]="salaAulas"
          [loadingSalaAulas]="loadingSalaAulas"
          [duracaoEvento]="duracaoEvento"
          (validaProfessor)="professorChanged($event)"
          (validaSala)="salaAulaChanged($event)"
          (width)="width = $event"></app-editar-aula-0>
      </div>
      <div
        *ngSwitchCase="tipo.AulaExtra"
        class="aula">
        <app-editar-aula
          #componentForm
          [evento]="evento"
          [evento]="evento"
          [professores]="professores"
          [loadingProfessores]="loadingProfessores"
          [salaAulas]="salaAulas"
          [loadingSalaAulas]="loadingSalaAulas"
          [roteiros]="roteiros"
          [loadingRoteiros]="loadingRoteiros"
          [duracaoEvento]="duracaoEvento"
          (validaProfessor)="professorChanged($event)"
          (validaSala)="salaAulaChanged($event)"
          (width)="width = $event"></app-editar-aula>
      </div>
      <div
        *ngSwitchCase="tipo.Superacao"
        class="aula">
        <app-editar-superacao
          #componentForm
          [evento]="evento"
          [evento]="evento"
          [professores]="professores"
          [loadingProfessores]="loadingProfessores"
          [salaAulas]="salaAulas"
          [loadingSalaAulas]="loadingSalaAulas"
          [duracaoEvento]="duracaoEvento"
          (validaProfessor)="professorChanged($event)"
          (validaSala)="salaAulaChanged($event)"
          (width)="width = $event"></app-editar-superacao>
      </div>
      <div
        *ngSwitchCase="tipo.Oficina"
        class="aula">
        <app-editar-oficina
          #componentForm
          [evento]="evento"
          [professores]="professores"
          [loadingProfessores]="loadingProfessores"
          [salaAulas]="salaAulas"
          [loadingSalaAulas]="loadingSalaAulas"
          [duracaoEvento]="duracaoEvento"
          (validaProfessor)="professorChanged($event)"
          (validaSala)="salaAulaChanged($event)"
          (width)="width = $event"></app-editar-oficina>
      </div>
      <div
        *ngSwitchCase="tipo.Reuniao"
        class="aula">
        <app-editar-reuniao
          #componentForm
          [evento]="evento"
          [professores]="professores"
          [loadingProfessores]="loadingProfessores"
          [salaAulas]="salaAulas"
          [loadingSalaAulas]="loadingSalaAulas"
          [duracaoEvento]="duracaoEvento"
          (validaProfessor)="professorChanged($event)"
          (validaSala)="salaAulaChanged($event)"
          (width)="width = $event"></app-editar-reuniao>
      </div>
    </div>
    <ng-container *ngIf="evento.finalizado == false">
      <div class="col-12 px-0 flex align-items-center justify-content-end">
        <p-button
          type="button"
          (onClick)="sendConfirmation($event, form)"
          styleClass="px-3 mr-2"
          label="Salvar dados"
          icon="pi pi-check"
          severity="contrast"
          [outlined]="true"
          [loading]="loading"
          [rounded]="true"
          [disabled]="form.invalid || loading" />
        <p-button
          type="button"
          (onClick)="finalizar($event)"
          styleClass="w-full px-3"
          label="Salvar e finalizar"
          icon="pi pi-check"
          [loading]="loading"
          [rounded]="true"
          [pTooltip]="evento.active ? undefined : 'Evento está desativado'"
          tooltipPosition="top"
          [disabled]="form.invalid || loading || !evento.active" />
      </div>
    </ng-container>
  </form>
</p-dialog>
