<app-confirm-dialog></app-confirm-dialog>

<app-aluno-checklist-on-confirm-dialog #alunoChecklistOnConfirmDialog></app-aluno-checklist-on-confirm-dialog>
<div class="formgrid grid">
    <!-- Foto -->
    <div class="lg:col-3 md:col-3 col-12 px-0 ">
            
            <p-fileupload #fileUpload
                    class="w-full"
                    styleclass="gap-0 w-full bg-transparent"
                    name="myfile[]"
                    accept="image/*"
                    (onSelect)="onSelectedFiles($event)"
                    styleClass="border-none"
                    [showUploadButton]="false"
                    [showCancelButton]="false"
                    [chooseStyleClass]="'hidden'"
                    headerTemplate="">
            <ng-template #content
                    let-files
                    let-uploadedFiles="uploadedFiles"
                    let-removeFileCallback="removeFileCallback"
                    let-removeUploadedFileCallback="removeUploadedFileCallback">
            </ng-template>
            <ng-template #file>
            <div class="w-full flex flex-column align-items-center justify-content-center">
                <p-button (onClick)="choose(fileUpload)"
                            icon="pi pi-images"
                            [rounded]="true"
                            label="Selecionar foto"
                            class="-mb-5 relative z-2" />
                <div class="flex align-items-center justify-content-center relative  md:w-full w-16rem">
                    <div *ngIf="loadingFile" 
                        class="w-full flex align-items-center justify-content-center absolute z-1">
                        <div class="border-circle border-1 border-100 bg-black-alpha-50 cursor-default overflow-hidden w-full" 
                            style="padding-top: 100%; height: 0"></div>
                        <i class="pi pi-spin pi-spinner text-white absolute z-1 text-4xl" 
                        style="font-size: 2rem"></i>
                    </div>
                    <div id="divImage"
                        class="border-circle border-1 border-primary-500 cursor-pointer overflow-hidden w-full relative z-0 bg-cover bg-center bg-no-repeat"
                        [ngStyle]="{ 
                            paddingTop: '100%', 
                            height: '0', 
                            backgroundImage: 'url(' + foto + ')' 
                        }">
                    </div>
                </div>
            </div>
            </ng-template>
            <ng-template #empty>
            <div class="w-full flex flex-column align-items-center justify-content-center">
                <p-button (onClick)="choose(fileUpload)"
                            icon="pi pi-images"
                            [rounded]="true"
                            label="Selecionar foto"
                            class="-mb-5 relative z-2" />
                <div class="flex align-items-center justify-content-center relative md:w-full w-16rem" (click)="choose(fileUpload)">
                    <ng-container *ngIf="loadingFile">
                        <div class="w-full flex align-items-center justify-content-center absolute z-1">
                            <div class="border-circle border-1 border-100 bg-black-alpha-50 cursor-default overflow-hidden w-full" style="padding-top: 100%; height: 0"></div>
                            <i class="pi pi-spin pi-spinner text-white absolute z-1 text-4xl" 
                            style="font-size: 2rem"></i>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!foto">
                        <div class="bg-white hover:shadow-1 border-circle border-1 border-100 hover:border-primary-500 hover:surface-50 cursor-pointer  overflow-hidden w-full relative z-0" style="padding-top: 100%; height: 0"></div>
                        <i *ngIf="!loadingFile" class="pi pi-user absolute  md:text-7xl sm:text-4xl text-7xl text-300 hover:text-400"></i>
                    </ng-container>
                    <ng-container *ngIf="foto">
                        <div id="divImage" class="border-circle border-1 border-primary-500 cursor-pointer overflow-hidden w-full relative z-0 bg-cover bg-center bg-no-repeat"
                            [ngStyle]="{ paddingTop: '100%', height: '0', backgroundImage: 'url(' + foto + ')' }">
                        </div>
                    </ng-container>
                </div>
            </div>
            </ng-template>
            </p-fileupload>
    </div>
    <div class="lg:col-9 md:col-9 col-12 px-0 flex align-items-start">
        <div class="hidden md:block surface-300" style="height: 95%; width: 2px;"></div>
        <div class="formgrid grid pl-2 sm:px-3">
            <!-- Nome -->
            <div class="field lg:col-4 md:col-6 sm:col-6 xs:col-8 col-12">
                <label for="nome">Nome: <span class="text-red-500">*</span></label>
                <input type="text"
                       pInputText
                       #nome="ngModel"
                       [(ngModel)]="object.nome"
                       id="nome"
                       name="nome"
                       class="w-full"
                       [required]="true">
                <div *ngIf="nome.touched && nome.invalid && nome.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="nome.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- RM -->
            <div class="field lg:col-2 md:col-3 sm:col-2 xs:col-4 col-12">
                <label for="rm">RM <small class="text-400 line-height-1">(Registro de Matrícula)</small>: </label>
                <input type="text"
                       pInputText
                       #rm="ngModel"
                       [(ngModel)]="object.rm"
                       id="rm"
                       name="rm"
                       class="w-full"
                       readonly>
            </div>
            <!-- Data de Nascimento -->
            <div class="field lg:col-3 md:col-3 sm:col-4 xs:col-6 col-12">
                <label for="dataNascimento">Data de Nascimento: <span class="text-red-500">*</span></label>
                <p-datepicker
                              #dataNascimento="ngModel"
                              [(ngModel)]="object.dataNascimento"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              [selectOtherMonths]="true"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              inputId="dataNascimento"
                              name="dataNascimento"
                              class="w-full"
                              inputStyleClass="w-full"
                              styleClass="w-full"
                              [required]="true"
                              appendTo="body" />
                <div *ngIf="dataNascimento.touched && dataNascimento.invalid && dataNascimento.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataNascimento.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Gênero -->
            <div class="field lg:col-3 sm:col-4 xs:col-6 col-12">
                <label for="pessoa_Sexo_Id">Gênero: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="sexos"
                          [(ngModel)]="object.pessoa_Sexo_Id"
                          [loading]="loadingSexos"
                          #pessoa_Sexo_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="pessoa_Sexo_Id"
                          inputId="pessoa_Sexo_Id"
                          optionLabel="nome"
                          optionValue="id"
                          [showClear]="true"
                          appendTo="body"
                          [required]="true" />
                <div *ngIf="pessoa_Sexo_Id.touched && pessoa_Sexo_Id.invalid && pessoa_Sexo_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="pessoa_Sexo_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Telefone -->
            <div class="field lg:col-3 sm:col-4 xs:col-6 col-12">
                <label for="telefone">Telefone: <span class="text-red-500">*</span></label>
                <p-iconfield>
                        <p-inputicon styleClass="pi pi-phone" />
                        <p-inputmask
                                    inputId="telefone"
                                    name="telefone"
                                     #telefone="ngModel"
                                     [(ngModel)]="object.telefone"
                                     mask="+99 (99) 9999-9999"
                                     placeholder="+55 (99) 9999-9999"
                                     [autoClear]="true"
                                     class="w-full"
                                     styleClass="w-full pl-5"
                                     
                                     [required]="true" />
                </p-iconfield>
                <div *ngIf="telefone.touched && telefone.invalid && telefone.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="telefone.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Celular -->
            <div class="field lg:col-3 sm:col-4 xs:col-6 col-12">
                <label for="celular">Celular: <span class="text-red-500">*</span></label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-mobile" />
                    <p-inputmask
                                inputId="celular"
                                name="celular"
                                 #celular="ngModel"
                                 [(ngModel)]="object.celular"
                                 mask="+99 (99) 9.9999-9999"
                                 placeholder="+55 (99) 9.9999-9999"
                                 [autoClear]="true"
                                 class="w-full"
                                     styleClass="w-full pl-5"
                                 [required]="true" />
                </p-iconfield>
                <div *ngIf="celular.touched && celular.invalid && celular.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="celular.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- E-mail -->
            <div class="field sm:col-6 xs:col-6 col-12">
                <label for="email">E-mail: <span class="text-red-500">*</span></label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-envelope" />
                    <input type="text"
                           pInputText
                           [email]="true"
                           id="email"
                           name="email"
                           #email="ngModel"
                           [(ngModel)]="object.email"
                           class="w-full"
                           [required]="true"
                           placeholder="example@gmail.com">
                </p-iconfield>
                <div *ngIf="email.touched && email.invalid && email.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Endereço -->
            <div class="field sm:col-6 xs:col-6 col-12">
                <label for="endereco">Endereço: </label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-map-marker" />
                    <input type="text"
                           pInputText
                           #endereco="ngModel"
                           [(ngModel)]="object.endereco"
                           id="endereco"
                           name="endereco"
                           class="w-full"
                           placeholder="Rua das Pedras 123 - Vila das Amoras SP">
                </p-iconfield>
                <div *ngIf="endereco.touched && endereco.invalid && endereco.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="endereco.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Início Vigência -->
            <div class="field lg:col-3 md:col-2 xs:col-6 col-12">
                <label for="dataInicioVigencia">Início Vigência: <span class="text-red-500">*</span></label>
                <p-datepicker
                              #dataInicioVigencia="ngModel"
                              [(ngModel)]="object.dataInicioVigencia"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              [selectOtherMonths]="true"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              inputId="dataInicioVigencia"
                              name="dataInicioVigencia"
                              class="w-full"
                              inputStyleClass="w-full"
                              iconP
                              styleClass="w-full"
                              [required]="true"
                              appendTo="body" />
                <div *ngIf="dataInicioVigencia.touched && dataInicioVigencia.invalid && dataInicioVigencia.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataInicioVigencia.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Fim Vigência -->
            <div class="field lg:col-3 md:col-2 xs:col-6 col-12">
                <label for="dataFimVigencia">Fim Vigência: </label>
                <p-datepicker
                              #dataFimVigencia="ngModel"
                              [(ngModel)]="object.dataFimVigencia"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              [selectOtherMonths]="true"
                              [minDate]="minDate"
                              inputId="dataFimVigencia"
                              name="dataFimVigencia"
                              class="w-full"
                              inputStyleClass="w-full"
                              styleClass="w-full"
                              [required]="false"
                              appendTo="body" />
            </div>
            <!-- Restrições -->
            <div class="field lg:col-6 md:col-4 xs:col-6 col-12">
                <div class="flex align-items-center gap-2 justify-content-between mb-1 relative" #divRestricoes>
                    <label for="restricoes">Restrições: </label>
                    <div class="flex align-items-center gap-1 ml-auto text-blue-300 hover:text-blue-500 cursor-pointer mb-1" 
                        (click)="popoverExplicacaoRestricoes.show($event)">
                        <span>Info</span>
                        <span class="pi pi-question-circle"></span>
                    </div>
                    <p-popover #popoverExplicacaoRestricoes 
                    [appendTo]="divRestricoes" 
                    styleClass="w-30rem max-w-screen -mt-1">
                        <div class="max-h-20rem overflow-auto text-lg ">
                            <p class="text-red-500 font-bold mb-4">ATENÇÃO:</p>
                            <p>As restrições indicam dificuldades do aluno, como problemas auditivos, visuais, motores etc.</p>
                            <p>Elas <b>NÃO</b> impedem o agendamento de reposição ou transferência de turma, mas devem sempre ser consideradas.</p>
                            <p>Um alerta será exibido ao identificar essas restrições.</p>
                            <p class="mt-4">A restrição <b>Mobilidade Reduzida</b> deve ser marcada no campo checkbox abaixo.</p>
                            <p>Ela <b>IMPÕE</b> limitações para inserir reposições ou transferências de turma.</p>
                        </div>
                    </p-popover>
                </div>
                <p-iconfield>
                    <p-inputicon *ngIf="loadingRestricoes" styleClass="pi pi-spin pi-spinner" />
                    <p-inputicon *ngIf="!loadingRestricoes" styleClass="pi pi-ban" />
                    <input type="text"
                           pInputText
                           [value]="restricoesText"
                           id="restricoes"
                           name="restricoes"
                           class="w-full pr-7"
                           [required]="true"
                           placeholder="Selecione"
                           [readonly]="true"
                           (focusin)="restricoes.show($event)"
                           (click)="restricoes.show($event)"
                           (keydown.tab)="restricoes.hide()">
                </p-iconfield>
                <p-popover #restricoes appendTo="body">
                    <div class="p-2 border-bottom-1 border-200 ">
                        <p-iconfield>
                            <input type="text"
                                   pInputText
                                   #restricao
                                   id="restricao"
                                   name="restricao"
                                   class="w-full"
                                   [required]="true"
                                   (keyup.enter)="cadastrarRestricao($event, restricao, restricoes)"
                                   placeholder="Inserir nova restrição...">
                            <p-inputicon>
                                <span class="text-primary-500 cursor-pointer hover:text-primary-600 hover:bg-primary-100 p-1 px-2 border-round-md -mr-2" (click)="cadastrarRestricao($event, restricao, restricoes)">enter</span>
                            </p-inputicon>
                        </p-iconfield>
                        <div class="">
                            <ng-container *ngIf="object.restricoes && object.restricoes.length; else restricoesEmptyTemplate">
                                <ng-container *ngFor="let item of object.restricoes; let i = index">
                                    <div class="flex align-items-center gap-2 p-2" [ngClass]="{
                                        'surface-50': i % 2 == 0
                                    }">
                                        <p-checkbox [name]="'active-' + i"
                                                    [inputId]="'active-' + i"
                                                    #checkbox="ngModel"
                                                    [(ngModel)]="item.active"
                                                    [binary]="true"
                                                    (onChange)="toggleRestricao($event, item, checkbox, restricoes)" />
                                        <p>{{item.descricao}}</p>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-template #restricoesEmptyTemplate>
                                <p class="text-500 mt-2">Nenhuma restrição inserida</p>
                            </ng-template>
                        </div>
                    </div>
                </p-popover>
                <div class="flex align-itens-center gap-2 mt-2">
                    <p-checkbox inputId="restricaoMobilidade"
                                name="restricaoMobilidade"
                                #restricaoMobilidade="ngModel"
                                [(ngModel)]="object.restricaoMobilidade"
                                [binary]="true" />
                    <label for="restricaoMobilidade">Mobilidade reduzida</label>
                </div>
            </div>
            <!-- Etapa da jornada -->
            <div class="field lg:col-6 md:col-4 xs:col-6 col-12">
                <label for="etapaChecklist">Etapa da jornada: </label>
                <div tabindex="0"
                    id="etapaChecklist"
                    style="height: 29px"
                    class="p-inputtext flex align-items-center w-full outline-none hover:border-500 focus:border-primary-500" 
                    (focusin)="checklistPopover.show($event)"
                    (keydown.tab)="checklistPopover.hide()">
                        
                    <app-aluno-checklist #alunoChecklist *ngIf="object"
                        class="w-full"
                        [aluno_Id]="aluno_Id"
                        [aluno]="object"
                        [showChecklist]="true"
                        (alunoChanged)="object = $event"></app-aluno-checklist>
                </div>
                <p-popover #checklistPopover appendTo="body">
                    <div [style]="{ maxHeight: '50vh', height: '50vh' }" class="overflow-auto">
                        <ng-container *ngFor="let checklist of object.checklistCompleto">
                            <div class="my-2 border-100 border-bottom-1 pb-4" *ngIf="checklist">
                                <div class="flex p-2">
                                    <p><b>{{checklist.nome}}</b></p>
                                    <p class="ml-2"> - Prazo: <b>{{checklist.prazo | date : 'dd/MM/yyyy'}}</b></p>
                                    <p class="pl-2 ml-auto text-orange-500" *ngIf="checklist.id == object.checklist_Id"> Em Andamento <i class="pi pi-hourglass ml-2"></i> </p>
                                    <p class="pl-2 ml-auto text-red-500" *ngIf="checklist.itensAtrasados.length > 0 && checklist.id != object.checklist_Id"> Atrasado <i class="pi pi-times-circle ml-2"></i> </p>
                                    <p class="pl-2 ml-auto text-green-500" *ngIf="checklist.itensFinalizados.length == checklist.items.length && checklist.id != object.checklist_Id"> Finalizado <i class="pi pi-check-circle ml-2"></i> </p>
                                </div>
                                <div class="px-2">
                                    
                                    <ng-container *ngFor="let checklistItem of checklist.items; let index = index">
                                        <div class="flex align-items-baseline gap-2 my-1 w-min-content pr-3 p-2"
                                                [ngClass]="{
                                                    'surface-50': index % 2 == 0,
                                                    'bg-white': index % 2 != 0,
                                                }"
                                                [pTooltip]="checklistItem.account_Finalizacao && checklistItem.dataFinalizacao ? finalizadoTooltip: undefined"
                                                tooltipPosition="top">
                                            <p-checkbox *ngIf="!checklistItem.finalizado"
                                                        [inputId]="'checklistitem-' + checklistItem.id"
                                                        [name]="'checklistitem-' + checklistItem.id"
                                                        #checkboxModel="ngModel"
                                                        [(ngModel)]="checklistItem.finalizado"
                                                        [binary]="true"
                                                        (ngModelChange)="checklistMark(checklistItem, checkboxModel)" />
                                            <div *ngIf="checklistItem.finalizado" 
                                                class="p-checkbox p-checkbox-checked p-highlight pointer-events-none">
                                                <div class="p-checkbox-box">
                                                    <i class="pi pi-check p-checkbox-icon "></i>
                                                </div>
                                            </div>
                                            <label class="font-medium" [for]="'checklistitem-' + checklistItem.id">{{ checklistItem.nome }}</label>
                                            <ng-container *ngIf="object.celular 
                                                            && checklistItem.finalizado == false 
                                                            && [8, 9, 12, 13, 32, 37, 22, 29, 23].includes(checklistItem.checklist_Item_Id)">
                                                <a [href]="enviarMensagemCondicao(checklistItem).link"
                                                    target="_blank"
                                                    class="p-button p-button-sm p-button-rounded p-button-success py-1 px-3 ml-auto">
                                                    <span class="p-button-label">Enviar mensagem</span>
                                                    <i class="pi pi-whatsapp p-button-icon p-button-icon-right"></i>
                                                </a>
                                            </ng-container>
                                            <ng-template #finalizadoTooltip>
                                                <p class="ml-auto pl-2" *ngIf="checklistItem.account_Finalizacao && checklistItem.dataFinalizacao">Finalizado por <b>{{checklistItem.account_Finalizacao}}</b> em <b>{{checklistItem.dataFinalizacao | date : 'dd/mm/yy'}}</b></p>
                                            </ng-template>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </p-popover>
            </div>
        </div>
    </div>
    <div class="col-12 px-3 mt-2 flex overflow-hidden">

        <div class="formgrid grid">
            <!-- Turma -->
            <div class="field lg:col-3 md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="turma_Id">Turma:</label>
                <p-select
                          [options]="turmasFiltered"
                          [(ngModel)]="selectedTurma"
                          [loading]="loadingTurmas"
                          [showClear]="true"
                          #turma_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="turma_Id"
                          inputId="turma_Id"
                          optionLabel="nome"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          placeholder="Selecione"
                          optionDisabled="deactivated"
                          (onChange)="turmaChanged(turma_Id, $event)">
                    <ng-template #item let-item>
                        <div class="w-full">
                            <div class="flex align-items-center justify-content-between gap-3">
                                <p class="flex align-items-center">
                                    <span class="w-1rem h-1rem flex mr-1 border-circle" [style]="{ backgroundColor: item.corLegenda }"></span>
                                    <span>{{ item.nome }}</span>
                                </p>
                                <span>{{ item.capacidadeMaximaAlunos - item.alunosAtivos }} vaga(s)</span>
                            </div>
                            <p class="text-xs mt-1">
                                <i class="fa-solid fa-brain mr-2"></i>
                                 {{item.perfilCognitivoString}}
                            </p>
                        </div>
                    </ng-template>
                </p-select>
            </div>
            <!-- Educador -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="professor">Educador: </label>
                <p-iconfield>
                    <p-inputicon *ngIf="selectedTurma">
                        <span class="w-1rem h-1rem inline-flex mr-2 border-circle" [style]="{ backgroundColor: selectedTurma.corLegenda}"></span>
                    </p-inputicon>
                    <input type="text"
                           pInputText
                           [value]="selectedTurma?.professor ?? 'Selecione a turma para definir o educador'"
                           id="professor"
                           name="professor"
                           class="w-full"
                           readonly>
                </p-iconfield>
            </div>
            <!-- Perfil Cognitivo -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="perfilCognitivo_Id">Perfil Cognitivo:</label>
                <p-iconfield>
                    <p-inputicon styleClass="fa-solid fa-brain" />
                    <p-select [options]="perfisCognitivos"
                                [(ngModel)]="object.perfilCognitivo_Id"
                                [loading]="loadingPerfisCognitivos"
                                [showClear]="true"
                                #perfilCognitivo_Id="ngModel"
                                styleClass="w-full"
                                class="w-full"
                                name="perfilCognitivo_Id"
                                inputId="perfilCognitivo_Id"
                                optionLabel="nome"
                                optionValue="id"
                                [showClear]="true"
                                appendTo="body" />
                </p-iconfield>
            </div>
            <!-- KIT Apostila -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="apostila_Kit_Id">Kit Apostila</label>
                <p-select
                          [options]="kits"
                          [(ngModel)]="selectedKit"
                          (onChange)="kitChanged(apostila_Kit_Id, $event)"
                          [loading]="loadingKits"
                          [showClear]="true"
                          #apostila_Kit_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="apostila_Kit_Id"
                          inputId="apostila_Kit_Id"
                          optionLabel="nome"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          optionDisabled="deactivated">
                    <ng-template let-item #item>
                        <div class="flex flex-column">
                            <p class="font-bold">{{ item.nome }}</p>
                            <p>Total de apostilas: {{item.apostilas.length}}</p>
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="apostila_Kit_Id.touched && apostila_Kit_Id.invalid && apostila_Kit_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="apostila_Kit_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Apostila Ábaco -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="apostila_Abaco">Apostila Ábaco: </label>
                <input type="text"
                       pInputText
                       [value]="object.apostila_Abaco ?? 'Indefinido'"
                       id="apostila_Abaco"
                       name="apostila_Abaco"
                       class="w-full"
                       readonly>
            </div>
            <!-- Página -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="numeroPaginaAbaco">Página: </label>
                <input type="text"
                       pInputText
                       [value]="object.numeroPaginaAbaco ?? 'Indefinido'"
                       id="numeroPaginaAbaco"
                       name="numeroPaginaAbaco"
                       class="w-full"
                       readonly>
            </div>
            <!-- Apostila AH -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="apostila_AH">Apostila AH: </label>
                <input type="text"
                       pInputText
                       [value]="object.apostila_AH ?? 'Indefinido'"
                       id="apostila_AH"
                       name="apostila_AH"
                       class="w-full"
                       readonly>
            </div>
            <!-- Página -->
            <div class="field md:col-3 sm:col-6 xs:col-6 col-12">
                <label for="numeroPaginaAH">Página: </label>
                <input type="text"
                       pInputText
                       [value]="object.numeroPaginaAH ?? 'Indefinido'"
                       id="numeroPaginaAH"
                       name="numeroPaginaAH"
                       class="w-full"
                       readonly>
            </div>
        </div>
    </div>
</div>