<app-confirm-dialog></app-confirm-dialog>

<p-confirmdialog key="checklistConfirmation" styleClass="w-30rem">
    <ng-template #message let-message>
        <div>
            <div class=" flex align-items-center gap-2">
                <span class="text-4xl mr-2 text-primary-500">
                    <i *ngIf="message.icon" [ngClass]="message.icon"></i>
                    <i *ngIf="!message.icon" class="pi pi-exclamation-triangle text-4xl "></i>
                </span>
                <div [innerHTML]="message.message"></div>
            </div>
            <div class="w-full flex-1 col-12 px-0">
                <label for="checklistObservacao">Inserir observação: </label>
                <textarea pTextarea
                          class="w-full"
                          name="checklistObservacao"
                          id="checklistObservacao"
                          [(ngModel)]="checklistObservacao"
                          [rows]="2"></textarea>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<div class="formgrid grid">
    <!-- Foto -->
    <div class="lg:col-3 md:col-3 col-12 px-0 flex overflow-hidden">
        <p-fileupload
                      #fileUpload
                      class="w-full"
                      styleclass="gap-0 w-full"
                      name="myfile[]"
                      accept="image/*"
                      (onSelect)="onSelectedFiles($event)"
                      styleClass="border-none"
                      [showUploadButton]="false"
                      [showCancelButton]="false"
                      [chooseStyleClass]="'hidden'"
                      headerTemplate="">
            <ng-template #content
                         let-files
                         let-uploadedFiles="uploadedFiles"
                         let-removeFileCallback="removeFileCallback"
                         let-removeUploadedFileCallback="removeUploadedFileCallback">
            </ng-template>
            <ng-template #file>
                <div class="w-full flex flex-column align-items-center justify-content-center">
                    <p-button (onClick)="choose(fileUpload)"
                              icon="pi pi-images"
                              [rounded]="true"
                              label="Selecionar foto"
                              size="small"
                              class="-mb-5 relative z-2" />
                    <div class="flex align-items-center justify-content-center relative  md:w-full w-16rem">
                        <div *ngIf="loadingFile" class="w-full flex align-items-center justify-content-center absolute z-1">
                            <div class="border-circle border-1 border-100 bg-black-alpha-50 cursor-default overflow-hidden w-full" style="padding-top: 100%; height: 0"></div>
                            <i class="pi pi-spin pi-spinner text-white absolute z-1 text-4xl" style="font-size: 2rem"></i>
                        </div>
                        <div id="divImage" class="border-circle border-1 border-primary-500 cursor-pointer overflow-hidden w-full relative z-0 bg-cover bg-center bg-no-repeat"
                             [ngStyle]="{ paddingTop: '100%', height: '0', backgroundImage: 'url(' + object.aluno_Foto + ')' }">
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #empty>
                <div class="w-full flex flex-column align-items-center justify-content-center">
                    <p-button (onClick)="choose(fileUpload)"
                              icon="pi pi-images"
                              [rounded]="true"
                              label="Selecionar foto"
                              size="small"
                              class="-mb-5 relative z-2" />
                    <div class="flex align-items-center justify-content-center relative md:w-full w-16rem" (click)="choose(fileUpload)">
                        <div *ngIf="loadingFile" class="w-full flex align-items-center justify-content-center absolute z-1">
                            <div class="border-circle border-1 border-100 bg-black-alpha-50 cursor-default overflow-hidden w-full" style="padding-top: 100%; height: 0"></div>
                            <i class="pi pi-spin pi-spinner text-white absolute z-1 text-4xl" style="font-size: 2rem"></i>
                        </div>
                        <ng-template [ngIf]="!object.aluno_Foto">
                            <div class="bg-white hover:shadow-1 border-circle border-1 border-100 hover:border-primary-500 hover:surface-50 cursor-pointer  overflow-hidden w-full relative z-0" style="padding-top: 100%; height: 0"></div>
                            <i *ngIf="!loadingFile" class="pi pi-user absolute  md:text-7xl sm:text-4xl text-7xl text-300 hover:text-400"></i>
                        </ng-template>
                        <ng-template [ngIf]="object.aluno_Foto">
                            <div id="divImage" class="border-circle border-1 border-primary-500 cursor-pointer overflow-hidden w-full relative z-0 bg-cover bg-center bg-no-repeat"
                                 [ngStyle]="{ paddingTop: '100%', height: '0', backgroundImage: 'url(' + object.aluno_Foto + ')' }">
                            </div>
                        </ng-template>
                    </div>
                </div>
            </ng-template>
        </p-fileupload>
    </div>
    <div class="lg:col-9 md:col-9 col-12 px-0 flex align-items-start">
        <p-divider layout="vertical" class="hidden md:block h-full min-h-0 mt-2 mb-5"></p-divider>
        <div class="formgrid grid pl-2 sm:px-3">
            <!-- Nome -->
            <div class="field md:col-4 sm:col-8 col-12"> 
                <label for="nome">Nome: <span class="text-red-500">*</span></label>
                <input type="text"
                       pInputText
                       #nome="ngModel"
                       [(ngModel)]="object.nome"
                       id="nome"
                       name="nome"
                       class="w-full"
                       [required]="true">
                <div *ngIf="nome.touched && nome.invalid && nome.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="nome.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- Data de Nascimento -->
            <div class="field md:col-3 sm:col-4 col-4">
                <label for="dataNascimento">Data de Nascimento: <span class="text-red-500">*</span></label>
                <p-datepicker
                              #dataNascimento="ngModel"
                              [(ngModel)]="object.dataNascimento"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              [selectOtherMonths]="true"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              inputId="dataNascimento"
                              name="dataNascimento"
                              class="w-full"
                              inputStyleClass="w-full"
                              styleClass="w-full"
                              [required]="true"
                              appendTo="body" />
                <div *ngIf="dataNascimento.touched && dataNascimento.invalid && dataNascimento.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataNascimento.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- Data de Cadastro -->
            <div class="field md:col-3 sm:col-6 col-4">
                <label for="created">Data de Cadastro: </label>
                <input type="text"
                       pInputText
                       [value]="object.created | date : 'dd/MM/yyyy'"
                       id="created"
                       name="created"
                       class="w-full"
                       readonly>
            </div>
             <!-- RM -->
            <div class="field md:col-2 sm:col-6 col-4">
                <label for="rm">RM <small class="text-400 line-height-1">(Registro de Matrícula)</small>: </label>
                <input type="text"
                       pInputText
                       #rm="ngModel"
                       [(ngModel)]="object.rm"
                       id="rm"
                       name="rm"
                       class="w-full"
                       readonly>
            </div>

             <!-- Telefone -->
            <div class="field lg:col-3 sm:col-3 xs:col-6 col-12">
                <label for="telefone">Telefone: <span class="text-red-500">*</span></label>
                <p-inputmask
                             #telefone="ngModel"
                             [(ngModel)]="object.telefone"
                             mask="+99 (99) 9999-9999"
                             placeholder="+55 (99) 9999-9999"
                             [autoClear]="true"
                             id="telefone"
                             name="telefone"
                             class="w-full"
                             styleClass="w-full"
                             [required]="true" />
                <div *ngIf="telefone.touched && telefone.invalid && telefone.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="telefone.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- Celular -->
            <div class="field lg:col-3 sm:col-3 xs:col-6 col-12">
                <label for="celular">Celular: <span class="text-red-500">*</span></label>
                <p-inputmask
                             #celular="ngModel"
                             [(ngModel)]="object.celular"
                             mask="+99 (99) 9.9999-9999"
                             placeholder="+55 (99) 9.9999-9999"
                             [autoClear]="true"
                             id="celular"
                             name="celular"
                             class="w-full"
                             styleClass="w-full"
                             [required]="true" />
                <div *ngIf="celular.touched && celular.invalid && celular.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="celular.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- E-mail -->
            <div class="field sm:col-6 col-12">
                <label for="email">E-mail: <span class="text-red-500">*</span></label>
                <input type="text"
                       pInputText
                       [email]="true"
                       #email="ngModel"
                       [(ngModel)]="object.email"
                       id="email"
                       name="email"
                       class="w-full"
                       [required]="true"
                       placeholder="example@gmail.com">
                <div *ngIf="email.touched && email.invalid && email.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>

             <!-- Início Vigência -->
            <div class="field md:col-4 sm:col-4 col-12">
                <label for="dataInicioVigencia">Início Vigência: <span class="text-red-500">*</span></label>
                <p-datepicker
                              #dataInicioVigencia="ngModel"
                              [(ngModel)]="object.dataInicioVigencia"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              [selectOtherMonths]="true"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              inputId="dataInicioVigencia"
                              name="dataInicioVigencia"
                              class="w-full"
                              inputStyleClass="w-full"
                              styleClass="w-full"
                              [required]="true"
                              appendTo="body" />
                <div *ngIf="dataInicioVigencia.touched && dataInicioVigencia.invalid && dataInicioVigencia.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataInicioVigencia.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- Fim Vigência -->
            <div class="field md:col-4 sm:col-4 col-12">
                <label for="dataFimVigencia">Fim Vigência: </label>
                <p-datepicker
                              #dataFimVigencia="ngModel"
                              [(ngModel)]="object.dataFimVigencia"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              [selectOtherMonths]="true"
                              [minDate]="minDate"
                              inputId="dataFimVigencia"
                              name="dataFimVigencia"
                              class="w-full"
                              inputStyleClass="w-full"
                              styleClass="w-full"
                              [required]="false"
                              appendTo="body" />
            </div>
            <!-- Primeira Aula -->
            <div class="field md:col-4 sm:col-4 col-12">
                <label for="primeiraAula">Primeira Aula: </label>
                <p-datepicker
                              #primeiraAula="ngModel"
                              [(ngModel)]="object.primeiraAula"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              [showTime]="true"
                              [selectOtherMonths]="true"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              inputId="primeiraAula"
                              name="primeiraAula"
                              class="w-full"
                              inputStyleClass="w-full"
                              styleClass="w-full"
                              [required]="false"
                              appendTo="body" />
            </div>

             <!-- Gênero -->
            <div class="field sm:col-3 col-12">
                <label for="pessoa_Sexo_Id">Gênero: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="sexos"
                          [(ngModel)]="object.pessoa_Sexo_Id"
                          [loading]="loadingSexos"
                          #pessoa_Sexo_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="pessoa_Sexo_Id"
                          inputId="pessoa_Sexo_Id"
                          optionLabel="nome"
                          optionValue="id"
                          [showClear]="true"
                          appendTo="body"
                          [required]="true" />
                <div *ngIf="pessoa_Sexo_Id.touched && pessoa_Sexo_Id.invalid && pessoa_Sexo_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="pessoa_Sexo_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- Restrições -->
            <div class="field sm:col-4 col-12">
                <label for="restricoes">Restrições: </label>
                <p-iconfield>
                    <p-inputicon *ngIf="loadingRestricoes" styleClass="pi pi-spin pip-spinner"  />
                    <input type="text"
                           pInputText
                           [value]="restricoesText"
                           id="restricoes"
                           name="restricoes"
                           class="w-full"
                           [ngClass]="{ 'pointer-events-none': isEditPage == false }"
                           [required]="true"
                           placeholder="Selecione"
                           [disabled]="!isEditPage"
                           [readonly]="true"
                           (focus)="isEditPage ? restricoes.show($event) : undefined"
                           (onBlur)="isEditPage ? restricoes.hide() : undefined">
                </p-iconfield>
                <p-popover #restricoes styleClass="-mt-1">
                    <div class="p-2 border-bottom-1 border-200 ">
                        <p-iconfield>
                                <input type="text"
                                    pInputText
                                    #restricao
                                    id="restricao"
                                    name="restricao"
                                    class="w-full"
                                    [required]="true"
                                    (keyup.enter)="cadastrarRestricao($event, restricao)"
                                    placeholder="Inserir nova restrição...">
                                <p-inputicon >
                                    <span class="text-primary-500 cursor-pointer hover:text-primary-600 hover:bg-primary-100 p-1 px-2 border-round-md -mr-2" (click)="cadastrarRestricao($event, restricao)">enter</span>
                                </p-inputicon>
                        </p-iconfield>
                        <div class="">
                            <ng-container *ngIf="object.restricoes && object.restricoes.length; else restricoesEmptyTemplate">
                                <ng-container *ngFor="let item of object.restricoes; let i = index">
                                    <div class="flex align-items-center gap-2 p-2" [ngClass]="{
                                        'surface-50': i % 2 == 0
                                    }" >
                                       <p-checkbox 
                                           [name]="'active-' + i"
                                           [inputId]="'active-' + i"
                                           #checkbox="ngModel"
                                           [(ngModel)]="item.active" 
                                           [binary]="true"
                                           (onChange)="toggleRestricao($event, item, checkbox)" />
       
                                       <p>{{item.descricao}}</p>
                                   </div>
                                </ng-container>
                            </ng-container>
                            <ng-template #restricoesEmptyTemplate>
                                <p class="text-500 mt-2">Nenhuma restrição inserida</p>
                            </ng-template>
                            
                    
                        </div>
                    </div>
                </p-popover>
                <div class="flex align-itens-center gap-2 mt-2">
                    <p-checkbox inputId="restricaoMobilidade"
                        name="restricaoMobilidade"
                        #restricaoMobilidade="ngModel"
                        [(ngModel)]="object.restricaoMobilidade" 
                        [binary]="true" />
                    <label for="restricaoMobilidade">Mobilidade reduzida</label>
                </div>
            </div>
            <!-- Etapa da jornada -->
            <div class="field sm:col-5 col-12">
                <label for="etapaChecklist">Etapa da jornada: </label>
                <input type="text"
                       pInputText
                       [value]="object.checklist ?? textoChecklist"
                       class="w-full"
                       readonly
                       [required]="true"
                       [disabled]="!isEditPage"
                       (onBlur)="checklistPopover.hide()"
                       (click)="checklistPopover.show($event) ">
                    <p-popover #checklistPopover appendTo="body">
                        <div [style]="{ maxHeight: '50vh', height: '50vh', width: '350px' }" class="overflow-auto">
                            <ng-container *ngFor="let checklist of object.checklistCompleto">
                                <div class="my-2" *ngIf="checklist">
                                    <div class="flex p-2 " 
                                    [ngClass]="{
                                        'bg-orange-100': checklist.id == object.checklist_Id,
                                        'bg-red-200': checklist.atrasados.length > 0 && checklist.id != object.checklist_Id,
                                        'surface-50': checklist.id != object.checklist_Id,
                                    }">
                                        <p ><b>{{checklist.nome}}</b></p>
                                        <p class="ml-2"> - Prazo: <b>{{checklist.prazo | date : 'dd/MM/yyyy'}}</b></p>
                                        <p class="pl-2 ml-auto text-orange-500" *ngIf="checklist.id == object.checklist_Id"> Em Andamento <i class="pi pi-hourglass ml-2"></i> </p>
                                        <p class="pl-2 ml-auto text-red-500" *ngIf="checklist.atrasados.length > 0 && checklist.id != object.checklist_Id"> Atrasado <i class="pi pi-times ml-2"></i> </p>
                                        <p class="pl-2 ml-auto text-green-500" *ngIf="checklist.finalizados.length == checklist.items.length && checklist.id != object.checklist_Id"> Finalizado <i class="pi pi-check-circle ml-2"></i> </p>
                                    </div>
                                    <ng-container *ngFor="let checklistItem of checklist.items">
                                        <div class="flex flex-column align-items-start">
                                            <div class="inline-flex align-items-center gap-2 my-1 w-min-content pr-3" [pTooltip]="checklistItem.account_Finalizacao && checklistItem.dataFinalizacao ? finalizadoTooltip: undefined">
                                                
                                                <p-checkbox *ngIf="!checklistItem.finalizado" 
                                                [inputId]="'checklistitem-' + checklistItem.id"
                                                [name]="'checklistitem-' + checklistItem.id"
                                                
                                                #checkboxModel="ngModel"
                                                    [(ngModel)]="checklistItem.finalizado"
                                                    [binary]="true"
                                                    (ngModelChange)="finalizarChecklist($event, checklistItem, checkboxModel)"/>
                                                <div *ngIf="checklistItem.finalizado" class="p-checkbox p-checkbox-checked p-highlight pointer-events-none">
                                                    <div class="p-checkbox-box">
                                                        <i class="pi pi-check p-checkbox-icon "></i>
                                                    </div>
                                                </div>
                                                <label class="font-medium" [for]="'checklistitem-' + checklistItem.id">{{ checklistItem.nome }}</label>
                                                
                                              <ng-template #finalizadoTooltip>
                                                  <p class="ml-auto pl-2" *ngIf="checklistItem.account_Finalizacao && checklistItem.dataFinalizacao" >Finalizado por <b>{{checklistItem.account_Finalizacao}}</b> em <b>{{checklistItem.dataFinalizacao | date : 'dd/mm/yy'}}</b></p>
                                              </ng-template>
      
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                            

                        </div>
                       </p-popover>
            </div>

             <!-- Endereço -->
            <div class="field col-12">
                <label for="endereco">Endereço: </label>
                <input type="text"
                       pInputText
                       #endereco="ngModel"
                       [(ngModel)]="object.endereco"
                       id="endereco"
                       name="endereco"
                       class="w-full">
                <div *ngIf="endereco.touched && endereco.invalid && endereco.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="endereco.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>

             <!-- Turma -->
            <div class="field md:col-3 sm:col-6 col-12">
                <label for="turma_Id">Turma: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="turmas"
                          [(ngModel)]="selectedTurma"
                          [loading]="loadingTurmas"
                          #turma_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="turma_Id"
                          inputId="turma_Id"
                          optionLabel="nome"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          optionDisabled="deactivated"
                          (onChange)="turmaChanged(turma_Id, $event)"
                          [required]="true">
                    <ng-template let-item #item>
                        <div class="flex align-items-center justify-content-between w-full gap-2">
                            <div class="w-full">
                                <p class="font-bold">{{ item.nome }}</p>
                                <div class="flex align-items-center justify-content-between mt-1">
                                    <p class="text-sm">
                                        <span class="w-1rem h-1rem inline-flex mr-1 border-circle" [style]="{ backgroundColor: item.corLegenda }"></span>
                                        <span>{{ item.professor }}</span>
                                    </p>
                                    <span>{{ item.capacidadeMaximaAlunos - item.alunosAtivos }} vagas</span>
                                    <p class="text-sm">{{item.perfilCognitivo[0].nome}}</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="turma_Id.touched && turma_Id.invalid && turma_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="turma_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- Professor -->
            <div class="field md:col-3 sm:col-6 col-12">
                <label for="professor">Professor: </label>
                <input type="text"
                       pInputText
                       [value]="object.professor"
                       id="professor"
                       name="professor"
                       class="w-full"
                       readonly>
            </div>
             <!-- Perfil Cognitivo -->
            <div class="field md:col-3 sm:col-6 col-12">
                <label for="perfilCognitivo_Id">Perfil Cognitivo: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="perfisCognitivos"
                          [(ngModel)]="object.perfilCognitivo_Id"
                          [loading]="loadingPerfisCognitivos"
                          #perfilCognitivo_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="perfilCognitivo_Id"
                          inputId="perfilCognitivo_Id"
                          optionLabel="nome"
                          optionValue="id"
                          [showClear]="true"
                          appendTo="body"
                          [required]="true" />
                <div *ngIf="perfilCognitivo_Id.touched && perfilCognitivo_Id.invalid && perfilCognitivo_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="perfilCognitivo_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
             <!-- KIT Apostila -->
            <div class="field md:col-3 sm:col-6 col-12">
                <label for="apostila_Kit_Id">Kit Apostila</label>
                <p-select
                          [options]="kits"
                          [(ngModel)]="selectedKit"
                          (onChange)="kitChanged(apostila_Kit_Id, $event)"
                          [loading]="loadingKits"
                          #apostila_Kit_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="apostila_Kit_Id"
                          inputId="apostila_Kit_Id"
                          optionLabel="nome"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          optionDisabled="deactivated"
                          [required]="true">
                    <ng-template let-item #item>
                        <div class="flex flex-column">
                            <p class="font-bold">{{ item.nome }}</p>
                            <div class="flex flex-column">
                                <p class="font-bold">Apostilas:</p>
                                <p *ngFor="let apostila of item.apostilas">
                                    <span>{{apostila.nome}} - <b>Total de Páginas </b>{{apostila.numeroTotalPaginas}}</span>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="apostila_Kit_Id.touched && apostila_Kit_Id.invalid && apostila_Kit_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="apostila_Kit_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>

             <!-- Apostila Ábaco -->
            <div class="field md:col-3 sm:col-6 col-12">
                <label for="apostila_Abaco">Apostila Ábaco: </label>
                <input type="text"
                       pInputText
                       [value]="object.apostila_Abaco"
                       id="apostila_Abaco"
                       name="apostila_Abaco"
                       class="w-full"
                       readonly>
            </div>
             <!-- Página -->
            <div class="field md:col-3 sm:col-6 col-12">
                <label for="numeroPaginaAbaco">Página: </label>
                <input type="text"
                       pInputText
                       [value]="object.numeroPaginaAbaco"
                       id="numeroPaginaAbaco"
                       name="numeroPaginaAbaco"
                       class="w-full"
                       readonly>
            </div>
             <!-- Apostila AH -->
            <div class="field md:col-3 sm:col-6 col-12">
                <label for="apostila_AH">Apostila AH: </label>
                <input type="text"
                       pInputText
                       [value]="object.apostila_AH"
                       id="apostila_AH"
                       name="apostila_AH"
                       class="w-full"
                       readonly>
            </div>
             <!-- Página -->
            <div class="field md:col-3 sm:col-6 col-12">
                <label for="numeroPaginaAH">Página: </label>
                <input type="text"
                       pInputText
                       [value]="object.numeroPaginaAH"
                       id="numeroPaginaAH"
                       name="numeroPaginaAH"
                       class="w-full"
                       readonly>
            </div>
        </div>
    </div>
</div>
