<ng-container *ngIf="evento && evento.id">
    <app-evento-item-hover #eventoItemHover [evento]="evento" [arg]="arg"></app-evento-item-hover>
    <!-- FERIADO -->
    <ng-container *ngIf="evento.evento_Tipo_Id == EventoTipo.Feriado">
        <div class="event"
                (mouseenter)="eventoItemHover.show($event)"
                (mouseleave)="eventoItemHover.hide()"
                [style]="{ backgroundColor: arg.backgroundColor, borderColor: arg.backgroundColor, color: arg.textColor, zIndex: arg.zIndex }">
            <p>Feriado</p>
            <p>{{evento.descricao}}</p>
        </div>
    </ng-container>
    
    <!-- AULA E AULA EXTRA -->
    <ng-container *ngIf="[EventoTipo.Aula, EventoTipo.AulaExtra].includes(evento.evento_Tipo_Id)">
        <div class="event"
                cdkDropList
                [cdkDropListSortingDisabled]="true"
                [cdkDropListData]="evento.alunos"
                (cdkDropListDropped)="cdkDropListDropped($event)"
                [cdkDropListConnectedTo]="['alunos']"
                [id]="arg.event?.id"
                (mouseenter)="eventoItemHover.show($event)"
                (mouseleave)="eventoItemHover.hide()"
                (click)="eventoClick($event)"
                [style]="{ backgroundColor: arg.backgroundColor, borderColor: arg.backgroundColor, color: arg.textColor, zIndex: arg.zIndex, }"
                >
            <ng-container *ngTemplateOutlet="eventHeader"></ng-container>
            <ng-container *ngTemplateOutlet="eventBody"></ng-container>
            <ng-container *ngTemplateOutlet="eventFooter"></ng-container>
        </div>
                <!--  -->
    </ng-container>
    
    <!-- OFICINA, REUNIÃO, SUPERAÇÃO, AULA ZERO -->
    <ng-container *ngIf="[EventoTipo.Oficina, EventoTipo.Reuniao, EventoTipo.Superacao, EventoTipo.AulaZero].includes(evento.evento_Tipo_Id)">
        <div class="event"
                (mouseenter)="eventoItemHover.show($event)"
                (mouseleave)="eventoItemHover.hide()"
                (click)="eventoClick($event)"
                [style]="{ backgroundColor: arg.backgroundColor, borderColor: arg.backgroundColor, color: arg.textColor }"
                [ngClass]="{
                    'event-superacao': EventoTipo.Superacao == evento.evento_Tipo_Id,
                    'event-aula-zero': EventoTipo.AulaZero == evento.evento_Tipo_Id,
                    'event-reuniao': EventoTipo.Oficina == evento.evento_Tipo_Id,
                    'event-oficina': EventoTipo.Reuniao == evento.evento_Tipo_Id,
                }">
            <ng-container *ngTemplateOutlet="eventHeader"></ng-container>
            <ng-container *ngTemplateOutlet="eventBody"></ng-container>
            <ng-container *ngTemplateOutlet="eventFooter"></ng-container>
        </div>
    </ng-container>
    
    
    
    <ng-template #eventHeader>
        <div class="event-header">
            <i class="pi pi-clock text-xs"></i>
            <span class="text-xs mr-auto">{{setHorario(evento.data)}}</span>
            <ng-container *ngIf="evento.evento_Tipo_Id != EventoTipo.Reuniao">
                <ng-template #professorTemplate let-professor="professor">
                    <p class="text-xs m-0">{{professor}}</p>
                </ng-template>
                <ng-container *ngIf="evento.professor">
                    <ng-container *ngTemplateOutlet="professorTemplate; context: { professor: evento.professor }"></ng-container>
                </ng-container>
                <ng-container *ngIf="!evento.professor && evento.professores.length > 0">
                    <ng-container *ngTemplateOutlet="professorTemplate; context: { professor: evento.professores[0].nome }"></ng-container>
                </ng-container>
            </ng-container>
        </div>
    </ng-template>
    <ng-template #eventBody>
        <div class="event-body">
            <ng-template [ngIf]="evento.reagendamentoDe_Evento_Id">
                <span class="event-reagendamento-icon" [pTooltip]="'Reagendamento: clique para ver mais'">R</span>
            </ng-template>
            <div class="w-full">
                <p class="event-descricao">{{evento.descricao}}</p>
                <ng-container *ngIf="evento.sala_Id">
                    <p class="event-sala">
                        <ng-container *ngTemplateOutlet="salaTemplate"></ng-container>
                    </p>
                    <ng-template #salaTemplate>
                        <span class="pr-1 font-bold">Sala: </span>
                        <app-sala-aula [numeroSala]="evento.numeroSala"
                                       [andar]="evento.andar"
                                       [sala_Id]="evento.sala_Id"></app-sala-aula>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </ng-template>
<ng-template #eventFooter>
  <div class="event-footer flex-column">
    
    <!-- Se Finalizado, mostra o ícone de check -->
    <ng-container *ngIf="evento.finalizado else notFinalizado">
      <p class="event-check text-success flex align-items-center gap-1 text-base font-bold">
        <i class="fa fa-check-circle text-lg mr-1"></i> Finalizado
      </p>
    </ng-container>

    <!-- Caso não finalizado, renderiza o conteúdo padrão -->
    <ng-template #notFinalizado>
      <ng-container *ngIf="[EventoTipo.AulaZero, EventoTipo.Superacao].includes(evento.evento_Tipo_Id)">
        <p class="event-alunos text-base mb-0 font-normal">
          <span>{{alunosStr}}</span>
        </p>
      </ng-container>

      <ng-container *ngIf="evento.perfilCognitivo.length > 0">
        <ng-container *ngTemplateOutlet="perfilCognitivoTemplate; context: { perfilCognitivo: getPerfilCognitivo(evento.perfilCognitivo) }"></ng-container>
        <ng-template #perfilCognitivoTemplate let-perfilCognitivo="perfilCognitivo">
          <p class="event-perfil">{{ perfilCognitivo }}</p>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="![EventoTipo.Reuniao, EventoTipo.AulaZero, EventoTipo.Superacao].includes(evento.evento_Tipo_Id)">
        <p class="event-vagas">
          <span [ngSwitch]="evento.capacidadeMaximaAlunos - evento.alunos.length">
            <span *ngSwitchCase="evento.capacidadeMaximaAlunos">Nenhum aluno / {{evento.capacidadeMaximaAlunos}} vagas</span>
            <span *ngSwitchCase="0">Não há vagas / {{evento.alunos.length}} alunos</span>
            <span *ngSwitchCase="1">1 vaga / {{evento.alunos.length}} alunos</span>
            <span *ngSwitchDefault>{{evento.capacidadeMaximaAlunos - evento.alunos.length}} vagas / {{evento.alunos.length}} alunos</span>
          </span>
        </p>
      </ng-container>
    </ng-template>

  </div>
</ng-template>

</ng-container>