<ng-container *ngIf="evento && evento.id">
    <app-evento-item-hover #eventoItemHover [evento]="evento" [arg]="arg"></app-evento-item-hover>
    <!-- FERIADO -->
    <ng-container *ngIf="evento.evento_Tipo_Id == EventoTipo.Feriado">
        <div class="event event-feriado"
             (mouseenter)="eventoItemHover.show($event)"
             (mouseleave)="eventoItemHover.hide()"
             [style]="{ backgroundColor: arg.backgroundColor, borderColor: arg.backgroundColor, color: arg.textColor, zIndex: arg.zIndex }">
            <div class="event-header">
                <span>Feriado</span>
            </div>
            <div class="event-body">
                <span class="event-descricao">{{evento.descricao}}</span>
            </div>
        </div>
    </ng-container>
    <!-- AULA E AULA EXTRA -->
    <ng-container *ngIf="[EventoTipo.Aula, EventoTipo.AulaExtra].includes(evento.evento_Tipo_Id)">
        <div class="event"
             [class.event-disabled]="!evento.active"
             cdkDropList
             [cdkDropListSortingDisabled]="true"
             [cdkDropListData]="evento.alunos"
             (cdkDropListDropped)="cdkDropListDropped($event)"
             [cdkDropListConnectedTo]="['alunos']"
             [id]="arg.event?.id"
             (mouseenter)="eventoItemHover.show($event)"
             (mouseleave)="eventoItemHover.hide()"
             (click)="eventoClick($event)"
             [style]="{ backgroundColor: arg.backgroundColor, borderColor: arg.backgroundColor, color: arg.textColor, zIndex: arg.zIndex, }">
            <ng-container *ngTemplateOutlet="eventHeader"></ng-container>
            <ng-container *ngTemplateOutlet="eventBody"></ng-container>
            <ng-container *ngTemplateOutlet="eventFooter"></ng-container>
        </div>
    </ng-container>
    <!-- OFICINA, REUNIÃO, SUPERAÇÃO, AULA ZERO -->
    <ng-container *ngIf="[EventoTipo.Oficina, EventoTipo.Reuniao, EventoTipo.Superacao, EventoTipo.AulaZero].includes(evento.evento_Tipo_Id)">
        <div class="event"
             [class.event-disabled]="!evento.active"
             (mouseenter)="eventoItemHover.show($event)"
             (mouseleave)="eventoItemHover.hide()"
             (click)="eventoClick($event)"
             [style]="{ backgroundColor: arg.backgroundColor, borderColor: arg.backgroundColor, color: arg.textColor }"
             [ngClass]="{
                    'event-superacao': EventoTipo.Superacao == evento.evento_Tipo_Id,
                    'event-aula-zero': EventoTipo.AulaZero == evento.evento_Tipo_Id,
                    'event-oficina': EventoTipo.Oficina == evento.evento_Tipo_Id,
                    'event-reuniao': EventoTipo.Reuniao == evento.evento_Tipo_Id,
                }">
            <ng-container *ngTemplateOutlet="eventHeader"></ng-container>
            <ng-container *ngTemplateOutlet="eventBody"></ng-container>
            <ng-container *ngTemplateOutlet="eventFooter"></ng-container>
        </div>
    </ng-container>
    <ng-template #eventHeader>
        <div class="event-header">
            <div class="event-time">
                <i class="pi pi-clock"></i>
                <span>{{setHorario(evento.data)}}</span>
            </div>
            <ng-container *ngIf="evento.evento_Tipo_Id != EventoTipo.Reuniao">
                <div class="event-educador">
                    <span>{{evento.professor}}</span>
                </div>
            </ng-container>
        </div>
    </ng-template>
    <ng-template #eventBody>
        <div class="event-body">
            <span class="event-descricao">{{evento.descricao}}</span>
            <ng-container *ngIf="evento.sala_Id">
                <span class="event-sala">
                    <ng-container *ngTemplateOutlet="salaTemplate"></ng-container>
                </span>
                <ng-template #salaTemplate>
                    <b>Sala: </b>
                    <app-sala-aula [numeroSala]="evento.numeroSala"
                                   [andar]="evento.andar"
                                   [sala_Id]="evento.sala_Id"></app-sala-aula>
                </ng-template>
            </ng-container>
        </div>
    </ng-template>
    <ng-template #eventFooter>
        <div class="event-footer">
            <!-- Se Cancelado -->
            <ng-container *ngIf="!evento.active; else checkFinalizado">
                <span class="event-cancelado">
                    <i class="fa fa-times text-red-500 text-lg"></i>
                    <span>Cancelado</span>
                </span>
            </ng-container>
            <!-- Se Finalizado -->
            <ng-template #checkFinalizado>
                <ng-container *ngIf="evento.finalizado; else notFinalizado">
                    <span class="event-finalizado">
                        <i class="fa fa-check-circle"></i>
                        <span>Finalizado</span>
                    </span>
                </ng-container>
            </ng-template>
            <!-- Caso não finalizado, renderiza o conteúdo padrão -->
            <ng-template #notFinalizado>
                <ng-container *ngIf="[EventoTipo.AulaZero, EventoTipo.Superacao].includes(evento.evento_Tipo_Id)">
                    <span class="event-alunos">
                        <span>{{ alunosStr }}</span>
                    </span>
                </ng-container>
                <ng-container *ngIf="evento.perfilCognitivo.length > 0">
                    <span class="event-perfil">
                        <!-- <span class="fa fa-brain"></span> -->
                        {{ getPerfilCognitivo(evento.perfilCognitivo) }}
                    </span>
                </ng-container>
                <ng-container *ngIf="![EventoTipo.Reuniao, EventoTipo.AulaZero, EventoTipo.Superacao].includes(evento.evento_Tipo_Id)">
                    <span class="event-vagas">
                        <ng-container *ngIf="evento.vagas < 0">
                            <span class="text-red-500 fadeout animation-iteration-infinite">
                                <i class="pi pi-times-circle"></i>
                            </span>
                            <span>{{evento.capacidadeMaximaAlunos}}</span>
                        </ng-container>
                        <ng-container *ngIf="evento.vagas == 0">Não há vagas</ng-container>
                        <ng-container *ngIf="evento.vagas == 1">1 vaga</ng-container>
                        <ng-container *ngIf="evento.vagas > 1">{{evento.vagas}} vagas</ng-container>
                        <span class="font-bold">/</span>
                        <ng-container *ngIf="evento.alunos.length == 0">Nenhum aluno</ng-container>
                        <ng-container *ngIf="evento.alunos.length == 1">1 aluno</ng-container>
                        <ng-container *ngIf="evento.alunos.length > 1">{{evento.alunos.length}} alunos</ng-container>
                    </span>
                </ng-container>
            </ng-template>
        </div>
    </ng-template>
</ng-container>