<ng-container *ngIf="aluno">
    <div class="flex align-items-center gap-2 white-space-nowrap">
        <ng-container *ngIf="atrasado">
            <div>
                <!-- Atrasado -->
                <span pTooltip="Esse aluno está atrasado na jornada">
                    <i class="pi pi-times-circle text-red-500 fadeout animation-duration-300 animation-iteration-infinite"></i>
                </span>
            </div>
        </ng-container>
        <ng-container *ngIf="checklist">
            <div class="font-bold" *ngIf="!atrasado">
                <!-- Finalizado -->
                <i *ngIf="checklist.finalizados.length == checklist.items.length"
                   pTooltip="Finalizado"
                   class="pi pi-check-circle text-green-500"></i>
                <!-- Atrasado -->
                <span *ngIf="checklist.atrasados.length > 0 && checklist.finalizados.length < checklist.items.length"
                      pTooltip="Atrasado">
                    <span>{{checklist.finalizados.length}}/{{checklist.items.length}}</span>
                    <i class="pi pi-times-circle text-red-500 fadeout animation-duration-300 animation-iteration-infinite"></i>
                </span>
                <!-- Pendentes da Semana -->
                <span *ngIf="checklist.pendentesDaSemana.length > 0 && checklist.finalizados.length < checklist.items.length"
                      pTooltip="Em andamento">
                    <span>{{checklist.finalizados.length}}/{{checklist.items.length}}</span>
                    <i class="pi pi-exclamation-triangle text-orange-500"></i>
                </span>
            </div>
            <span>{{checklist.nome }}</span>
        </ng-container>
        <ng-container *ngIf="!checklist">
            <span>{{textoChecklist }}</span>
        </ng-container>
        <ng-container *ngIf="loading">
            <div pTooltip="Carregando">
                <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
            </div>
        </ng-container>
    </div>
</ng-container>
<p-popover #popover styleClass="-mt-1 mx-w-screen" [dismissable]="true" (onShow)="onPopoverShow()">
    <p-tabs [value]="checklistIndex" scrollable #tabs [scrollLeft]="scrollLeft">
        <p-tablist style="max-width: 50rem;">
            <p-tab *ngFor="let checklist of aluno.checklistCompleto"
                   [value]="checklist.id"
                   #tab>
                <div class="flex align-items-center ">
                    <span>{{checklist.nome}} </span>
                    <div *ngIf="!loading" class="ml-2 font-bold">
                        <!-- Finalizado -->
                        <i *ngIf="checklist.finalizados.length == checklist.items.length"
                           pTooltip="Finalizado"
                           class="pi pi-check-circle text-green-500"></i>
                        <!-- Atrasado -->
                        <span *ngIf="checklist.atrasados.length > 0 && checklist.finalizados.length < checklist.items.length"
                              pTooltip="Atrasado"> {{checklist.finalizados.length}}/{{checklist.items.length}} <i class="pi pi-times-circle text-red-500 ml-2 fadeout animation-duration-300 animation-iteration-infinite"></i>
                        </span>
                        <!-- Pendentes da Semana -->
                        <span *ngIf="checklist.pendentesDaSemana.length > 0 && checklist.finalizados.length < checklist.items.length"
                              pTooltip="Em andamento"> {{checklist.finalizados.length}}/{{checklist.items.length}} <i class="pi pi-hourglass text-orange-500 ml-2"></i>
                        </span>
                    </div>
                </div>
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel *ngFor="let checklist of aluno.checklistCompleto" [value]="checklist.id">
                <div class="w-full">
                    <p class="mb-2">Prazo máximo: <b>{{checklist.prazo | date : 'dd/MM/yyyy'}}</b></p>
                    <ul class="p-0 ml-0">
                        <li *ngFor="let checklistItem of checklist.items"
                            (mouseenter)="checklistData.show($event)"
                            (mouseleave)="checklistData.hide()"
                            class="flex align-items-center gap-2 py-1">
                            <p-checkbox #checkbox
                                        [inputId]="'checklistitem-' + checklistItem.id"
                                        [name]="'checklistitem-' + checklistItem.id"
                                        #finalizado="ngModel"
                                        [(ngModel)]="checklistItem.finalizado"
                                        [styleClass]="checklistItem.finalizado ? 'cursor-auto' : ''"
                                        [binary]="true"
                                        [readonly]="checklistItem.finalizado"
                                        (ngModelChange)="checkboxChange(checklistItem, checklist, finalizado, $event)" />
                            <div>
                                <label class="font-medium" [for]="'checklistitem-' + checklistItem.id">{{ checklistItem.nome }}</label>
                            </div>
                            <p-popover #checklistData styleClass="-mt-1">
                                <p>Prazo máximo: {{checklistItem.prazo | date : 'dd/MM/yyyy' }}</p>
                                <ng-template [ngIf]="checklistItem.finalizado">
                                    <p *ngIf="checklistItem.dataFinalizacao">Finalizado em {{checklistItem.dataFinalizacao | date : 'dd/MM/yyyy' }}</p>
                                    <p *ngIf="checklistItem.account_Finalizacao">Finalizado por {{checklistItem.account_Finalizacao }}</p>
                                </ng-template>
                                <p class="mt-2">Observações: </p>
                                <p *ngIf="checklistItem.observacoes">{{checklistItem.observacoes}}</p>
                                <p *ngIf="!checklistItem.observacoes" class="text-500">Nenhuma observação</p>
                            </p-popover>
                        </li>
                    </ul>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-popover>