<app-confirm-dialog></app-confirm-dialog>
<p-dialog [header]="isEditPage ? 'Editar'  : 'Cadastrar'"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '650px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title">{{isEditPage ? 'Editar' : 'Cadastrar'}}</span>
            <p-button *ngIf="isEditPage"
                      class="ml-auto"
                      type="button"
                      icon="pi pi-exclamation-circle"
                      size="large"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      (onClick)="op.toggle($event)" />
            <p-popover #op styleClass="popover-styled surface-900 border-900 white-space-nowrap text-white min-w-20rem">
                <div class="px-2">
                    <h3 class="text-xl mb-2">Informações Adicionais</h3>
                    <table class="w-full">
                        <tr *ngIf="object.created">
                            <td class="p-1"><b>Cadastrado em</b></td>
                            <td class="p-1 pl-3 text-right">{{object.created | date : 'dd/MM/yyyy \'às\' HH\'h\'mm'}}</td>
                        </tr>
                        <tr *ngIf="object.account_Created">
                            <td class="p-1"><b>Cadastrado por</b></td>
                            <td class="p-1 pl-3 text-right">{{ object.account_Created }}</td>
                        </tr>
                        <tr *ngIf="object.lastUpdated">
                            <td class="p-1"><b>Última atualização</b></td>
                            <td class="p-1 pl-3 text-right">{{object.lastUpdated | date : 'dd/MM/yyyy \'às\' HH\'h\'mm'}}</td>
                        </tr>
                        <tr *ngIf="object.deactivated">
                            <td class="p-1"><b>Inativo em</b></td>
                            <td class="p-1 pl-3 text-right">{{object.deactivated | date : 'dd/MM/yyyy \'às\' HH\'h\'mm'}}</td>
                        </tr>
                    </table>
                </div>
            </p-popover>
        </div>
    </ng-template>
    <form (ngSubmit)="sendConfirmation(form, $event)" #form="ngForm" #divForm>
        <div class="formgrid grid">
            <div class="field lg:col-6 sm:col-6 col-12"> <!-- Nome -->
                <label for="nome">Nome: <span class="text-red-500">*</span></label>
                <p-iconfield>
                    <p-inputicon class="fa fa-users-between-lines" />
                    <input type="text"
                           pInputText
                           #nome="ngModel"
                           [(ngModel)]="object.nome"
                           id="nome"
                           name="nome"
                           class="w-full"
                           [required]="true">
                </p-iconfield>
                <div *ngIf="nome.touched && nome.invalid && nome.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="nome.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field lg:col-3 sm:col-3 col-6"> <!-- Dias de Aula -->
                <label for="diaSemana">Dias de Aula: <span class="text-red-500">*</span></label>
                <p-select [options]="diasSemana"
                          [(ngModel)]="object.diaSemana"
                          (onBlur)="verificaDisponibilidade()"
                          #diaSemana="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="diaSemana"
                          inputId="diaSemana"
                          optionLabel="label"
                          optionValue="id"
                          [showClear]="true"
                          appendTo="body"
                          [required]="true" />
                <div *ngIf="diaSemana.touched && diaSemana.invalid && diaSemana.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="diaSemana.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field lg:col-3 sm:col-3 col-6"> <!-- Horário -->
                <label for="horario">Horário: <span class="text-red-500">*</span></label>
                <p-datepicker
                              [(ngModel)]="object.horario"
                              (onBlur)="verificaDisponibilidade()"
                              #horario="ngModel"
                              styleClass="w-full"
                              class="w-full"
                              name="horario"
                              inputId="horario"
                              [required]="true"
                              appendTo="body"
                              [iconDisplay]="'input'"
                              [showIcon]="true"
                              [timeOnly]="true"
                              [hourFormat]="'24'"
                              placeholder="hh:mm">
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
                <div *ngIf="horario.touched && horario.invalid && horario.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="horario.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field lg:col-4 sm:col-3 col-6"> <!-- Sala -->
                <label for="sala_Id">Sala: <span class="text-red-500">*</span></label>
                <p-iconfield>
                    <p-inputicon class="fa fa-building" />
                    <p-select
                              [options]="salaAulas"
                              [(ngModel)]="object.sala_Id"
                              [loading]="loadingSalaAulas"
                              (onChange)="salaAulaChanged($event, sala_Id)"
                              #sala_Id="ngModel"
                              name="sala_Id"
                              inputId="sala_Id"
                              optionLabel="descricao"
                              optionValue="id"
                              [required]="true"
                              [filter]="true"
                              filterBy="descricao"
                              appendTo="body"
                              optionDisabled="deactivated"
                              fluid>
                        <ng-template let-item #item>
                            <div class="w-full flex align-items-center justify-content-between">
                                <app-sala-aula [sala_Id]="item.id"
                                               [andar]="item.andar"
                                               [numeroSala]="item.numeroSala"
                                               [descricao]="item.descricao"></app-sala-aula>
                                <p-badge *ngIf="item.disponivel == false"
                                         value="Indisponível"
                                         severity="danger"
                                         [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                            </div>
                            <ng-template #indisponivelTemplate>
                                <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                            </ng-template>
                        </ng-template>
                    </p-select>
                </p-iconfield>
                <div *ngIf="sala_Id.touched && sala_Id.invalid && sala_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['indisponivel']">Sala indisponível.</p>
                </div>
            </div>
            <div class="field lg:col-8 sm:col-4 col-6"> <!-- Educador -->
                <label for="professor_Id">Educador: <span class="text-red-500">*</span></label>
                <p-iconfield>
                    <p-inputicon class="fa fa-person-chalkboard" />
                    <p-select
                              [options]="professores"
                              [(ngModel)]="object.professor_Id"
                              [loading]="loadingProfessores"
                              (onChange)="professorChanged($event, professor_Id)"
                              #professor_Id="ngModel"
                              styleClass="w-full"
                              class="w-full"
                              name="professor_Id"
                              inputId="professor_Id"
                              optionLabel="nome"
                              optionValue="id"
                              [required]="true"
                              [filter]="true"
                              filterBy="nome"
                              appendTo="body"
                              optionDisabled="deactivated">
                        <ng-template #selectedItem let-selectedOption>
                            <div *ngIf="selectedOption">
                                <p class="font-bold mb-1 flex align-items-center ">
                                    <span class="mr-2">{{ selectedOption.nome }}</span>
                                    <app-legend-color [corLegenda]="selectedOption.corLegenda"
                                                      [professor_Id]="selectedOption.id"
                                                      [professor]="selectedOption.nome"></app-legend-color>
                                </p>
                            </div>
                        </ng-template>
                        <ng-template let-item #item>
                            <div class="flex align-items-center justify-content-between w-full gap-2">
                                <div>
                                    <p class="font-bold mb-1 flex align-items-center ">
                                        <app-legend-color [corLegenda]="item.corLegenda"
                                                          [professor_Id]="item.id"
                                                          [professor]="item.nome"></app-legend-color>S <span class="mr-2">{{ item.nome }}</span>
                                        <p-badge *ngIf="item.disponivel == false"
                                                 value="Indisponível"
                                                 severity="danger"
                                                 [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                        <ng-template #indisponivelTemplate>
                                            <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                        </ng-template>
                                    </p>
                                    <ng-container *ngIf="item.expedienteInicio && item.expedienteFim">
                                        <p class="text-sm">Expediente {{item.expedienteInicio | date : 'HH:mm'}} às {{item.expedienteFim | date : 'HH:mm'}}</p>
                                    </ng-container>
                                </div>
                                <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                                       [icon]="(item.active ? 'pi pi-lock-open' : 'pi pi-lock') + ' mr-2 text-sm'"
                                       [value]="item.active ? 'Ativo': 'Inativo'"
                                       [severity]="item.active ? 'success': 'danger'"
                                       [pTooltip]="!item.active ?  'Inativo desde ' + (item.deactivated | date : 'dd/MM/yyyy HH:mm')  : undefined" />
                            </div>
                        </ng-template>
                    </p-select>
                </p-iconfield>
                <div *ngIf="professor_Id.touched && professor_Id.invalid && professor_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="professor_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="professor_Id.errors['indisponivel']">{{professor_Id.errors['indisponivel']}}.</p>
                </div>
            </div>
            <div class="field lg:col-6 sm:col-2 col-6"> <!-- Limite de Alunos -->
                <label for="capacidadeMaximaAlunos">Limite de Alunos: <span class="text-red-500">*</span></label>
                <p-inputnumber
                               #capacidadeMaximaAlunos="ngModel"
                               [(ngModel)]="object.capacidadeMaximaAlunos"
                               id="capacidadeMaximaAlunos"
                               name="capacidadeMaximaAlunos"
                               class="w-full"
                               styleClass="w-full"
                               inputStyleClass="w-full"
                               [required]="true" />
                <div *ngIf="capacidadeMaximaAlunos.touched && capacidadeMaximaAlunos.invalid && capacidadeMaximaAlunos.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="capacidadeMaximaAlunos.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field lg:col-6 sm:col-3 col-6"> <!-- Perfil Cognitivo -->
                <label for="perfilCognitivo">Perfil Cognitivo: <span class="text-red-500">*</span></label>
                <p-multiselect
                               [options]="perfisCognitivos"
                               [(ngModel)]="object.perfilCognitivo"
                               [loading]="loadingPerfisCognitivos"
                               (ngModelChange)="perfilChange(perfilCognitivo)"
                               #perfilCognitivo="ngModel"
                               inputId="perfilCognitivo"
                               name="perfilCognitivo"
                               placeholder="Selecione"
                               optionLabel="nome"
                               [filter]="true"
                               filterBy="nome"
                               [required]="true"
                               styleClass="w-full"
                               appendTo="body" />
                <div *ngIf="perfilCognitivo.touched && perfilCognitivo.invalid && perfilCognitivo.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="perfilCognitivo.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field col-12">
                <label for="linkGrupo" class="white-space-normal overflow-visible">Convite WhatsApp: <span class="text-sm text-400">(Link do Convite para o Grupo da Turma no Whatsapp)</span></label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-whatsapp text-green-500" />
                    <!-- <p-inputicon styleClass="pi pi-link" /> -->
                    <input type="url"
                           pInputText
                           placeholder="Link"
                           name="linkGrupo"
                           id="linkGrupo"
                           #linkGrupo="ngModel"
                           [(ngModel)]="object.linkGrupo"
                           class="w-full" />
                </p-iconfield>
                <p class="text-sm text-primary-500 mt-1 ml-1">Obs.: Esse link será enviado na mensagem de boas-vindas</p>
            </div>
        </div>
        <div class="col-12 px-0 gap-2 flex align-items-center flex-wrap justify-content-between">
            <div class="col">
                <p class="text-red-500" *ngIf="!error"><span class="text-red-600">*</span> Preencha os campos corretamente para salvar.</p>
                <p class="text-red-500" *ngIf="error">{{error}}</p>
            </div>
            <div class="ml-auto">
                <!-- <p-button *ngIf="isEditPage"
                          type="button"
                          (onClick)="goToCalendario()"
                          styleClass="border-2 px-3 mr-2"
                          label="Ver calendário"
                          icon="pi pi-calendar"
                          [rounded]="true"
                          [outlined]="true" /> -->
                <p-button
                          type="submit"
                          [disabled]="form.invalid || loading"
                          styleClass="px-3"
                          label="Salvar"
                          icon="pi pi-check"
                          [loading]="loading"
                          [rounded]="true" />
            </div>
        </div>
    </form>
</p-dialog>