<app-confirm-dialog></app-confirm-dialog>
<!-- Reposição De -->
<div class="field col-12">
    <p-fieldset legend="Reposição da aula">
        <div class="formgrid grid">
            <div class="field sm:col-4 col-12">
                <!-- Select -->
                <ng-container *ngIf="!readonly; else eventoSelecionadoTemplate">
                    <label for="eventoReposicao_Id">Qual aula o aluno deseja repor? <span class="text-red-500">*</span></label>
                    <p-iconfield>
                        <p-inputicon styleClass="fa-solid fa-users-between-lines" />
                        <p-select [options]="list"
                                  [loading]="loading"
                                  name="eventoReposicao_Id"
                                  inputId="eventoReposicao_Id"
                                  #eventoReposicao_Id="ngModel"
                                  [(ngModel)]="evento"
                                  [readonly]="readonly"
                                  [required]="true"
                                  [filter]="true"
                                  filterBy="descricao,turma,professor,data,sala"
                                  optionLabel="descricao"
                                  placeholder="Selecione uma aula para repor"
                                  (onChange)="eventoChanged()"
                                  panelStyleClass="p-select-stripped"
                                  appendTo="body"
                                  fluid>
                            <ng-template #footer>
                                <p class="py-2 px-4">Exibindo {{list.length}} aulas do aluno</p>
                            </ng-template>
                            <ng-template #selectedItem let-selectedOption>
                                <ng-container *ngIf="selectedOption">
                                    <div class="flex align-items-center">
                                        <div class="flex align-items-center gap-2 px-1 text-sm bg-primary-500 border-1 border-primary-500 text-white ">
                                            <span>{{selectedOption.data | date : 'dd/MMM'}}</span>
                                        </div>
                                        <div class="flex align-items-center gap-2 px-1 text-sm bg-white border-1 border-100 text-primary-500 ">
                                            <span>{{selectedOption.data | date : 'HH:mm'}}</span>
                                        </div>
                                        <p class="flex align-items-center gap-1 ml-2">
                                            <span>{{selectedOption.turma ?? selectedOption.descricao}}</span>
                                            <app-legend-color [corLegenda]="selectedOption.corLegenda"
                                                              [professor_Id]="selectedOption.professor_Id"
                                                              [professor]="selectedOption.professor"
                                                              [turma_Id]="selectedOption.turma_Id"></app-legend-color>
                                        </p>
                                    </div>
                                </ng-container>
                            </ng-template>
                            <ng-template let-item #item>
                                <div class="flex gap-2">
                                    <div class="flex flex-column">
                                        <div class="flex align-items-center gap-2 py-1 px-2 text-sm bg-primary-500 text-white ">
                                            <i class="pi pi-calendar text-sm"></i>
                                            <span>{{item.data | date : 'dd/MMM'}}</span>
                                        </div>
                                        <div class="flex align-items-center gap-2 py-1 px-2 text-sm bg-white border-1 border-200 text-primary-500 ">
                                            <i class="pi pi-clock text-sm"></i>
                                            <span>{{item.data | date : 'HH:mm'}}</span>
                                        </div>
                                    </div>
                                    <div class="flex flex-column">
                                        <p class="flex align-items-center gap-2 py-1">
                                            <span>{{item.turma ?? item.descricao}}</span>
                                            <app-legend-color [corLegenda]="item.corLegenda"
                                                              [professor_Id]="item.professor_Id"
                                                              [professor]="item.professor"
                                                              [turma_Id]="item.turma_Id"></app-legend-color>
                                        </p>
                                        <p class="flex align-items-center gap-1 py-1">
                                            <span>{{item.sala}}</span>
                                            <span>-</span>
                                            <span *ngIf="item.andar == SalaAndar.Terreo">Térreo</span>
                                            <span *ngIf="item.andar > SalaAndar.Terreo">{{item.andar}}º andar</span>
                                        </p>
                                    </div>
                                </div>
                            </ng-template>
                        </p-select>
                    </p-iconfield>
                    <div *ngIf="eventoReposicao_Id.touched && eventoReposicao_Id.invalid && eventoReposicao_Id.errors">
                        <p class="text-red-500 mt-2 mb-0" *ngIf="eventoReposicao_Id.errors['required']">Esse campo é obrigatório.</p>
                        <p class="text-red-500 mt-2 mb-0" *ngIf="eventoReposicao_Id.errors['indisponivel']">Aluno indisponível.</p>
                    </div>
                </ng-container>
                <!-- Descrição -->
                <ng-template #eventoSelecionadoTemplate>
                    <label for="descricao">Turma:</label>
                    <p-iconfield>
                        <p-inputicon *ngIf="!loading" styleClass="fa-solid fa-users-between-lines" />
                        <p-inputicon *ngIf="loading" styleClass="pi pi-spinner pi-spin" />
                        <input type="text"
                               pInputText
                               [value]="evento?.descricao"
                               id="descricao"
                               name="descricao"
                               fluid
                               readonly>
                    </p-iconfield>
                </ng-template>
            </div>
            <div class="field sm:col-8 col-12 flex align-items-center p-0">
                <p-divider layout="vertical" class="hidden sm:block" />
                <div class="event-container">
                    <ng-container *ngIf="evento && !loading">
                        <div class="event-row">
                            <!-- Data -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <div class="event-property-icon">
                                        <i class="pi pi-calendar"></i>
                                    </div>
                                    <p class="event-property-description">Data: {{evento.data | date : 'dd \'de\' MMMM'}}</p>
                                </div>
                            </div>
                            <!-- Hora -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <div class="event-property-icon">
                                        <i class="pi pi-clock"></i>
                                    </div>
                                    <p class="event-property-description">Horário: {{evento.data | date : 'HH:mm'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="event-row">
                            <!-- Turma -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <div class="event-property-icon">
                                        <i class="fa-solid fa-users-between-lines"></i>
                                    </div>
                                    <p class="event-property-description">
                                        <span>Turma: {{evento.turma}}</span>
                                        <app-legend-color [corLegenda]="evento.corLegenda"
                                                          [professor_Id]="evento.professor_Id"
                                                          [professor]="evento.professor"
                                                          [turma_Id]="evento.turma_Id"></app-legend-color>
                                    </p>
                                </div>
                            </div>
                            <!-- Sala -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <div class="event-property-icon">
                                        <i class="bi bi-door-closed"></i>
                                    </div>
                                    <p class="event-property-description">
                                        <span>Sala: </span>
                                        <span>{{evento.sala}}</span>
                                        <span>-</span>
                                        <span *ngIf="evento.andar == SalaAndar.Terreo">Térreo</span>
                                        <span *ngIf="evento.andar > SalaAndar.Terreo">{{evento.andar}}º andar</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="event-row">
                            <!-- Roteiro -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <ng-container *ngTemplateOutlet="roteiroTemplate; context: { roteiro: getRoteiro(evento) } "></ng-container>
                                    <ng-template #roteiroTemplate let-roteiro="roteiro">
                                        <ng-container *ngIf="roteiro">
                                            <div class="event-property-icon">
                                                <i class="fa-solid fa-star" [ngStyle]="{ color: roteiro.corLegenda }"></i>
                                            </div>
                                            <p class="event-property-description"> Roteiro: {{roteiro.tema + ' - Semana ' + roteiro.semana}}
                                            </p>
                                        </ng-container>
                                    </ng-template>
                                </div>
                            </div>
                            <!-- Perfil -->
                            <div class="sm:col-5 col-12">
                                <div class="event-property ">
                                    <div class="event-property-icon">
                                        <i class="fa-solid fa-brain"></i>
                                    </div>
                                    <p class="event-property-description"> 
                                        Perfil Cognitivo: {{getPerfilCognitivo(evento)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="loading">
                        <div class="event-row">
                            <!-- Data -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <div class="event-property-icon">
                                        <i class="pi pi-calendar"></i>
                                    </div>
                                    <p class="event-property-description">Data: <p-skeleton class="w-full" height="10px"></p-skeleton></p>
                                </div>
                            </div>
                            <!-- Hora -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <div class="event-property-icon">
                                        <i class="pi pi-clock"></i>
                                    </div>
                                    <p class="event-property-description">Horário: <p-skeleton class="w-full" height="10px"></p-skeleton></p>
                                </div>
                            </div>
                        </div>
                        <div class="event-row">
                            <!-- Turma -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <div class="event-property-icon">
                                        <i class="fa-solid fa-users-between-lines"></i>
                                    </div>
                                    <p class="event-property-description">
                                        <span>Turma: </span>
                                        <p-skeleton class="w-full" height="10px"></p-skeleton>
                                        <p-skeleton width="1rem" height="1rem" shape="circle"></p-skeleton>
                                    </p>
                                </div>
                            </div>
                            <!-- Sala -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <div class="event-property-icon">
                                        <i class="bi bi-door-closed"></i>
                                    </div>
                                    <p class="event-property-description">Sala: <p-skeleton class="w-full" height="10px"></p-skeleton></p>
                                </div>
                            </div>
                        </div>
                        <div class="event-row">
                            <!--Roteiro -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <div class="event-property-icon">
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <p class="event-property-description">Roteiro: <p-skeleton class="w-full" height="10px"></p-skeleton></p>
                                </div>
                            </div>
                            <!-- Perfil -->
                            <div class="sm:col-6 col-12">
                                <div class="event-property">
                                    <div class="event-property-icon">
                                        <i class="fa-solid fa-brain"></i>
                                    </div>
                                    <p class="event-property-description">Perfil Cognitivo: <p-skeleton class="w-full" height="10px"></p-skeleton></p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </p-fieldset>
</div>