<app-aluno-checklist-on-confirm-dialog #alunoChecklistOnConfirmDialog></app-aluno-checklist-on-confirm-dialog>
<p-dialog [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChanged()"
          [style]="{ maxWidth: '95vw', width: '600px' }"
          appendTo="body"
          [draggable]="true"
          [maximizable]="true">
    <ng-template #header>
        <div class="flex align-items-center gap-2">
            <i class="pi pi-check-square text-4xl text-primary"></i>
            <div class="flex flex-column">
                <span class="p-dialog-title">Jornada Supera</span>
                <p>Aluno(a): <b class="text-primary">{{aluno.nome}}</b></p>
            </div>
        </div>
    </ng-template>
    <div class="pb-4">
        <p-tabs *ngIf="aluno && aluno.checklistCompleto"
                [value]="aluno.checklist_Id ?? 1"
                scrollable
                [scrollLeft]="scrollLeft"
                #tabs>
            <p-tablist>
                <p-tab *ngFor="let checklist of aluno.checklistCompleto"
                       [value]="checklist.id"
                       #tab>
                    <div class="flex align-items-center ">
                        <span>{{checklist.nome}} </span>
                        <div *ngIf="!loading"
                             class="ml-2 font-bold">
                            <!-- Finalizado -->
                            <i *ngIf="checklist.itensFinalizados.length == checklist.items.length"
                               pTooltip="Finalizado"
                               class="pi pi-check-circle text-green-500"></i>
                            <!-- Atrasado -->
                            <span *ngIf="checklist.itensAtrasados.length > 0 && checklist.itensFinalizados.length < checklist.items.length"
                                  pTooltip="Atrasado">
                                <span> - {{checklist.itensFinalizados.length}}/{{checklist.items.length}} </span>
                                <i class="pi pi-times-circle text-red-500 ml-2"></i>
                            </span>
                            <!-- Pendentes da Semana -->
                            <span *ngIf="checklist.itensEmAndamento.length > 0 && checklist.itensFinalizados.length < checklist.items.length"
                                  pTooltip="Em andamento">
                                <span> - {{checklist.itensFinalizados.length}}/{{checklist.items.length}}</span>
                                <i class="pi pi-hourglass text-orange-500 ml-2"></i>
                            </span>
                        </div>
                    </div>
                </p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel *ngFor="let checklist of aluno.checklistCompleto" [value]="checklist.id">
                    <div class="w-full -mb-6">
                        <p class="mb-2">Prazo máximo: <b>{{checklist.prazo | date : 'dd/MM/yyyy'}}</b></p>
                        <ul class="p-0 ml-0">
                            <li *ngFor="let checklistItem of checklist.items; let i = index"
                                class="flex align-items-center gap-2 py-3 -mx-2 px-2 border-200"
                                [ngClass]="{
                                        'border-bottom-1': i < checklist.items.length - 1,
                                        'border-bottom-0': i == checklist.items.length - 1,
                                        'surface-50': i % 2 == 0
                                    }">
                                <p-checkbox #checkbox
                                            [inputId]="'checklistitem-' + checklistItem.id"
                                            [name]="'checklistitem-' + checklistItem.id"
                                            #finalizado="ngModel"
                                            [(ngModel)]="checklistItem.finalizado"
                                            [styleClass]="checklistItem.finalizado ? 'cursor-auto' : ''"
                                            [binary]="true"
                                            [readonly]="checklistItem.finalizado"
                                            (ngModelChange)="checkboxMark(checklistItem, finalizado)" />
                                <label class="font-medium  mt-2"
                                       [for]="'checklistitem-' + checklistItem.id">
                                    {{ checklistItem.nome }}
                                </label>
                                <ng-container *ngIf="checklistItem.finalizado">
                                    <p-button label="Detalhes"
                                              icon="pi pi-info-circle "
                                              severity="secondary"
                                              rounded
                                              styleClass="ml-2"
                                              class="ml-auto"
                                              pTooltip="Clique para ver detalhes"
                                              tooltipPosition="top"
                                              (onClick)="checklistData.toggle($event)" />
                                    <p-popover #checklistData styleClass="max-w-24rem p-1">
                                        <ng-container *ngIf="checklistItem.finalizado">
                                            <p *ngIf="checklistItem.dataFinalizacao"> 
                                                <i class="pi pi-calendar text-primary mr-1"></i>
                                                 Finalizado em: <b>{{checklistItem.dataFinalizacao | date : 'dd/MM/yy \'às\' HH:mm' }}</b> 
                                            </p>
                                            <p *ngIf="checklistItem.account_Finalizacao">
                                                <i class="pi pi-user text-primary mr-1"></i>
                                                Finalizado por: <b><a>{{checklistItem.account_Finalizacao}}</a></b>
                                            </p>
                                        </ng-container>
                                        <p-fieldset legend="Observações">
                                            <p>
                                                <span *ngIf="checklistItem.observacoes">{{checklistItem.observacoes}}</span>
                                                <span *ngIf="!checklistItem.observacoes" class="text-400">Nenhuma observação</span>
                                            </p>
                                        </p-fieldset>
                                    </p-popover>
                                </ng-container>
                                <ng-container *ngIf="!checklistItem.finalizado">
                                    <ng-container *ngIf="[8,9,12,13,32,37,22,29,23].includes(checklistItem.checklist_Item_Id)">
                                        <div class="ml-auto">
                                            <p-button label="Enviar mensagem"
                                                icon="pi pi-whatsapp {{!aluno.celular ? 'text-300' : ''}}"
                                                severity="success"
                                                [rounded]="true"
                                                [disabled]="!aluno.celular"
                                                styleClass="{{!aluno.celular ? 'text-300' : ''}}"
                                                (onClick)="enviarMensagem(checklistItem, aluno )"
                                                (auxclick)="enviarMensagem(checklistItem, aluno)"
                                                (contextmenu)="enviarMensagem(checklistItem, aluno)"/>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </li>
                        </ul>
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</p-dialog>