.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/css-gradient.jpeg);
    background-size: cover;
    background-attachment: fixed;
    transform: rotate(180deg);
    background-size: contain;
    background-color: #fc8009;
    background-repeat: no-repeat;
    background: linear-gradient(134deg, #da1b60, #fc8009);
}
.cdk-drag-preview,
.cdk-drag-on {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.308)!important;
    border-color: var(--surface-400)!important;
    border-width: 2px;
    animation: animaDrag .3s reverse;
    opacity: 0.7!important;
}

.cdk-drag {
    overflow: hidden!important;
    animation: animaDrag .3s normal;
    opacity: 1;
}


@keyframes animaDrag {
    0% {
        /* rotate: 2deg!important; */
        scale: 1.1;
    }
    100% {
        /* rotate: 0deg; */
        scale: 1;
    }
}

