.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-size: contain;
    background-color: #fc8009;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, #f37435 40%, #da1b60);
}
.inner-bg {
    width: 300px;
    height: 300px;
    
}
.cdk-drag-preview,
.cdk-drag-on {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.308)!important;
    border-color: var(--surface-400)!important;
    border-width: 2px;
    animation: animaDrag .3s reverse;
    opacity: 0.7!important;
}

.cdk-drag {
    overflow: hidden!important;
    animation: animaDrag .3s normal;
    opacity: 1;
}


@keyframes animaDrag {
    0% {
        /* rotate: 2deg!important; */
        scale: 1.1;
    }
    100% {
        /* rotate: 0deg; */
        scale: 1;
    }
}





/* width */
::ng-deep .my-scroll::-webkit-scrollbar {
    width: 11px;
    height: 10px;
}

/* Track */
::ng-deep .my-scroll::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px ;
}

/* Handle */
::ng-deep .my-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.6);
    border-radius: 5px ;
    
}

/* Handle on hover */
::ng-deep .my-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,1);
}