<p-contextmenu #cm
               [model]="tableMenu"
               (onHide)="tableSelectedItem = null"
               appendTo="body"
               triggerEvent="onclick" />
<app-confirm-dialog></app-confirm-dialog>
<div class="px-3 pb-4 bg-white">
    <p-table
             #dt
             [value]="list"
             [rows]="50"
             [rowsPerPageOptions]="[50, 100, 500]"
             [paginator]="list.length > 50"
             [columns]="tableColumns"
             [globalFilterFields]="tableGlobalFilterFields"
             dataKey="id"
             stripedRows
             [loading]="tableLoading"
             [showLoader]="false"
             [rowHover]="list.length > 0"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Exibindo {first} de {last} de um total de {totalRecords} turmas"

>
        <ng-template #caption>
            <p-toolbar styleClass="border-none bg-white py-2 px-2 -mx-3 ">
                <div class="p-toolbar-group-start">
                    <h2 class="flex align-items-center ">
                        <i class="fa-solid fa-users-between-lines mr-3 text-primary text-2xl"></i>
                        <span class="text-2xl font-normal my-0">Turmas</span>
                    </h2>
                </div>
                <div class="p-toolbar-group-center"></div>
                <div class="p-toolbar-group-end items-stretch">
                    <div class="flex align-items-strech">
                        <p-iconfield class="mr-2">
                            <p-inputicon styleClass="pi pi-search" />
                            <input type="text"
                                   pInputText
                                   #_tableSearch="ngModel"
                                   [(ngModel)]="tableSearch"
                                   id="search"
                                   name="search"
                                   (input)="dt.filterGlobal(tableSearch, 'contains')"
                                   placeholder="Pesquisar" />
                        </p-iconfield>
                        <p-button icon="pi pi-filter-slash text-sm text-white"
                                  (onClick)="clear(dt)"
                                  severity="secondary"
                                  [text]="true"
                                  pTooltip="Limpar filtro"
                                  tooltipPosition="top"
                                  class="mr-2"
                                  styleClass="h-full bg-black-alpha-80" />
                        <p-button icon="pi pi-sync text-sm text-white"
                                  (onClick)="update()"
                                  severity="secondary"
                                  [text]="true"
                                  pTooltip="Atualizar turmas"
                                  tooltipPosition="top"
                                  class="mr-2"
                                  styleClass="h-full bg-black-alpha-80" />
                        <p-button icon="pi pi-plus text-sm"
                                  label="Cadastrar"
                                  pTooltip="Cadastrar turma"
                                  tooltipPosition="top"
                                  [routerLink]="['cadastrar']"
                                  [rounded]="true"
                                  styleClass="h-full px-3" />
                    </div>
                </div>
            </p-toolbar>
        </ng-template>
        <ng-template #header>
            <tr class="fadein">
                <ng-container *ngFor="let col of tableColumns">
                    <ng-container *ngIf="col.frozen === true">
                        <th pFrozenColumn [pSortableColumn]="col.field">
                            <div class="flex align-items-center gap-4">
                                <span>{{col.label}}</span>
                                <p-sortIcon *ngIf="col.sortable" [field]="col.field" />
                            </div>
                        </th>
                    </ng-container>
                    <ng-container *ngIf="!col.frozen">
                        <th [pSortableColumn]="col.field">
                            <div class="flex align-items-center gap-4">
                                <span>{{col.label}}</span>
                                <p-sortIcon *ngIf="col.sortable" [field]="col.field" />
                            </div>
                        </th>
                    </ng-container>
                </ng-container>
                <th pFrozenColumn [alignFrozen]="'right'"></th>
            </tr>
            <tr>
                <ng-container *ngFor="let col of tableColumns">
                    <ng-container *ngIf="col.frozen === true">
                        <th pFrozenColumn class="z-1">
                            <app-table-header-filter [col]="col"></app-table-header-filter>
                        </th>
                    </ng-container>
                    <ng-container *ngIf="!col.frozen">
                        <th>
                            <app-table-header-filter [col]="col"></app-table-header-filter>
                        </th>
                    </ng-container>
                </ng-container>
                <th pFrozenColumn alignFrozen="right"></th>
            </tr>
        </ng-template>
        <ng-template #body let-item let-index="rowIndex">
            <tr class="white-space-nowrap">
                <td>
                    <span class="w-1rem h-1rem flex border-circle" [ngStyle]="{ backgroundColor: item.corLegenda ?? 'black' }"></span>
                </td>
                <td>{{item.nome}}</td>
                <td>{{item.professor}}</td>
                <td>{{item.diasDeAulaString}}</td>
                <td>
                    <app-sala-aula
                                   [sala_Id]="item.sala_Id"
                                   [andar]="item.andar"
                                   [numeroSala]="item.numeroSala"></app-sala-aula>
                </td>
                <td>{{item.perfilCognitivoString}}</td>
                <td>{{item.capacidadeMaximaAlunos}} aluno(s)</td>
                <td>
                    <ng-container *ngIf="item.vagas == 0"><span class="text-300">Nenhuma vaga </span></ng-container>
                    <ng-container *ngIf="item.vagas == 1">{{item.vagas}} vaga</ng-container>
                    <ng-container *ngIf="item.vagas > 1">{{item.vagas}} vagas</ng-container>
                </td>
                <td>
                    <ng-container *ngIf="item.linkGrupo">
                        <a [href]="item.linkGrupo"
                           target="_blank">
                            <p-button
                                      icon="pi pi-whatsapp"
                                      label="Ver grupo"
                                      [rounded]="true"
                                      severity="success" />
                        </a>
                    </ng-container>
                    <ng-container *ngIf="!item.linkGrupo">
                        <div pTooltip="Link para grupo não cadastrado" tooltipPosition="top">
                            <p-button
                                      icon="pi pi-whatsapp"
                                      label="Ver grupo"
                                      [rounded]="true"
                                      severity="success"
                                      [disabled]="true" />
                        </div>
                    </ng-container>
                </td>
                <td class="w-5rem">
                    <ng-container *ngIf="item.active">
                        <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                               icon="pi pi-check mr-2 text-xs"
                               value="Ativo"
                               severity="success"
                               [pTooltip]="'Ativo'" />
                    </ng-container>
                    <ng-container *ngIf="!item.active">
                        <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                               icon="pi pi-times mr-2 text-xs"
                               value="Inativo"
                               severity="danger"
                               [pTooltip]=" 'Inativo desde ' + (item['deactivated'] | date : 'dd/MM/yyyy HH:mm')" />
                    </ng-container>
                </td>
                <td pFrozenColumn
                    alignFrozen="right">
                    <p-button
                              [icon]="cm.visible() && tableSelectedItem.id == item.id ? 'pi pi-times' : 'pi pi-cog'"
                              [severity]="'secondary'"
                              [rounded]="true"
                              title="Ver mais"
                              styleClass="bg-transparent border-transparent {{index % 2 == 0 ? 'hover:surface-100' : 'hover:surface-50'}} hover:text-primary-500 hover:shadow-4"
                              (onClick)="showContextMenu($event, item)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #loadingbody let-columns="columns">
            <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" style="height: 43px;">
                <td>
                    <p-skeleton shape="circle" size="1rem" />
                </td>
                <td *ngFor="let col of [1,2,3,4,5,6,7,8,9]">
                    <p-skeleton />
                </td>
                <td>
                    <p-skeleton shape="circle" size="1rem" />
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr class="p-datatable-empty-text">
                <td [attr.colspan]="tableColumns.length + 1">
                    <div class="flex align-items-center" *ngIf="!tableSearch">
                        <span>Nenhum item registrado.</span>
                    </div>
                    <div *ngIf="tableSearch"> Nenhum item encontrado. </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<router-outlet></router-outlet>