<p-popover #popover appendTo="body">
    <ng-container *ngIf="participacao && participacao.reposicaoDe_Evento">
        <div class="w-25rem">
            <p class="text-purple-500">Reposição do dia {{ participacao.reposicaoDe_Evento.data | date : 'dd/MM HH:mm' }}</p>
            <p *ngIf="roteiro">
                <i class="pi pi-start-fill" [style]="{ color: roteiro.corLegenda }"></i>
                <span>Semana {{ participacao.reposicaoDe_Evento.semana }} - {{ participacao.reposicaoDe_Evento.tema }}</span>
            </p>
            <p>
                <span>Observações: </span>
                <span
                      *ngIf="participacao.reposicaoDe_Evento.observacao">{{ participacao.reposicaoDe_Evento.observacao }}</span>
                <span *ngIf="!participacao.reposicaoDe_Evento.observacao"
                      class="text-200">Nenhuma observação.</span>
            </p>
        </div>
    </ng-container>
</p-popover>