<p-popover #popover appendTo="body">
    <ng-container *ngIf="reposicaoDe">
        <div class="w-25rem">
            <p class="text-purple-500">Reposição do dia {{ reposicaoDe.data | date : 'dd/MM HH:mm' }}</p>
            <p *ngIf="roteiro">
                <i class="pi pi-start-fill" [style]="{ color: roteiro.corLegenda }"></i>
                <span>Semana {{ reposicaoDe.semana }} - {{ reposicaoDe.tema }}</span>
            </p>
            <p>
                <span>Observações: </span>
                <span
                      *ngIf="reposicaoDe.observacao">{{ reposicaoDe.observacao }}</span>
                <span *ngIf="!reposicaoDe.observacao"
                      class="text-200">Nenhuma observação.</span>
            </p>
        </div>
    </ng-container>
    <ng-container *ngIf="reposicaoPara">
        <div class="w-25rem">
            <p class="text-purple-500">Reposição agendada para {{ reposicaoPara.data | date : 'dd/MM HH:mm' }}</p>
            <p *ngIf="roteiro">
                <i class="pi pi-start-fill" [style]="{ color: roteiro.corLegenda }"></i>
                <span>Semana {{ reposicaoPara.semana }} - {{ reposicaoPara.tema }}</span>
            </p>
            <p>
                <span>Observações: </span>
                <span *ngIf="reposicaoPara.observacao">
                    {{ reposicaoPara.observacao }}
                </span>
                <span *ngIf="!reposicaoPara.observacao"
                      class="text-200">Nenhuma observação.</span>
            </p>
        </div>
    </ng-container>
</p-popover>