<app-confirm-dialog></app-confirm-dialog>
<p-confirmdialog
                 key="confirmarPrimeiraAula"
                 styleClass="w-32rem"
                 [acceptVisible]="restricaoCheck || (!aluno.restricaoMobilidade && aluno.restricoes.length === 0)">
    <ng-template
                 #message
                 let-message>
        <div class="flex align-items-start">
            <div>
                <div class="flex flex-column flex-1 gap-2">
                    <p class="leading-relaxed text-justify">
                        Você está prestes a confirmar o agendamento de
                        <strong class="text-primary-700">primeira aula</strong> para o aluno
                        abaixo.<br />
                        Certifique-se de que todas as informações estão corretas.
                    </p>

                    <ng-template #displayError>
                        <p>Ocorreu um erro ao visualizar os dados</p>
                    </ng-template>

                    <ng-container *ngIf="selectedEvento; else displayError" class="px-2">
                        <p-fieldset legend="Dados do agendamento"
                                    class="flex-1 w-full flex flex-column border rounded-md">
                            <div>
                                <div class="inline-flex gap-2">
                                    <label>Turma:</label>
                                    <p class="font-semibold text-primary-600">
                                        {{ selectedEvento.descricao }}
                                    </p>
                                </div>
                            </div>

                            <div class="mt-1">
                                <div class="inline-flex gap-2">
                                    <label>Data: </label>
                                    <p class="font-semibold text-primary-600">
                                        {{ selectedEvento.data | date : 'dd/MM/yyyy - HH:mm' }}
                                    </p>
                                </div>
                            </div>

                            <div class="mt-1">
                                <div class="inline-flex gap-2">
                                    <label>Aluno:</label>
                                    <p class="font-semibold text-primary-600">{{ aluno.nome }}</p>
                                </div>
                            </div>

                            <div class="mt-1">
                                <div class="inline-flex gap-2">
                                    <label>Sala:</label>
                                    <app-sala-aula class="font-bold text-primary" [andar]="selectedEvento.andar" [numeroSala]="selectedEvento.numeroSala" />
                                </div>
                            </div>

                            <div class="mt-1 flex gap-2 align-items-center font-medium">
                                <label>Perfil Cognitivo do aluno:</label>
                                <p-badge [value]="aluno.perfilCognitivo" />
                            </div>

                            <div
                                class="mt-1 flex flex-wrap gap-2 align-items-center font-medium">
                                <label>Perfis Cognitivos do agendamento:</label>
                                <ng-container *ngFor="let perfil of selectedEvento?.perfilCognitivo">
                                    <p-badge [value]="perfil.nome" />
                                </ng-container>
                            </div>
                        </p-fieldset>

                        <p-fieldset legend="Restrições"
                                    class="flex-1 w-full flex flex-column border rounded-md">    
                            <ng-container *ngIf="!aluno.restricaoMobilidade; else mobilidade">
                                <div class="flex gap-2 align-items-center mt-1">
                                    <i class="pi pi-check-circle text-primary"></i>
                                    <p>Aluno não possui restrição de mobilidade.</p>
                                </div>
                            </ng-container>

                            <ng-template #mobilidade>
                                <div class="flex gap-2 align-items-center mt-1 text-primary">
                                    <i class="fa fa-wheelchair"></i>
                                    <p class="font-bold text-base">Aluno possui restrição de mobilidade.</p>
                                </div>
                            </ng-template>
                            
                            <ng-container *ngIf="aluno.restricoes.length === 0; else restricoes">
                                <div class="flex gap-2 align-items-center mt-1">
                                    <i class="pi pi-check-circle text-primary"></i>
                                    <p>Aluno não possui outras restrições registradas.</p>
                                </div>
                            </ng-container>

                            <ng-template #restricoes>
                                <div class="flex flex-column gap-1 mt-1">
                                    <p *ngFor="let restricao of aluno.restricoes">
                                        <i class="pi pi-ban pr-2"></i>
                                        <span>{{restricao.descricao}}</span>
                                    </p>
                                </div>
                            </ng-template>
                        </p-fieldset>

                        <ng-container *ngIf="aluno.restricaoMobilidade || aluno.restricoes.length != 0">
                            <div class="flex align-items-center mt-3">
                                <p-checkbox
                                    inputId="restricaoCheck"
                                    [(ngModel)]="restricaoCheck"
                                    binary="true"/>
                                <label for="restricaoCheck" class="ml-2 mt-1 leading-none">
                                    Estou ciente das restrições do aluno e quero continuar.
                                </label>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>

<div class="flex-1 p-2">
    <p-toolbar styleClass="border-none bg-transparent p-0 px-2">
        <div class="p-toolbar-group-start flex-1">
            <h2
                class="flex align-items-center overflow-hidden text-overflow-ellipsis">
                <i class="bi bi-calendar mr-3 text-primary text-2xl"></i>
                <span
                      class="text-xl font-normal white-space-nowrap text-overflow-ellipsis">
                    <span class="font-bold text-xl">{{ currentTitle }}</span>
                </span>
            </h2>
        </div>
        <div class="p-toolbar-group-end flex align-items-center gap-2 flex-wrap">
            <!-- Prev -->
            <p-button
                      icon="pi pi-angle-left text-sm"
                      styleClass="w-full h-full surface-100 border-100"
                      [style]="{width: '2.4rem', overflow: 'hidden',}"
                      (onClick)="prev()"
                      [disabled]="!aluno"
                      severity="secondary"
                      iconPos="right"
                      pTooltip="Anterior"
                      tooltipPosition="top"
                      size="small" />
            <!-- Hoje -->
            <p-button
                      label="hoje"
                      styleClass="h-full surface-800 border-800"
                      (onClick)="today()"
                      [disabled]="!aluno"
                      severity="help"
                      pTooltip="Hoje"
                      tooltipPosition="top"
                      size="small" />
            <!-- Next -->
            <p-button
                      icon="pi pi-angle-right text-sm"
                      styleClass="w-full h-full surface-100 border-100"
                      [style]="{width: '2.4rem', overflow: 'hidden',}"
                      (onClick)="next()"
                      [disabled]="!aluno"
                      severity="secondary"
                      pTooltip="Próximo"
                      tooltipPosition="top"
                      size="small" />
            <!-- Atualizar -->
            <p-button
                      icon="pi pi-sync text-sm"
                      styleClass="w-full h-full surface-100 border-100"
                      (onClick)="update('button')"
                      [disabled]="!aluno"
                      severity="secondary"
                      label="atualizar"
                      pTooltip="Atualizar calendário"
                      tooltipPosition="top"
                      size="small" />
        </div>
    </p-toolbar>
    <full-calendar [options]="calendarioOptions"#fullCalendar>
        <ng-template #eventContent let-arg>
            <ng-container *ngTemplateOutlet="eventoTemplate; context: { evento: arg.event.extendedProps, arg: arg }"></ng-container>
            <ng-template #eventoTemplate let-evento="evento" let-arg="arg">
                <ng-container *ngIf="!loading && evento">
                    <app-evento-item-hover #eventoPopover [evento]="evento" [arg]="arg"></app-evento-item-hover>
                    <div class="w-full flex flex-column p-1 overflow-hidden border-2 border-round-sm"
                        (click)="sendConfirmation(evento, $event)"
                         (mouseenter)="eventoPopover.show($event)"
                         (mouseleave)="eventoPopover.hide()"
                         [ngStyle]="{
                                backgroundColor: arg.backgroundColor,
                                borderColor: selectedAula && selectedAula.id == arg.event.id ? 'red' :  arg.backgroundColor,
                                color: arg.textColor,
                        }">
                        <ng-container *ngIf="evento.evento_Tipo_Id != EventoTipo.Feriado; else feriadoTemplate">
                            <div class="flex align-items-center cursor-pointer">
                                <span class="text-sm mr-2">
                                    {{ evento.data | date : 'HH:mm' }}
                                </span>
                                <span
                                      class="text-sm overflow-hidden text-overflow-ellipsis w-12rem white-space-nowrap">
                                    {{ evento.descricao }}
                                </span>
                            </div>
                        </ng-container>
                        <ng-template #feriadoTemplate>
                            <p class="text-sm">Feriado</p>
                            <p class="text-sm">
                                {{ evento.descricao }}
                            </p>
                        </ng-template>
                    </div>
                </ng-container>
            </ng-template>
        </ng-template>
    </full-calendar>
</div>