<app-confirm-dialog></app-confirm-dialog>
<header class="p-dialog-header px-0">
    <div class="p-dialog-title w-full">
        <div class="flex align-items-center gap-2">
            <i class="pi pi-check-square text-sm w-2rem h-2rem bg-primary-500 text-white border-circle flex align-items-center justify-content-center p-1"></i>
            <div class="flex flex-column">
                <p>{{view.checklistItem}}</p>
                <p class="flex align-items-center gap-2 text-base font-normal">
                    <span class="text-primary-500 capitalize">{{view.aluno | nameAbv }}</span>
                    <span>-</span>
                    <span>{{view.turma}}</span>
                    <app-legend-color class="line-heigth-1"
                                      [corLegenda]="view.corLegenda"></app-legend-color>
                </p>
            </div>
        </div>
    </div>
    <div class="p-dialog-header-actions">
        <p-button
                  [icon]="maximized ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"
                  (onClick)="maximize()"
                  styleClass="p-dialog-maximize-button"
                  severity="secondary"
                  rounded
                  pRipple
                  text />
        <p-button icon="pi pi-times"
                  (onClick)="close(false)"
                  styleClass="p-dialog-close-button"
                  severity="secondary"
                  rounded
                  pRipple
                  text />
    </div>
</header>
<div>
    <div class="formgrid grid px-2">
        <div class="field col">
            <label for="prazo">Prazo: </label>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-calendar" />
                <input pInputText
                       type="text"
                       id="prazo"
                       [value]="view.prazo | date: 'dd/MM/yyyy' "
                       fluid
                       readonly />
            </p-iconfield>
        </div>
        <div class="field col" *ngIf="view.dataFinalizacao">
            <label for="dataFinalizacao">Finalizado Em: </label>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-clock" />
                <input pInputText
                       type="text"
                       id="dataFinalizacao"
                       [value]="view.dataFinalizacao | date: 'dd/MM/yyyy HH:mm' "
                       fluid
                       readonly />
            </p-iconfield>
        </div>
        <div class="field col" *ngIf="view.account">
            <label for="account">Finalizado Por: </label>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-user" />
                <input pInputText
                       type="text"
                       id="account"
                       [value]="view.account"
                       fluid
                       readonly />
            </p-iconfield>
        </div>
        <div class="field col-12">
            <label for="observacoes">Observações: </label>
            <div pInputTextarea
                 id="observacoes"
                 [innerHTML]="view.observacoes"
                 fluid
                 rows="5"
                 readonly></div>
        </div>
        <p-divider />
        <div class="flex align-items-center justify-content-end gap-2 col-12">
            <p-button icon="pi pi-whatsapp"
                      label="Enviar mensagem"
                      [severity]="view.celular ? 'success' : 'secondary'"
                      [disabled]="!view.celular"
                      rounded
                      class="mr-auto" />
            <p-button icon="pi pi-user"
                      label="Ver Aluno"
                      severity="secondary"
                      rounded 
                      (onClick)="showAluno()"/>
            <p-button *ngIf="showEvento"
                      label="Ver {{eventoNome}}"
                      icon="pi pi-calendar"
                      rounded />
        </div>
    </div>
</div>