<app-confirm-dialog></app-confirm-dialog>
<p-confirmdialog key="enviarMensagem" styleClass="w-25rem">
    <ng-template #message let-message>
        <div class="flex align-items-start gap-2 ">
            <span class="mt-1">
                <i *ngIf="message.icon" [ngClass]="message.icon" class="text-4xl "></i>
                <i *ngIf="!message.icon" class="pi pi-exclamation-triangle text-4xl  text-primary-500"></i>
            </span>
            <div>
                <div [innerHTML]="message.message"></div>
                <p class="mt-2 text-primary-500 font-bold" *ngIf="mensagensEnviadasAlunos.length">Alunos</p>
                <div class="flex flex-column align-items-start justify-content-start max-h-15rem overflow-auto">
                    <p class="font-mediu text-400" *ngIf="mensagensEnviadasAlunos.length == 0">Nenhum aluno foi inserido</p>
                    <div *ngFor="let aluno of mensagensEnviadasAlunos">
                        <p-button type="button"
                                  (onClick)="enviarMensagemAgendamento(aluno)"
                                  (auxclick)="enviarMensagemAgendamento(aluno)"
                                  (contextmenu)="enviarMensagemAgendamento(aluno)"
                                  [disabled]="!aluno.celular"
                                  icon="pi pi-whatsapp {{!aluno.celular ? 'text-300' : 'text-green-600'}}"
                                  styleClass="text-600"
                                  severity="success"
                                  [label]="aluno.nome"
                                  [text]="true" />
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<p-dialog [header]="'Agendar Aula 0'"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '500px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title flex align-items-center">
                <i class="pi pi-calendar mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <div class="flex flex-column">
                    <span>Agendar Aula 0</span>
                </div>
            </span>
        </div>
    </ng-template>
    <form #form="ngForm" class="px-2" (submit)="sendConfirmation(form, $event)">
        <div class="formgrid grid">
            <div class="field col-6"> <!-- Data -->
                <label for="data">Data: <span class="text-red-500">*</span></label>
                <p-datepicker
                              #_data="ngModel"
                              [(ngModel)]="data"
                              (onBlur)="verificaDisponibilidade()"
                              [disabled]="loadingEventos"
                              (onMonthChange)="dateNavigatorChanged($event)"
                              (onYearChange)="dateNavigatorChanged($event)"
                              placeholder="dd/mm/yyyy"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              inputId="data"
                              name="data"
                              [required]="true"
                              [selectOtherMonths]="true"
                              [keepInvalid]="true"
                              [disabledDays]="[0]"
                              [disabledDates]="feriadoDates"
                              appendTo="body"
                              fluid />
                <div *ngIf="_data.touched && _data.invalid && _data.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="_data.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field col-6"> <!-- Horário -->
                <label for="horario">Horário: <span class="text-red-500">*</span></label>
                <p-datepicker inputId="horario"
                              name="horario"
                              #_horario="ngModel"
                              [disabled]="loadingEventos"
                              [(ngModel)]="horario"
                              (onBlur)="verificaDisponibilidade()"
                              placeholder="hh:mm"
                              [showIcon]="true"
                              icon="pi pi-clock"
                              [iconDisplay]="'input'"
                              [required]="true"
                              appendTo="body"
                              [timeOnly]="true"
                              fluid>
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
                <div *ngIf="_horario.touched && _horario.invalid && _horario.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="_horario.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field col-6"> <!-- Educador -->
                <label for="professor_Id">Educador: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="professores"
                          [(ngModel)]="object.professor_Id"
                          [loading]="loadingProfessores || loadingEventos"
                          [disabled]="loadingProfessores || loadingEventos || !data || !horario"
                          (onChange)="professorChanged($event, professor_Id)"
                          #professor_Id="ngModel"
                          name="professor_Id"
                          inputId="professor_Id"
                          optionLabel="nome"
                          optionValue="id"
                          [required]="true"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          optionDisabled="deactivated"
                          placeholder="Selecione"
                          fluid>
                    <ng-template let-item #item>
                        <div class="flex align-items-center justify-content-between w-full gap-2">
                            <div>
                                <p class="font-bold mb-1 flex align-items-center ">
                                    <span class="w-1rem h-1rem border-circle flex mr-2" [style]="{ backgroundColor: item.corLegenda, borderColor: item.corLegenda }"></span>
                                    <span class="mr-2">{{ item.nome }}</span>
                                    <p-badge *ngIf="item.disponivel == false"
                                             value="Indisponível"
                                             severity="danger"
                                             [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                             
                                             <ng-template #indisponivelTemplate>
                                                 <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                             </ng-template>
                                </p>
                                <ng-container *ngIf="item.expedienteInicio && item.expedienteFim">
                                    <p class="text-sm">Expediente {{item.expedienteInicio | date : 'HH:mm'}} às {{item.expedienteFim | date : 'HH:mm'}}</p>
                                </ng-container>
                            </div>
                            <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                                   [icon]="(item.active ? 'pi pi-lock-open' : 'pi pi-lock') + ' mr-2 text-sm'"
                                   [value]="item.active ? 'Ativo': 'Inativo'"
                                   [severity]="item.active ? 'success': 'danger'"
                                   [pTooltip]="!item.active ?  'Inativo desde ' + (item.deactivated | date : 'dd/MM/yyyy HH:mm')  : undefined" />
                        </div>
                    </ng-template>
                </p-select>
                <div *ngIf="professor_Id.touched && professor_Id.invalid && professor_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="professor_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="professor_Id.errors['indisponivel']">{{professor_Id.errors['indisponivel']}}</p>
                </div>
            </div>
            <div class="field col-6"> <!-- Sala -->
                <label for="sala_Id">Sala: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="salaAulas"
                          [(ngModel)]="object.sala_Id"
                          [loading]="loadingSalaAulas || loadingEventos"
                          [disabled]="loadingSalaAulas || loadingEventos || !data || !horario"
                          (onChange)="salaAulaChanged($event, sala_Id)"
                          #sala_Id="ngModel"
                          optionValue="id"
                          name="sala_Id"
                          inputId="sala_Id"
                          [required]="true"
                          [filter]="true"
                          filterBy="nome"
                          appendTo="body"
                          optionDisabled="deactivated"
                          placeholder="Selecione"
                          fluid>
                    <ng-template #selectedItem let-selectedOption>
                        <app-sala-aula [numeroSala]="selectedOption.numeroSala"
                                       [andar]="selectedOption.andar"
                                       [sala_Id]="selectedOption.id"></app-sala-aula>
                    </ng-template>
                    <ng-template let-item #item>
                        <span class="mr-2">
                            <app-sala-aula [numeroSala]="item.numeroSala"
                                           [andar]="item.andar"
                                           [sala_Id]="item.id"></app-sala-aula>
                        </span>
                        <p-badge *ngIf="item.disponivel == false"
                                 value="Indisponível"
                                 severity="danger"
                                 [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                 
                                 <ng-template #indisponivelTemplate>
                                     <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                 </ng-template>
                    </ng-template>
                </p-select>
                <div *ngIf="sala_Id.touched && sala_Id.invalid && sala_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['indisponivel']">Sala indisponível.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="sala_Id.errors['restricaoMobilidade']">{{sala_Id.errors['restricaoMobilidade']}}</p>
                </div>
            </div>
            <div class="field col-12"> <!-- Aluno -->
                <label for="aluno_Id">Aluno: <span class="text-red-500">*</span></label>
                <p-multiselect [options]="alunos"
                               [loading]="loadingAlunos || loadingEventos"
                               [(ngModel)]="selectedAlunos"
                               [readonly]="blockAlunoField"
                               [disabled]="blockAlunoField || loadingEventos || !data || !horario"
                               (onChange)="alunoChanged($event, aluno_Id)"
                               #aluno_Id="ngModel"
                               optionLabel="nome"
                               name="aluno_Id"
                               inputId="aluno_Id"
                               [required]="true"
                               [filter]="true"
                               filterBy="nome"
                               [showToggleAll]="false"
                               [virtualScroll]="true"
                               [virtualScrollItemSize]="54"
                               optionDisabled="deactivated, disponivel"
                               placeholder="Selecione"
                               appendTo="body"
                               panelStyleClass="p-select-stripped"
                               display="chip"
                               fluid>
                    <ng-template let-item #item>
                        <div class="flex align-items-center justify-content-between w-full gap-2">
                            <div>
                                <div class="flex align-items-center">
                                    <p-button type="button"
                                              icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                                              (onClick)="enviarMensagem(item)"
                                              (auxclick)="enviarMensagem(item)"
                                              (contextmenu)="enviarMensagem(item)"
                                              severity="success"
                                              [text]="true"
                                              [disabled]="!item.celular"
                                              pTooltip="Enviar mensagem"
                                              size="small">
                                    </p-button>
                                    <p class="font-bold">
                                        <span class="mr-2">{{item.nome}}</span>
                                        <p-badge *ngIf="item.disponivel == false"
                                                 value="Indisponível"
                                                 severity="danger"
                                                 [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                                 
                                                 <ng-template #indisponivelTemplate>
                                                     <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                                 </ng-template>
                                    </p>
                                </div>
                                <p class="flex align-items-center gap-2 pl-2">
                                    <app-legend-color [corLegenda]="item.corLegenda"
                                                      [professor_Id]="item.professor_Id"
                                                      [professor]="item.professor"
                                                      [turma_Id]="item.turma_Id"></app-legend-color>
                                    <span class="font-normal">Turma {{item.turma}}</span>
                                </p>
                            </div>
                            <p-badge [value]="item.perfilCognitivo" />
                        </div>
                    </ng-template>
                </p-multiselect>
                <div *ngIf="aluno_Id.touched && aluno_Id.invalid && aluno_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['indisponivel']">Aluno indisponível.</p>
                </div>
            </div>
            <div class="col-12 px-1 flex align-items-center justify-content-end">
                <p-button type="submit"
                          styleClass="w-full px-3"
                          label="Finalizar agendamento"
                          icon="pi pi-check"
                          [loading]="loading"
                          [rounded]="true"
                          [disabled]="form.invalid || loading" />
            </div>
        </div>
    </form>
</p-dialog>