<ng-container *ngIf="evento">
    <div class="col-12 flex mb-2" *ngIf="!readonly">
        <p-button
                  icon="pi pi-calendar"
                  (onClick)="selecionarOutraData()"
                  severity="primary"
                  label="Selecionar outra data"
                  styleClass="h-full mr-auto"
                  class="ml-auto" />
    </div>
    <!-- Turma -->
    <div class="field col-6">
        <label for="turma">Turma:</label>
        <p-iconfield>
            <p-inputicon styleClass="fa-solid fa-users-between-lines" />
            <input type="text"
                   pInputText
                   id="turma"
                   [value]="evento.descricao"
                   readonly
                   fluid />
        </p-iconfield>
    </div>
    <!-- Data -->
    <div class="field col-3">
        <label for="data">Data:</label>
        <p-iconfield>
            <p-inputicon styleClass="fa-solid fa-calendar" />
            <input type="text"
                   pInputText
                   id="data"
                   [value]="evento.data | date : 'dd/MM/yyyy'"
                   readonly
                   fluid />
        </p-iconfield>
    </div>
    <!-- Horário -->
    <div class="field col-3">
        <label for="data">Horário:</label>
        <p-iconfield>
            <p-inputicon styleClass="pi pi-clock" />
            <input type="text"
                   pInputText
                   id="data"
                   [value]="evento.data | date : 'HH:mm'"
                   readonly
                   fluid />
        </p-iconfield>
    </div>
    <!-- Educador -->
    <div class="field col-6">
        <label for="educador">Educador:</label>
        <p-iconfield>
            <p-inputicon>
                <app-legend-color
                                  class="line-height-1"
                                  [corLegenda]="evento.corLegenda"
                                  [professor]="evento.professor"></app-legend-color>
            </p-inputicon>
            <input type="text"
                   pInputText
                   id="educador"
                   [value]="evento.professor ?? 'Indefinido'"
                   readonly
                   fluid />
        </p-iconfield>
    </div>
    <!-- Sala -->
    <div class="field col-6">
        <label for="sala">Sala:</label>
        <p-iconfield>
            <p-inputicon styleClass="bi bi-door-open" />
            <input type="text"
                   pInputText
                   id="sala"
                   [value]="getSala(evento)"
                   readonly
                   fluid />
        </p-iconfield>
    </div>
</ng-container>