<ng-container *ngIf="alunoChecklistItem">
    <div class="flex align-items-center">
        <p-button type="button"
                  (onClick)="enviarMensagemAluno()"
                  (auxclick)="enviarMensagemAluno()"
                  (contextmenu)="enviarMensagemAluno()"
                  [disabled]="!urlEnviarMensagem"
                  icon="pi pi-whatsapp"
                  severity="success"
                  [rounded]="true"
                  [text]="true"
                  size="small"
                  styleClass="-ml-2"/>
        <p class="hover:text-primary hover:underline cursor-pointer capitalize"
            (click)="alunoPopover.show($event)">
            {{ alunoChecklistItem.aluno | nameAbv }}
        </p>
        <p (click)="showAlunoChecklistOnConfirm()"
            class="cursor-pointer text-primary-500 flex align-items-center gap-2 hover:underline hover:font-bold ml-auto">
            <span>Clique para finalizar</span>
            <i class="pi pi-check no-underline hoveer:no-underline"></i>
        </p>
    </div>
    <div class="flex align-items-center justify-content-between">
        <p class="flex">
            <span class="font-bold mr-2">Prazo: </span>
            <span>{{alunoChecklistItem.prazo | date : 'dd/MM/yy'}}</span>
        </p>
        <p class="ml-auto">
            <span class="flex align-items-center line-height-1">
                <span [class]="textColor">{{text}}</span>
                <i  class="{{textColor}} {{icon}} ml-2 mt-1"></i>
            </span>
        </p>
    </div>
    <app-aluno-popover #alunoPopover
                       [aluno_Id]="alunoChecklistItem.aluno_Id"
                       [alunoChecklistItem]="alunoChecklistItem"
                       [showChecklist]="true"></app-aluno-popover>
    <app-aluno-checklist-on-confirm-dialog
        #alunoChecklistOnConfirmDialog
        [alunoChecklistItem]="alunoChecklistItem"
        [item]="item"></app-aluno-checklist-on-confirm-dialog>
</ng-container>
