<app-confirm-dialog></app-confirm-dialog>
<p-dialog [header]="'Agendar reposição'"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '850px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body"
          id="reposicao">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title"><i class="pi pi-calendar mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i> Agendar reposição</span>
        </div>
    </ng-template>
    <div class="formgrid grid">
        <!-- Aluno -->
        <div class="field lg:col-4 sm:col-4 col-12">
            <label for="aluno">Aluno:</label>
            <input type="text"
                   pInputText
                   [value]="aluno.nome"
                   id="nome"
                   name="nome"
                   class="w-full"
                   readonly>
        </div>
        <!-- Turma -->
        <div class="field lg:col-4 sm:col-3 col-6">
            <label for="turma">Turma:</label>
            <input type="text"
                   pInputText
                   [value]="aluno.turma"
                   id="turma"
                   name="turma"
                   class="w-full"
                   readonly>
        </div>
        <!-- Educador(a) -->
        <div class="field lg:col-2 sm:col-3 col-6">
            <label for="professor">Educador(a):</label>
            <p-iconfield>
                <p-inputicon styleClass="w-1rem h-1rem border-circle flex" [style]="{ backgroundColor: corLegenda, borderColor: corLegenda }" />
                <input type="text"
                       pInputText
                       [value]="aluno.professor"
                       id="professor"
                       name="professor"
                       class="w-full"
                       readonly>
            </p-iconfield>
        </div>
        <!-- Perfil Cognitivo -->
        <div class="field lg:col-2 sm:col-2 col-12">
            <label for="aluno_PerfilCognitivo">Perfil Cognitivo:</label>
            <input type="text"
                   pInputText
                   [value]="aluno.perfilCognitivo"
                   id="aluno_PerfilCognitivo"
                   name="aluno_PerfilCognitivo"
                   class="w-full"
                   readonly>
        </div>
        <!-- Calendario -->
        <div class="field col-12">
            <!-- TOOLBAR -->
            <div class="flex align-items-center justify-content-between flex-wrap  -mb-4 pb-3  ">
                <div class="flex align-items-center " *ngIf="currentTitle">
                    <span class="font-bold text-xl capitalize">{{currentTitle}} </span>
                </div>
                <div class="flex gap-1 flex align-items-stretch " style="height: 2.4rem">
                    <p-button class="ml-auto"
                              type="button"
                              icon="pi pi-exclamation-circle"
                              size="large"
                              [text]="true"
                              [rounded]="true"
                              severity="secondary"
                              styleClass="ml-auto"
                              class="ml-auto"
                              (onClick)="op.toggle($event)" />
                    <p-popover #op styleClass="popover-styled surface-900 border-900 white-space-nowrap text-white max-w-20rem">
                        <div class="px-2">
                            <h3 class="text-base mb-2">Regras para agendar reposição: </h3>
                            <ul>
                                <li class="mb-2 white-space-normal">
                                    <i class="pi pi-check-circle text-green-500 mr-2 text-xl p-1"></i>
                                    <span>A reposição deve ser agendada entre turmas de mesma faixa etária</span>
                                </li>
                                <!-- <p-divider  layout="horizontal" class="opacity-50"/> -->
                                <li class="mb-2 white-space-normal">
                                    <i class="pi pi-check-circle text-green-500 mr-2 text-xl p-1"></i>
                                    <span>A reposição deve ser agendada para até 30 dias da aula</span>
                                </li>
                                <!-- <p-divider  layout="horizontal" class="opacity-50"/> -->
                                <li class="mb-2 white-space-normal">
                                    <i class="pi pi-check-circle text-green-500 mr-2 text-xl p-1"></i>
                                    <span>A reposição não pode ser agendada em um feriado</span>
                                </li>
                            </ul>
                        </div>
                    </p-popover>
                    <p-button icon="pi pi-angle-left text-lg"
                              styleClass="w-full h-full surface-100 border-100"
                              [style]="{width: '2.4rem', overflow: 'hidden',}"
                              (onClick)="prev()"
                              severity="secondary"
                              iconPos="right"
                              pTooltip="Anterior"
                              size="small" />
                    <p-button
                              styleClass="h-full surface-800 border-800"
                              (onClick)="today()"
                              severity="help"
                              pTooltip="Hoje"
                              label="hoje"
                              size="small" />
                    <p-button icon="pi pi-angle-right text-lg"
                              styleClass="w-full h-full surface-100 border-100"
                              [style]="{width: '2.4rem', overflow: 'hidden',}"
                              (onClick)="next()"
                              severity="secondary"
                              pTooltip="Próximo"
                              size="small" />
                </div>
            </div>
            <!-- END TOOLBAR -->
            <full-calendar [options]="calendarioOptions" #fullCalendar>
                <ng-template #eventContent let-arg>
                    <ng-container *ngTemplateOutlet="eventoTemplate; context: { evento: arg.event.extendedProps, arg: arg }"></ng-container>
                    <ng-template #eventoTemplate let-evento="evento" let-arg="arg">
                        <ng-container *ngIf="!loading && evento">
                            <app-evento-item-hover #eventoPopover [evento]="evento" [arg]="arg"></app-evento-item-hover>
                            <div class="w-full flex flex-column  p-1 overflow-hidden border-2 border-round-sm  " 
                                (mouseenter)="eventoPopover.show($event)"
                                 (mouseleave)="eventoPopover.hide()"
                                 [ngStyle]="{
                                    backgroundColor: arg.backgroundColor,
                                    borderColor: selectedAula && selectedAula.id == arg.event.id ? 'red' :  arg.backgroundColor,
                                    color: arg.textColor,
                                }">
                                <ng-container *ngIf="evento.evento_Tipo_Id != EventoTipo.Feriado; else feriadoTemplate">
                                        <div class="flex align-items-center cursor-pointer">
                                            <span class="text-sm mr-2">{{evento.data | date : 'HH:mm'}}</span>
                                            <span class="text-sm overflow-hidden text-overflow-ellipsis w-12rem white-space-nowrap">{{evento.descricao }}</span>
                                        </div>
                                </ng-container>
                                <ng-template #feriadoTemplate>
                                        <p class="text-sm">Feriado</p>
                                        <p class="text-sm">{{evento.descricao}}</p>
                                </ng-template>
                            </div>
                        </ng-container>
                    </ng-template>
                </ng-template>
            </full-calendar>
            <div class="flex justify-content-between" *ngIf="!loading">
                <ng-container *ngIf="selectedEvento && selectedAula">
                    <div>
                        <p class="font-bold my-2">Aula selecionada: </p>
                        <app-evento-item [evento]="selectedEvento" [arg]="selectedAula"></app-evento-item>
                    </div>
                </ng-container>
                <div class="ml-auto surface-50 border-round-2 column-gap-4 flex flex-column flex-wrap max-h-8rem mt-4 p-2 px-3">
                    <div *ngFor="let item of legenda" class="my-1 flex align-items-center">
                        <div class="w-1rem h-1rem border-circle" [ngStyle]="{ backgroundColor: item.corLegenda }"></div>
                        <span class="ml-2">{{item.label}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="col-12 px-0 gap-4 flex flex-wrap align-items-center flex-wrap justify-content-between">
            <div class="sm:col-9 col-12">
            </div>
            <div class="ml-auto">
                <p-button
                          (onClick)="confirmaReposicao($event)"
                          class="w-full"
                          styleClass="w-full px-3"
                          label="Agendar"
                          [icon]="'pi pi-check'"
                          [loading]="loading"
                          [rounded]="true"
                          size="small" />
            </div>
        </div>
    </div>
</p-dialog>