<app-aluno-checklist-on-confirm-dialog #alunoChecklistOnConfirmDialog></app-aluno-checklist-on-confirm-dialog>
<p-popover #popover
           [dismissable]="true"
           styleClass="-mt-2"
           appendTo="body">
    <div class="w-full" *ngIf="checklist">
        <ul class="p-0 m-0">
            <li>
                <p-table [value]="checklist.items">
                    <ng-template pTemplate="header">
                        <tr>
                            <td colspan="3" class="white-space-nowrap py-">
                                <span>Prazo máximo:</span>
                                <b>
                                    <span *ngIf="checklist.prazo">{{checklist.prazo | date : 'dd/MM/yyyy'}}</span>
                                    <span *ngIf="!checklist.prazo">Indefinido</span>
                                </b>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-checklistItem let-index="rowIndex">
                       <tr [ngClass]="{ 'surface-50': index % 2 != 0 }"
                            (mouseenter)="checklistItem.finalizado ? checklistData.show($event) : undefined"
                            (mouseleave)="checklistItem.finalizado ? checklistData.hide() : undefined">
                            <td class="pr-1">
                                <p-popover #checklistData appendTo="body">
                                    <ng-container *ngIf="checklistItem.finalizado">
                                      <p>
                                          <span *ngIf="checklistItem.dataFinalizacao">Finalizado em <b>{{checklistItem.dataFinalizacao | date : 'dd/MM/yyyy' }}</b></span>
                                          <span *ngIf="!checklistItem.dataFinalizacao">Agora, há poucos minutos <i class="pi pi-clock text-400 ml-2"></i></span>

                                          <span *ngIf="checklistItem.account_Finalizacao"> por <b>{{checklistItem.account_Finalizacao }}</b></span>
                                          <span *ngIf="!checklistItem.account_Finalizacao"> por você.</span>
                                      </p>
                                      <p class="mt-2">
                                          <span class="font-medium">Observações: </span>
                                          <span *ngIf="checklistItem.observacoes"
                                                [innerHTML]="checklistItem.observacoes"></span>
                                          <span *ngIf="!checklistItem.observacoes" class="text-500">Nenhuma observação</span>
                                      </p>
                                    </ng-container>
                                    
                                </p-popover>
                                <p-checkbox *ngIf="!checklistItem.finalizado"
                                            #checkbox
                                            [inputId]="'checklistitem-' + checklistItem.id"
                                            [name]="'checklistitem-' + checklistItem.id"
                                            #finalizado="ngModel"
                                            [ngModel]="checklistItem.finalizado"
                                            [binary]="true"
                                            [readonly]="checklistItem.finalizado"
                                            (ngModelChange)="checkboxMark(checklistItem, finalizado)" />
                                <div *ngIf="checklistItem.finalizado"
                                     class="p-checkbox p-checkbox-checked p-highlight pointer-events-none">
                                    <div class="p-checkbox-box">
                                        <i class="pi pi-check p-checkbox-icon "></i>
                                    </div>
                                </div>
                            </td>
                            <td class="px-1">
                                <label class="font-medium"
                                       [for]="'checklistitem-' + checklistItem.id">{{ checklistItem.nome }}</label>
                            </td>
                            <td class="p-0 pr-2">
                                <ng-container *ngIf="checklistItem.finalizado == false && [8, 9, 12, 13, 32, 37, 22, 29, 23].includes(checklistItem.checklist_Item_Id)">
                                    
                                    
                                <p-button type="button"
                                    icon="pi pi-whatsapp {{!aluno.celular ? 'text-300' : ''}}"
                                    severity="success"
                                    [disabled]="!aluno.celular"
                                    [text]="true"
                                    [rounded]="true"
                                    pTooltip="Enviar mensagem"
                                    (onClick)="enviarMensagemCondicao(checklistItem, aluno)"
                                    (auxclick)="enviarMensagemCondicao(checklistItem, aluno)"
                                    (contextmenu)="enviarMensagemCondicao(checklistItem, aluno)"/>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </li>
        </ul>
    </div>
</p-popover>