<p-table #dt
         [value]="alunos"
         dataKey="id"
         stripedRows
         showGridlines
         [rowHover]="alunos.length > 0"
         [loading]="loading"
         [showLoader]="false"
         [rows]="50"
         [rowsPerPageOptions]="[50, 100]"
         [paginator]="alunos.length > 50"
         [virtualScroll]="true"
         virtualScrollItemSize="37px"
         [scrollable]="true"
         scrollHeight="flex"
         class="bg-transparent"
         tableStyleClass="bg-transparent"
         paginatorStyleClass="mt-2"
         styleClass="bg-transparent"
         size="small">
    <ng-template #caption>
        <p-toolbar styleClass="border-none bg-white px-4 py-3 mb-4 relative z-3">
            <div class="p-toolbar-group-start w-full flex align-items-center justify-content-between">
                <h2 class="flex align-items-center">
                    <i class="pi pi-check-square mr-3 text-primary-500 text-2xl"></i>
                    <span class="text-2xl font-normal my-0 white-space-nowrap">Jornada Supera</span>
                </h2>
                <div class="flex align-items-center gap-2 mx-auto">
                    <label>Modo de exibição: </label>
                    <p-selectbutton [options]="[
                                    { label: 'Cards', value: true, icon: 'bi bi-view-list' },
                                    { label: 'Lista', value: false, icon: 'pi pi-list' },
                                ]"
                                    [(ngModel)]="modoExibicao"
                                    name="modoExibicao"
                                    id="modoExibicao"
                                    optionLabel="label"
                                    optionValue="value"
                                    (onChange)="modoExibicaoChanged()">
                        <ng-template #item let-item>
                            <i [class]="item.icon"></i>
                            <span>{{item.label}}</span>
                        </ng-template>
                    </p-selectbutton>
                </div>
                <p-button label="Ver filtros"
                          icon="pi pi-filter"
                          severity="secondary"
                          styleClass="surface-800 hover:surface-700 border-800 hover:border-700 text-white"
                          (onClick)="toggleFilterPopover.emit($event)"
                          [rounded]="true" />
            </div>
        </p-toolbar>
    </ng-template>
    <ng-template #header>
        <tr>
            <!-- Aluno -->
            <th [pSortableColumn]="'nome'"
                pFrozenColumn
                class="surface-900 text-white white-space-nowrap ">
                <div class="flex align-items-center gap-2">
                    <span>Aluno</span>
                    <p-sortIcon [field]="'nome'" />
                </div>
            </th>
            <!-- Turma -->
            <th [pSortableColumn]="'turma'" class="surface-900 py-0 border-none text-white white-space-nowrap p-3">
                <div class="flex align-items-center gap-2">
                    <span>Turma</span>
                    <p-sortIcon [field]="'turma'" />
                </div>
            </th>
            <ng-container *ngIf="loadingChecklists">
                <th *ngFor="let index of [0,1,2,3,4,5,6,7,8,9,10,11,12]">
                    <span *ngIf="index == 0">Semana {{index}}</span>
                    <span *ngIf="index > 0">{{index}}ª Semana </span>
                </th>
            </ng-container>
            <ng-container *ngIf="!loadingChecklists">
                <th *ngFor="let checklist of checklists"
                    class="w-3rem surface-900 px-1 border-none text-white text-center white-space-nowrap py-2">
                    {{checklist.nome}}
                </th>
            </ng-container>
        </tr>
        <tr>
            <th pFrozenColumn>
                <p-columnFilter [type]="'text'"
                                [field]="'nome'"
                                placeholder="Filtrar aluno"
                                class="p-column-filter-inline" />
            </th>
            <th>
                <p-columnFilter [type]="'text'"
                                [field]="'turma'"
                                placeholder="Filtrar turma"
                                class="p-column-filter-inline" />
            </th>
            <ng-container *ngIf="loadingChecklists">
                <th *ngFor="let index of [0,1,2,3,4,5,6,7,8,9,10,11,12]">
                    <p-select [options]="statusFilter"
                    optionLabel="label"    
                    optionValue="value"    
                    appendTo="body"/>
                </th>
            </ng-container>
            <ng-container *ngIf="!loadingChecklists">
                <th *ngFor="let checklist of checklists">
                    <p-select [options]="statusFilter"
                    optionLabel="label"    
                    optionValue="value"    
                    appendTo="body"
                    #checklistFilter
                    (onChange)="filtrarChecklistStatus(checklistFilter.value, checklist.id, dt, 'filterCallback')"/>
                </th>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #body let-aluno let-rowIndex="rowIndex">
        <tr class="cursor-pointer" style="height: 37px;">
            <!-- Nome -->
            <td class="w-10rem overflow-hidden text-overflow-ellipsis sticky left-0 z-2 fadein">
                <div class="flex align-items-center white-space-nowrap gap-2">
                    <p-button type="button"
                              (onClick)="enviarMensagem(aluno)"
                              (auxclick)="enviarMensagem(aluno)"
                              (contextmenu)="enviarMensagem(aluno)"
                              [disabled]="!aluno.celular"
                              icon="pi pi-whatsapp  {{!aluno.celular ? 'text-300' : ''}}"
                              severity="success"
                              [rounded]="true"
                              [text]="true" 
                              size="small"/>
                    <span class="capitalize hover:text-primary-500 hover:underline hover:font-medium"
                          [pTooltip]="aluno.nome"
                          tooltipPosition="top"
                          (click)="showAlunoPopover($event, aluno)">{{ aluno.nome | nameAbv }}</span>
                </div>
            </td>
            <td class="white-space-nowrap fadein">
                <div class="flex aliign-items-center">
                    <span class="w-1rem h-1rem inline-flex border-circle flex-none mr-2"
                          [pTooltip]="aluno.professor"
                          [style]="{ 
                                backgroundColor: aluno.corLegenda, 
                                borderColor: aluno.corLegenda 
                            }"></span>
                    <span>{{aluno.turma}}</span>
                </div>
            </td>
            <ng-container *ngIf="loadingChecklists">
                <td *ngFor="let col of [0,1,2,3,4,5,6,7,8,9,10,11,12]" class="border-none fadein"><p-skeleton /></td>
            </ng-container>
            <ng-container *ngIf="!loadingChecklists">
                <ng-container *ngFor="let checklist of aluno.checklistCompleto; trackBy: trackByChecklistId">
                    <td (click)="showChecklistPopover($event, aluno, checklist)"
                        class="white-space-nowrap text-center px-3 fadein">
                        <app-checklist-status [checklist]="checklist"></app-checklist-status>
                    </td>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr class="p-datatable-empty-text">
            <td pFrozenColumn>Nenhum item encontrado.</td>
            <td [attr.colspan]="1 + checklists.length" ></td>
        </tr>
    </ng-template>
    <ng-template #loadingbody let-columns="columns">
        <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" style="height: 43px;">
            <td class="border-none"><p-skeleton styleClass="fadein" /></td>
            <td class="border-none"><p-skeleton styleClass="fadein" /></td>
            <ng-container *ngIf="loadingChecklists">
                <td *ngFor="let col of [0,1,2,3,4,5,6,7,8,9,10,11,12]" class="border-none fadein"><p-skeleton /></td>
            </ng-container>
            <ng-container *ngIf="!loadingChecklists">
                <td *ngFor="let col of checklists" class="border-none fadein"><p-skeleton /></td>
            </ng-container>
        </tr>
    </ng-template>
</p-table>
<app-checklist-popover-jornada #popoverChecklist></app-checklist-popover-jornada>
<app-aluno-popover #alunoPopover></app-aluno-popover>