<p-sidebar #sidebar
           [(visible)]="open"
           [modal]="false"
           position="right"
           transitionOptions=".2s"
           styleClass="w-4 max-w-30rem">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <p-avatar
                      icon="pi pi-palette"
                      shape="circle" />
            <span class="font-bold"> Themes </span>
        </div>
    </ng-template>
    <div class="my-2 mb-4 flex">
        <p-button class="ml-auto"
            (onClick)="changeThemeMode()"
            [disabled]="!selectedTheme || !selectedTheme.hasSwitchMode"
            [severity]="(darkMode ? 'contrast': 'primary' )"
            [icon]="darkMode ? 'pi pi-moon' : 'pi pi-sun'"
            [label]="darkMode ? 'Dark Mode' : 'Light Mode'"/>
    </div>
    <ng-container *ngFor="let group of themeGroups">
        <div class="mt-2">
            <p-panel
                     [showHeader]="false">
                <div class="flex align-items-center gap-2 px-2 py-2 pb-3">
                    <p-avatar
                              [image]="'assets/imgs/' + group.image"
                              shape="circle" />
                    <span class="font-bold">{{group.label}}</span>
                    <span class="text-primary ml-auto" *ngIf="!group.hasSwitchMode">
                    
                            <span class="mr-2">No Light/Dark mode</span>
                        <p-avatar
                            styleClass="text-primary bg-transparent border-solid border-primary  text-xs"
                            icon="pi pi-info"
                            shape="circle" />
                    </span>
                </div>
                <div class="flex flex-wrap">
                    <div class="mr-2 mb-2" *ngFor="let theme of group.items">
                        <p-button
                                  (onClick)="themeClick(theme)"
                                  [label]="theme.label"
                                  size="small"
                                  [text]="selectedTheme != theme" />
                    </div>
                </div>
            </p-panel>
        </div>
    </ng-container>
</p-sidebar>