
<p-confirmdialog styleClass="w-25rem">
    <ng-template #message let-message>
        <div [innerHTML]="message.message"></div>
    </ng-template>
</p-confirmdialog>

<p-dialog [header]="isEditPage ? 'Editar'  : 'Cadastrar'"
          [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '600px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title">{{isEditPage ? 'Editar' : 'Cadastrar'}}</span>
            <p-button class="ml-auto"
                      type="button"
                      icon="pi pi-exclamation-circle"
                      size="large"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      (onClick)="op.toggle($event)" />
            <p-popover #op styleClass="popover-styled surface-900 border-900 white-space-nowrap text-white min-w-20rem">
                <div class="px-2">
                    <h3 class="text-xl mb-2">Informações Adicionais</h3>
                    <table class="w-full">
                        <tr>
                            <td class="py-2 px-3 surface-800 border-right-1 border-700 font-light">Cadastrado em</td>
                            <td class="py-2 px-3 surface-800 text-right">{{object.created | date : 'dd/MM/yyyy \'às\' HH\'h\'mm'}}</td>
                        </tr>
                        <tr *ngIf="object.account_Created">
                            <td class="py-2 px-3 surface-700 border-right-1 border-600 font-light">Cadastrado por</td>
                            <td class="py-2 px-3 surface-700 text-right">{{ object.account_Created }}</td>
                        </tr>
                        <tr *ngIf="object.lastUpdated">
                            <td class="py-2 px-3 surface-800 border-right-1 border-700 font-light">Última atualização</td>
                            <td class="py-2 px-3 surface-800 text-right">{{object.lastUpdated | date : 'dd/MM/yyyy \'às\' HH\'h\'mm'}}</td>
                        </tr>
                        <tr *ngIf="object.deactivated">
                            <td class="py-2 px-3 surface-700 border-right-1 border-600 font-light">Inativo em</td>
                            <td class="py-2 px-3 surface-700 text-right">{{object.deactivated | date : 'dd/MM/yyyy \'às\' HH\'h\'mm'}}</td>
                        </tr>
                    </table>
                </div>
            </p-popover>
        </div>
    </ng-template>
    <form (ngSubmit)="send(form, $event)" #form="ngForm">
        <div class="formgrid grid">
            <ng-template [ngIf]="!isEditPage">
                <div class="col-12">
                    <p-divider layout="horizontal" align="left" styleClass="mt-0"> <span class="font-bold text-primary">Selecione um usuário existente</span> </p-divider>
                </div>
                <div class="field col-12">
                    <p-select
                              [options]="accounts"
                              [(ngModel)]="accountsSelected"
                              #account_id="ngModel"
                              styleClass="w-full"
                              class="w-full"
                              name="account_id"
                              inputId="account_id"
                              optionLabel="name"
                              [showClear]="true"
                              [checkmark]="true"
                              [filter]="true"
                              filterBy="name"
                              appendTo="body"
                              optionDisabled="deactivated"
                              (ngModelChange)="accountSelectedChange($event)">
                        <ng-template #selectedItem let-selectedOption>
                            <span *ngIf="selectedOption">{{ selectedOption.name }} </span>
                        </ng-template>
                        <ng-template let-item #item>
                            <div class="flex align-items-center justify-content-between w-full gap-2">
                                <div>
                                    <p class="font-bold">{{ item.name }}</p>
                                    <p class="text-sm">
                                        <{{ item.email }}>
                                    </p>
                                </div>
                                <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                                       [icon]="(item.active ? 'pi pi-lock-open' : 'pi pi-lock') + ' mr-2 text-sm'"
                                       [value]="item.active ? 'Ativo': 'Inativo'"
                                       [severity]="item.active ? 'success': 'danger'"
                                       [pTooltip]="!item.active ?  'Inativo desde ' + (item.deactivated | date : 'dd/MM/yyyy HH:mm')  : undefined" />
                            </div>
                        </ng-template>
                    </p-select>
                </div>
                <div class="col-12">
                    <p-divider layout="horizontal" align="left"> <span class="font-bold text-primary">Cadastrar um novo</span> </p-divider>
                </div>
            </ng-template>
            <div class="field col-12"> <!-- Nome -->
                <label for="nome">Nome: <span class="text-red-500">*</span></label>
                <input type="text"
                       pInputText
                       #nome="ngModel"
                       [(ngModel)]="object.nome"
                       id="nome"
                       name="nome"
                       class="w-full"
                       [required]="true">
                <div *ngIf="nome.touched && nome.invalid && nome.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="nome.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field sm:col-4 col-12"> <!-- Telefone/Celular -->
                <label for="telefone">Telefone/Celular: <span class="text-red-500">*</span></label>
                <p-inputmask
                             #telefone="ngModel"
                             [(ngModel)]="object.telefone"
                             mask="(99) ?9.9999-9999"
                             placeholder="(99) *9.9999-9999"
                             [autoClear]="true"
                             id="telefone"
                             name="telefone"
                             class="w-full"
                             styleClass="w-full"
                             [required]="true" />
                <div *ngIf="telefone.touched && telefone.invalid && telefone.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="telefone.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field sm:col-8 col-12"> <!-- E-mail -->
                <label for="email">E-mail: <span class="text-red-500" *ngIf="!isEditPage && !accountsSelected">* <small class="text-black">(Não é possível alterar o e-mail após o primeiro cadastro)</small></span> </label>
                <ng-template [ngIf]="!isEditPage && !accountsSelected">
                    <input type="email"
                           [email]="true"
                           pInputText
                           #email="ngModel"
                           [(ngModel)]="object.email"
                           id="email"
                           name="email"
                           class="w-full"
                           [required]="true"
                           [pattern]="emailPattern"
                           placeholder="example@gmail.com">
                    <div *ngIf="email.touched && email.invalid && email.errors">
                        <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['required']">Esse campo é obrigatório.</p>
                        <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['email']">E-mail inválido.</p>
                        <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['pattern']">E-mail inválido.</p>
                    </div>
                </ng-template>
                <ng-template [ngIf]="isEditPage || accountsSelected">
                    <input type="email"
                           pInputText
                           [value]="object.email"
                           id="email"
                           class="w-full"
                           readonly>
                </ng-template>
            </div>
            <div class="field sm:col-4 col-12"> <!-- Data de Início -->
                <label for="dataInicio">Data de Início: <span class="text-red-500">*</span></label>
                <p-datepicker
                              #dataInicio="ngModel"
                              [(ngModel)]="object.dataInicio"
                              [showIcon]="true"
                              [iconDisplay]="'input'"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              inputId="dataInicio"
                              name="dataInicio"
                              class="w-full"
                              styleClass="w-full"
                              inputStyleClass="w-full"
                              [required]="true"
                              appendTo="body" />
                <div *ngIf="dataInicio.touched && dataInicio.invalid && dataInicio.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataInicio.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field sm:col-4 col-12"> <!-- Nível Ábaco -->
                <label for="professor_NivelAbaco_Id">Nível Ábaco: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="nivelAbaco"
                          [(ngModel)]="object.professor_NivelAbaco_Id"
                          #professor_NivelAbaco_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="professor_NivelAbaco_Id"
                          inputId="professor_NivelAbaco_Id"
                          optionLabel="descricao"
                          optionValue="id"
                          [showClear]="true"
                          [checkmark]="true"
                          appendTo="body"
                          [required]="true" />
                <div *ngIf="professor_NivelAbaco_Id.touched && professor_NivelAbaco_Id.invalid && professor_NivelAbaco_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="professor_NivelAbaco_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field sm:col-4 col-12"> <!-- Nível AH -->
                <label for="professor_NivelAH_Id">Nível AH: <span class="text-red-500">*</span></label>
                <p-select
                          [options]="nivelAH"
                          [(ngModel)]="object.professor_NivelAH_Id"
                          #professor_NivelAH_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="professor_NivelAH_Id"
                          inputId="professor_NivelAH_Id"
                          optionLabel="descricao"
                          optionValue="id"
                          [showClear]="true"
                          [checkmark]="true"
                          appendTo="body"
                          [required]="true" />
                <div *ngIf="professor_NivelAH_Id.touched && professor_NivelAH_Id.invalid && professor_NivelAH_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="professor_NivelAH_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <div class="field col-12 "> <!-- Legenda -->
                <div>
                    <label for="corLegenda">Legenda: <span class="text-red-500">*</span></label>
                    <div class="flex align-items-center my-3 mt-2 -ml-2">
                        <p-colorpicker
                                       #corLegenda="ngModel"
                                       [(ngModel)]="object.corLegenda"
                                       inputId="corLegenda"
                                       name="corLegenda"
                                       appendTo="body"
                                       styleClass="ml-2"
                                       [required]="true"
                                       value="#ffffff" />
                        <span class="ml-2">{{object.corLegenda}}</span>
                        <span class="ml-2" *ngIf="!object.corLegenda">Selecione uma cor</span>
                    </div>
                </div>
                <span class="flex align-items-center text-sm"><i class="pi pi-exclamation-circle mr-2"></i> Obs.: Esse campo representa a cor utilizada para o professor na visão do calendário de aulas.</span>
                <div *ngIf="corLegenda.touched && corLegenda.invalid && corLegenda.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="corLegenda.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
        </div>
        <div class="col-12 px-0 gap-4 flex flex-wrap align-items-center flex-wrap justify-content-between">
            <div class="sm:col-9 col-12 pl-0">
                <p class="text-red-500" *ngIf="!error"><span class="text-red-500">*</span> Preencha os campos corretamente para salvar.</p>
                <p class="text-red-500" *ngIf="error">{{error}}</p>
            </div>
            <div class="ml-auto">
                <p-button
                          type="submit"
                          [disabled]="form.invalid || loading"
                          class="w-full"
                          styleClass="w-full px-3"
                          label="Salvar"
                          icon="pi pi-check"
                          iconPos="right"
                          [loading]="loading"
                          [rounded]="true"
                          size="small" />
            </div>
        </div>
    </form>
</p-dialog>