<app-confirm-dialog></app-confirm-dialog>
<p-dialog [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '500px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title">{{isEditPage ? 'Editar' : 'Cadastrar'}}</span>
            <p-button *ngIf="isEditPage"
                      class="ml-auto"
                      type="button"
                      icon="pi pi-exclamation-circle"
                      size="large"
                      [text]="true"
                      [rounded]="true"
                      severity="secondary"
                      (onClick)="op.toggle($event)" />
            <p-popover #op styleClass="popover-styled surface-900 border-900 white-space-nowrap text-white min-w-20rem">
                <div class="px-2">
                    <h3 class="text-xl mb-2">Informações Adicionais</h3>
                    <table class="w-full">
                        <tr *ngIf="object.created">
                            <td class="py-2 px-3 surface-800 border-right-1 border-700 font-light">Cadastrado em</td>
                            <td class="py-2 px-3 surface-800 text-right">{{object.created | date : 'dd/MM/yyyy \'às\' HH\'h\'mm'}}</td>
                        </tr>
                        <tr *ngIf="object.account_Created">
                            <td class="py-2 px-3 surface-700 border-right-1 border-600 font-light">Cadastrado por</td>
                            <td class="py-2 px-3 surface-700 text-right">{{ object.account_Created }}</td>
                        </tr>
                        <tr *ngIf="object.lastUpdated">
                            <td class="py-2 px-3 surface-800 border-right-1 border-700 font-light">Última atualização</td>
                            <td class="py-2 px-3 surface-800 text-right">{{object.lastUpdated | date : 'dd/MM/yyyy \'às\' HH\'h\'mm'}}</td>
                        </tr>
                        <tr *ngIf="object.deactivated">
                            <td class="py-2 px-3 surface-700 border-right-1 border-600 font-light">Inativo em</td>
                            <td class="py-2 px-3 surface-700 text-right">{{object.deactivated | date : 'dd/MM/yyyy \'às\' HH\'h\'mm'}}</td>
                        </tr>
                    </table>
                </div>
            </p-popover>
        </div>
    </ng-template>
    <form (ngSubmit)="sendConfirmation($event, form)" #form="ngForm" #formTag>
        <div class="formgrid grid">
            <!-- Account -->
            <ng-container *ngIf="!isEditPage">
                <div class="col-12">
                    <p-divider layout="horizontal" align="left" styleClass="mt-0"> <span class="font-bold text-primary">Selecione um usuário existente</span> </p-divider>
                </div>
                <div class="field col-12">
                    <p-select
                              [options]="accounts"
                              [(ngModel)]="accountsSelected"
                              #account_id="ngModel"
                              styleClass="w-full"
                              class="w-full"
                              name="account_id"
                              inputId="account_id"
                              [showClear]="true"
                              [filter]="true"
                              [filterBy]="'name,email'"
                              appendTo="body"
                              optionDisabled="deactivated"
                              (ngModelChange)="accountSelectedChange($event)">
                        <ng-template #selectedItem let-selectedOption>
                            <span *ngIf="selectedOption">{{ selectedOption.name }} </span>
                        </ng-template>
                        <ng-template let-item #item>
                            <div class="flex align-items-center justify-content-between w-full gap-2">
                                <div>
                                    <p class="font-bold">{{ item.name }}</p>
                                    <p class="text-sm">
                                        <{{ item.email }}>
                                    </p>
                                </div>
                                <p-tag styleClass="font-normal flex align-items-baseline justify-content-center w-5rem"
                                       [icon]="(item.active ? 'pi pi-lock-open' : 'pi pi-lock') + ' mr-2 text-sm'"
                                       [value]="item.active ? 'Ativo': 'Inativo'"
                                       [severity]="item.active ? 'success': 'danger'"
                                       [pTooltip]="!item.active ?  'Inativo desde ' + (item.deactivated | date : 'dd/MM/yyyy HH:mm')  : undefined" />
                            </div>
                        </ng-template>
                    </p-select>
                </div>
                <div class="col-12">
                    <p-divider layout="horizontal" align="left"> <span class="font-bold text-primary">Cadastrar um novo</span> </p-divider>
                </div>
            </ng-container>
            <!-- Nome -->
            <div class="field lg:col-7 md:col-12 sm:col-3 col-7">
                <label for="nome">Nome do educador: <span class="text-red-500">*</span></label>
                <input type="text"
                       pInputText
                       #nome="ngModel"
                       [(ngModel)]="object.nome"
                       id="nome"
                       name="nome"
                       class="w-full"
                       [required]="true">
                <div *ngIf="nome.touched && nome.invalid && nome.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="nome.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Celular -->
            <div class="field lg:col-5 md:col-4 sm:col-4 col-5">
                <label for="telefone">Celular: <span class="text-red-500">*</span></label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-mobile" />
                    <p-inputmask
                                 inputId="telefone"
                                 name="telefone"
                                 #telefone="ngModel"
                                 [(ngModel)]="object.telefone"
                                 mask="+99 (99) 9.9999-9999"
                                 placeholder="+55 (99) 9.9999-9999"
                                 [autoClear]="true"
                                 class="w-full"
                                 styleClass="w-full pl-5"
                                 [required]="true" />
                </p-iconfield>
                <div *ngIf="telefone.touched && telefone.invalid && telefone.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="telefone.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- E-mail -->
            <div class="field lg:col-6 md:col-8 sm:col-5 col-12">
                <label for="email">E-mail: <span class="text-red-500" *ngIf="!isEditPage && !accountsSelected">* <small class="text-black">(Não é possível alterar o e-mail após o primeiro cadastro)</small></span> </label>
                <ng-container *ngIf="!isEditPage && !accountsSelected">
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-envelope" />
                        <input type="email"
                               [email]="true"
                               pInputText
                               #email="ngModel"
                               [(ngModel)]="object.email"
                               id="email"
                               name="email"
                               class="w-full"
                               [required]="true"
                               [pattern]="emailPattern"
                               placeholder="example@gmail.com"
                               [readonly]="isEditPage">
                    </p-iconfield>
                    <div *ngIf="email.touched && email.invalid && email.errors">
                        <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['required']">Esse campo é obrigatório.</p>
                        <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['email']">E-mail inválido.</p>
                        <p class="text-red-500 mt-2 mb-0" *ngIf="email.errors['pattern']">E-mail inválido.</p>
                    </div>
                </ng-container>
                <ng-container *ngIf="isEditPage || accountsSelected">
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-envelope" />
                        <input type="email"
                               pInputText
                               [value]="object.email"
                               id="email"
                               class="w-full"
                               readonly>
                    </p-iconfield>
                </ng-container>
            </div>
            <!-- Nível Certificação -->
            <div class="field lg:col-6 md:col-4 sm:col-4 col-12">
                <label for="professor_NivelCertificacao_Id">Nível de Certificação: <span class="text-red-500">*</span></label>
                <p-select
                          [loading]="loadingNivelCertificacao"
                          [options]="nivelCertificacao"
                          [(ngModel)]="object.professor_NivelCertificacao_Id"
                          #professor_NivelCertificacao_Id="ngModel"
                          styleClass="w-full"
                          class="w-full"
                          name="professor_NivelCertificacao_Id"
                          inputId="professor_NivelCertificacao_Id"
                          optionLabel="descricao"
                          optionValue="id"
                          [showClear]="true"
                          appendTo="body"
                          [required]="true" />
                <div *ngIf="professor_NivelCertificacao_Id.touched && professor_NivelCertificacao_Id.invalid && professor_NivelCertificacao_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="professor_NivelCertificacao_Id.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Data de Nascimento -->
            <div class="field lg:col md:col-4 sm:col-4 col-6">
                <label for="dataNascimento">Data de Nascimento: <span class="text-red-500">*</span></label>
                <p-datepicker
                              #dataNascimento="ngModel"
                              [(ngModel)]="object.dataNascimento"
                              [showIcon]="true"
                              iconDisplay="input"
                              [selectOtherMonths]="true"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              inputId="dataNascimento"
                              name="dataNascimento"
                              class="w-full"
                              styleClass="w-full"
                              inputStyleClass="w-full"
                              [required]="true"
                              appendTo="body" />
                <div *ngIf="dataNascimento.touched && dataNascimento.invalid && dataNascimento.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataNascimento.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Data de Início -->
            <div class="field lg:col md:col-4 sm:col-4 col-6">
                <label for="dataInicio">Data de Início: <span class="text-red-500">*</span></label>
                <p-datepicker
                              #dataInicio="ngModel"
                              [(ngModel)]="object.dataInicio"
                              [showIcon]="true"
                              iconDisplay="input"
                              [selectOtherMonths]="true"
                              [minDate]="minDate"
                              [maxDate]="maxDate"
                              inputId="dataInicio"
                              name="dataInicio"
                              class="w-full"
                              styleClass="w-full"
                              inputStyleClass="w-full"
                              [required]="true"
                              appendTo="body" />
                <div *ngIf="dataInicio.touched && dataInicio.invalid && dataInicio.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="dataInicio.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
            <!-- Início Expediente -->
            <div class="field lg:col md:col-6 sm:col-6 col-6">
                <label for="expedienteInicio">Início Expediente: <span class="text-red-500">*</span></label>
                <p-datepicker #expedienteInicio="ngModel"
                              inputId="expedienteInicio"
                              name="expedienteInicio"
                              [(ngModel)]="object.expedienteInicio"
                              (onBlur)="expedienteChanged(expedienteInicio, expedienteFim)"
                              [keepInvalid]="true"
                              [minDate]="min"
                              [maxDate]="max"
                              [showIcon]="true"
                              iconDisplay="input"
                              hourFormat="24"
                              [timeOnly]="true"
                              [required]="true"
                              appendTo="body"
                              fluid>
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
                <div *ngIf="expedienteInicio.touched && expedienteInicio.invalid && expedienteInicio.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="expedienteInicio.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="expedienteInicio.errors['expedienteInvalido']" [innerHTML]="expedienteInicio.errors['expedienteInvalido']"></p>
                </div>
            </div>
            <!-- Fim Expediente -->
            <div class="field lg:col md:col-6 sm:col-6 col-6">
                <label for="expedienteFim">Fim Expediente: <span class="text-red-500">*</span></label>
                <p-datepicker #expedienteFim="ngModel"
                              inputId="expedienteFim"
                              name="expedienteFim"
                              [(ngModel)]="object.expedienteFim"
                              (onBlur)="expedienteChanged(expedienteInicio, expedienteFim)"
                              [keepInvalid]="true"
                              [minDate]="min"
                              [maxDate]="max"
                              [showIcon]="true"
                              iconDisplay="input"
                              icon="pi pi-clock"
                              [showTime]="true"
                              hourFormat="24"
                              [timeOnly]="true"
                              [required]="true"
                              appendTo="body"
                              fluid>
                    <ng-template #inputicon let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-datepicker>
                <div *ngIf="expedienteFim.touched && expedienteFim.invalid && expedienteFim.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="expedienteFim.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="expedienteFim.errors['expedienteInvalido']" [innerHTML]="expedienteFim.errors['expedienteInvalido']"></p>
                </div>
            </div>
            <!-- Legenda -->
            <div class="field col-12">
                <div>
                    <label for="corLegenda">Legenda: <span class="text-red-500">*</span></label>
                    <div class="flex align-items-center my-3 mt-2 -ml-2">
                        <p-colorpicker #corLegenda="ngModel"
                                       [(ngModel)]="object.corLegenda"
                                       inputId="corLegenda"
                                       name="corLegenda"
                                       appendTo="body"
                                       styleClass="ml-2"
                                       [required]="true"
                                       value="#ffffff" />
                        <span class="ml-2">{{object.corLegenda}}</span>
                        <span class="ml-2" *ngIf="!object.corLegenda">Selecione uma cor</span>
                    </div>
                </div>
                <span class="flex align-items-center text-sm"><i class="pi pi-exclamation-circle mr-2"></i> Obs.: Esse campo representa a cor utilizada para o professor na visão do calendário de aulas.</span>
                <div *ngIf="corLegenda.touched && corLegenda.invalid && corLegenda.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="corLegenda.errors['required']">Esse campo é obrigatório.</p>
                </div>
            </div>
        </div>
        <div class="col-12 px-0 gap-2 flex flex-wrap align-items-center justify-content-between">
            <div class="col">
                <p class="text-red-500" *ngIf="!error"><span class="text-red-500">*</span> Preencha os campos corretamente para salvar.</p>
                <p class="text-red-500" *ngIf="error">{{error}}</p>
            </div>
            <div class="ml-auto">
                <!-- <p-button *ngIf="isEditPage"
                          type="button"
                          (onClick)="goToCalendario()"
                          styleClass="border-2 px-3 mr-2"
                          label="Ver calendário"
                          icon="pi pi-calendar"
                          [rounded]="true"
                          [outlined]="true"
                          size="small" /> -->
                <p-button
                          type="submit"
                          [disabled]="form.invalid || loading"
                          styleClass="px-3"
                          label="Salvar"
                          icon="pi pi-check"
                          [loading]="loading"
                          [rounded]="true" />
            </div>
        </div>
    </form>
</p-dialog>