<p-popover #popover
           [dismissable]="true"
           styleClass="-mt-1"
           appendTo="body">
    <div *ngIf="checklist">
        <p>
            <span>Prazo máximo: </span>
            <b>
                <span *ngIf="checklist.prazo">{{checklist.prazo | date : 'dd/MM/yyyy'}}</span>
                <span *ngIf="!checklist.prazo">Indefinido</span>
            </b>
        </p>
        <ul class="flex flex-column list-none p-0">
            <li *ngFor="let item of checklist.items; let index = index">
                <div class="flex align-items-center line-height-1 gap-2" style="height: 30px">
                    <p-checkbox
                                [(ngModel)]="item.finalizado"
                                [readonly]="item.finalizado"
                                inputId="finalizado[{{index}}]"
                                name="finalizado[{{index}}]"
                                [ngClass]="{ 
                            'pointer-events-none' : item.finalizado,
                        }"
                                class="p-checkbox-green"
                                [binary]="true"
                                (onChange)="finalizarChecklist(item)"></p-checkbox>
                    <span class="white-space-nowrap">{{item.checklist_Item}}</span>
                    <div class="pl-2 ml-auto">
                        <ng-container *ngIf="item.finalizado">
                            <p-button
                                      icon="pi pi-exclamation-circle"
                                      severity="info"
                                      [text]="true"
                                      [rounded]="true"
                                      pTooltip="Clique para ver detalhes"
                                      tooltipPosition="bottom"
                                      (onClick)="showChecklistDetalhes(item)" />
                        </ng-container>
                        <ng-container *ngIf="item.finalizado == false && checklistsMensagemWhatsapp.includes(item.checklist_Item_Id)">
                            <p-button type="button"
                                      icon="pi pi-whatsapp"
                                      [severity]="aluno.celular ? 'success' : 'secondary'"
                                      [disabled]="!aluno.celular"
                                      [text]="true"
                                      [rounded]="true"
                                      pTooltip="Enviar mensagem"
                                      (onClick)="enviarMensagemCondicao(item, aluno)"
                                      (auxclick)="enviarMensagemCondicao(item, aluno)"
                                      (contextmenu)="enviarMensagemCondicao(item, aluno)" />
                        </ng-container>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</p-popover>