@import 'ngx-toastr/toastr';
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';
@import '@fortawesome/fontawesome-free/css/all.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
/* @import 'quill/dist/quill.snow.css'; */
@import 'primeflex/themes/primeone-light.scss';

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
:root {
    font-family: "Inter var", sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    color: #3e3e3e;
    --font-family: "Inter var", sans-serif;
    --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --text-color: #3e3e3e;
    --text-color-secondary: #484747;
    --primary-color: var(--p-primary-500);
    --primary-color-text: #ffffff;
    --primary-50: var(--p-primary-50);
    --primary-100: var(--p-primary-100);
    --primary-200: var(--p-primary-200);
    --primary-300: var(--p-primary-300);
    --primary-400: var(--p-primary-400);
    --primary-500: var(--p-primary-500);
    --primary-600: var(--p-primary-600);
    --primary-700: var(--p-primary-700);
    --primary-800: var(--p-primary-800);
    --primary-900: var(--p-primary-900);
    --surface-0: var(--p-surface-0);
    --surface-50: var(--p-surface-50);
    --surface-100: var(--p-surface-100);
    --surface-200: var(--p-surface-200);
    --surface-300: var(--p-surface-300);
    --surface-400: var(--p-surface-400);
    --surface-500: var(--p-surface-500);
    --surface-600: var(--p-surface-600);
    --surface-700: var(--p-surface-700);
    --surface-800: var(--p-surface-800);
    --surface-900: var(--p-surface-900);
    --surface-950: var(--p-surface-950);
    --balloon-width: 5px !important;
    --balloon-height: 5px !important;
    --yellow-50: #fffcf3;
    --yellow-100: #fff0c3;
    --yellow-200: #ffe494;
    --yellow-300: #ffd965;
    --yellow-400: #ffcd36;
    --yellow-500: #ffc107;
    --yellow-600: #d9a406;
    --yellow-700: #b38705;
    --yellow-800: #8c6a04;
    --yellow-900: #664d03;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    line-height: 18px;
}

html,
body {
    height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

a {
    text-decoration: none;
}

.field>label {
    white-space: nowrap;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.field>label::-webkit-scrollbar {
    display: none;
}

.p-iconfield .p-inputicon {
    z-index: 1;
}

.p-iconfield-left .p-password input {
    padding-left: 35px;
}

.p-menu-list .p-menu-separator {
    border: none;
}

.p-menu-item-icon {
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-menu-item-icon img {
    width: 100%;
}

.p-confirmdialog-message {
    white-space: pre-line;
    line-height: 1.5;
}

/* width */
*::-webkit-scrollbar {
    /* width: 20px;
    height: 10px; */
}

/* Track */
*::-webkit-scrollbar-track {
    background: var(--surface-300);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: var(--surface-700);
    background: var(--surface-700);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: var(--surface-900);
}

.p-datatable-gridlines .p-datatable-header {
    border-width: 0 !important;
}

.p-datatable-gridlines .p-datatable-thead>tr>th {
    border-width: 0 !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd) {
    background: var(--p-datatable-row-striped-background);
}

.p-datatable-hoverable .p-datatable-tbody>tr:nth-child(odd):hover,
.p-datatable-hoverable .p-datatable-tbody>tr:nth-child(even):hover {
    background: var(--p-primary-200) !important;
}

.p-inputtext:disabled {
    background-color: var(--surface-100) !important;
    cursor: default;
}

.p-dialog-maximized {
    height: 95vh !important;
    border-radius: var(--p-dialog-border-radius) !important;
}

.p-datatable-tbody .p-datatable-empty-text,
.p-datatable-empty-text td {
    pointer-events: none;
    border: none !important;
    background-color: var(--surface-50) !important;
}

.fc-daygrid-body,
.fc-daygrid-body table {
    width: 100% !important;
}

.fc-timegrid-axis-cushion {
    display: none;
}

.fc .fc-button-primary {
    background-color: var(--p-button-secondary-background);
    border-color: var(--p-button-secondary-border-color);
    color: var(--p-button-secondary-color);
}

.fc .fc-button-primary:hover {
    background-color: var(--p-button-secondary-active-background);
    border-color: var(--p-button-secondary-active-border-color);
    color: var(--p-button-secondary-active-color);
}

.fc .fc-button-primary:active {
    background-color: var(--p-button-primary-active-background);
    border-color: var(--p-button-primary-active-border-color);
    color: var(--p-button-primary-active-color);
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
    background-color: var(--p-button-primary-background);
    border-color: var(--p-button-primary-border-color);
    color: var(--p-button-primary-color);
}

.fc .fc-toolbar-title {
    font-size: 1.6rem;
    text-align: left;
}

.fc-event.selected,
.fc-daygrid-event.selected {
    border: 2px var(--p-primary-500) solid !important;
    background-color: var(--p-primary-500) !important;
    color: #fff;
}

.fc-day.selected {
    background-color: var(--p-primary-200);
}

.p-fileupload-header {
    display: none !important;
}

.p-fileupload-content {
    padding-top: 15px !important;
    background-color: transparent !important;
    border-color: var(--surface-50) !important;
}

.p-fileupload-advanced {
    background: transparent !important;
}

.p-inputtext[readonly] {
    cursor: default;
}

.p-datatable-column-filter-button {
    margin-top: -3px;
    color: white !important;
    padding: 0 0;
}

.p-datatable-column-filter-button:hover,
.p-datatable-column-filter-button:active {
    background-color: var(--surface-700) !important;
}

.p-tooltip .p-tooltip-text {
    width: fit-content !important;
    max-width: unset !important;
}

.surface-900.p-popover:before,
.surface-900.p-popover:after {
    border-bottom-color: var(--surface-900) !important;
}

.fc-col-header,
.fc-timegrid-body {
    width: 100% !important;
}

.fc-timegrid-body {
    table {
        width: 100% !important;
    }
}

.fc .fc-toolbar-title {
    text-align: center;
}

.fc-button {
    padding-block: 10px;
    padding-inline: 10px;
    font-size: 1rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fc .fc-multimonth-title {
    padding: 0px 0 !important;
    background-color: var(--surface-800) !important;
    font-weight: 700;
    color: #fff;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border: 1px solid var(--fc-border-color);
    background: white;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: var(--p-primary-100);
}

.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
    box-shadow: none;
}

.p-multiselect-option.p-focus,
.p-select-option.p-select-option-selected {
    background-color: var(--p-primary-100) !important;
    color: var(--p-primary-500) !important;
}

.fc-scrollgrid-sync-inner,
.fc-col-header-cell-cushion {
    width: 100%;
    height: 100%;
    text-align: center;
}

.p-datatable-thead>tr>th {
    white-space: nowrap;
}

.p-datatable-thead>tr>th,
.p-datatable-tbody>tr>td {
    background-color: inherit;
}

.p-datepicker-day.p-disabled {
    position: relative;
    /* text-decoration: line-through; */
    /* text-decoration-color: red; */
    overflow: visible;
    opacity: 1;
    color: var(--surface-300);
}

/* .p-datepicker-day.p-disabled:not(.p-datepicker-other-month .p-datepicker-day.p-disabled)::after { */
.p-datepicker-day.p-disabled::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: var(--p-red-400);
    z-index: 2;
    opacity: 1;
    /* float: revert; */
    rotate: 42deg;
}

.p-popover:after,
.p-popover:before {
    /* bottom: 100%;
    left: calc(var(--overlayArrowLeft) + 60px);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; */
    display: none;
}

.p-datatable.p-datatable-striped .p-datatable-tbody>tr td {
    background-color: var(--p-datatable-row-background);
}

.p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd) td {
    background: var(--p-datatable-row-striped-background);
}

th.p-datatable-frozen-column,
td.p-datatable-frozen-column {
    position: sticky;
    margin-top: 1px;
}

thead tr .fc-scroller,
tbody tr:first-child .fc-scroller {
    overflow: hidden !important;
    padding-right: 15px;
    border-top: 1px #dddddd solid;
    margin-bottom: -1px;
}

.p-listbox .p-listbox-list .p-listbox-option.p-listbox-option-selected,
.p-listbox .p-listbox-list .p-listbox-option.p-listbox-option-selected:hover,
.p-listbox .p-listbox-list .p-listbox-option.p-listbox-option-selected:focus {
    background: var(--primary-color);
    color: white;
}

.p-button {
    white-space: nowrap;
}

.p-select-small .pi {
    font-size: 10px;
}

.p-select-small .p-select-label {
    font-size: 10.5px;
    padding: 3px 7px;
}

.p-select-small .p-select-dropdown {
    width: 21px;
}

.p-select.ng-touched.ng-invalid,
p-multiselect.ng-touched.ng-invalid .p-inputtext,
p-datepicker.ng-touched.ng-invalid .p-inputtext,
p-inputmask.ng-touched.ng-invalid .p-inputtext,
.p-inputtext.ng-touched.ng-invalid input,
input.ng-invalid.ng-touched {
    border: 1px #e93636 solid !important;
    animation: 0.6s shadowInvalid infinite;
    box-shadow: 0 0 3px 1px #ff00006c;
}

@keyframes shadowInvalid {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }

    50% {
        box-shadow: 0 0 3px 1px #ff0000a6
    }
}

@media screen and (min-width: 320px) and (max-width: 570px) {
    .xs\:col {
        flex-grow: 1;
        flex-basis: 0;
        padding: 0.5rem;
    }

    .xs\:col-fixed {
        flex: 0 0 auto;
        padding: 0.5rem;
    }

    .xs\:col-1 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 8.3333%;
    }

    .xs\:col-2 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 16.6667%;
    }

    .xs\:col-3 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 25%;
    }

    .xs\:col-4 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 33.3333%;
    }

    .xs\:col-5 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 41.6667%;
    }

    .xs\:col-6 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 50%;
    }

    .xs\:col-7 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 58.3333%;
    }

    .xs\:col-8 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 66.6667%;
    }

    .xs\:col-9 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 75%;
    }

    .xs\:col-10 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 83.3333%;
    }

    .xs\:col-11 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 91.6667%;
    }

    .xs\:col-12 {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 100%;
    }
}