<app-confirm-dialog></app-confirm-dialog>
<p-popover #popover
           styleClass="z-2 -mt-1"
           (onHide)="onHide()"
           [dismissable]="true">
    <ng-container *ngIf="evento">
        <div class="selected-evento">
            <div class="selected-evento-dados">
                <div class="selected-evento-titulo">
                    <p class="selected-evento-descricao">
                        <i class="fa-solid fa-users-between-lines"></i>
                        <span>{{ evento.descricao }}</span>
                    </p>
                    <p class="selected-evento-tipo">{{tipoEventoString}}</p>
                </div>
                <div class="selected-evento-text">
                    <!-- Data -->
                    <div class="selected-evento-linha">
                        <span class="selected-evento-linha-icon">
                            <i class="pi pi-calendar"></i>
                        </span>
                        <span>Data: </span>
                        <span>{{ evento.data | date : "dd/MM/yyyy 'às' HH'h'mm" }}</span>
                    </div>
                    <!-- Sala -->
                    <div class="selected-evento-linha">
                        <span class="selected-evento-linha-icon">
                            <i class="fa-solid fa-users-between-lines"></i>
                        </span>
                        <span>Sala: </span>
                        <app-sala-aula [sala_Id]="evento.sala_Id"
                                       [andar]="evento.andar"
                                       [numeroSala]="evento.numeroSala"></app-sala-aula>
                    </div>
                    <!-- Educador -->
                    <div class="selected-evento-linha"
                         *ngIf="![EventoTipo.Reuniao].includes(evento.evento_Tipo_Id)">
                        <span class="selected-evento-linha-icon">
                            <i class="fa-solid fa-person-chalkboard"></i>
                        </span>
                        <span>Educador(a): </span>
                        <span *ngIf="evento.professor">{{ evento.professor }}</span>
                        <span *ngIf="!evento.professor" class="font-bold">Indefinido</span>
                        <span class="selected-evento-cor-legenda"
                              [style]="{ backgroundColor: evento.corLegenda }"></span>
                    </div>
                    <!-- Perfil Cognitivo -->
                    <ng-container *ngIf="[EventoTipo.Aula, EventoTipo.TurmaExtra].includes(evento.evento_Tipo_Id)">
                        <div class="selected-evento-linha">
                            <span class="selected-evento-linha-icon">
                                <i class="fa-solid fa-brain"></i>
                            </span>
                            <span>Perfil Cognitivo: </span>
                            <ng-container *ngIf="evento.perfilCognitivo && evento.perfilCognitivo.length > 0">
                                <ng-container *ngTemplateOutlet="perfilCognitivoTemplate; context: { perfilCognitivo: getPerfilCognitivo(evento) }"></ng-container>
                                <ng-template #perfilCognitivoTemplate let-perfilCognitivo="perfilCognitivo">
                                    <p class="font-bold">{{ perfilCognitivo }} </p>
                                </ng-template>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- Alunos -->
            <ng-container *ngIf="[EventoTipo.Reuniao].includes(evento.evento_Tipo_Id) == false">
                <div class="selected-evento-alunos-header">
                    <span class="font-bold block text-primary">
                        <span *ngIf="evento.alunos.length == 0">Nenhum aluno</span>
                        <span *ngIf="evento.alunos.length > 1">Alunos</span>
                        <span *ngIf="evento.alunos.length == 1">Aluno</span>
                    </span>
                    <div class="flex flex-column align-items-end">
                        <div class="flex align-items-center">
                            <span class="ml-auto">
                                
                                <ng-container *ngIf="[EventoTipo.Aula, EventoTipo.TurmaExtra, EventoTipo.Oficina].includes(evento.evento_Tipo_Id)">
                                    <span class="event-vagas" [pTooltip]="tooltipVagas">
                                        <p class="flex flex-row align-items-center gap-1">
                                            <i class="pi pi-calendar text-xs"></i>
                                            <span>
                                                {{evento.vagasDisponiveisEvento}}/{{evento.alunosAtivosEvento}}
                                            </span>
                                        </p>
                                        <p class="flex flex-row align-items-center gap-1" *ngIf="evento.evento_Tipo_Id == EventoTipo.Aula">
                                            <i class="fa fa-users-between-lines text-xs"></i>
                                            <span>
                                                {{evento.vagasDisponiveisTurma}}/{{evento.alunosAtivosTurma}}
                                            </span>
                                        </p>
                                        <ng-template #tooltipVagas>
                                            <p class="flex flex-row align-items-center gap-1 white-space-nowrap">
                                                <i class="pi pi-calendar text-xs"></i>
                                                <span>
                                                    No dia: 
                                                    <span *ngIf="evento.vagasDisponiveisEvento == 0">Nenhuma vaga / </span>
                                                    <span *ngIf="evento.vagasDisponiveisEvento == 1">1 vaga / </span>
                                                    <span *ngIf="evento.vagasDisponiveisEvento > 1">{{ evento.vagasDisponiveisEvento }} vagas / </span>
                                                    
                                                    <span *ngIf="evento.alunosAtivosEvento == 0">Nenhum aluno</span>
                                                    <span *ngIf="evento.alunosAtivosEvento == 1">1 aluno</span>
                                                    <span *ngIf="evento.alunosAtivosEvento > 1">{{ evento.alunosAtivosEvento }} alunos</span>
                                                </span>
                                            </p>
                                            <p class="flex flex-row align-items-center gap-1 white-space-nowrap" *ngIf="evento.evento_Tipo_Id == EventoTipo.Aula">
                                                <i class="fa fa-users-between-lines text-xs"></i>
                                                <span>
                                                    Na turma: 
                                                    <span *ngIf="evento.vagasDisponiveisTurma == 0">Nenhuma vaga / </span>
                                                    <span *ngIf="evento.vagasDisponiveisTurma == 1">1 vaga / </span>
                                                    <span *ngIf="evento.vagasDisponiveisTurma > 1">{{ evento.vagasDisponiveisTurma }} vagas / </span>
                                                    
                                                    <span *ngIf="evento.alunosAtivosTurma == 0">Nenhum aluno</span>
                                                    <span *ngIf="evento.alunosAtivosTurma == 1">1 aluno</span>
                                                    <span *ngIf="evento.alunosAtivosTurma > 1">{{ evento.alunosAtivosTurma }} alunos</span>
                                                </span>
                                            </p>
                                        </ng-template>
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="[EventoTipo.AulaZero, EventoTipo.Superacao].includes(evento.evento_Tipo_Id)">
                                    <span>{{ evento.alunos.length }} aluno(s)</span>
                                </ng-container>
                            </span>
                            <span class="ml-2 text-primary fa fa-user-graduate"></span>
                        </div>
                    </div>
                </div>
                <div class="max-h-15rem overflow-auto w-full">
                    <div *ngFor="let aluno of evento.alunos; let i = index"
                         cdkDrag
                         [cdkDragDisabled]="aluno.presente && evento.finalizado"
                         [cdkDragData]="aluno"
                         (cdkDragStarted)="cdkDragStarted($event)"
                         (cdkDragEntered)="cdkDragEntered($event)"
                         (cdkDragExited)="cdkDragExited($event)"
                         [ngClass]="{ 'cursor-disabled': aluno.presente && evento.finalizado }"
                         class="p-0 m-0">
                        <div *cdkDragPlaceholder></div>
                        <div *cdkDragPreview class="p-2">
                            <span class="-mt-2 ml-2 text-xs">Pressione esc para cancelar</span>
                            <div class="shadow-2">
                                <ng-container *ngTemplateOutlet="participacaoItem; context: { participacao: aluno }"></ng-container>
                            </div>
                        </div>
                        <a class="cursor-pointer">
                            <ng-container *ngTemplateOutlet="participacaoItem; context: { participacao: aluno }"></ng-container>
                        </a>
                        <ng-template #participacaoItem let-participacao="participacao">
                            <app-aluno-popover #popoverAluno
                                               [aluno_Id]="participacao.aluno_Id"
                                               [showChecklist]="true"
                                               [evento]="evento"
                                               [eventoReposicao]="participacao.reposicaoDe_Evento ? undefined : evento"
                                               [participacao]="participacao.reposicaoDe_Evento ? undefined : participacao"></app-aluno-popover>
                            <div class="w-full p-2 px-3"
                                 [ngClass]="{
                                        'surface-50': i % 2 == 0,
                                        'surface-0': i % 2 != 0
                                    }">
                                <div class="flex align-items-center gap-2">
                                    <p-button type="button"
                                        (onClick)="enviarMensagem(participacao)"
                                        (auxclick)="enviarMensagem(participacao)"
                                        (contextmenu)="enviarMensagem(participacao)"
                                        [disabled]="!participacao.celular"
                                        icon="pi pi-whatsapp"
                                        [severity]="participacao.celular ? 'success' : 'secondary'"
                                        [text]="true"
                                        [rounded]="true"
                                        pTooltip="Enviar mensagem"
                                        styleClass="p-0 w-auto h-auto" />
                                    <!-- Nome -->
                                    <span class="hover:underline hover:text-primary-500 hover:font-bold"
                                          [pTooltip]="participacao.nome"
                                          (click)="popoverAluno.show($event)">
                                        <span class="capitalize">{{ participacao.aluno | nameAbv }}</span>
                                    </span>

                                    <div class="ml-auto">
                                        <app-aluno-participacao-status 
                                            [evento]="evento" 
                                            [participacao]="participacao"></app-aluno-participacao-status>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </ng-container>
            <!-- Educadores -->
            <ng-container *ngIf="[EventoTipo.Reuniao, EventoTipo.Oficina].includes(evento.evento_Tipo_Id) && evento.professores && evento.professores.length > 1">
                <div class="flex align-items-center justify-content-between px-2 w-full">
                    <span class="font-bold block text-primary">Educadores</span>
                    <span class="font-bold block ml-auto">
                        {{ evento.professores.length }}
                    </span>
                    <span class="ml-2 text-primary fa-solid fa-person-chalkboard"></span>
                </div>
                <div class="h-10rem overflow-auto w-full">
                    <div *ngFor="let professor of evento.professores; let i = index">
                        <div class="w-full flex align-items-center justify-content-start gap-2 p-1">
                            <app-legend-color [corLegenda]="professor.corLegenda"
                                                [professor_Id]="professor.id"
                                                [professor]="professor.nome"></app-legend-color>
                    
                            <span class="">{{ professor.nome }}</span>
                            <ng-container *ngIf="evento.finalizado && professor.presente === true">
                                <p-tag value="Presente" severity="success" />
                            </ng-container>
                            <ng-container *ngIf="evento.finalizado && professor.presente === false">
                                <p-tag value="Faltou" severity="danger" />
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
            <p-divider layout="horizontal" styleClass="mb-0" class="mb-0" />
            <div class="p-2 flex align-items-center gap-4">
                <ng-container *ngIf="!evento.finalizado && evento.active">
                    <p-button icon="pi pi-cog"
                              iconPos="right"
                              severity="secondary"
                              label="Opções"
                              [rounded]="true"
                              (onClick)="popoverMenu.toggle($event)" />
                    <p-popover appendTo="body" #popoverMenu styleClass="-mt-1">
                        <div class="flex flex-column">
                            <!-- Só pode inserir na oficina se tiver vagas e se a oficina não for mais pseudo -->
                            <ng-container *ngIf="[EventoTipo.Oficina].includes(evento.evento_Tipo_Id)">
                                <!-- Inserir inscricao -->
                                <p-button (onClick)="goToInscricaoOficina()"
                                          label="Inscrever Aluno"
                                          icon="pi pi-user-plus text-primary-500"
                                          [text]="true"
                                          [disabled]="evento.vagasDisponiveisEvento < 1 || evento.id == PseudoEvento.EventoId"
                                          severity="secondary"
                                          styleClass="justify-content-start surface-50"
                                          fluid />
                            </ng-container>
                            <ng-container *ngIf="[EventoTipo.Superacao, EventoTipo.AulaZero].includes(evento.evento_Tipo_Id)">
                                <!-- Inserir aluno -->
                                <p-button (onClick)="goToInserirAlunoConfirm($event)"
                                          label="Inserir Aluno"
                                          icon="pi pi-user-plus text-primary-500"
                                          [text]="true"
                                          severity="secondary"
                                          styleClass="justify-content-start surface-50"
                                          fluid />
                            </ng-container>
                            <!-- Só pode inserir reposicao se tiver vagas -->
                            <ng-container *ngIf="[EventoTipo.Aula, EventoTipo.TurmaExtra].includes(evento.evento_Tipo_Id)">
                                <!-- Reposição -->
                                <p-button (onClick)="goToReposicao()"
                                          label="Agendar Reposição"
                                          icon="pi pi-user-plus text-primary-500"
                                          [text]="true"
                                          [disabled]="evento.vagasDisponiveisEvento < 1"
                                          severity="secondary"
                                          styleClass="justify-content-start surface-50"
                                          fluid />
                                <!-- Primeira aula -->
                                <p-button (onClick)="goToPrimeiraAula()"
                                          label="Agendar 1ª Aula"
                                          icon="pi pi-user-plus text-pink-500"
                                          [text]="true"
                                          severity="secondary"
                                          styleClass="justify-content-start surface-50"
                                          fluid />
                            </ng-container>
                            <!-- Cancelamento -->
                            <p-button (onClick)="goToCancelamento()"
                                      label="Cancelar"
                                      icon="pi pi-times-circle text-red-500"
                                      [text]="true"
                                      [disabled]="!evento.active"
                                      severity="secondary"
                                      styleClass="justify-content-start surface-50"
                                      fluid />
                        </div>
                    </p-popover>
                </ng-container>
                <ng-container *ngIf="evento.finalizado">
                    <span class="mr-auto gap-2 flex align-items-center">
                        <span class="font-bold">Finalizado</span>
                        <i class="pi pi-check-circle text-green-500 text-lg"></i>
                    </span>
                </ng-container>
                <ng-container *ngIf="!evento.active">
                    <span class="mr-auto gap-2 flex align-items-center" [pTooltip]="obsTemplate" tooltipPosition="bottom">
                        <span class="font-bold">Cancelado</span>
                        <i class="pi pi-times-circle text-red-500 text-lg"></i>
                    </span>
                </ng-container>
                <ng-template #obsTemplate>
                    <p [innerHTML]="'Motivo: ' + evento.observacao" class="white-space-nowrap"></p>
                </ng-template>
                <p-button *ngIf="evento.active"
                          label="Ver {{ tipoEventoString }}"
                          icon="pi pi-arrow-right text-xs fadeinleft animation-duration-300 animation-delay-400 "
                          iconPos="right"
                          [rounded]="true"
                          (onClick)="goToEvento()"
                          class="ml-auto" />
            </div>
        </div>
    </ng-container>
</p-popover>

