<app-confirm-dialog></app-confirm-dialog>
<p-popover #popover
           styleClass="z-2 -mt-1"
           (onHide)="onHide()"
           [dismissable]="true">
    <ng-container *ngIf="evento">
        <div class="selected-evento">
            <div class="selected-evento-dados">
                <div class="selected-evento-titulo">
                    <p class="selected-evento-descricao">
                        <i class="fa-solid fa-users-between-lines"></i>
                        <span>{{ evento.descricao }}</span>
                    </p>
                    <p class="selected-evento-tipo">{{tipoEventoString}}</p>
                </div>
                <div class="selected-evento-text">
                    <!-- Data -->
                    <div class="selected-evento-linha">
                        <span class="selected-evento-linha-icon">
                            <i class="pi pi-calendar"></i>
                        </span>
                        <span>Data: </span>
                        <span>{{ evento.data | date : "dd/MM/yyyy 'às' HH'h'mm" }}</span>
                    </div>
                    <!-- Sala -->
                    <div class="selected-evento-linha">
                        <span class="selected-evento-linha-icon">
                            <i class="bi bi-door-closed"></i>
                        </span>
                        <div class="flex align-items-center gap-2">
                            <span>{{evento.sala}}</span>
                            <span>-</span>
                            <span *ngIf="evento.andar == SalaAndar.Terreo">Térreo</span>
                            <span *ngIf="evento.andar > SalaAndar.Terreo">{{evento.andar}}º andar</span>
                        </div>
                    </div>
                    <!-- Educador -->
                    <div class="selected-evento-linha"
                         *ngIf="![EventoTipo.Reuniao].includes(evento.evento_Tipo_Id)">
                        <span class="selected-evento-linha-icon">
                            <i class="fa-solid fa-person-chalkboard"></i>
                        </span>
                        <span>Educador(a): </span>
                        <span *ngIf="evento.professor">{{ evento.professor }}</span>
                        <span *ngIf="!evento.professor" class="font-bold">Indefinido</span>
                        <span class="selected-evento-cor-legenda"
                              [style]="{ backgroundColor: evento.corLegenda }"></span>
                    </div>
                    <!-- Perfil Cognitivo -->
                    <ng-container *ngIf="[EventoTipo.Aula, EventoTipo.TurmaExtra].includes(evento.evento_Tipo_Id)">
                        <div class="selected-evento-linha">
                            <span class="selected-evento-linha-icon">
                                <i class="fa-solid fa-brain"></i>
                            </span>
                            <span>Perfil Cognitivo:</span>
                            <p class="font-bold white-space-nowrap overflow-hidden text-overflow-ellipsis"
                               [pTooltip]="perfilCognitivoTemplate"
                               style="width: 15rem;">
                                {{ getPerfilCognitivo(evento) }}
                            </p>
                            <ng-template #perfilCognitivoTemplate>
                                <ul class="px-0">
                                    <li *ngFor="let item of evento.perfilCognitivo"
                                        style="list-style-position: inside;"
                                        class="white-space-nowrap">{{item.nome}}</li>
                                </ul>
                            </ng-template>
                        </div>
                    </ng-container>
                </div>
            </div>
            <!-- Alunos -->
            <ng-container *ngIf="[EventoTipo.Reuniao].includes(evento.evento_Tipo_Id) == false">
                <div class="selected-evento-alunos-header">
                    <span class="font-bold block text-primary">
                        <span *ngIf="evento.alunos.length == 0">Nenhum aluno</span>
                        <span *ngIf="evento.alunos.length > 1">Alunos</span>
                        <span *ngIf="evento.alunos.length == 1">Aluno</span>
                    </span>
                    <div class="flex flex-column align-items-end">
                        <div class="flex align-items-center">
                            <span class="ml-auto">
                                <ng-container *ngIf="[EventoTipo.Aula, EventoTipo.TurmaExtra, EventoTipo.Oficina].includes(evento.evento_Tipo_Id)">
                                    <span class="event-vagas" [pTooltip]="tooltipVagas">
                                        <p class="flex flex-row align-items-center gap-1">
                                            <i class="pi pi-calendar text-xs"></i>
                                            <span>
                                                {{evento.vagasDisponiveisEvento}} vagas / {{evento.alunosAtivosEvento}} alunos </span>
                                        </p>
                                        <p class="flex flex-row align-items-center gap-1" *ngIf="evento.evento_Tipo_Id == EventoTipo.Aula">
                                            <i class="fa fa-users-between-lines text-xs"></i>
                                            <span>
                                                {{evento.vagasDisponiveisTurma}} vagas / {{evento.alunosAtivosTurma}} matriculados</span>
                                        </p>
                                        <ng-template #tooltipVagas>
                                            <p class="flex flex-row align-items-center gap-1 white-space-nowrap">
                                                <i class="pi pi-calendar text-xs"></i>
                                                <span> No dia: <span *ngIf="evento.vagasDisponiveisEvento == 0">Nenhuma vaga / </span>
                                                    <span *ngIf="evento.vagasDisponiveisEvento == 1">1 vaga / </span>
                                                    <span *ngIf="evento.vagasDisponiveisEvento > 1">{{ evento.vagasDisponiveisEvento }} vagas / </span>
                                                    <span *ngIf="evento.alunosAtivosEvento == 0">Nenhum aluno</span>
                                                    <span *ngIf="evento.alunosAtivosEvento == 1">1 aluno</span>
                                                    <span *ngIf="evento.alunosAtivosEvento > 1">{{ evento.alunosAtivosEvento }} alunos</span>
                                                </span>
                                            </p>
                                            <p class="flex flex-row align-items-center gap-1 white-space-nowrap" *ngIf="evento.evento_Tipo_Id == EventoTipo.Aula">
                                                <i class="fa fa-users-between-lines text-xs"></i>
                                                <span> Na turma: <span *ngIf="evento.vagasDisponiveisTurma == 0">Nenhuma vaga / </span>
                                                    <span *ngIf="evento.vagasDisponiveisTurma == 1">1 vaga / </span>
                                                    <span *ngIf="evento.vagasDisponiveisTurma > 1">{{ evento.vagasDisponiveisTurma }} vagas / </span>
                                                    <span *ngIf="evento.alunosAtivosTurma == 0">Nenhum aluno</span>
                                                    <span *ngIf="evento.alunosAtivosTurma == 1">1 aluno</span>
                                                    <span *ngIf="evento.alunosAtivosTurma > 1">{{ evento.alunosAtivosTurma }} alunos</span>
                                                </span>
                                            </p>
                                        </ng-template>
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="[EventoTipo.AulaZero, EventoTipo.Superacao].includes(evento.evento_Tipo_Id)">
                                    <span>{{ evento.alunos.length }} aluno(s)</span>
                                </ng-container>
                            </span>
                            <span class="ml-2 text-primary fa fa-user-graduate"></span>
                        </div>
                    </div>
                </div>
                <div class="max-h-15rem overflow-auto w-full">
                    <ng-container *ngFor="let participacaoAluno of evento.alunos; let i = index">
                        <div
                             cdkDrag
                             [cdkDragDisabled]="podeAgendarReposicao(evento, participacaoAluno)"
                             [cdkDragData]="participacaoAluno"
                             (cdkDragStarted)="cdkDragStarted($event)"
                             (cdkDragEntered)="cdkDragEntered($event)"
                             (cdkDragExited)="cdkDragExited($event)"
                             class="p-0 m-0">
                            <div *cdkDragPlaceholder></div>
                            <div *cdkDragPreview class="p-2">
                                <span class="-mt-2 ml-2 text-xs">Pressione esc para cancelar</span>
                                <div class="shadow-2">
                                    <ng-container *ngTemplateOutlet="participacaoItem; context: { participacao: participacaoAluno }"></ng-container>
                                </div>
                            </div>
                            <a class="cursor-pointer">
                                <ng-container *ngTemplateOutlet="participacaoItem; context: { participacao: participacaoAluno }"></ng-container>
                            </a>
                            <ng-template #participacaoItem let-participacao="participacao">
                                <div class="w-full p-2 px-3"
                                     [ngClass]="{
                                            'surface-50': i % 2 == 0,
                                            'surface-0': i % 2 != 0
                                        }">
                                    <div class="flex align-items-center gap-2">
                                        <p-button type="button"
                                                  (onClick)="enviarMensagem(participacao)"
                                                  (auxclick)="enviarMensagem(participacao)"
                                                  (contextmenu)="enviarMensagem(participacao)"
                                                  [disabled]="!participacao.celular"
                                                  icon="pi pi-whatsapp"
                                                  [severity]="participacao.celular ? 'success' : 'secondary'"
                                                  [text]="true"
                                                  [rounded]="true"
                                                  pTooltip="Enviar mensagem"
                                                  styleClass="p-0 w-auto h-auto" />
                                        <!-- Nome -->
                                        <span class="hover:underline hover:text-primary-500 hover:font-bold"
                                              [pTooltip]="'Clique para ver mais: ' + participacao.aluno"
                                              (click)="showAluno(participacao)">
                                            <span class="capitalize">{{ participacao.aluno | nameAbv }}</span>
                                        </span>
                                        <div class="ml-auto flex align-items-center gap-1">
                                            <app-evento-participacao-status [evento]="evento"
                                                                            [participacao]="participacao"
                                                                            [reposicaoDe]="participacao.reposicaoDe_Evento" 
                                                                            [reposicaoPara]="participacao.reposicaoPara_Evento"
                                                                            [primeiraAula_Id]="participacao.primeiraAula_Id" />

                                            <!-- <p-badge *ngIf="participacao.primeiraAula_Id == evento.id"
                                                     value="1ª aula"
                                                     class="bg-pink-500 border-pink-500" />

                                            <p-badge *ngIf="!participacao.active && !participacao.reposicaoPara_Evento_Id"
                                                     value="Falta agendada"
                                                     class="bg-red-500 border-red-500" 
                                                     pTooltip="{{participacao.deactivated | date : 'dd/MM/yyyy HH:mm' }}"/>

                                            <p-badge *ngIf="participacao.reposicaoPara_Evento_Id"
                                                     value="Reposição Agendada"
                                                     class="bg-purple-500 border-purple-500"
                                                     [pTooltip]="reposicaoParaTemplate" />

                                            <ng-template #reposicaoParaTemplate>
                                                <app-reposicao-para-tooltip 
                                                    [evento]="participacao.reposicaoPara_Evento"></app-reposicao-para-tooltip>
                                            </ng-template>
     
                                            <p-badge *ngIf="participacao.reposicaoDe_Evento_Id"
                                                     value="Reposição"
                                                     class="bg-purple-500 border-purple-500"
                                                     [pTooltip]="reposicaoDeTemplate"  />
                                                     
                                            <ng-template #reposicaoDeTemplate>
                                                <app-reposicao-para-tooltip 
                                                    [evento]="participacao.reposicaoDe_Evento"></app-reposicao-para-tooltip>
                                            </ng-template>

                                            <p-badge *ngIf="evento.finalizado && participacao.presente === false && !participacao.alunoContactado && !participacao.reposicaoDe_Evento_Id"
                                                     value="Faltou"
                                                     class="bg-red-500 border-red-500"
                                                     pTooltip="Aluno não contatado"
                                                     tooltipPosition="bottom" />

                                            <p-badge *ngIf="evento.finalizado && participacao.presente === false && !participacao.alunoContactado && participacao.reposicaoDe_Evento_Id"
                                                     value="Faltou"
                                                     class="bg-blue-500 border-blue-500"
                                                     pTooltip="Aluno não contatado"
                                                     tooltipPosition="bottom" />
                                            <p-badge *ngIf="evento.finalizado && participacao.presente === false && participacao.active && participacao.alunoContactado"
                                                     value="Faltou"
                                                     class="bg-yellow-500 border-yellow-500"
                                                     pTooltip="Clique para ver o contatos"
                                                     tooltipPosition="bottom" />
                                            <p-badge *ngIf="participacao.presente === true && !participacao.reposicaoDe_Evento_Id"
                                                     value="Presente"
                                                     class="bg-green-500 border-green-500" />
                                            <p-badge *ngIf="participacao.presente === true && participacao.reposicaoDe_Evento_Id"
                                                     value="Presente"
                                                     class="bg-green-200 border-green-200 text-green-600 font-light" /> -->
                                        </div>
                                        <!-- <div class="ml-auto">
                                            <app-aluno-participacao-status 
                                                [evento]="evento" 
                                                [participacao]="participacao"></app-aluno-participacao-status>
                                        </div> -->
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <!-- Educadores -->
            <ng-container *ngIf="[EventoTipo.Reuniao, EventoTipo.Oficina].includes(evento.evento_Tipo_Id) && evento.professores && evento.professores.length > 1">
                <div class="flex align-items-center justify-content-between px-2 w-full">
                    <span class="font-bold block text-primary">Educadores</span>
                    <span class="font-bold block ml-auto">
                        {{ evento.professores.length }}
                    </span>
                    <span class="ml-2 text-primary fa-solid fa-person-chalkboard"></span>
                </div>
                <div class="h-10rem overflow-auto w-full">
                    <div *ngFor="let professor of evento.professores; let i = index">
                        <div class="w-full flex align-items-center justify-content-start gap-2 p-1">
                            <app-legend-color class="line-height-1"
                                                        [corLegenda]="professor.corLegenda"
                                              [professor_Id]="professor.id"
                                              [professor]="professor.nome"></app-legend-color>
                            <span class="">{{ professor.nome }}</span>
                            <ng-container *ngIf="evento.finalizado && professor.presente === true">
                                <p-tag value="Presente" severity="success" />
                            </ng-container>
                            <ng-container *ngIf="evento.finalizado && professor.presente === false">
                                <p-tag value="Faltou" severity="danger" />
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
            <p-divider layout="horizontal" styleClass="mb-0" class="mb-0" />
            <div class="p-2 flex align-items-center gap-4">
                <ng-container>
                    <p-button icon="pi pi-cog"
                              iconPos="right"
                              severity="secondary"
                              label="Opções"
                              [rounded]="true"
                              (onClick)="popoverMenu.toggle($event)" />
                    <p-popover appendTo="body" #popoverMenu styleClass="-mt-1">
                        <div class="flex flex-column">
                            <ng-container *ngIf="[EventoTipo.Reuniao].includes(evento.evento_Tipo_Id) == false">
                                <ng-container *ngIf="[EventoTipo.Oficina, EventoTipo.Superacao, EventoTipo.AulaZero].includes(evento.evento_Tipo_Id)">
                                    <!-- Inserir aluno -->
                                    <p-button (onClick)="goToInserirAluno()"
                                              label="Inserir Aluno"
                                              icon="pi pi-user-plus text-primary-500"
                                              [text]="true"
                                              severity="secondary"
                                              styleClass="justify-content-start surface-50"
                                              [disabled]="evento.vagasDisponiveisEvento < 1 || evento.id == PseudoEvento.EventoId"
                                              fluid />
                                </ng-container>
                                <ng-container *ngIf="[EventoTipo.Aula, EventoTipo.TurmaExtra].includes(evento.evento_Tipo_Id)">
                                    <!-- Reposição -->
                                    <p-button (onClick)="goToAgendarReposicao()"
                                              label="Agendar Reposição"
                                              icon="pi pi-calendar text-primary-500"
                                              [text]="true"
                                              [disabled]="evento.alunosAtivosEvento == 0"
                                              severity="secondary"
                                              styleClass="justify-content-start surface-50"
                                              fluid />
                                    <!-- Primeira aula -->
                                    <p-button (onClick)="goToPrimeiraAula()"
                                              label="Agendar 1ª Aula"
                                              icon="bi bi-1-circle-fill text-pink-500"
                                              [text]="true"
                                              severity="secondary"
                                              styleClass="justify-content-start surface-50"
                                              fluid />
                                </ng-container>
                                <!-- Agendar Falta -->
                                <p-button (onClick)="goToAgendarFalta()"
                                          label="Agendar Falta"
                                          icon="fa fa-user-xmark text-red-500"
                                          [text]="true"
                                          severity="secondary"
                                          styleClass="justify-content-start surface-50"
                                          [disabled]="evento.alunosAtivosEvento == 0"
                                          fluid />
                            </ng-container>
                            <!-- Cancelamento -->
                            <p-button (onClick)="goToCancelamento()"
                                      label="Cancelar {{tipoEventoString}}"
                                      icon="fa fa-calendar-xmark text-red-500"
                                      [text]="true"
                                      [disabled]="!evento.active"
                                      severity="secondary"
                                      styleClass="justify-content-start surface-50"
                                      fluid />
                        </div>
                    </p-popover>
                </ng-container>
                <ng-container *ngIf="evento.finalizado">
                    <span class="mr-auto gap-2 flex align-items-center">
                        <span class="font-bold">Finalizado</span>
                        <i class="pi pi-check-circle text-green-500 text-lg"></i>
                    </span>
                </ng-container>
                <ng-container *ngIf="!evento.active">
                    <span class="mr-auto gap-2 flex align-items-center" [pTooltip]="obsTemplate" tooltipPosition="bottom">
                        <span class="font-bold">Cancelado</span>
                        <i class="pi pi-times-circle text-red-500 text-lg"></i>
                    </span>
                </ng-container>
                <ng-template #obsTemplate>
                    <p [innerHTML]="'Motivo: ' + evento.observacao" class="white-space-nowrap"></p>
                </ng-template>
                <p-button
                          [label]="(evento.finalizado ? 'Lançar ' : 'Ver ') + tipoEventoString"
                          icon="pi pi-arrow-right text-xs fadeinleft animation-duration-300 animation-delay-400 "
                          iconPos="right"
                          [rounded]="true"
                          (onClick)="goToEvento()"
                          class="ml-auto" />
            </div>
        </div>
    </ng-container>
</p-popover>