<app-confirm-dialog></app-confirm-dialog>
<!-- Aluno -->
<div class="field col-12">
    <ng-container *ngIf="!readonly; else alunoSelecionadoTemplate">
        <label for="aluno_Id">Selecione o aluno: <span class="text-red-500">*</span></label>
        <p-iconfield>
            <p-inputicon styleClass="fa-solid fa-user" />
            <p-select [options]="alunos"
                      [loading]="loadingAlunos"
                      name="aluno_Id"
                      inputId="aluno_Id"
                      #fieldAluno="ngModel"
                      [(ngModel)]="aluno_Id"
                      [ngModelOptions]="{ standalone: true }"
                      (onChange)="alunoChanged($event, fieldAluno)"
                      [required]="true"
                      [filter]="true"
                      filterBy="nome,turma,professor"
                      [virtualScroll]="true"
                      [virtualScrollItemSize]="43"
                      optionLabel="nome"
                      optionValue="id"
                      [readonly]="readonly"
                      [disabled]="readonly"
                      placeholder="Selecione um aluno"
                      panelStyleClass="p-select-stripped"
                      appendTo="body"
                      fluid>
                <ng-template let-item #item>
                    <div class="flex flex-column">
                        <div class="flex align-items-center">
                            <p-button
                                      icon="pi pi-whatsapp  {{!item.celular ? 'text-300' : ''}}"
                                      severity="success"
                                      [rounded]="true"
                                      (onClick)="enviarMensagem(item)"
                                      (auxclick)="enviarMensagem(item)"
                                      (contextmenu)="enviarMensagem(item)"
                                      pTooltip="Enviar mensagem"
                                      [disabled]="!item.celular"
                                      [text]="true"
                                      size="small" />
                            <p class="capitalize">{{item.nome | nameAbv }}</p>
                        </div>
                        <div class="flex align-items-center gap-2">
                            <div class="w-2rem pl-1 flex justify-content-center">
                                <app-legend-color [corLegenda]="item.corLegenda"
                                                  [professor_Id]="item.professor_Id"
                                                  [professor]="item.professor"
                                                  [turma_Id]="item.turma_Id"></app-legend-color>
                            </div>
                            <span>{{item.turma}}</span>
                        </div>
                    </div>
                </ng-template>
            </p-select>
        </p-iconfield>
        <div *ngIf="fieldAluno.touched && fieldAluno.invalid && fieldAluno.errors">
            <p class="text-red-500 mt-2 mb-0" *ngIf="fieldAluno.errors['required']">Esse campo é obrigatório.</p>
            <p class="text-red-500 mt-2 mb-0" *ngIf="fieldAluno.errors['indisponivel']">Aluno indisponível.</p>
        </div>
    </ng-container>
    <ng-template #alunoSelecionadoTemplate>
        <label for="nome">Nome:</label>
        <p-iconfield>
            <p-inputicon *ngIf="!loading" styleClass="fa-solid fa-user text-700" />
            <p-inputicon *ngIf="loading" styleClass="pi pi-spinner pi-spin" />
            <input type="text"
                   pInputText
                   [value]="aluno?.nome"
                   id="nome"
                   name="nome"
                   fluid
                   readonly>
        </p-iconfield>
    </ng-template>
</div>