<app-confirm-dialog></app-confirm-dialog>
<p-confirmdialog key="enviarMensagem" styleClass="w-25rem">
    <ng-template #message let-message>
        <div class="flex align-items-start gap-2 ">
            <span class="mt-1">
                <i *ngIf="message.icon" [ngClass]="message.icon" class="text-4xl "></i>
                <i *ngIf="!message.icon" class="pi pi-exclamation-triangle text-4xl  text-primary-500"></i>
            </span>
            <div>
                <div [innerHTML]="message.message"></div>
                <p class="mt-2 text-primary-500 font-bold" *ngIf="mensagensEnviadasAlunos.length">Alunos</p>
                <div class="flex flex-column align-items-start justify-content-start max-h-15rem overflow-auto">
                    <p class="font-mediu text-400" *ngIf="mensagensEnviadasAlunos.length == 0">Nenhum aluno foi inserido</p>
                    <div *ngFor="let aluno of mensagensEnviadasAlunos">
                        <p-button type="button"
                                  (onClick)="enviarMensagemInscricao(aluno)"
                                  (auxclick)="enviarMensagemInscricao(aluno)"
                                  (contextmenu)="enviarMensagemInscricao(aluno)"
                                  [disabled]="!aluno.celular"
                                  icon="pi pi-whatsapp"
                                  [severity]="aluno.celular ? 'success' : 'secondary'"
                                  label="{{aluno.nome | nameAbv }}"
                                  styleClass="capitalize"
                                  [pTooltip]="aluno.nome"
                                  [text]="true" />
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-confirmdialog>
<p-dialog [maximizable]="true"
          [draggable]="true"
          [modal]="true"
          [(visible)]="visible"
          (visibleChange)="visibleChange()"
          [style]="{ width: '600px', maxWidth: '95vw', maxHeight: '95vh' }"
          appendTo="body">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title flex align-items-center">
                <i class="pi pi-user-plus mr-2 text-2xl w-3rem h-3rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <div class="flex flex-column">
                    <span>Inscrever aluno</span>
                </div>
            </span>
        </div>
    </ng-template>
    <form #form="ngForm" class="px-2" (submit)="sendConfirmation(form, $event)">
        <p-divider layout="horizontal" *ngIf="evento.id == PseudoEvento.EventoId">
            <p class="text-primary-500 font-medium">Defina o tema e outros dados da oficina para salvar inscrição</p>
        </p-divider>
        <div class="formgrid grid">
            <!-- Aluno -->
            <div class="field col-12">
                <label for="aluno_Id">Selecionar alunos: <span class="text-red-500">*</span></label>
                <p-multiSelect [options]="alunos"
                               [loading]="loadingAlunos"
                               [(ngModel)]="alunosSelected"
                               (onChange)="alunoChanged($event, aluno_Id)"
                               [maxSelectedLabels]="evento.vagasDisponiveisEvento"
                               [selectionLimit]="evento.vagasDisponiveisEvento"
                               display="chip"
                               optionLabel="nome"
                               #aluno_Id="ngModel"
                               fluid
                               name="aluno_Id"
                               inputId="aluno_Id"
                               [required]="true"
                               [filter]="true"
                               filterBy="nome"
                               appendTo="body"
                               optionDisabled="deactivated,disponivel">
                    <ng-template let-item #item>
                        <div class="flex align-items-center justify-content-between w-full gap-2">
                            <div>
                                <div class="flex align-items-center">
                                    <div class="flex flex-none align-items-center">
                                        <p-button type="button"
                                                  (onClick)="enviarMensagem(item)"
                                                  (auxclick)="enviarMensagem(item)"
                                                  (contextmenu)="enviarMensagem(item)"
                                                  [disabled]="!item.celular"
                                                  icon="pi pi-whatsapp {{!item.celular ? 'text-300' : ''}}"
                                                  severity="success"
                                                  [text]="true"
                                                  size="small" />
                                    </div>
                                    <p class="font-bold mb-1">
                                        <span class="mr-2 capitalize">{{item.nome | nameAbv }}</span>
                                        <p-badge *ngIf="item.disponivel == false"
                                                 value="Indisponível"
                                                 severity="danger"
                                                 [pTooltip]="item.disponivelEvent ? indisponivelTemplate : undefined" />
                                        <ng-template #indisponivelTemplate>
                                            <app-indisponivel-tooltip [evento]="item.disponivelEvent"></app-indisponivel-tooltip>
                                        </ng-template>
                                    </p>
                                </div>
                                <p class="mb-1 flex align-items-center gap-2 ">
                                    <app-legend-color [corLegenda]="item.corLegenda"
                                                      [professor]="item.professor"
                                                      [professor_Id]="item.professor_Id"
                                                      [turma_Id]="item.turma_Id"></app-legend-color>
                                    <span class="font-normal">Educador(a) {{item.professor}}</span>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </p-multiSelect>
                <div *ngIf="aluno_Id.touched && aluno_Id.invalid && aluno_Id.errors">
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['required']">Esse campo é obrigatório.</p>
                    <p class="text-red-500 mt-2 mb-0" *ngIf="aluno_Id.errors['indisponivel']">Aluno indisponível.</p>
                </div>
            </div>
        </div>
        <p-divider layout="horizontal" [align]="'left'">
            <span class="text-primary-500 font-bold">Dados da Oficina</span>
        </p-divider>
        <div class="formgrid grid">
            <!-- Descrição -->
            <div class="field md:col-4 sm:col-4 col-12">
                <label for="descricao">Descrição: </label>
                <input type="text"
                       pInputText
                       [value]="evento.descricao"
                       id="descricao"
                       name="descricao"
                       fluid
                       [readonly]="true">
            </div>
            <!-- Data -->
            <div class="field md:col-3 sm:col-3 col-5">
                <label for="dataInicio">Data:</label>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-calendar" />
                    <input type="text"
                           pInputText
                           [value]="evento.data | date : 'dd/MM/yyyy'"
                           fluid
                           id="professor"
                           readonly />
                </p-iconfield>
            </div>
            <!-- Horário -->
            <div class="field md:col-3 sm:col-3 col-5">
                <label for="horario">Horário:</label>
                <p-iconfield>
                    <input type="text"
                           pInputText
                           [value]="evento.data | date : 'HH:mm'"
                           fluid
                           id="horario"
                           readonly />
                    <p-inputicon styleClass="pi pi-clock" />
                </p-iconfield>
            </div>
            <!-- Duração -->
            <div class="field md:col-2 sm:col-2 col-2">
                <label for="duracaoEvento">Duração:</label>
                <p-iconfield>
                    <input type="text"
                           pInputText
                           [value]="duracaoEvento" fluid
                           id="duracaoEvento"
                           readonly />
                    <p-inputicon styleClass="pi pi-hourglass" />
                </p-iconfield>
            </div>
            <!-- Limite de Alunos -->
            <div class="field md:col-4 sm:col-4 col-12">
                <label for="capacidadeMaximaEvento">Limite de Alunos:</label>
                <input type="text"
                       pInputText
                       [value]="evento.capacidadeMaximaEvento"
                       fluid
                       id="capacidadeMaximaEvento"
                       readonly />
            </div>
            <!-- Educador -->
            <div class="field md:col-4 sm:col-4 col-6">
                <label for="professor">Educador: </label>
                <input type="text"
                       pInputText
                       [value]="evento.professor ?? 'Indefinido'"
                       fluid
                       id="professor"
                       readonly />
            </div>
            <!-- Sala -->
            <div class="field md:col-4 sm:col-4 col-6">
                <label for="sala">Sala: </label>
                <input type="text"
                       pInputText
                       [value]="sala"
                       fluid
                       id="sala"
                       readonly />
            </div>
            <!-- Observações -->
            <div class="field col-12">
                <label for="observacao">Observações:</label>
                <textarea pTextarea fluid
                          name="observacao"
                          id="observacao"
                          [value]="evento.observacao"
                          [readonly]="true"></textarea>
            </div>
            <div class="col-12 px-1 flex align-items-center justify-content-end">
                <p-button type="submit"
                          styleClass="w-full px-3"
                          label="Finalizar inscrição"
                          icon="pi pi-check"
                          [loading]="loading"
                          [rounded]="true"
                          [disabled]="form.invalid || loading" />
            </div>
        </div>
    </form>
</p-dialog>