
<p-popover #popover appendTo="body" styleClass="-mt-1" [dismissable]="true">
    <div  class="flex pl-2 pr-4">
        <div class="relative my-auto flex align-items-center justify-content-center border-circle border-2 border-color-500 w-9rem h-9rem my-auto">
            <i class="pi pi-user text-xl" *ngIf="!aluno.aluno_Foto"></i>
            <img *ngIf="aluno.aluno_Foto"
                 class=" border-circle"
                 [src]="aluno.aluno_Foto"
                 [alt]="aluno.aluno" />
            <!-- <p-badge *ngIf="aluno.flagNovo" value="Aula 1" class="absolute top-0 left-50 -ml-4 -mt-2" /> -->
            <p-badge *ngIf="aluno.reposicaoDe_Evento_Id" value="Reposição" class="absolute top-0 left-50 -ml-5 -mt-2" />
        </div>
        <p-divider styleClass="mx-4 my-4" layout="vertical" />
        <div class=" flex flex-column py-3">
            <p class="text-lg mb-0 mt-1 text-primary-500 font-bold">{{ aluno.aluno }}</p>
            <p class="text-lg font-medium mt-1 mb-0"><b>Turma: </b>{{ aluno.turma }} </p>
            <p *ngIf="aluno.apostila_Abaco" class="text-lg font-medium mt-1 mb-0"><b>Apostila Ábaco: </b>{{ aluno.apostila_Abaco }} / <b>Página: </b>{{ aluno.numeroPaginaAbaco }}</p>
            <p *ngIf="aluno.apostila_AH" class="text-lg font-medium mt-1 mb-0"><b>Apostila AH: </b>{{ aluno.apostila_AH }} / <b>Página: </b>{{ aluno.numeroPaginaAH }}</p>
            
            <div *ngIf="showChecklist" (click)="popoverChecklistComponent.show($event)" class="text-lg mt-1 gap-1 flex align-items-center">
                <b>Jornada Supera: </b>
                <app-aluno-checklist-status [aluno]="popoverChecklistComponent.aluno" [loading]="popoverChecklistComponent.loading"></app-aluno-checklist-status>
                <app-aluno-checklist-popover #popoverChecklistComponent [aluno]="aluno"></app-aluno-checklist-popover>
            </div>


            <div class="flex align-items-center gap-2 mt-2 ">
                <p-button label="Ver aluno"
                          [rounded]="true"
                          icon="pi pi-user-edit"
                          size="small"
                          styleClass="white-space-nowrap"
                          (onClick)="goToAluno(aluno)" />
                <p-button *ngIf="[EventoTipo.Aula, EventoTipo.AulaExtra].includes(evento.evento_Tipo_Id)" 
                    label="Agendar Reposição"
                          icon="pi pi-calendar"
                          [rounded]="true"
                          size="small"
                          styleClass="white-space-nowrap"
                          severity="secondary"
                          (onClick)="goToReposicao(aluno)" />
                <a *ngIf="aluno.celular"
                   [href]="enviarMensagem(aluno.aluno, aluno.celular)" class="p-ripple p-button p-component p-button-success p-button-rounded p-button-sm">
                    <span class="pi pi-whatsapp p-button-icon p-button-icon-left "></span>
                    <span class="p-button-label white-space-nowrap">Enviar mensagem</span>
                </a>
            </div>
        </div>
    </div>
</p-popover>