<app-confirm-dialog></app-confirm-dialog>

<p-dialog
  [header]="isEditPage ? 'Editar' : 'Cadastrar'"
  [modal]="true"
  [(visible)]="visible"
  (visibleChange)="visibleChange()"
  [style]="{ maxWidth: '600px', width: '95vw' }"
  appendTo="body">
  <ng-template #header>
    <div class="w-full flex align-items-center">
      <span class="p-dialog-title">{{ isEditPage ? 'Editar' : 'Cadastrar' }}</span>
      <p-button
        class="ml-auto"
        type="button"
        icon="pi pi-exclamation-circle"
        size="large"
        [text]="true"
        [rounded]="true"
        severity="secondary"
        (onClick)="op.toggle($event)" />
      <p-popover
        #op
        styleClass="popover-styled surface-900 border-900 white-space-nowrap text-white min-w-20rem">
        <div class="px-2">
          <h3 class="text-xl mb-2">Informações Adicionais</h3>
          <table class="w-full">
            <tr>
              <td class="p-1"><b>Cadastrado em</b></td>
              <td class="p-1 pl-3 text-right">{{ object.created | date : "dd/MM/yyyy 'às' HH'h'mm" }}</td>
            </tr>
            <tr *ngIf="object.account_Created">
              <td class="p-1"><b>Cadastrado por</b></td>
              <td class="p-1 pl-3 text-right">{{ object.account_Created }}</td>
            </tr>
            <tr *ngIf="object.lastUpdated">
              <td class="p-1"><b>Última atualização</b></td>
              <td class="p-1 pl-3 text-right">{{ object.lastUpdated | date : "dd/MM/yyyy 'às' HH'h'mm" }}</td>
            </tr>
            <tr *ngIf="object.deactivated">
              <td class="p-1"><b>Inativo em</b></td>
              <td class="p-1 pl-3 text-right">{{ object.deactivated | date : "dd/MM/yyyy 'às' HH'h'mm" }}</td>
            </tr>
          </table>
        </div>
      </p-popover>
    </div>
  </ng-template>
  <form
    (ngSubmit)="sendConfirmation(form, $event)"
    #form="ngForm">
    <div class="formgrid grid">
      <div class="field sm:col-4 col-12">
        <!-- Nome -->
        <label for="name">Nome: <span class="text-red-500">*</span></label>
        <input
          type="text"
          pInputText
          #name="ngModel"
          [(ngModel)]="object.name"
          id="name"
          name="name"
          class="w-full"
          [required]="true" />
        <div *ngIf="name.touched && name.invalid && name.errors">
          <p
            class="text-red-500 mt-2 mb-0"
            *ngIf="name.errors['required']">
            Esse campo é obrigatório.
          </p>
        </div>
      </div>
      <div class="field sm:col-4 col-6">
        <!-- Celular -->
        <label for="phone">Celular: <span class="text-red-500">*</span></label>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-mobile" />
          <p-inputmask
            inputId="phone"
            name="phone"
            #phone="ngModel"
            [(ngModel)]="object.phone"
            mask="+99 (99) 9.9999-9999"
            placeholder="+55 (99) 9.9999-9999"
            [autoClear]="true"
            class="w-full"
            styleClass="w-full pl-5"
            [required]="true" />
        </p-iconfield>
        <div *ngIf="phone.touched && phone.invalid && phone.errors">
          <p
            class="text-red-500 mt-2 mb-0"
            *ngIf="phone.errors['required']">
            Esse campo é obrigatório.
          </p>
        </div>
      </div>
      <div class="field sm:col-4 col-6">
        <!-- Perfil -->
        <label for="role">Perfil: </label>
        <input
          type="text"
          pInputText
          [value]="object.role ? object.role : 'Assistant'"
          id="role"
          name="role"
          class="w-full"
          [readonly]="true" />
      </div>
      <div class="field col-12">
        <!-- E-mail -->
        <label for="email"
          >E-mail:
          <span
            *ngIf="!isEditPage"
            class="text-red-500"
            >*</span
          ></label
        >
        <p-iconfield>
          <p-inputicon styleClass="pi pi-envelope" />
          <input
            type="email"
            [email]="true"
            pInputText
            #email="ngModel"
            [(ngModel)]="object.email"
            id="email"
            name="email"
            class="w-full"
            [required]="true"
            [pattern]="emailPattern"
            placeholder="example@gmail.com"
            [readonly]="isEditPage" />
        </p-iconfield>
        <div *ngIf="email.touched && email.invalid && email.errors">
          <p
            class="text-red-500 mt-2 mb-0"
            *ngIf="email.errors['required']">
            Esse campo é obrigatório.
          </p>
          <p
            class="text-red-500 mt-2 mb-0"
            *ngIf="email.errors['email'] || email.errors['pattern']">
            E-mail inválido.
          </p>
        </div>
      </div>
    </div>
    <div class="formgrid grid gap-4 align-items-center flex-wrap justify-content-between">
      <div class="sm:col-9 col-12">
        <p
          class="text-red-500"
          *ngIf="!error">
          <span class="text-red-500">*</span> Preencha os campos corretamente para salvar.
        </p>
        <p
          class="text-red-500"
          *ngIf="error">
          {{ error }}
        </p>
      </div>
      <div class="ml-auto">
        <p-button
          type="submit"
          [disabled]="form.invalid || loading"
          class="w-full"
          styleClass="w-full px-3"
          label="Salvar"
          icon="pi pi-check"
          [loading]="loading"
          [rounded]="true" />
      </div>
    </div>
  </form>
</p-dialog>
