<p-dialog [modal]="true"
          [(visible)]="visible"
          (onHide)="onHide()"
          [style]="{ maxWidth: '95vw', width: '400px' }"
          appendTo="body"
          [draggable]="false"
          [maximizable]="false">
    <ng-template #header>
        <div class="w-full flex align-items-center ">
            <span class="p-dialog-title">
                <i
                   class="pi pi-check mr-2 text-base w-2rem h-2rem p-2 border-circle bg-primary-500 text-white inline-flex align-items-center justify-content-center"></i>
                <span>Finalizar Checklist</span>
            </span>
        </div>
    </ng-template>
    <form (ngSubmit)="send($event)">
        <div class="flex align-items-center gap-2">
            <p>Tem certeza que deseja marcar essa etapa como concluída?</p>
        </div>
        <div class="w-full flex-1 col-12 px-0">
            <p-iconfield>
                <p-inputicon styleClass="{{loading ? 'pi pi-spin pi-spinner' : 'pi pi-comment'}} p-iconfield-textarea" />
                <textarea pTextarea
                          class="w-full"
                          name="observacao"
                          id="observacao"
                          [(ngModel)]="observacao"
                          placeholder="Escreva aqui alguma observação..."
                          [rows]="2"
                          [disabled]="loading"></textarea>
            </p-iconfield>
        </div>
        <div class="w-full flex align-items-center justify-content-end gap-2">
            <p-button label="Enviar mensagem"
                icon="pi pi-whatsapp"
                styleClass="{{!celular ? 'surface-700 border-700' : ''}}"
                severity="success"
                [rounded]="true"
                [disabled]="!celular"
                (onClick)="enviarMensagem()"
                (auxclick)="enviarMensagem()"
                (contextmenu)="enviarMensagem()"/>
            <p-button type="button"
                      label="Ainda não"
                      icon="pi pi-times"
                      styleClass="w-full"
                      [outlined]="true"
                      [rounded]="true"
                      (onClick)="hide()"
                      [loading]="loading"
                      [disabled]="loading" />
            <p-button type="submit"
                      label="Finalizar"
                      icon="pi pi-check"
                      styleClass="w-full"
                      [rounded]="true"
                      [loading]="loading"
                      [disabled]="loading" />
        </div>
    </form>
</p-dialog>