<div class="ml-auto flex align-items-center gap-1">
     <p-badge *ngIf="participacao.primeiraAula"
              value="1ª aula"
              title="1ª aula"
              class="bg-pink-500 border-pink-500" />
     <p-badge *ngIf="!participacao.active 
                     && !participacao.reposicaoDe_Evento_Id
                     && !participacao.reposicaoPara_Evento_Id"
              value="Agendou falta"
              title="Agendou falta"
              class="bg-red-500 border-red-500 cursor-pointer white-space-nowrap hover:shadow-3"
              title="Clique para ver informações de contato"
              pTooltip="Falta agendada no dia {{participacao.deactivated | date : 'dd/MM/yyyy HH:mm' }}"
              (click)="showContatoFalta()" />
     <p-badge *ngIf="participacao.reposicaoPara_Evento_Id"
              value="Agendou reposição"
              title="Agendou reposição"
              class="bg-purple-500 border-purple-500 cursor-pointer white-space-nowrap hover:shadow-3"
              title="Clique para ver informações de contato"
              [pTooltip]="reposicaoPara ? reposicaoParaTemplate : undefined"
              (click)="showContatoFalta()" />
     <p-badge *ngIf="!evento.finalizado 
                     && participacao.reposicaoDe_Evento_Id"
              value="Reposição"
              title="Reposição"
              class="bg-purple-500 border-purple-500 cursor-pointer white-space-nowrap hover:shadow-3"
              title="Clique para ver informações de contato"
              [pTooltip]="reposicaoDe ? reposicaoDeTemplate : undefined"
              (click)="showContatoFalta()" />
     <p-badge *ngIf="evento.finalizado 
                     && participacao.active === true 
                     && participacao.presente === false 
                     && !participacao.alunoContactado
                     && !participacao.reposicaoDe_Evento_Id
                     && !participacao.reposicaoPara_Evento_Id"
              value="Faltou"
              title="Faltou"
              class="bg-red-500 border-red-500 cursor-pointer white-space-nowrap hover:shadow-3"
              pTooltip="Aluno não contatado"
              tooltipPosition="bottom"
              (click)="showContatoFalta()" />
     <p-badge *ngIf="evento.finalizado 
                     && participacao.presente === false 
                     && !participacao.alunoContactado 
                     && participacao.reposicaoDe_Evento_Id"
              value="Faltou"
              title="Faltou"
              class="bg-blue-500 border-blue-500 cursor-pointer white-space-nowrap hover:shadow-3"
              [pTooltip]="reposicaoDe ? reposicaoDeTemplate : reposicaoPara ? reposicaoParaTemplate : undefined"
              (click)="showContatoFalta()" />
     <p-badge *ngIf="evento.finalizado 
                     && participacao.presente === false 
                     && participacao.active 
                     && participacao.alunoContactado"
              value="Faltou"
              title="Clique para ver contato"
              class="bg-yellow-500 border-yellow-500 cursor-pointer white-space-nowrap hover:shadow-3"
              [pTooltip]="reposicaoDe ? reposicaoDeTemplate : reposicaoPara ? reposicaoParaTemplate : undefined"
              (click)="showContatoFalta()" />

     <p-badge *ngIf="evento.finalizado 
                     && participacao.presente === true 
                     && !participacao.reposicaoDe_Evento_Id
                     && !participacao.reposicaoPara_Evento_Id"
              value="Presente"
              title="Presente"
              class="bg-green-500 border-green-500 cursor-pointer white-space-nowrap hover:shadow-3" />
     <p-badge *ngIf="evento.finalizado 
                     && participacao.presente === true 
                     && participacao.reposicaoDe_Evento_Id
                     && !participacao.reposicaoPara_Evento_Id"
              [pTooltip]="reposicaoDe ? reposicaoDeTemplate : reposicaoPara ? reposicaoParaTemplate : undefined"
              value="Presente"
              title="Presente"
              class="bg-green-100 border-green-100 text-green-600 font-light cursor-pointer white-space-nowrap hover:shadow-3" />
</div>
<ng-template #reposicaoParaTemplate>
     <app-evento-reposicao-tooltip
                                   *ngIf="reposicaoPara"
                                   [evento]="reposicaoPara"></app-evento-reposicao-tooltip>
</ng-template>
<ng-template #reposicaoDeTemplate>
     <app-evento-reposicao-tooltip
                                   *ngIf="reposicaoDe"
                                   [evento]="reposicaoDe"></app-evento-reposicao-tooltip>
</ng-template>